extends ../../layout

block content
  h1#areas Area walkthroughs
  nav
    ol

  section#intro
    include intro

  section#temple
    include temple

  section#arroyo
    include arroyo

  section#klamath
    include klamath

  section#toxic
    include toxic

  section#den
    include den

  section#modoc
    include modoc

  section#farm
    include farm

  section#vault-city
    include vault-city
  
  section#gecko
    include gecko
  
  section#raiders
    include raiders

  section#broken-hills
    include broken-hills

  section#redding
    include redding
  
  section#reno
    include reno
  
  section#golgotha
    include golgotha

  section#stables
    include stables

  section#sad
    include sad

  section#ncr
    include ncr
  
  section#v15
    include v15
  
  section#v13
    include v13

  section#base
    include base

  section#san-fran
    include san-fran

  section#navarro
    include navarro

  section#enclave
    include enclave
  