extends /layout.pug

block content
  h1#areas Area walkthroughs
  nav
    p Table of contents

    ol

  section#intro
    include intro.pug

  section#temple
    include temple.pug

  section#arroyo
    include arroyo.pug

  section#klamath
    include klamath.pug

  section#toxic
    include toxic.pug

  section#den
    include den.pug

  section#modoc
    include modoc.pug

  section#farm
    include farm.pug

  section#vault-city
    include vault-city.pug
  
  section#gecko
    include gecko.pug
  
  section#raiders
    include raiders.pug

  section#broken-hills
    include broken-hills.pug

  section#redding
    include redding.pug
  
  section#reno
    include reno.pug
  
  section#golgotha
    include golgotha.pug

  section#stables
    include stables.pug

  section#sad
    include sad.pug

  section#ncr
    include ncr.pug
  
  section#v15
    include v15.pug
  
  section#v13
    include v13.pug

  section#base
    include base.pug

  section#san-fran
    include san-fran.pug

  section#navarro
    include navarro.pug

  section#enclave
    include enclave.pug
  