h2 Military Base

+fancyQuote("--Melchior Jr.")
  p.
    I hope dad comes back soon. I miss his magic tricks.

Goris is the only one who can highlight this on your world map, though Chris in Navarro and Jimmy in Vault 13 both mention its existence. However, although it's a base it's got a large circle on the world map meaning it's always there. 

When you get here, loot everything in the tents. The wolves will run around howling for a while, then attack. Poor misguided wolfies. 

The entrance to the base is blocked, and planting Dynamite by the rocks does nothing... but never fear, the game practically tells you how to solve this little puzzle through hints and messages. To clear the entrance, first pick up the Metal Pole from the sidewalk. Use it on the cart to attach it. Get a Dynamite from the shack to the north and use it on the pole (no need to arm it first). Then push the cart (ST check needed, try until you succeed) and boom, you get 5000 xp for removing those rocks.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you stick an armed Dynamite on the pole, it will look like it's duplicated - on the pole and on the ground at the same time - but this is just the game's way of remembering that the Dynamite on the pole was armed, so that it can be removed if it should go off before you push the cart. Um, never mind.</blockquote>

p.
  Inside, shoot the rats (they're of the variety that radiates you) and loot the bodies (as in the SAD, the holodisks tell a story but aren't used for anything). To the north there's a mutant named Grundel who's hunting for rats and turning his back. If you want to test the Mutagenic Serum without wasting an innocent mutant in Broken Hills, here's a good opportunity. Just walk up behind Grundel and use the serum on him. Slooorrp. Use Repair (at least 50% needed, you can use a Tool) on the generator to get the lights and elevator working for 1500 xp, and remember that the blue boxes can be searched.

On level 2 it's time to kick some righteous butt, something this game doesn't often encourage you to do. The two mutants in the room to the far right can sometimes be taken out without alerting the others, but the two large groups will notice if you attack either. One possibility is to go to the narrow passage to the room with the bunk beds, shoot a mutant from there and pick them off as they come running. Problem is that your party members might run forward and get themselves killed, but that's what combat settings are for. I find the Bozar works wonders in these close quarters. Or take them out using your favourite tactics, shooting them in the eyes with a Sniper Rifle or whatever, I don't really care. The award for most significant loot on this level goes to the suit of Power Armor in the locker room. 

On level 3 there are some mutants and rats. Most significant loot is the Green Memory Module in the locker. I find this fight a lot harder than the one on level 2, because there are fiends with Laser and Plasma Rifles who can score mean critical hits. Try not to let them swarm you, retreat behind corners with leftover AP.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you walk into the room with the locker and scroll the screen to the right, you'll see two super duper mutants talking about how to prepare a "rat surprise".</blockquote>

On level 4 there's no one but a lone mutant standing in the radioactive goo that used to be inside the fabled vats (stepping in it will hurt you). Only this is no ordinary mutant, but Melchior Sr. the stage magician, whose small furry creatures have mutated into somewhat more formidable shapes! When you come near he'll blurt something which goes too fast to read (about him being a great magician), and you have no option but to fight him. (Well, theoretically you could yelp like a scared bunny and turn the hell back, but...) Every turn he'll summon up some monsters to help him: first four powerful deathclaws, two at a time, then four fire geckos (who can breathe devastating fire twice each turn), one at a time, then four floaters, one at a time, then six mutated mole rats, one at a time. If you kill all the pets before finishing Melchior (tell your party members to attack "Whomever is closest"), you get 14,315 xp from this battle. Once you kill him and whatever remaining pets, you can get a Gauss Pistol from the ammo crate. You've now officially conquered the Military Base, which means...

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
All your base are belong to us.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Pennyliu123 found a strategy for this fight which requires you to have one or more NPCs. Make sure they follow you past the bottleneck at the entrance to Melchior's room. Once he turns hostile, you can run back just behind the wooden support; with any luck one of your NPCs will move to block the passage. Melchior's pets, unable to reach you, will gather around him instead, so that you and (at times) your NPCs can shoot at them freely. You should definitely save first as there may be crashes.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can get items from fire geckos the same way you get items from rocketbots (see the SAD section). Bodies you can use for the purpose include Melchior, NPCs (dead or unconscious), and unfortunate Enclave soldiers near the elevator. Normally a fire gecko corpse contains a Golden Gecko Pelt, which is hardly worth the extra effort. If killed with a 0-damage critical to the eyes, however, they will instead leave their Flame Breath behind. This is a kind of flamethrower which looks like a big rifle but uses the Small Guns skill and which cannot be reloaded. You can also get these items in random encounters (using NPCs) or at the Toxic waste dump (using NPCs or other geckos). An alternative way of getting the Flame Breath is to knock a gecko unconscious on a hex where there is already a lootable corpse present, but this requires a bit of luck and they may end up using all their "ammo" while you're waiting for them to stop in the right spot.</blockquote>
