h2 The Den

<blockquote>"You'll not find a greater hive of scum and villainy. Now where did I hear that?"<br>
--Whiskey Bob</blockquote>

The Den isn't that much larger than Klamath (actually, in terms of game maps, it's smaller), but somewhat closer to the harsh realities of wasteland politics (or the lack of it). The Den is divided into two areas, eastern and western. Both are full of foggy chem reliants, who may sometimes attack you unprovoked. If you hurt them somewhat they run away so you don't have to kill them, or you can probably run away yourself and then end combat. Actually you can kill them with no karma drop or other consequences, but don't make a habit of it.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
You can access the unimplemented Den area by pressing 3 when choosing your destination on the town map. You can whack Anna's double, get a Shovel from Smitty's evil twin's shack, and in case you're wondering, if you kill everyone here no one in the "real" Den will care.</blockquote>

One thing you should be aware of right away is that the kids who stand beside doorways outside Becky's, Tubby's, Flick's and Frankie's will all try to steal from you as you go by (their skill is about 65%). The two kids outside Ananias' house are the only exceptions. Running past them won't help as their steal action is instantaneous, even if you see them working their steal animation on the screen only after you're already safely past (and if you fail a PE check you don't even see the animation). You might be able to Sneak past them, or another trick is to enter combat mode, go past them and end combat. Thankfully they don't steal from your party members. If you don't want to bother with entering combat mode, simply walk up to the kids you need to pass, let them try to steal, then use your own Steal skill on them one at a time to see if they got anything. If they did, use Steal on them repeatedly to get it back; they won't run off to sell the item until you move away, and if they catch you, nothing happens. You'll then be safe from these specific thieves for 1-5 minutes (usually enough time to be in and out of the building). If you don't get an item back, the kid will run to the nearest shopkeeper and fence it (those outside Becky's will cross the street to Tubby), in which case you'll have to trade for it if you want it back.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If the shopkeeper a specific kid would fence their stolen goods to is killed, the kid will just stand there accumulating items until you leave the map, whereupon their loot disappears. (It can get a little bizarre, looking at their inventory. A kid who can carry a couple of Bozars should be able to make a living doing something else, no?) If you kill the owner of an establishment, leave the map and return, the kid or kids outside that place will be gone. So if you kill Tubby but not Rebecca, the orphans outside the casino will remain but won't have any outlet for their acquisitions.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Every time <i>you</i> try to steal something and fail, people turn hostile and attack, right? So how come you don't get to flip out and kill people when someone fails a steal attempt on <i>you?</i> Oh well... If you kill one of the kids no one will react directly except for the other orphans, but being a Childkiller is very bad. Alternatively, you could attack a kid with a Plant Spike or something and then let your party members do the actual killing, in which case you won't become a Childkiller. A more fun and expensive way is to carry only a bundle of lit Dynamite and stroll innocently past the kids, hoping they'll take it off your hands (removing your armour helps). If they have time to sell it off, however, it will explode harmlessly in the shopkeeper's offscreen inventory. Lancelot thinks flipping out in moderation is in order: "If you punch a kid and then exit combat mode, that kid won't steal any more and from now on will run away upon seeing you. So leave your party members somewhere far (because otherwise they will follow you and kill the kid) and punch every thief in town to teach them a lesson." Mason Pearce favours aimed kicks to the legs for this purpose and additionally notes: "You can kill the orphans without getting Childkiller by dropping armed explosives beside them. They enter combat mode and run for a round, but you can end combat immediately and they walk back to where they were in time for the explosion." They may go for you instead of fleeing, in which case you have to hit them once before they think better of that.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you don't have visible kids in your game, they'll still steal from you given the opportunity, but you obviously can't steal back. In this case you'll have to wait until your crucial item reappears in a shop, if and when you notice that it's missing. This can of course be extremely frustrating, especially if you have no idea about the kids in the first place, which would have been true for many European players (such as myself). Interplay's way of fixing the child "problem" may have included a minimum of effort on their part, but it's not very stylish.</blockquote>

Tubby and Flick sell some interesting weaponry, such as Hunting Rifles, .44 Magnum Revolvers and 10mm SMGs (all stuff may not appear in their inventory right away). You might want to consider the rifle for Vic, an SMG for Sulik and a .44 Magnum for yourself, but it probably means parting with lots of money in addition to whatever things you may have to barter. If you're not into guns you won't find much to invest in, sadly. You can kill both Tubby and Flick without pissing off anyone else (except Tubby's guards). Because you gain karma from Flick some people have concluded that this is a "good" thing, something with which I cannot agree. Nevertheless, killing them early on (bypassing Klamath, even) is a decent stupid short cut technique for those who like that kind of game. Tubby restocks in 1-2 days, Flick in the regular 2-4 days. If you ask Tubby about chems, you can pay him $100, or offer $50 and make a Speech check, or threaten him if you have ST 8 or the Presence perk. This puts Redding on your world map even though he doesn't mention the place.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: Flick won't even talk to you, so you can't barter with him. Oh heck... let him have it, then.</blockquote>

In Becky's Casino you can buy drinks and of course gamble; one interesting thing is that the craps script contains no references to the Gambling skill, so it should work just as any real craps game. People have suggested various strategies to get rich at the craps table, but I can't be bothered to put them here. See the Redding section for less complicated ways of making money in a casino. Personally I never gamble in this game. Listen to Leanne talking about the Master for 350 xp. You'll have to buy her a Nuka-Cola for $5, but cheap xp can't be bad.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you assassinate Rebecca, leave the map and return, most of the guards and casino patrons will be gone. Oddly, you can still gamble.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Rebecca won't talk to you at all if you're a Childkiller. When you buy whisky from her she actually tries to run up and use a Booze on you. If you move away you don't get anything to drink but she still takes your money!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're playing a female character named Buffy and wear any of the four types of leather armour, Rebecca will have a few "trinkets" for you: $1000, 5 Stimpaks, a Metal Armor, a 10mm SMG, 120 10mm JHP, a Plasma Grenade and a Flower. Isn't this what they call favouritism? You don't get the stuff if she's angry with you (because you smote kids or destroyed the still) or if you're stupid when you talk to her for the first time wearing leather armour.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
War story: Player (level 2) manages to piss off Joey in conversation, runs into Becky's chased by thugs, and hides behind Rebecca. Joey fires at player and hits Rebecca, casino guard fires at Joey and hits gambler. Eventually gamblers and townspeople are fighting each other and guards, guards are shooting gamblers and thugs, and Joey gets killed by Rebecca while still trying to shoot player. Then guard misses and kills orphan outside, two orphans storm the casino and even score a critical hit before being gunned down by the guards. Meanwhile, a guard accidentally hits another guard, guards start shooting <i>each other</i>, and as one guard runs out the door the entire battle spills out into the street! A few more people are killed out there. Combat ends, one of the surviving guards turns and walks back into the casino, while five or six guards and casino patrons remain outside, most of them severely wounded. One gambler, standing out in the street, comments: "Damn, Becky's was the only place to gamble around here!"</blockquote>

Joey, one of the thugs south of Becky's, will try to sell you Jet for $500 apiece ($350 with decent Barter). No way! After you get quest 3, Joey will put New Reno on your world map. Female characters can sleep with him for no gain. If you do, he'll move up a bit on the screen to a place east of Becky's casino, and after you leave the map he'll disappear from the game entirely (this is actually a bug introduced by the patch). So just don't sleep with him.<br><br>

The guy outside the Brotherhood building is just damn annoying. In my first game I assumed his dialogue (or lack of it) was bugged. His dialogue will make more sense if you are level 4 or lower, which probably means you're playing a stupid character. If you return here later when you have access to this kind of building, it is empty.<br><br>

Buying rat food in Mom's will replenish 2-8 HP for $10 (or $5 if you're stupid), which is cheaper healing than the Stimpaks that Mom will restock every 1-5 days. You can listen to Stacy's story of her cat for 200 xp if you buy her a drink for $10. It's a horrible story actually, but cheap xp can't be bad.<br><br>

It's important that you talk to Karl in Mom's. Don't give him money or booze unless you have to, or he'll pass out for a couple of hours. Just ask him to tell you his story. If you anger him, for instance by offering him Nuka-Cola, you'll have to give him $100, a Beer or a Booze before you can regain the story option. Once you've completed the Ghost Farm quest in a peaceful manner, return here and tell Karl he can go home for 500 xp. Or if you're evil you can drive him crazy for no xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you attack Mom, some people in the Den will be upset about it. Karl will run from you randomly, but you can still talk to him. Frankie and Smitty won't talk to you, closing off any quest options remaining. Joey will be angry, but you can intimidate him and get the locket from him if you haven't already. Tubby was supposed to let you barter at a penalty, but due to a bug you'll get his normal prices unless you press the barter button directly after dialogue starts, in which case you get a <i>discount</i> (this only works if you're non-stupid).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you give Karl $1000 and then immediately ask him about the G.E.C.K, he'll offer you $1000 to sleep with him if you if you have CH 8. How does he afford it? (You can also steal the money back when he falls asleep. If you fail he'll run away when he wakes up, but you can end combat and he won't be hostile.)</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: For stupid characters it is not so important to talk to Karl; he just takes half your money each time!</blockquote>

There's a prostitute in the Hole with whom male characters can sleep (with or without the rest of the party) for a random amount of cash. If your IN is below 4, she'll charge you $500 or $1000 and still say she doesn't get paid enough! Female characters can sleep with a male customer and charge him $50, or $200 if you pass a Speech check. If you're male and have Miria with you, you can let him have her for $50 the first time, then $200.<br><br>

If you fancy being a Grave Digger you can use a Shovel on the graves in the graveyard (your karma will take a hit). Loot to be had includes:

<ul>
<li>$72
</li><li>12 Beer
</li><li>1 Buffout
</li><li>1 Jet
</li><li>27 Rock
</li><li>1 Rubber Boots
</li><li>2 Throwing Knife
</li><li>1 Knife
</li><li>1 RadAway
</li><li>24 10mm AP
</li><li>1 Combat Knife
</li><li>1 Flower
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You lose 5 karma for each despoiled grave, but being a Grave Digger has in itself no effect in the game.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
I don't list many of the numerous references in the game, but "R.E. Danforth's Non-Explosive Burning Fluid" is from a classic anthology of poems called <i>Spoon River Anthology</i> by Edgar Lee Masters. (It's also on a headstone in Nashkel in <i>Baldur's Gate</i>.) You may not find this specific headstone in the Den as the messages are distributed randomly between the grave markers in the Den, Redding and Golgotha when you enter the respective maps, although there are some that are always in the same place, such as the Winslow graves, Richard Wright, and so on.</blockquote>

Over at Metzger's place you can sell your companions into slavery (any human except for Vic). The funniest thing about this is that the rest of your party act completely oblivious. Metzger is the only slaver in the game whose prices are influenced by Barter, but he's bugged so that you get more money the <i>lower</i> your Barter skill. The base price, which you'll get if your Barter skill is about 90%, is 1100 for Miria, 900 for Davin, 800 for Myron, 1200 for Sulik and 1300 for Cassidy; at Barter 40% you'll get about 30% on top of this. Metzger has some minor stuff that he restocks every 1-5 days, and any items on sold NPCs will go into this shop inventory and remain there until next time he restocks, at which time they disappear.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Tyler has been killed for any reason, Metzger will attack as soon as you talk to him.</blockquote>

If you want to, you can also become a Slaver. This will make you hated by many people you'll meet in the game (Sulik, Cassidy and Keith Wright being some of the most important), and the only real benefit is that you get to go on slave runs organized by Metzger. In these slave runs, you're teleported to a map where you have to kill a number of "unruly" candidates for slavery, then report back for payment: $100 for each living slave (usually amounts to around $1000). You also get 500 xp for the first slave run. Metzger will give you new jobs until your total number of captured slaves is 30 or more. This means that by killing all the slaves in a slave run you can go on doing this indefinitely, quickly becoming a Berserker and getting bad karma to last you a lifetime. Ho hum. Perhaps more importantly, if any of your fellow slavers dies (you can kill them yourself and Metger won't know), this lowers the total "slave count" by 7 so that you may go on slaving. Just watch out that the slave count doesn't drop below zero, or Metzger will renounce your services. If you leave a slave run without killing all of the armed slaves, Metzger will have you shot on return (well, he'll try anyway).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
On the slave run map with tents there's a brown chest you can't open unless you have a good Steal skill, and if you do you get a message about stealing from the shaman's things. This is actually a script that was originally going to be used for Hakunin's chest.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0, if a slaver is killed in a slave run he may get up again, then freeze the game.</blockquote>

Once you have a decent party, say, Sulik, Vic and Cassidy armed with Combat Shotguns or the like (which should be the case once you return for the car), you should go here and clean the place out. This will probably be a little harder for a mêlée character, but it is possible to win the battle at level 9 with Sulik and Cassidy armed with Spears. If you don't want to take on all the slavers at once, try locking them in. You get 1500 quest xp for killing Metzger and 1250 xp for telling the slaves he's dead. Rebecca will also give you $1000 as a reward for killing Meztger, but only if you make sure she understands it was you who killed him (choose the "put up a good fight" line, you only get one chance).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Generally, whenever you decline a monetary reward you get karma points instead. Also in some cases you get other alternative rewards (in which case I will note it in the walkthrough, of course).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Because of how critter data is handled, chems used on one critter will affect all critters that share the same template. This means that if a slaver uses Psycho, all slavers will gain Damage Resistance, and if one of them uses Jet, all of them will gain AP. If you think this is cheating you can leave the map and return, or save the game and reload; doing so will cause the game to lose track of such changes. This feature can also be used in your favour if you ever have several identical people, e.g. caravan guards, fighting on your side. The game <i>does</i> properly keep track of drug effects on your party members.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you did quest 6, then whoever you fought for - Marc and Tyler, or Lara and her three gangsters - will still have a green outline and will fight on your side against the slavers if you take the fight down to the church. Taxi Driver adds: "Tyler happens to be rendered with one of the 'player' animations, meaning he can use any weapon in the game. Add a bit of spice to the slaver fight by giving him a Bozar or Vindicator Minigun! He may not be good with it, but I think this is a really classy way to clear out the East Side. Marc can only use a few weapons, but he can use sledgehammers which means you could have a bit of fun by giving him a Super Sledge. You can also load them up with Super Stimpaks and performance-enhancing drugs (or use the drugs on them yourself before beginning combat)." Tyler seems to favour small arms, so if you give him a Bozar he may stick to his Desert Eagle. Also I couldn't get him to use a Gauss Rifle at all; he'd equip it but not attack with it. He did OK with a Gauss Pistol, though. It should work with Lara as well, but you have to give her the stuff after the church fight since her inventory is purged before the attack.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Kit relates a strategy for this battle: "You can kill Metzger and his band of slavers at level 3 with a bit of ease. I have done it on several occasions. What you do is go with Lara's gang to fight the guards at the church. Once in combat mode, hightail it to Mom's Diner. At the diner, there is a back room with windows looking out towards the Slaver's Guild. What I did was pick the slavers off from the window, and take cover to the side of the window so that the slavers cannot hit you back. Lara's gang eventually helps out, but they are underpowered." As long as you have the firepower and ammunition to take the slavers out you shouldn't need to involve the gang (also at that time of day the darkness will be working against you); the slavers will tend to gather around your first victim and won't come running around the diner.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
PC and Björn Welin both claim that using Psycho for this fight works wonders even at low levels. Tubby will probably have a dose or two, Frankie has one but you'd have to kill him for it, and the guard outside of Vic's door has one you can steal. With your Damage Resistance maximized you'll usually only take a couple of points of damage per shot, if any. However, you'll still be hurt by critical hits. When testing this I found that I was slowly whittling the guards down while they used up all their ammo and finally started to run from me, so if you're alone and lack a way to deliver damage reliably this will still be a tedious project at best. PC also brings up stealing anything you can from Metzger and his people, while Björn Welin recommends using Jet in conjunction with Psycho on yourself and Sulik, reloading if you get addicted.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Pennyliu123 suggests stealing Metzger's Shotgun, locking the doors, and attacking through the window; only one or two of the slavers will be able to fire back at the same time, and if you step carefully between shots you may be able to stop them from returning fire at all. The Shotgun has a rather short range, though - shorter than the 10mm Pistols - so I'd prefer a Hunting Rifle for this method.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Sadly, Metzger won't react if you storm into his house flashing the Ranger Pin in your active item slot or if you try to push it up his nose. Nor does the Ranger map quest in NCR (about the "safe houses in the north") tie in with Metzger in any way.</blockquote>

<ol>
<b></b><li><b>Collect money from Fred.</b><br><br>

Talk to Becky, ask for work and offer to collect the debt. Fred can be found somewhere around, usually in Flick's house, looking like one of the other junkies (but identified as "a citizen of the Den"). You should demand $200 from him (you can do it even with mediocre IN and/or Speech, if you follow the conversation patiently) and once you do, you can let him keep $100 or $150 and return to Rebecca for $100 and 200 xp. If you let Fred keep any money at all, return after some time (either 3, 4, 5 or 6 months, randomly decided); he'll have used your money to get rich in Becky's casino, and rewards you with $2000, 200 Small Energy Cell, 250 Micro Fusion Cell and a Plasma Grenade.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You were supposed to get different rewards from Fred - $500, $1000 or the full $2000 plus stuff - depending on how much money you let him keep and what you said to him. However, a scripting glitch ensures you'll always get the best reward (the variable in question doesn't carry over to the "new" Fred). So it doesn't matter if you only let him keep $100 (which means you break even after you return to Becky).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can give Rebecca $200 regardless of how things went with Fred, as long as you've at least entered dialogue with him after getting the quest. Of course, you won't get Fred's reward if he doesn't know you paid his debt. If Fred dies before you talk to him, you won't be able to get quest 2.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Rebecca won't give you any jobs while your karma is below 0.</blockquote>

<b></b></li><li><b>Get book from Derek.</b><br><br>

You get this quest from Rebecca next. The book is found on the ground in the east part of town, in any of four possible locations:<br><br>

<ul type="disc">
<li>In the graveyard, just east of the church.
</li><li>In the outhouse north of the Hole.
</li><li>Behind a wall just southwest of the car behind Metzger's.
</li><li>Beside a barrel south of the graveyard.
</li></ul><br>

Return it to Becky for $80 and 300 xp. Derek is the guy standing directly outside Mom's, he too is "a citizen of the Den". He doesn't make a lot of sense and you don't even have to know he exists, it makes no difference for the quest.<br><br>

<b></b></li><li><b>Lara wants to know what is guarded in the church.</b><br><br>

Lara is the head of the punks on the west side. To complete this quest you must talk your way past the guards for 500 xp (700 xp if you do it before talking to Lara, 300 xp if you're a slaver), then examine the crates (500 xp) and report back for $200. If you don't make the Speech check you can bull your way in with ST 8. If all else fails, rest one hour and talk to Tyler again to get in, but then you won't get any xp for entering the church. Sneaking to get inside the church doesn't work, Marc will always spot you. If you get into a fight and kill off Tyler or Metzger before finishing this quest, you don't get any reward and it will terminate this chain of quests; the same is true for the next three quests.<br><br>

<b></b></li><li><b>Get permission from Metzger for gang war.</b><br><br>

Lara sends you to Metzger as an errand-boy (or -girl). Pretty straightforward, you get 200 xp and can return to Lara for $50.<br><br>

<b></b></li><li><b>Find weakness in Tyler's gang guarding the church.</b><br><br>

Simply go to the church and talk to Tyler to find out his gang is throwing a party, for 200 xp. If your CH is low, just keep trying. Give this information to Lara, but she won't give you any cash as yet.<br><br>

<b></b></li><li><b>Help Lara attack Tyler's gang.</b><br><br>

If you agree to go along for the fight, you'll find yourself outside the church. Lara will pay $400 for your help whether you actually fight or not. (If she's not alive at the end of the fight you can get the cash from her corpse.) It doesn't hurt to join in and try to grab as many kills (and thereby xp) as possible. You only need to kill the guard outside for the quest to finish, but go inside the church and continue the fight there.<br><br>

There is another way to finish this quest. Tell Lara you need to prepare (you have until 6 a.m.), head over to Tyler and tell him about the plan, and he'll ask you to take out Lara instead when the time comes. Return to Lara for the attack but turn on her when the battle starts, taking the $400 from her corpse and earning $100 and 1000 xp from Tyler (for "helping Lara's gang to win the battle"). I wonder why you get bad karma from killing Lara instead of Tyler; I mean, aren't they both just random thugs? What, betrayal is bad? Oh well.<br><br>

And, oh, two more somewhat counter-intuitive ways to finish the quest. One is to side with Lara, but then kill her entire crew before they can kill Marc. This earns you 1000 xp (again for "helping Lara") and the $400 from Lara's corpse, but no reward from Tyler (since he's not around). The fourth is to talk to Tyler as above and get to the fighting part, then take out Marc and Tyler even though they're green and Lara's gang is outlined in red. You then get 1100 xp for "successfully ambushing Lara's gang" (whee). Note however that if Lara is alive at this point she won't reward you, and the $400 won't be in her inventory (but if she died during the fight it'll be there as usual). It seems safe to assume that you were supposed to get xp from siding with Lara in the normal manner as well, but you'd have to kill Tyler for that to trigger, and you can't.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Whichever side you fight for, you can run off the map as soon as you're teleported to the east side, then return and collect your reward (money from either gang leader, and 1000 xp if you sided with Tyler). There won't be any bodies to loot, though (so no $400 from Lara if you sided with Tyler).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You may notice that where Marc and Tyler are standing there's a scenery object called "Floor" which interferes negatively with looting. If you try to click on a portion of a body which lies atop the floor you won't get the hand icon. You'll still be able to loot the body if there's a part that's sticking out from the floor thing. You may also be able to return once the body has decomposed and pick up the items (for some items like pistols you must wait for the blood to vanish as well). These floor things appear among other places at a New Reno casino entrance and the Vault 15 vault door, and carpets and haybeds may complicate looting as well.</blockquote>

<b></b></li><li><b>Deliver a meal to Smitty for Mom.</b><br><br>

Mom will ask you to do this. Smitty will give you a Stimpak if you deliver the meal within 24 hours, and in any case you earn 150 xp and Mom will give you a free meal with pretty much rat in it which replenishes 5-20 HP. While you're there, ask Mom about vaults and she'll put Vault City on your world map.<br><br>

<b></b></li><li><b>Free Vic from his debt by getting his radio from his house in Klamath and paying Metzger.</b><br><br>

Pretty obvious what this is about. To get the guard outside Vic's door to let you through, you can:<br><br>

<ul type="disc">
<li>Talk to Metzger to get his permission.
</li><li>Ask nicely and pass a Speech check.
</li><li>Attempt a bribe, pass a Barter check and pay the guard $300.
</li><li>Pass the Barter check, tell him "Screw you" then nag him until he lets you in.
</li><li>Fail two Speech and/or Barter checks so he tells you to talk to Metzger, then nag him until he lets you in.
</li><li>Choose the "Meko veek" and "Seve" options if your IN is lower than 4.
</li><li>Become a Slaver.
</li><li>Have Science tagged or above 59%.
</li><li>Have Repair tagged or above 59%.
</li><li>Sneak-Lockpick the door.
</li></ul><br>

Failing all this, think with portals or something. Talking to Vic solves Arroyo quest 2, though this isn't worth any xp in itself. Give him his radio (generic ones won't do). Return to Metzger and he will demand $1000 for Vic's freedom. If you're a woman with CH 6 you can sleep with Metzger to take $500 off the price, but nah. You should definitely make this investment unless you're going solo (or want an all-mêlée party). You can also free Vic simply by killing Metzger. Once he's free, Vic will put Vault City on your world map, and you get 200 xp for talking to him about being a trader. Then you can have him join your party.<br><br>

<b></b></li><li><b>Sabotage Becky's still.</b><br><br>

Go to Rebecca and ask for a drink so you know how much her drinks cost. Go to Frankie at the Hole, ask why his drinks cost more. He'll ask you to find out why Becky's drinks are so cheap. Return to Becky's, then wait until the guard by the door to the stairs goes over to the roulette table to talk to the female croupier (2-3 minutes, and you need to keep away from him). Pick the door, go downstairs and find a still. Return to Frankie for $100 and 400 xp, and he'll give you this quest. You can now tell him to buy his drinks from Rebecca for 900 xp, or else you can grab the nearby Crowbar and take it to the still (you can actually save yourself a couple of trips by doing this before even getting your first assignment), return for $500 and 700 xp, and <i>then</i> you can tell him to buy whiskey from Rebecca for 900 xp (but you have to do it in the same conversation). If you break the still Becky won't talk to you (or let you gamble), so don't do this until after she rewards you for killing Metzger.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can use Dynamite to blow up the still. I don't know why you'd want to do this, since there is no minimum ST requirement to use the Crowbar. Or a Tool. Or a Wrench.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
3-7 days after you destroy the still, Becky will have repaired it (but you need to leave and enter the map once to start the timer, and again for the still to be fixed (and a third time for the still to actually look whole, but never mind that)). This doesn't do much except you can't report back to Frankie unless you destroy it again. A small detail is that if you tell Frankie to buy his whiskey from Rebecca, his price will drop from $20 to $6 after the still is rebuilt and if Rebecca's alive.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
A v1.0 bug discovered by Deep Black: if you tell Frankie about the still and then conclude the quest by telling him to buy Rebecca's liquor or saying you won't destroy the still, Rebecca will accuse you of having done so even if you haven't.</blockquote>

<b></b></li><li><b>Get car part for Smitty.</b><br><br>

Smitty in the junkyard has a car to sell you, only it doesn't work. Bring a Fuel Cell Controller (which you can get later) and he'll install it and give you the car for only $2000. If you have the Fuel Cell Regulator from Klamath, he'll install that too for $750, and the car will need 50% less fuel. Once you install the Controller you may want to trade for Smitty's Micro Fusion Cells (you'll likely have surplus weaponry at this point), which he restocks every 3-5 days.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can actually get the car without paying Smitty! Thing is, first you have to kill him. Then, use the Fuel Cell Controller on the car. If your Repair skill is high enough (110% will do, keep trying until you make it) you'll install it successfully. Unfortunately you can't install the Fuel Cell Regulator by yourself, so this is a pretty desperate measure.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can use the trunk for storage even though you haven't bought the car yet.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you use any item on the car before buying it, Smitty will come running out of the shack waving his arms and ask what the hell you think you're doing. If you do it again after that, he'll turn hostile! Needless to say this hurts your game pretty much (though you can Sneak up to him and talk to him to buy the car anyway). In my very first game I managed to do this with Smitty up in the shack, so I never noticed, and because I had only one save slot I had to replay the entire game up to this point. So, rule of thumb: don't touch other people's cars.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
At any time you buy an item or a favour from someone with money, see if it's possible to barter or (if you're that kind of person) steal it back, assuming you're carrying stuff you don't really need. Sometimes the money just disappears, though.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you can get the car without having the part, though you still have to pay the $2000. Just ask Smitty what he does, then again about the car and you'll get the option to buy it. There's also a bug where if you leave the map on foot after getting the car, it disappears permanently, leaving the trunk.</blockquote>

<b></b></li><li><b>Return Anna's locket.</b><br><br>

Now this is a weird one. The Great Ananias in the southern building in the west part of town will tell you about a ghost in the next room. Go there between midnight and 4 a.m., and you'll notice a shimmering figure. Bring out the Scooby snacks! "Talk" to the ghost and make sure you learn she's looking for her stolen locket. Go to Mom's for clues, she'll point you toward Joey. Confront him and either scare him with Anna's revenge (IN 6 needed), pay him ($50, or $20 with good Barter), threaten him (ST 5 and a Speech check, if you fail he'll attack), or kill him, and you'll get the locket. Return to Anna and give her the locket for 250 xp. It's so beautiful... Look what just materialized all over the carpet. Grab the bones, bring a Shovel (by coincidence there are two in this very room) and head over to the cemetery, where you'll find Anna's grave. Dig it up (once you've talked to Anna it won't make you a Grave Digger), put the bones in it and use the shovel again to cover it up for 1200 more xp (message window will say 600).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Jörgen Thuresson adds: "You can kill the ghost in the Den. All you need to do is to cause a massive critical above a certain threshold. I did this once when I was fooling around and started shooting with my .44 Magnum. It was hilarious! Anna did the overkill animation and the body stayed around the clock. I was laughing my head off at the time. My locket! Mine!" Those massive crits are the ones that bypass armour; further investigation shows Anna has <i>no</i> resistance to plasma damage. Killing her has no special effect except triggering a little bug that removes a couple of unimportant dialogue options to ask people about Vic.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Note that there may be another gravestone with the name Anna on it ("done to death by a banana"). This is <i>not</i> the grave of Anna Winslow.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
You can take the locket to the ghost in the unused Den area, and get Anna's Bones that way... but then you'll have the "real" Anna hanging around forever. Or you can give the locket to either ghost, quickly steal it back and give it to the other, and you'll have two bags of Anna's Bones which you can bury one at a time for a total of 2900 xp... This is cheating, of course.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
The ghost is something of an anomaly in the <i>Fallout</i> world. There were mental powers in the first game, but such things are by many considered viable in science fiction. Weird science aside, there aren't many examples of the blatantly supernatural in these games (unless you count those special encounters which are meant as obvious jokes). Seymour the talking plant and Hakunin dream sequences come to mind.</blockquote>
</li></ol>
