h2 The Enclave

+fancyQuote("--New Reno townsperson")
  p.
    I always knew the President wanted to kill us all.

You get to the Enclave by taking the tanker from San Francisco, remember? After a freakin' beautiful cutscene you find yourself on the oil rig that is the Enclave. 15,000 xp are yours for this accomplishment. Exit the first map to the east and you find yourself in a foyer of sorts.<br><br>

p.
  There's a computer terminal around which you need IN 6 to operate, or IN 4 plus Sneak above 70% (don't ask me why). First of all, see how much information you can get from it by logging on (Science 100% or LK 8) and downloading files to read in your Pipboy. With Science 125% you get a report on the reactor computer, telling of what would happen if anyone were to blow it up. Hmm. With Science 150% you can read about a madcap scheme to kill off most of the world's human and mutant population using the FEV virus. Except it's not so madcap because it seems they can pull it off. Lastly with Science 175% you can read a worthless speech draft and a worthless word list. Is that the kind of reward you get for boosting a skill to ridiculous levels?<br><br>

Then there are two functions for which you need an item, the Presidential Access Key. Counter insurgence can only be used from this terminal and will be described later. Emergency defensive systems shutdown, which can only be used to any effect on the detention and reactor levels, will make the turrets on the current level snooze for 1-3 minutes. There isn't any major point to this since the turrets will never initiate combat anyway as a result of their level being on alert (seemingly due to some confusion in the scripting of the Enclave alarm system). It will keep the turrets from attacking you for other reasons (see below), but there is no stealth value in this since everyone else will anyway and it won't stop the turrets from firing on you once combat has started. A note of warning: if you try to activate the emergency systems shutdown without the Access Key and have Science 75% or more, the terminal you're using will be permanently deactivated, which is bad especially if it's the one in the foyer. Many of the computers and terminals in the Enclave will bring up the same menu, but they're not very important since you can't do the one truly useful thing from there.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can reach the Access Key options no matter your Science skill, as long as you have the Intelligence to use the computer. If you don't get the option to log on, just choose "Help", "Yes" and "Back to log on" and you'll have the option to log on using the Presidential Access Key.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If your Science level is excessively high, around 200%, you won't cause the terminal to shut down if you try to hack it, but neither will you succeed in your attempt (because the script is incomplete), so you're stuck in dialogue with only one option which loops back to itself. In the rare event that this happens, press 0 (zero) to exit dialogue.</blockquote>

The turrets in the foyer won't attack unless fired upon, but once you move beyond the foyer, turrets and Enclave denizens will be less forgiving. You can only bring one NPC along without being attacked. You must be wearing some kind of Power Armor, but your NPC doesn't have to. Beware that some security bots are overzealous and will attack if you're not strictly alone. Unless you're going to fight everyone outright, or you desperately need a mule, you should leave your party members in the corridor to the east. Don't leave them on the first map you arrived on, because chances are you won't return there, and don't leave them in the alcove to the south of the foyer, because it will eventually be sealed off.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The reason why you can bring one NPC is actually the same bug as in Navarro. The security bots which attack you if you're not alone have been updated in the patch and know they don't have to make allowances for the car counting as an NPC. This also means that if you never got the car from the Den (fat chance) the bug won't happen.</blockquote>

If you're bringing your NPCs or if you're just going to kill everyone here anyway, some things to keep in mind:

ul
  li.
    There's no such thing as a general alert status in the Enclave. For each new map you can choose whether to leave your path of violence or grab the good stuff then attack again. Citizens and scientists will never initiate combat, but may fight back if you're in combat mode already (or run away).
  li.
    You don't have to fight Curling, Murray or the President (see below), and you can talk to them as if nothing happened even if you fought on those levels. This means you can kill off everyone for xp and equipment and still get the xp of the sneaky/diplomatic path.
  li.
    Make use of bottlenecks. Critters that don't see a clear path to you won't move at all, buying you time. Dodge behind doorways and corners a lot. Make them come to you and pick them off as they arrive. Start a fight at the edge of the map, never at the centre.
  li.
    Since both you and your opponents will be heavily armoured, it's all about criticals here. You should either be using sniping weapons (Gauss Rifle, aimed shot to the eyes or something) or efficient big guns (Avenger or Vindicator Minigun, Bozar). Without the Sniper perk this will be awfully hard, but if you have it, you can clean the place out using a .44 Magnum and plenty of .44 Magnum JHP. With a good HtH weapon and Slayer you should be fine too as long as you avoid open spaces.
  li.
    Kill the soldiers with Gauss Rifles first; they're most likely to pierce your armour and score criticals. They're usually the ones wearing "old" power armour. Also look out for the ones with Vindicator Miniguns in the presidential area. Turrets usually won't hurt you - unless they score a critical hit bypassing your armour, in which case you're dead.
  li.
    Some of the robots (not the turrets) aren't on the same team as the soldiers as far as the game engine is concerned - these are the ones on the detention level and the two closest to the entrance in the barracks. This means you can ignore them until later, or even take them out first without anyone reacting. If a robot hits an Enclave soldier the soldiers will attack the robots, but when combat ends they will turn on you; this can also lead to the Elder being executed, so watch out.
  li.
    As in Navarro, prevent your party from spreading out or running to meet the opposition. This is not least because they'll happily attack some citizen while ignoring the turret next to them which will cut them down in two turns. Chances are they'll be in the way more than anything else, so set their combat options wisely, or just dump them and go solo. Goris will simply die if you bring him here.

In the barracks area to the east there's nothing to do except search the numerous boxes and lockers and lament the fact that you'll never be able to carry everything you find away from here (unless you're using the barter trick - see the NPC section). There's an Avenger Minigun and plenty of 2mm EC ammo among other things. Also there are a couple of packets of Plastic Explosives in the northeast corner of the map, and you might want to take one for later use. The blast doors to the emergency staircase cannot be opened at this time.<br><br>

In the detention area below the foyer you can grab loadsastuff (MVP: Vindicator Minigun) and talk to the Elder and Martin Frobisher in the leftmost cells to either side of the prison corridor. They'll both tell you the same thing: get the G.E.C.K. from the level below if you don't have it, and destroy the reactor computer with explosives (Martin tells you to find it in the barracks if you don't have any).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can actually kill most of the prisoners through the forcefields without any dire consequences. However, if you kill the Elder, you only have until midnight when Hakunin appears and the game ends, same as if you'd attacked the villagers in Arroyo. You can still finish the game before this happens and get the happy end. If you play on, trying to leave San Francisco to the world map will also end the game. One funny thing is that if you stand to the right of the Elder's cell and kill a villager, she'll run through the forcefield and flee down the corridor!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The two eyebots sport Robo Melee Weapons that you can get using the procedure described in the Toxic Caves section. These function as decent punching weapons that require no ammo and deal electrical damage, which is pretty sweet because you can run up to someone, punch them in the eye and then watch them vanish in a violet flash. Just like in real life! Rocketbots in the Enclave carry Avenger Miniguns and/or Robo Rocket Launchers. The two on the presidential level have ordinary Miniguns in addition to the Robo Rocket Launchers; in v1.0 these were not armed at all.</blockquote>

Below that level is the puzzle room. If it feels like you were just warped into an <i>Eye of the Beholder</i>-type game where you have to put rocks on the right pressure plates to open the door, that's about right. The floor in the square of nine rooms will give off electric charges now and then, damaging you for 2-10 HP (if you have your Advanced Power Armor on); when it does, your character will stop and you have to click on your destination again. Now don't try to open the doors manually or Lockpick them, you'll only take a lot of electrical damage. Instead use the computers to open and close the doors. I'll follow the tradition of presenting the maze like this (you enter from room 2):
<br>
<br>

table
  tbody
    tr
      td(width="40") 
      td(width="20") 1
      td(width="20") 2
      td(width="20") 3
    tr
      td 
      td 4
      td 5
      td 6
    tr
      td 
      td 7
      td 8
      td 9
    tr
      td 
      td 
      td 10
      td 

If you have the G.E.C.K. already and just want the quickest path, use the computers in rooms 2, 3, 1, 7, 8 and 9, and the way will be clear (2, 1, 2, 3, 8, 9 is another way). If you need to visit the side rooms (or just want to), go 2, 1, 2, 3, 3, 8, 9 to open up all exits at the same time. The game is practically over, but you may still want to pick up the Adv. Power Armor MKII, the best armour in the game, from the room to the left. The soldiers in both rooms are unarmed, for some reason. If you want to get in there quickly, go 2, 1 and 4, and you'll then have access to both side areas. When you're done there, use 6, then go back to 2 and begin anew with the "quickest path" described above.<br><br>

Once you get to room 9, you can use a Tool (you can steal one from a scientist in the barracks area; a Super Tool Kit won't work) on the loose wires to cut the electricity to the floor if you pass a Repair check. This means you get 1000 xp and won't take any more damage from the electrical shocks, in case you have unfinished business on any of the higher levels.<br><br>

To move beyond room 10, you need to carry a G.E.C.K. Even if you didn't stop to speak to the Elder or Frobisher, your character will suggest there may be a G.E.C.K. around, and thanks to a cosmic coincidence there is, in the side room to the right. (Apparently they brought it from Vault 13 along with the prisoners.) If you like explosions, use the G.E.C.K. on the door instead of opening it in the normal way. You may take some damage, though.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have extremely high Traps and Lockpick values (say, 100% and 200% respectively), you can disable the electric fields on the doors and then pick them for 115 xp each time. This is not really recommended, though. The Lockpick penalty will drop for each door you open, but only if you're using the skill and not a lockpick item.</blockquote>

p.
  There's something more to the maze room than meets the eye. One of the terminals (selected randomly each game) actually contains an "Easter egg", which is found by using the Repair skill on it. If you pass a Science check and it's the right terminal, you'll get a reward, but only if you have tagged any of the skills listed below, and that skill is also at 100% or more. The skills are checked in the order given, and once one is found that qualifies, that's what you get whether you want it or not. You can only get one egg.

<ul>
<li>Science: Opens all doors in the maze (using the terminals afterwards will open and close them as usual).
</li><li>Repair: Creates 1 Magic 8-Ball and restores electricity to the floor if you cut the wires so you can cut them again for 1000 xp (the floor doesn't actually start discharging unless you leave the map and come back).
</li><li>Gambling: Creates $2000-5000, 1 Loaded Dice and 1 Pack of Marked Cards.
</li><li>Outdoorsman: Creates 1 YK42B Pulse Rifle.
</li><li>Throwing: Creates 10-20 Plasma Grenade.
</li><li>First aid: Creates 1 Psycho, 1 Buffout, 1 First Aid Kit, 1 Mentats and 1 Stimpak.
</li><li>Doctor: Creates 2-4 Buffout, 1 Medical Supplies, 1 Poison, 2-4 Jet, 2-4 Super Stimpak, 2-4 Psycho, 1-2 Doctor's Bag and 2-4 Stimpak.
</li><li>Traps: Creates 2-4 Plastic Explosives, 2-4 Dynamite, 2-4 Electronic Lockpick MKII and 1 Motion Sensor.
</li><li>Speech: Creates 1 Alien Blaster.
</li></ul>

Some skills are better than others, I suppose. (All my characters would get the Speech egg, except for the stupid one who'd probably get none at all.) In any case, you get 2500 xp for "living through the puzzle room" when you reach the next level. Should you want to go back this way, use the terminal in room 6 and the right doors will open (if you didn't open up the whole maze, that is).<br><br>

In the presidential area you can talk to three people. Vice-president Bird is just crazy and spouts Dan Quayle quotes, or at least quotes attributed to Quayle. (Many quaylisms have later been re-attributed to George W Bush, which I suppose says something about how authentic you can expect them to be.) The President will give you background info, but what he says doesn't really affect anything. He's got quite a lot of dialogue, though, some of which you'll only see if you try to get out of conversation early, or if you threaten to kill him. And he <i>is</i> a talking head, so hear him out. (If you're stupid and talk to the President he'll always call for the guards, but this doesn't do anything.) What you need from him is the Presidential Access Key, which you must take from his corpse one way or another. Super Stimpaks will do and you should have lots and lots by now. My favourite is to save, Sneak and blast him away with one critical hit from the .44 Magnum. Blam! Splaff. Sorry.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Did I tell you about the time I took out half a squad of Enclave guards in the detention area in one round using the .44 Magnum, killing three with instant kill criticals, knocking one unconscious and wounding a fifth? Bwahahahahah.</blockquote>

Dr Curling in the northwestern corner of the map is something else entirely. When you talk to him about DNA, evolution, humanity and stuff you get plenty of chances to make a Speech check and thus awaken his (deeply) dormant conscience ("a big concept to swallow"). He'll release the FEV virus into the ventilation system, earning you 5000 xp and killing off most scientists and civilians in a few minutes (but not important ones like the President). This does not impose a time limit on you however (snoozing 10 minutes using the Pipboy to get rid of the scientists is harmless), and you, your NPCs and the prisoners will be protected from the effects of the virus. Dr Curling then tells you to go destroy the computer like the others did.<br><br>

All three of these people will sound the alarm if you threaten to kill them too much (you need to threaten the President to see all of his dialogue, but don't push it). None of them will call the guards if you let them live even if they know who you are. Actually there's not so much loot on this level (only two books in Curling's room).<br><br>

The stairs to the reactor level can be found north of the President's office. Down here you find the reactor computer, the one everyone's telling you to blow up, in the northeast room. Dropping a Dynamite next to any of the three consoles will do the trick. If the three scientists are still around you must wait until they give you space (or use the push command), since as usual critters will see it as an attack if you drop explosives near them. Also move away a little bit from the computer or you'll take some electrical damage following the explosion. Destroying the computer yields 10,000 xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Using the Yellow Reactor Keycard on the computer consoles does nothing, in case you're wondering. South of this room is a large inaccessible chamber with an elevator, a door entry computer and two important-looking terminals. Possibly the keycard - and the Red Reactor Keycard, which is in the database but not in the game - was supposed to be used there, but this was scrapped.</blockquote>

More loot in the lockers. You can talk to the scientist Tom Murray in the room to the southwest and ask him about the reactor. You can tell him to shut down the reactor and he'll do it (12,500 xp). This has the same effect as blowing up the reactor computer - but you can now go and do that as well, earning 10,000 xp more. Strangely enough, if you say you're going to kill him he screams for the guards, but unless you attack no one cares although there's a soldier right there in the room. If you released the FEV Murray won't die but you can't get into conversation with him, so having Murrary shut down the reactor is best from an xp point of view. As if it matters at this stage in the proceedings, as the saying goes.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're wearing power armour of any type, got the car, and have one NPC with you, Murray will complain about your armour, but just dare him to report you and you'll get the usual dialogue.</blockquote>

Blowing up or shutting down the computer starts a 10-minute countdown. This is how much time you have - real time, as long as you're not in combat mode - to get off the oil rig. (Should you fail, at least you get to see the animation of the rig blowing up.) The blast doors by the stairs to the puzzle room from the presidental area will close (leaving the puzzle and detention areas inaccessible), and the door to the emergency stairs will open; taking them brings you to the barracks area.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
You may read in a few walkthroughs that the emergency staircase won't always open when you disable the reactor and you must then fiddle with the computers in order to clear this route, or that they do open but you can use the computers to clear the way past the detention area instead. This is all incorrect, however. The state of the blast doors will always change when you start the reactor countdown, and only then.</blockquote>

Now for the finale. When you arrive on the foyer map after blowing up the reactor, there'll be soldiers standing about in the small room. They're Sergeant Rock - er, sorry, Granite and his men. They'll tell you that Frank Horrigan, the huge fellow you've met in the desert and possibly watched in a few video recordings, has taken position by the exit and won't let anyone leave. With very good Speech you can convince Granite that their only chance lies in helping you take out Horrigan (you may have to try a few times), and they'll then spill into the foyer (1500 xp). The doors to the detention area will be closed (see note above).<br><br>

Frank Horrigan has a talking head, so you should save and walk up to him. Once you're done talking he attacks (if you have IN&lt;4 he attacks right away), and the turrets with him. He'll shoot you with his End Boss Plasma Gun until it's out of ammo, then switch to his End Boss Knife, or if you're armed with an HtH weapon he usually goes for the knife right away (in rare cases he may just settle for kicking you). You'd have to be very tough and lucky (or well prepared) to survive this fight. Instead reload and walk along the bottom of the screen to the computer terminal. Now is the time to activate the counter insurgency measures using the Presidential Access Key. Once you do this the turrets initiate combat and attack Horrigan, so make sure you've recruited Granite's squad first. With both the soldiers and turrets on your side, you can stand aside and watch Horrigan get the shaft in just a few rounds, so a purely diplomatic character can do just fine here. By the way, the door to the dock cannot be opened until Horrigan is defeated.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you activate counter insurgency without having enlisted Sgt. Granite, the troopers will come running to help Horrigan. This will happen if you activated the turrets before setting off the countdown, in which case the turrets open fire on Horrigan as soon as you enter the map. Once the turrets are gone the soldiers and Horrigan all turn on you. The soldiers will also attack you if you attack Horrigan on your own, and conversely if you attack them he'll come running.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you let Horrigan initiate combat, the first door on the right will seal permanently shut. In this case Sgt. Granite's people and any NPCs that may have been shut in won't participate in the fight against Horrigan, but the NPCs will be with you when you get back to San Francisco. Here's a pretty odd thing you can do: Attack Horrigan without letting him talk to you, then run to the exit grid on the right and leave. When you return, Horrigan will initiate dialogue if he's nearby and the door will close. After you kill him, you can't get to the exit... but stepping on the exit grid to the barracks will mysteriously get you safely to the tanker and end the game.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
In case your character is too dumb to access the terminal, or if you didn't get the Presidential Access Key, there's still a way to make this battle easier. It has to be done prior to disabling the reactor, though. You can take out the turrets by firing a few shots, then retreating through the door to the dock or behind the wall by the staircase. When you come back in again, the turrets won't be hostile, so shoot them some more. Repeat until they're all gone. Beating Horrigan in single combat with a good weapon like the Bozar shouldn't be at all impossible. Another reason to do this could be if you want to fight Horrigan "fairly", without the turrets helping either side.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Jacek Kominek points out that another way to take on Horrigan separately is to simply run back to where the turrets can't see you, in the corner above the blast doors. If the doors are open you can run away and end combat after defeating Horrigan, and the turrets won't attack when you return. Jacek also laments the ineffectiveness of mêlée weapons against Horrigan; the lack of good criticals means they can't measure up to the damage output of a good minigun. But then again, what can?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|DrömmarnasStig relates a strategy: "After several aimed shots at the eyes with no effect I went for his legs. I crippled one leg and that won the fight for me. Once he runs out of ammo he changes to a mêlée weapon. From this moment forth I took one shot and used the rest of my AP for backing off, Horrigan never being able to reach me. From my brief experience I would highly recommend aimed shots at his legs (I took the Gauss Rifle for that job)." He'll be able to move just 3 hexes with a crippled leg.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Here's a bug/cheat similar to the vent bug in Navarro. Shoot Horrigan from a distance so he comes running towards you, then step behind the second door to the right and close it (Horrigan seems to be able to fire through the first one). When Horrigan runs into the doorway he'll stop and not attack. You'll then be able to hit him or shoot at him as much as you like with no return fire. This doesn't work if he's got his knife out.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Now's the time to whip out that Mutated Toe from earlier. Use it on Horrigan and... he loses 3 of his max HP. Hold me up, someone. This is exactly what happens if you use it on anyone else. And if you go to New Reno afterwards, the citizens <i>still</i> say "you really should have used the mutated toe on Horrigan".</blockquote>

Once Horrigan is "killed" (10,000 combat xp) you can talk to his head and torso for some final words. He says he activated the self-destruct mechanism and that you're going to die horribly (although this doesn't seem to do anything that the reactor meltdown wouldn't anyway), then his head pops. Shooting the still living head from a distance instead may confuse the message window (especially for aimed shots) but the result is the same. Or you could just open the door to the dock and the moment you step through you'll see the end animation. After that you'll be treated to various endings for the places you have visited during the game; see the following section for details. This also crosses out Arroyo quest 5, whether you have a G.E.C.K. or not.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After Horrigan is killed you may be able to get his weapons from his corpse, by killing one of the Enclave troopers (or an NPC) on the same hex and then using the selection arrows in the loot interface. If you click on Horrigan's body your character will run up and face the hex in question. The troopers cannot be pushed into position, but if you enter combat mode they'll come running toward you. Turning the violence level to minimal or none before killing Horrigan is necessary to make this work. Thanks to Sebastian Cassten for telling me about this.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you inadvertently leave your party members behind when the oil rig blows, for instance if you had dropped them off on the dock, you can still save them by going to the bridge of the tanker, pressing "Go" (15,000 xp again) and returning to the rig (hmm!). If you've got time remaining on the countdown timer, you can re-recruit your NPCs and exit to San Francisco once again. It's good for a laugh anyway. Since the trips back and forth are instantaneous as far as the game timer is concerned, you may have a few minutes in which to keep doing this.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
My maximum Rock count, without resorting to recurring random encounters (where they are sometimes plentiful), nor stealing (some kids and random townspeople carry lots), nor trading for them (Buster in NCR restocks them), nor digging up graves, is 111. That includes 19 from Klamath, 2 from the Den, 60 from Modoc, 2 from Redding, 5 from New Reno, 11 from San Francisco and 12 from special encounters (though you'd have to be lucky to get all of those).</blockquote>

To recap the stuff you can do after you beat the game: designer notes and xp computer in Vault City, Hintbook from Father Tully, dating Miss Kitty, movie at the Golden Globes, grav plates in the chop shop (maybe), and great new dialogue in New Reno and Vault City. Stupid characters cannot do the things in the VC vault, but they can hug Lynette instead. What to do after you get tired of roaming the wasteland for random encounters, or giving yourself unlimited xp using the Hintbook? Well, for a new experience you might want to try a different kind of game (I don't guarantee that all of these will be fun):

ul
  li.
    Play a reckless HtH character if you didn't already, or a cold-blooded sniper if you didn't already.
  li.
    Play a game restricting yourself to using weapons you normally wouldn't (e.g. Sharpened Pole, Pipe Rifle, 9mm Mauser, Molotov Cocktail, Gold Nugget, Wrench, XL70E3, Flamer, Rocket Launcher).
  li.
    Play a character with Intelligence less than 4.
  li.
    Play a CH 1 loner with no NPCs if you didn't already, or a squad leader if you didn't already.
  li.
    Play a game where you go everywhere, do as much stuff as you can, finish as many quests as possible, loot everything that can be looted and kill everyone who should be killed, if you didn't already.
  li.
    Play a purely evil character, scorning every good quest or action, seeking to do active harm but without resorting to mindless butchery; or conversely, play a ridiculously innocent and noble character to whom stealth and deceit are unthinkable.
  li.
    Play a "pacifist" game, never attacking or killing sentient beings, avoiding any situation where there is no diplomatic or sneaky solution and running from battles whenever possible.
  li.
    Play a "role-playing" game, where you do and say only the things you figure a person realistically would have (tricky!).
  li.
    Play a character with some comic quirk, e.g. keeping every dog NPC in the game around, or with some tragic flaw, e.g. suffering from periodic memory loss.
  li.
    Play as a Jet junkie from the moment you first encounter the drug (or, less extremely, from the moment you can maintain a steady supply).
  li.
    Play a game with game difficulty set to hard and combat difficulty set to rough if you didn't already.
  li.
    Try to finish the game as quickly as you can, using any stupid shortcut technique that helps. (See the Addenda section for what is quite likely the quickest way.)
  li.
    Play an "iron man" game or impose other restrictions upon saving and loading, or hit yourself on the head with a hammer every time you die and have to reload.
  li.
    Some combination of the above.