h2 Ghost Farm

+fancyQuote("--Jonny")
  p.
    Oh no! Don't you know Rose uses dog in her dishes!? Laddie is probably a burger by now.

Once you arrive you find there are patches of blood on the ground and bodies impaled on stakes. Examining the bodies with a good PE, or after several tries, you notice they're all fakes. At night, white ghoulish shapes roam among the cornstalks, but if you approach them they don't sound really ghostlike.<br><br>

There are two ways of getting in touch with the leader of the Slags. One is to walk over to the building and step on the carpet in the middle of the room, whereupon you'll fall 15 feet into a cave where you're greeted by some armed guards. The other is to wait until midnight, when a patrol appears outside the farm. Talk to them and surrender and they'll take you to Vegeir. If you should refuse to come with them, you'll pretty much have to fight everyone here.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Due to the nature and distribution of the various Slag critters, you don't have to kill everyone above and below ground for the "Slag counter" to reach zero so that you can report back to Jo (but if you're evil I suppose you'd want to do that anyway). Jonny and the protectors will disappear after you leave the map if the game considers the Slags exterminated by you, while the others remain until you've been back to Modoc.</blockquote>

Vegeir wants to strike a deal with Modoc and asks you to convey a message. Unless you accept, your only option is to shoot your way out. But whether you accept or not you're given the run of the caves, so you should take everything that isn't nailed down as usual. ("Youuuur power armour? I don't see your naaaame on it.") There's a hard-to-spot row of Shovels in the room under the pitfall.<br><br>

To the north is a small map with children on it. One of them is Jonny, the son of Balthas. (If you have Laddie with you, he'll effectively leave your party and run up to Jonny as soon as you get here, providing you didn't kill Jonny already.) Talk to him (don't choose the "candy" line or he won't talk to you again!) and identify his father as Balthas or ask him to trust you (Speech check). After you've completed the Slag quests you can now talk to Vegeir to get Jonny safely back to Modoc.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're playing without children there <i>won't</i> be any here, naturally. So you can't find or rescue Jonny. Laddie will still run up to the invisible Jonny and stay there. Sucks, doesn't it?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to Jonny with Laddie around and fail to gain his trust, you won't be able to talk to Vegeir about him. If Laddie isn't with you, just hearing Jonny's name is enough.</blockquote>

Once you've delivered the message to Jo and allayed his suspicions, return to Vegeir and tell him the townspeople are ready to cooperate, and he gives you an Assault Rifle and 50 5mm JHP. That's pretty much it for this area.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: Vegeir won't know you delivered the message so you don't get any reward.</blockquote>