h2 Gecko

+fancyQuote("--Wooz")
  p.
    Apples rule. If it weren't for a conspiracy on the part of fruit manufacturers we'd all have apples.

Gecko is a small town inhabited by ghouls and dominated by an atomic reactor, which is for some reason still running after all these years. Although the people in Vault City babble about radiation, you really don't have to take any Rad-X while you're here. Nor are the ghouls vicious killers. In my first game I was a little scared going here for the first time. :)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
|Well, it was a little more dangerous in v1.0 because of a bug that would make some ghouls attack you unprovoked, ruining your chances of finishing quests in Gecko. Jeremy Lowe: "There are three (in my experience) who do this: one of the ghouls in the first shack on the right as you enter the junkyard; a ghoul lurking behind the Harp bar (makes it very tricky to get into the plant); and a ghoul guard in the power plant - he's the one in the long corridor beside the entrance to the reactor core proper." Tim Weber chips in: "I don't know about the first two ghouls, but the last one, near the reactor core, will always attack me whenever I contact the Enclave on the computer. Other than that he just leaves me alone. (Unless of course I cause a meltdown, but that's hardly surprising.)" When I tested it myself the two nameless glowing ones in the reactor building would enter combat, and also the guard in the long corridor if I did the Enclave thing. The bug is caused by incorrect variable assignment, so there's no telling what will set off any particular ghoul.</blockquote>

At the Harp, Wooz will give you a free pack of "Tragic" cards if you get him to tell you about the game. You can play with him if you like; each game will either cost you or win you one pack of cards. You can win with a pretty low Gambling skill, but it's not really worth the time. 

Lenny the doctor (standing about with Harold in the building marked Manager's Office) will heal you: HP and crippled limbs except for eye damage, NPCs except for Laddie, the pariah dog or any inferior Brain Bot, charges nothing if you have no money or if you talked to him about your ancestor the Vault Dweller, else just a nominal fee. After you talk to him about your ancestor he'll also join up with you if you have at least karma 1 (though you may want to hold this off for now - see note for quest 1). Doing so gives you +5 karma and makes you more liked in Gecko, so go for it even if you're dropping him off directly afterwards. 

In the power plant, you'll need a yellow and a red keycard to pass the first door you encounter marked with each of these colours. The guard directly ahead of you as you enter has both, if you want to steal them, else you can just pick them up from various containers. Percy has a Yellow Pass Key in his house for the taking. You'll find a blue one as well, but it has no use... in this location.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
For some funny comments, try to Sneak past some ghouls in the plant.</blockquote>

Percy in the junkyard has a shop with very fair prices (restocks every 3 days) and will also give you quest 5 below. Skeeter will upgrade weapons (see table in the Items section) and in the leftmost room of his house you'll find what is quite possibly your first set of Lockpicks. Lumpy in the shack north of Skeeter's will put Broken Hills on the world map if you ask him about his name and follow the conversation.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you press barter instead of asking Percy to barter in dialogue you'll have to pay "normal" prices for his stuff.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Skeeter is afflicted with the same bug as Eldridge in New Reno, so that if you have Barter 91% or more he'll do upgrades for free.</blockquote>

<ol>
<b></b><li><b>Solve the Gecko powerplant problem.</b> 

Talk to Harold to get this quest in Gecko. (No matter if you get it here or in VC it pops up for both towns in your Pipboy.) First off, the <i>evil</i> way of finishing this, which includes blowing up the power plant. There are three ways to do this, all of which require you to go to the room next to the reactor room: 

<ul type="disc">
<li>Firstly, the way of the robot. Access the computer and initialize it using the codes containing the letters A, B and C in that order. Next you'll have to figure out how to operate the robot. Choose the coolant maintenance sequence, read the instructions on how to operate the robot, then enter a program. If you don't want to use trial and error, the correct sequence corresponds to the order of the planets starting with the outmost and going inwards... and if <i>that</i> doesn't mean anything to you, examine the machinery around the rim of the reactor and direct the robot to each one in turn. Then add the command to shut the coolant valve. Once the robot accomplishes this, you get 550 xp and turn all the ghouls in the plant hostile!
</li><li>Next, the way of the seriously radiated. Instead of using the robot you could walk over to the valve and shut it yourself, but you and any party members take 10 damage for each few steps you take in the reactor room. You need to use the valve three times to shut it (with a ST check for each attempt), after which you'll take 15 damage instead. Not really recommended... and taking Rad-X will not alleviate the damage, only protect you from being permanently radiated. Plus you get no xp.
</li><li>Finally, the way of the devious is to simply hand the Clipboard with the coolant report to Hank, and the dumbass will do your work for you. Plus, you can get the hell out of there while he lumbers over to the coolant valve. You get 550 xp for this also.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
While you're fiddling with the computer, there's a great sequence which is rather easy to miss. Choose the option to "Initiate general maintenance sequence", and try to download the code (you need Science 50% for this). Enter the codes with the letters X, Y and Z in that order, then choose "List other stations" and "More". Choose any of the first two dialogue options, and look... a talking head! You can have a great time chatting with this dude, but it doesn't actually do anything (i.e. no gunships show up with gatlings blazing or anything).</blockquote>

After you've started the meltdown, you and your party members (except Lenny) will take hits from radiation as you battle your way out (unless you managed to run out while Hank or the robot was going to the valve). There's no time limit; you can actually stay for as long as you want, providing you can handle the damage and radiation. You get another 2500 xp when you leave the reactor, which is now impossible to re-enter (it's not as if you'd want to). Ghouls in the town outside will only attack if you talk to them, and named ghouls like Skeeter, Harold or Wooz don't turn hostile at all - unless you start fighting other ghouls nearby. 24 hours afterwards everyone in Gecko will be gone, including Lenny if he was there but not in your party (taking with him any equipment he was carrying), but excepting Lumpy and the dogs in the junkyard. Congratulations, you are evil.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you leave the map while Hank is going to the valve, the plant is destroyed but you don't get the extra 550 xp. This also happens if you enter the robot commands in the order 2, 4, 1, 5, 3 (note that this is the wrong order, it's a bug) and send the robot on its way, even though it never reaches the valve.</blockquote>

If instead you want to do good, then you'll have learned from Harold that all the reactor needs is a good hydrospheratic magnulator or something of the like. Return to Vault City... but <i>don't</i> tell Lynette the good news, or she'll ban you from VC forever (did I mention she likes doing that?). Instead talk to McClure and he'll tell you to get the hydramagolator from Randal in the Amenities shop. If you have the Gecko Holodisk you'll be giving it to McClure at this time (see quest 2 below). Go to Randal and pick up the part (animated picture, cool). Once you get back to the Gecko plant there are again three ways of installing the part: 

<ul type="disc">
<li>Run like heck through the reactor room, taking 10 damage every few steps, use the part on the machinery with the red wheel (Repair check) for 4000 xp, then run like heck out of there. This is still kinda dumb.
</li><li>Talk to Festus. He's dubious, so you must make a Speech check to get him to install the part for 4250 xp.
</li><li>Go through the robot procedure, same program as before except the last step is installing the part instead of shutting off the coolant valve. 4500 xp for this.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
As above you can enter the commands in the incorrect order 2, 4, 1, 5, 3 and then leave the plant to fix it for 4000 xp, providing the robot has the part. No point in this, of course, but this is the nearly ultimate guide so there you have it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you fiddled with the robot controls before getting the Hydroelectric Part, you must choose "Back" and "Initiate Repair Sequence" for the part to be transferred to the robot.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Note that after you've gone through all that trouble to fix the plant, you can still use the robot or manual way of turning off the coolant valve for 550 more xp (if you used the robot) and 2500 xp for blowing up the plant. Similarly you can sabotage the plant and then use the Hydroelectric Part for 4000 xp (manual) or 4500 xp (robot) before the plant blows up.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
From Sebastian Cassten: "If you let Festus install the Hydroelectric Part for you and use the barter trick to keep it, you can afterwards do the 'running way' and get 4000 xp more." If the plant is already optimized when you do this, it will be un-optimized and you'll be able to do that entire quest all over again.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Leaving the power plant while the robot is still walking can cause it to get stuck. In this case you can go into the reactor and steal the part from the robot, or kill it, and do the repairing yourself.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Go to Harold after fixing the plant, ask him what he does and tell him of your ancestor. He'll give you 3 Super Stimpaks and 5 Stimpaks. You can only access this thread once, so make sure you follow the conversation right up to the end. Also if you ever got into Lenny's thread about the G.E.C.K. ("Vault 13 owes us one") then you won't get the Stimpaks, because the same variable is used to determine if you've been through either thread.</blockquote>

<b></b></li><li><b>Optimize the powerplant.</b> 

Obviously you can only finish this is if you installed the part instead of shutting down the reactor. After you've fixed the reactor, talk to Festus again and he'll give you a Reactor Holodisk to take to the Vault City central computer. Since you fixed the plant McClure will make you a citizen, so you'll have access to the vault. If you talk to McClure about optimizing the reactor before telling him you repaired it, he'll have the data optimized for you, saving you the trip into the vault. In any case, return to Festus with the optimized disk and use it on the reactor computer for 2500 more xp. 

p.
  There's another way you can go about this for a few more xp. In the junkyard, go down the manhole in the shack to the left of the abandoned reactor building and you'll find a few access tunnels guarded by ghouls. There's a tough ghoul named Zomak standing by the entrance to the cave, who has some stuff for thieves to steal. In the back of the cave you find The Brain, a mutated mole rat who plans to take over the world. Sound familiar? Just go along with whatever he says and he'll give you a Talisman (which doesn't do anything) and tell you to talk to Gordon about optimization data. This tunnel crawl isn't strictly necessary since Gordon will give you the Gecko Holodisk even if you don't speak to the rat at all, providing you talk to him before you repair the reactor (or after you optimize it, but then you'd have scant use for the disk).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you carry any Cheezy Poofs in your inventory, the rat won't talk to you until you've given him all of them to eat. If you refuse to part with them, he'll attack. If you've killed Keeng Ra'at, The Brain will muse upon the passing of his "sole remaining kin" the first time you initiate dialogue.</blockquote>

p.
  Anyway, when you talk to Gordon he'll do Gordon Gekko's routine from <i>Wall Street</i>, and you can agree to bring the aforementioned disk to someone in Vault City. McClure is the obvious choice here; you get 750 xp for handing it to him. You can go to The Brain after all this is done but he has nothing useful to say. Gordon will give you another holodisk after you talk to the Brain if you got the first one without having done so.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to McClure about the Gecko Holodisk after you fix the plant but before you talk to Festus about optimization, you end up not giving the disk to McClure. You must then get the Reactor Holodisk from Festus before you can make another attempt. Note that you'll miss out on the 750 xp if you optimize the data before giving the Gecko Holodisk to McClure (for a non-citizen, carrying the Gecko Holodisk when you hand him the Reactor Holodisk is enough).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you got two Gecko Holodisks from Gordon (bug), you can give both of them to McClure (also bug). If you're not a citizen, you have to give the first one to him when you tell him about the needed part, and the second when you give him the Reactor Holodisk. The other way is to show him a Gecko Holodisk after fixing the plant and becoming a citizen, but before getting the Reactor Holodisk from Festus. After you get the Reactor Holodisk, McClure will take both Gecko Holodisks off your hands. (In fact, at this point you can exploit the Bag bug and hand him any number of disks.) Just don't keep both in your inventory when you hand him the first one, since he'll take all you have.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you can complete this quest by taking the Reactor Holodisk straight to the terminal without bothering to analyse the data.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you optimize the plant you sort of condemn the ghouls... since then you get the bad ending for Gecko, where VC annex them to gain full control of the power plant. To get the "neutral" ending, fix but don't optimize the plant. See Endings for more details.</blockquote>

<b></b></li><li><b>Get super repair kit for Skeeter.</b> 

Ask Skeeter in the junkyard about car parts, and he'll trade you a Fuel Cell Controller (the thing needed to run the car in the Den) for a Super Tool Kit. Normally you'll have the one Valerie gave you, or Smitty in the Den may have one to barter (40% chance every time he restocks, actually). If you already have the kit he asks you for it right away. 250 xp is in this. If you kill him the part will appear on his body and the other ghouls won't care.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Before the patch, you could steal the car part from Skeeter, but then again, before the patch you could get the car without the Controller, as well.</blockquote>

<b></b></li><li><b>Get 3-step plasma transformer for Skeeter.</b> 

Skeeter will ask for this when you bring him the Tool Kit, if at the time you are carrying at least one weapon that he can upgrade. Jeremy in the reactor has the part in question. Steal it from him, or give him a Part Requisition Form. The latter can be found in Harold's house and on Festus. If you ask Festus for it, you can make up any of four excuses and get it if you pass a Speech check or if he likes you; you can also steal it off him, if you like that better... or barter for it. Whatever. Return to Skeeter and he'll give you 350 xp and a free weapon upgrade, which means you should get the .44 Magnum (Speed Load). Yum! If you don't want to wait for Skeeter to give you the quest, just bring the part to him (you can get it from Jeremy without having the quest active).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can actually steal the part and then get one more for each Requisition Form... and Skeeter will perform one free upgrade for each one. You even get the 350 xp each time. Well, why not go for a Scoped Hunting Rifle? Note that you have to give him something to upgrade before you can get another reward.</blockquote>

<b></b></li><li><b>Find Woody the ghoul for Percy. Try the Den.</b> 

Go to the Den (Percy puts it on your map, though I've a feeling you've been there) and pay the Great Ananias $25 to see the mummy. Turns out it's Woody. Wake him up and watch him run for 1000 xp. Return to Percy for your reward of 4 RadAway and 3 Rad-X. Not that you will ever find a use for those in this game...
</li></ol>
<hr>
