h2 Golgotha

<blockquote>"Nothing more boring than bein' in a coffin for months."<br>
--Coffin Willie</blockquote>

Obviously you can have great fun digging up those graves. If you only want to loot the profitable graves without taking the karma plunge from digging up every single one, you'll have to decide for yourself which those are. Save, dig, reload and redig selectively. If you dig them all up you find:

<ul>
<li>$237
</li><li>2 Flower
</li><li>3 Knife
</li><li>1 Mirrored Shades
</li><li>90 Morningstar Mine Scrip
</li><li>1 Leather Jacket
</li><li>2 10mm SMG
</li><li>1 Switchblade
</li><li>1 Leather Armor
</li><li>1 Doctor's Bag
</li><li>1 Empty Hypodermic
</li><li>1 Shovel
</li><li>1 Crowbar
</li><li>1 Rope
</li><li>2 Rot Gut
</li><li>1 Shotgun
</li><li>20 12 ga. Shotgun Shells
</li><li>1 Gold Tooth
</li><li>1 Pack of Marked Cards
</li><li>1 Loaded Dice
</li><li>2 Gamma Gulp Beer
</li><li>1 Roentgen Rum
</li><li>1 Spear
</li><li>1 Healing Powder
</li><li>1 Metal Armor
</li><li>1 Spiked Knuckles
</li></ul>

If you talked to Myron about the Mordino stash, go to the third grave from the top in the southern sector. This previously empty grave now contains:

<ul>
<li>1 Buffout
</li><li>3 Jet
</li><li>1 Antidote
</li><li>40 .44 Magnum JHP
</li><li>1 .44 Magnum Revolver
</li><li>$171
</li><li>1 Gold Nugget
</li></ul>

Note that you <i>will</i> be a Grave Digger if you recover this stash. Myron is supposed to point out the grave for you, but this will only happen the very first time you visit the map, and it will still not be entirely clear which one he's referring to.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Dig up the grave on the top left of the bottom section, and you'll unearth a ghoul who walks away muttering. If Lenny is with you it turns out the ghoul is his dad, but nothing else happens, and if you kill Coffin Willie then Lenny doesn't react. Doing this does not make you a Grave Digger.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Over in the right section there is a solitary cross marked "Trash" which brings up the hand icon when you place the mouse pointer over it. If you got the clue from the Magic 8-Ball, manipulate it to gain $374. You are now officially rich. Note: due to a bug you must also have got the clue for the toilet grenades, but that shouldn't be any problem.</blockquote>
<hr>
