h2 Introduction

+fancyQuote("--Myron")
  p.
    Do I look like a cartographer? You want to scour the desert for them, you go right ahead.

p.
  Each area walkthrough follows roughly the same pattern: first a general run-down of important people to talk to and things to do that aren't technically quests, then a numbered list of quests just as they're presented in your Pipboy (including typos!). Solutions to some quests are spread across several areas. This is not strictly a walkthrough in the "do this, then do that" sense, but there's enough information and general advice that you should be able to figure out how to do stuff, and have more fun in the process.

p.
  Locations on the world map are marked with circles in three sizes. The ones with a large green circle (town-size) can always be found even if you don't know it's there beforehand, while the other two (cave-, farm- or base-size) generally don't appear until someone's revealed their location to you. There are two exceptions: Vault 15 and the Raiders location are medium-sized but are there from the start anyway (see the Raiders section for some speculation on this anomaly). Also note that the Military Base is counter-intuitively city-sized. The difference between small and medium locations are that the small ones don't have town maps.

ul
  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | It should be noted that not all dialogue options described in this walkthrough will be available to a character with middling ability or skill scores (typically IN or Speech). As a rule of thumb, "smart" dialogue options require IN 6 or 7, while "supersmart" ones take IN 8 or 9. (There are a few IN 10 lines in the game, but all of them are inconsequential - Karl, Laddie and Gregory have them. Karl's is even a typo in the script.) You can always try chewing Mentats if you have them.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | There are ugly tricks you can play early in the game if you know where to find certain locations and items, such as going to San Francisco from Arroyo, then to Navarro and get the Advanced Power Armor, Pulse Rifle and about 25,000 xp right away. This pretty much spoils the entire game for me, so I'll just do this in the order I usually go places.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | The game will end after 13 years of game time (which would correspond to 25 Jul 2254). This event will be marked by a slightly animated screen saying "the end". Even if you play a "go everywhere, do everything" kind of game, you should only use up 3-4 years at the most, and even if you want to walk around the wasteland levelling up endlessly from mindless random encounters, you should be fed up before 13 years have elapsed.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | Speaking of levelling up endlessly, you cannot advance beyond level 99. (Oddly, when you reach the 4,753,000 xp needed for level 98 you gain two levels at once, skipping to level 99.) This should not really be a problem, either. In <i>Fallout</i> the limit was 21...

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    | At any time when you get to choose your destination on a town map, you can press a number on your keyboard instead of clicking a green triangle. This way you end up on a location in that town corresponding to the number you pressed, even if you didn't have access to that area previously. This can be used in various ways for convenience or cheating (Alex del Río notes you can enter the Gecko power plant after blowing it up by pressing 2 on the town map and getting another 2500 xp when you get out of there), but needless to say it could interact weirdly with quests and dialogues, and you can even end up getting stuck inside walls, so don't do it in a serious game unless you know exactly what you're doing.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    | Another general cheat/bug... pressing 0 (zero) in any conversation will instantly end it. For instance, if someone says they're going to kill you, and you press 0, they may not turn hostile, or if you end up in a dialogue thread which leads only to an undesirable end, you can abort it entirely. (E.g. you could get out of fighting Darion in Vault 15 and then kill him with Super Stimpaks, if for some reason you don't feel like fighting his gang.) Using this "trick" may prompt unexpected dialogue and cause quests to reset or abort - you have been warned.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    | Sean Meskill discovered a way to rest anywhere: "When you have enough status entries (names of locations) that they start to physically appear in the space where the alarm clock entries appear, then you can do the trick. Go someplace where you cannot rest. Enter the Pipboy. Press status. Press the alarm clock, then after it says you cannot rest here click a status item that physically corresponds to an alarm clock item. It will then switch to the rest menu, with the rest option that is in the same place as whatever status item you pressed being used. Usually you can't rest very long doing this, but you can do it as many times as you want. Very useful." Once the rest options appear, you have to click in between them. You need quest entries for at least four locations to be able to access the "Rest for ten minutes" option, and you can never access "Rest until party is healed".

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    | Michal Zalewski found another exploit: "If you are at the brink of an impossible to win encounter, and have no other options (say, you are on the second floor of one of New Reno casinos and have a lot of hostile guards below and only one exit), you can save your game, go to the main screen, hit <nobr>Ctrl-R</nobr> and load an arbitrary map, then load your game, walk past the combatants (they will not notice your proximity) and reach safety, save again, hit <nobr>Ctrl-R</nobr> and load the last save in the normal mode. Although it is cheating, it is sometimes a better option than replaying several hours of the game. If you feel particularly naughty, you can plant explosives near critters or kill them with Super Stimpaks. This also works if you want to avoid certain scripts. The method won't work if you have already entered combat mode. As a side note, there are some funny consequences to entering the combat mode while in <nobr>Ctrl-R</nobr> - most notably, it is possible to get killed, then walk away with negative HP. Quite unfortunately, you will still remain flagged as dead, so if you save the game and then load it in normal mode, the game will immediately end even if your HP is positive. The game may get mangled in <nobr>Ctrl-R</nobr> mode on some occasions (it is possible to crash it, or be stuck in endless combat mode), but it seems to be a rare glitch; once you get past <nobr>Ctrl-R</nobr> and load the save, there are no side effects as far as I could tell." Some scripts will still be active in <nobr>Ctrl-R</nobr> mode, e.g. a guard may prevent you from opening a door even if he won't attack. Experiment at your own risk...
