h2 Klamath

+fancyQuote("--Sulik")
  p.
    Most people have evil spirits. You? You have stupid spirits. Go see shaman, get hole in head...

Klamath is a quiet, out-of-the-way town, but can seem like something of a metropolis to someone who's used to huts and tents. Read the notice board to get a feel of what's going down. You can also talk to the town greeter, but he wants cash and it's a waste unless this is your first game... and it's not, is it? :) For some reason he carries a Molotov Cocktail which you can steal and throw at him for a laugh. Or not. 

In Klamath you find your first shops, one in the Golden Gecko and one at the Buckners' place, which both restock every 2 days. The Gecko is a rough place where trappers hang out (you need a low or middling town reputation to crash here), while Buckner House is a tad friendlier. Things you should buy include all 10mm AP, perhaps some Healing Powder if you don't have about 10 or so of those already, and the Leather Armor if you can afford it (especially if you're playing a mêlée character, since there won't be much else to invest in for quite a while). Stimpaks are in all likelihood not worth the price right now. Sajag at the Golden Gecko will give you a discount if you're charming enough, or if you just keep bugging him about it. If you rent a room at either establishment you're essentially paying $25 to rest 8 hours and recuperate HP equal to four times your Healing Rate, while NPCs aren't healed at all. I'd practice my healing skills instead.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Shops usually restock every 2-4 days, randomly decided (exceptions will be noted in the walkthrough). It won't happen while you're on the same map (though sometimes if you talk repeatedly to a shopkeeper they may reveal a weapon they were holding back for personal use), and also items won't accumulate endlessly. Items that a storekeeper keeps in regular stock will fluctuate in number (and choice items may not appear at all), but anything else you sell them will remain. Usually when you kill a shopkeeper, their inventory appears on their corpse even if you couldn't steal it off them previously, but not always. Of course, if you kill Maida Buckner or Sajag you'll have to fight the rest of Klamath as well.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Most shops in the game restocked significantly less often in v1.0, typically every 1-2 weeks. The patch notes only mention they get money more often, but it goes for the rest of their inventory as well.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You never lose anything by converting unwanted items into cash, so you should take every opportunity to do so. This is because your items always sell for the same value; Barter levels, discounts and so on all affect the prices of the <i>other</i> party's goods. But one of their dollars always trades for a dollar's worth of equipment. This is also useful to know when you're buying something expensive and can't carry all the junk you'd like to trade in for it; just pay in cash, and then trade in stuff for that cash at your leisure. Note however that most shopkeepers restock money along with their other wares, at which time any amount of cash in excess of what they usually carry will disappear.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
This isn't going to bother you for some time yet, but your inventory can't display any more than $99999 in cash. Don't fret though, it's all there; the dialogue interface shows up to seven digits, and the variable itself can in fact go over 2 billion. If you're bothered you can keep $99999 in your inventory, $99999 in your trunk, $99999 on Sulik, $99999 on Cassidy, $99999 in your favourite bookcase, $99999 in the skeleton in the radscorpion caves beneath the raider hideout... you get the big overall general picture.</blockquote>

In Buckner House a tribal-looking person by the name of Sulik is standing about. Turns out he was looking for his sister (who was taken by slavers), but got drunk in Klamath, wrecked the place and is working off his tab. If you talk to Maida Buckner, you can offer to pay the $350 Sulik owes, and he'll then join your party if you want to. Do this in conversation with Sulik, though, because then you get 500 xp that you won't get if you pay the money directly to Maida. There's a better way to free Sulik: see quests 2 and 6 below. It's a good idea to do this as early as possible when you come to Klamath, so you can have Sulik tag along. This isn't one of those stupid games where experience is divided among party members! The first thing you should do is take Sulik's Leather Jacket and wear it yourself to look cool.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: If you want to get Sulik you must offer to pay his debt the very first time you talk to him. Always choose the second line in this conversation, and eventually you gain 500 xp and Sulik if you want him (and providing your CH is not 1, of course). Since stupid characters don't get to do quests 2 or 6 this is your only chance to get him!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sebastian Cassten notes that you can repeatedly pay the sum for Sulik's release by asking Maida about the Den. Basically you're paying to increase your town reputation.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you don't get any xp for giving the money to Sulik.</blockquote>

Talk to John Sullivan in the Golden Gecko (use the "magic" dialogue path and get a free Beer) and you can get him to train you in pugilism for +10% Unarmed, +10% Melee Weapons and 150 xp! 

p.
  There's a dog around. Talk to it, and if you feed it some Meat Jerky you'll gain a Trapper Town Key and the dog will follow you around the map (for as long as you don't leave the map it will actually be your ally in any fight you start here). Strange thing for a dog to be chewing on, really. Don't talk to the dog until you have something to feed it, or you may end up having to fight it (running off the map will calm it; if you kill the dog you don't get the key). 

Visit Vic's old shack in the northeastern part of the map and get (among other things) his Radio. It will come in handy later on. In your first game, using the Pipe Rifle will probably seem like a really cool idea, but it's not very efficient, so save your ammo until you have the 10mm Pistol. Or if Small Guns is your only decent combat skill, might as well snipe rats in Trapper Town until you find the 10mm Pistol. Good, cruel fun. 

You can sleep with the women in the bathhouse, if you pay that is. Sally won't talk to you if you double-crossed the Duntons at the pastures, but you're not missing much. One of the girls, Jenny, is a friend of Vic's. Talk to her (you don't have to sleep with her first) and she'll put the Den on your world map. Maida Buckner, Sajag and Whiskey Bob can all do this, too.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Extremely minor bug: if you get the CH discount for the "Round-the-World" option at the bathhouse with exactly $124 in your inventory, you'll get it for free.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: If you're stupid, conversation with the simpleton Torr takes on a most interesting character. He can put the Den on your map if you ask him about Vic before accepting quest 3. He'll also offer free accommodation (same effect as described above), but not until after you've accepted or declined the quest, and since Torr doesn't return to the town map if you finish quest 3 properly a stupid character wouldn't normally get that option anyway.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the unpatched game Maida puts Redding on your map along with the Den.</blockquote>

The wicked Dunton brothers live in a house north of the square. At night they walk over to the Golden Gecko, which means you can loot their house. Pick the door as well (need Lockpick 70%). Talking to people and doing some of the quests below, you find out the Duntons are really scum. You can confront them about stolen cattle, but sadly there's no way of turning them in, and if you talk them into a fight the whole town including the Buckners will join in on their side. Attacking and killing the Duntons won't turn the rest of the town permanently hostile, though, so if you lock the door before attacking you'll be able to end combat afterwards and nobody will carry a grudge (running to an exit grid will have the same effect).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The Duntons will each spawn a Spiked Knuckles in their first combat round unless they already have one. You can make this happen just by entering combat mode and clicking turn, then using Steal to get them, and repeat.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The first Dunton you kill will carry their "shop" inventory (which is pretty pointless and restocks only every 3 weeks) unless you did it on the brahmin pastures map. If you kill one of the Duntons, the other one will have disappeared after you leave the map and return. For instance, if you assassinate one then immediately talk to the other and take the rustling job, none of them will show up on the pastures map which means you cannot finish the quest.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
If you try to search the bookcase while they're in the house or if they see you in the side room, the Duntons will attack immediately. Usually though, possessive critters will give you one warning that you should stay away from certain containers, doors or exits. To do this they must be able to see you, so you can try Sneaking, or positioning yourself out of their line of sight. If you have NPCs you can use them as cover, as they seem to block line of sight completely for this purpose. However, don't blame me if these critters have a double take and come for you later!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Early in the game you may want to save before picking any important door if your Lockpick skill is not too high. A critical failure will jam the lock, which then cannot be opened until the next day, i.e. when the clock reaches 0.00 (though you can use lockpick items on a jammed door). At least you never have to worry about Lockpicks breaking. Should you ever be disappointed that unlocked doors don't give you any xp, you can instead lock them for 25 xp. Great fun, eh?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you're playing without children, here in Klamath is where you'll hear your first disembodied voices. When it happened to me the first time, I thought it was my own character talking to the dog!</blockquote>

Trapper Town is the western part of Klamath. Go up the passage between the two large buildings, then through a door to the right, and you'll find Slim Picket who will train you in Outdoorsman if your skill level is 28% or lower (so if you steal the Scout Handbook from a kid nearby, don't read it yet). If he says something about your tribe being "mostly farmers", just try again. This will add a percentage number equal to double your Intelligence (but not less than 7). He'll ask either $50 or $100 depending on town reputation, but due to a glitch you actually get money instead of losing it. If you turn him down after he states his price you won't get another chance.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Before the patch Picket wouldn't give you money, but he wouldn't take it, either. The current state of affairs is the result of a "fix" mentioned in the patch notes.</blockquote>

It turns out Slim's shut off access to the northern part of the area due to rat encroachment. To pass the locked door, you can:

<ul type="disc">
<li>Pick the door for the usual 25 xp.
</li><li>Steal the key from Slim.
</li><li>Barter for it (will cost you $1).
</li><li>Use the key you got from the dog earlier.
</li><li>Convince Slim he should let you have the key (for any of several reasons).
</li><li>Sleep with him if you're a woman.
</li><li>Toss Aldo's Molotov Cocktail at the door.
</li><li>Take the key from Slim's cold, dead body.
</li><li>Get the key from Slim right away if your IN is below 4.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're a woman and tell Slim you'd "give anything" to get the key, the lines of dialogue you get are messed up. What they do is, respectively: agree to his proposal, back up the dialogue, and leave dialogue. If you should select the first by mistake you can console yourself with the fact that the script never calls the sex procedure, so technically speaking there's just a fade-out...</blockquote>

So much for security. Wend your way through the complex to the north (picking up the boots and ammo from the lockers) until you find a hole in the floor, and climb down. You'll now find yourself fighting through three cavernous levels with pretty much rat in them. Several minor items are hidden on the ground including a Sledgehammer, there's a 10mm Pistol (probably your first half-decent weapon) on a trapper corpse and a Combat Knife in the rat nest, and you can find a Tool by a scattered robot corpse in one corner. Near the southwest corner of the second (lowermost) level there's a caved-in section; move the mouse around above the big pile of bones and you'll find some 10mm JHP ammo. 

Behind a locked door (use the Dynamite on the shelf if your Lockpick is not up to it, 70% should be enough) you'll find a ladder up, leading to a part of Trapper Town which was previously inaccessible. Take the Nuka-Cola from the ground and loot the fridge to the northeast, but most importantly walk over to the car and pick up the Fuel Cell Regulator, which is worth 200 "invisible" xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Near the car there's a working Nuka-Cola machine. Use a coin on it and you get a Nuka-Cola, and possibly hit for 1-2 points of damage by the violently ejected bottle. There are plenty of these machines in the game (working and broken ones have different descriptions), and you can get 15-30 bottles from each before they run out of stock. A Nuka-Cola trades for more than $1... but as a rule you'll want to convert equipment into cash rather than the other way around. However, Nuka-Cola is an ingredient for making Super Stimpaks later on, so you may want to keep this in mind, though chances are you'll have plenty more than you'll ever need anyway. Strangely enough, these machines replenish their stock every 1-7 weeks.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star4.gif" alt="a yellow star" align="left">
If you can't find the 10mm Pistol it's probably because you left the rat caves in order to rest up, during which time the corpse disappeared leaving the gun obscured by the remaining pool of blood. While bodies decay in mere hours if you leave a map and return, blood is quite persistent and can literally remain for years. The specifics of blood decay are not known to me, but it appears to depend on time as well as the number of times the map has been entered.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
On the floor of the first level of tunnels there are Rocks. Rocks, man, Rocks! Here is the Rock challenge: how many Rocks can one gather through the course of a game, without resorting to recurring random encounters? I'll keep you up to date on the Rock situation...</blockquote>

<ol>
<b></b><li><b>Refuel the still.</b> 

Talk to Whiskey Bob at Buckner House and he'll ask you to refuel his still in the woods (you have to buy him a drink first for $5, though if you have IN 7 you can recoup your loss by making him give you the 2 Booze he's carrying). He'll offer $50; if you ask for more he'll tell you $65 if you pass a Barter check, but only give you $55 when you're done (scripting glitch). Go to the southeastern exit grid into a wooded area full of geckos. Make your way down to the shack to the southwest, grab one of the Firewood heaps and use it on the still for 100 xp. When you return to Bob, he'll give you your agreed-upon monetary reward. Because the golden geckos can be a definite pain and because of the issue of pelts, you may not want to do this until you've got both Sulik and the Gecko Skinning perk (see below). If you feel like it you can reveal the location of the still to Sajag for $50 and a Beer (and 100 xp, though it doesn't appear in the message window), after which Whiskey Bob won't much like you any more. You must do this before you collect your reward from Bob, so you have to choose your allegiance. You can ask Sajag to tell you about his booze connections in the Den, but it doesn't do anything once you get there.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This is one of the few timed quests in the game. Like the man says, you need to refuel the still within a day or you don't get any xp from doing so, but you <i>can</i> go to Sajag after Bob gives you the what for.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Whiskey Bob won't talk to you if your town reputation is Neutral and your karma is <nobr>-3</nobr> or worse. To remedy this all you have to do is nudge your town reputation in either direction, which should be easy enough (buying a round of drinks will do it). This is the result of a bug: he was supposed to snub you off if you have a negative town reputation, but instead the script checks the global variable with the same identifier as the current Klamath town reputation.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Here you may run into your first golden geckos, who radiate you when they hit you. I would suggest you don't use any RadAway before leaving Klamath and the Toxic Caves altogether, since we're not talking high levels of radiation. See the end of the Character Design section for more detailed info on radiation. Under most circumstances you should be perfectly safe not taking any RadAway before you get to the doctor in Vault City (or ever, barring some extreme happening such as ending up in the Toxic waste dump repeatedly).</blockquote>

<b></b></li><li><b>Rescue Smiley the Trapper.</b> 

Ardin Buckner's fiancé is missing. She'll put the Toxic Caves on the world map for you and ask you to find Smiley. Do so (see the Toxic Caves section), and she'll reward you with either Sulik's freedom (you get 500 xp although it doesn't show in the message window) or $100. Talk to Smiley afterwards and he'll give you the Gecko Skinning perk and, if you talk to him again and ask him about gecko hunting, a random Outdoorsman rise from +1% to +6% (save and reload if you're greedy). If he says you already know more about hunting than he does, persist and you'll get the bonus anyway. If you have Gecko Skinning, every gecko you kill (except the fire variety) will have a pelt in it which you can grab and sell. Should Smiley perish then Ardin won't talk to you any more if you tell her.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: If you return later in the game to get the Toxic Caves on your map using Mentats and rescue Smiley, you'll get the Gecko Skinning perk but not the Outdoorsman rise or any reward from Ardin.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can get double xp for this quest if you get the location of the caves from Mrs Buckner but say you can't help her. Then go and rescue Smiley. When you return to Klamath Ardin will still be talking about him, so you can accept the quest, go to the caves and rescue Smiley again, then go back to Klamath for your reward. There will be two Smileys in Klamath, each of which will give you training. For this to work, you cannot enter the Toxic Caves in between saving the first Smiley and reactivating the quest, not even by saving and loading the game. Also you may want to avoid talking to the first Smiley directly after getting the quest, since he will then start following you around Klamath thinking you're in the caves.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sebastian Cassten adds: "You can actually gain 1000 xp for recruiting Sulik. First do one of Ardin's quests and ask either for no reward or for Sulik's freedom so that you get 500 xp. Now before going to Maida, talk to Sulik. You will notice that he isn't free yet ('cause you haven't talked to Maida). You can now if you want to pay the 350 bucks for an additional 500 xp reward." This does not work in v1.0, however.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you agree to search for Torr before you get the quest to find Smiley, you must resolve quest 6 before you can get this one.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you could get infinite training from Smiley.</blockquote>

<b></b></li><li><b>Guard the brahmin.</b> 

Torr who's not so smart wants help guarding his herd of cattle from "bugmen" who come at night. Don't talk to him until you're ready, because he'll only ask you once (but see quest 4 for an additional way of getting this quest). Agree to help and you're teleported to a wooded area where the brahmin are to be found. A radscorpion appears, which you should be able to take out easily. Is this the truth behind Torr's insectoid bugmen, I wonder? Nearby there are several more, if you kill every one of them you'll have completed this quest for 250 xp, but if you want to switch to quest 4 instead, don't kill them for now. 

p.
  There's another, less obvious way of finishing this quest. Two shady figures are standing to the west of Torr's camp, namely the Dunton brothers. Approach them and they'll ask you for help stealing the cattle (this will activate quest 4). Agree to do so, but then tell the Duntons to call off the plan (Speech check needed), after which they run off. This gives you the same 250 xp and +50 karma as above, although the message window doesn't show anything. Optionally kill the scorpions for combat xp. 

In a shack to the southwest you can find a pair of Radscorpion Limbs, which have been used by the Duntons to masquerade as bugmen to get at Torr's cattle. Sadly there's no way to confront them about this (a snippet of such dialogue exists, but is unused), so the Limbs are worthless. Beware that once you leave this map you can't get back to it, so don't leave anything here and bring all the scorp tails you can carry.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sebastian Cassten notes that after you scare off the Duntons you can tell Torr to run away as well (see quest 4). This will let you get quest 6, which is really supposed to happen only if you finish quest 4 instead. It also has the aesthetic effect of crossing out both brahmin quests in the Pipboy, although you never get the reward for quest 4.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|It's possible to get xp for this quest twice. After you scare off the Duntons you can go to Torr and tell him you'll help guard the brahmin, which will reactivate the quest. Now kill the scorpions and leave and you'll get another 250 xp. This way you won't get quest 6, though.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sebastian Cassten has also discovered that you can pull off both the above tricks by relying on a combination of script imperfections. Convince the Duntons to run off, then kill the scorpions. Talk to Torr, but instead of using the mouse to navigate through dialogue, keep it still. Press 2 and 1 to trick him. When dialogue ends, immediately click to talk to him again, and select option 1 this time. Now your goal is to run to the exit grid in combat mode; do this by using all but one of your AP each time, ending combat manually and hitting A a lot. You will be successful if you get there before Torr manages to disappear (which will be signalled by a fade-out).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Killing a cow or turning Torr hostile will make this quest fail.</blockquote>

<b></b></li><li><b>Rustle the brahmin.</b> 

Instead of scaring the Duntons away you can return to Torr and tell him to take off (they say you can knock him out, but this will rile the brahmin, and even if you <i>do</i> manage to beat him unconscious it won't let you finish the quest), then go back to the Duntons for 150 xp, $50 and 5 Meat Jerky, or you can decline the reward for somewhat less of a karma drop (but, karma is not much of an issue). Might as well clean out the scorpions afterwards, though you don't get any quest xp for doing so. This would have been a better idea than quest 3 considering quest 6 below, but since you can get that anyway this is mostly for nasty characters. 

You can also get this quest by talking to the Duntons in town instead of Torr, providing you didn't go and get yourself a good town reputation. You only get one chance for each brother to ask for work, and once you ask, if you turn one of them down you don't get a proper chance with the other (see bug note below). Don't address them by name, since it may abort the work thread (which twin you're talking to is decided randomly each time). When you arrive at the pastures, you can talk to Torr and promise to help him guard the brahmin to activate quest 3, and then choose which one to complete as usual. Remember that once you tell Torr to take a hike, you can't finish quest 3 by killing the scorpions, and that if you kill the scorpions the Duntons will leave even if you didn't collect their reward yet. If you leave the pastures without completing either quest 3 or 4, you don't get quest 6 or any xp, so that just plain sucks.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If your Charisma is 10 when you enter Klamath for the first time, your town reputation will rise to the point where the Duntons won't offer you the rustling job. Arm-wrestling them once before asking will take care of this.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Killing Torr or any of the brahmin will set the quest to failed and cause the Duntons to run off. If you told Torr to run away and then attack the brahmin, you'll see a float over the invisible Torr after combat ends. This won't turn him hostile, though.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
From WraithUV: "Saving and then loading the game after you've scared off Torr causes the Duntons to no longer speak to you. This makes both quests impossible to complete." This apathy also means you can steal from them happily and if you kill them they'll still be alive downtown, but obviously this is not the ideal outcome.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
As found by Kwiatmen666 and figured out by Killap, completing this quest spawns a few new brahmin in the pen back of the Duntons' house which use Arroyo brahmin scripts. Attacking these will spell the end of your game.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to one Dunton about work in town and turn him down, then talk to the other and insist on helping them, the dialogue will proceed as if you were on the pastures map. You can agree to handle Torr; this won't take you to the pastures, though you can still get there by talking to Torr as usual. Or you can have a shot at spooking them, giving you the normal xp for that (they won't actually run anywhere), after which you can go with Torr if you want, finding the pastures empty except for brahmin and scorpions. Another bug found by Ryan P. Fialcowitz: "If you talk to the Duntons about work in Klamath prior to talking to Torr, Torr will disappear if you leave the map and come back."</blockquote>

<b></b></li><li><b>Kill the rat god.</b> 

Slim in Trapper Town will tell you about this. You'll know Keeng Ra'at when you see him on the second level of the rat maze. Perhaps Sulik should be with you for this? You get 300 quest xp for killing the royal rodent. Once you kill the rat you can't talk to Slim for training if you didn't already. 

<b></b></li><li><b>Rescue Torr.</b> 

If you told Torr to leave his brahmin earlier, now's the time to make up for it! Go to Ardin Buckner and it turns out Torr is missing because he went to look for the brahmin. Finger the Duntons and offer to help (you only get one chance). Then go to the canyon area to the northwest. Torr is standing about near a mad robot. Kill the bot using hit and run tactics, scout the area (intriguing!), talk to Torr and then return to town (200 xp) and talk to Ardin again. As a reward, ask for Sulik's freedom (which is worth $350, plus you get 500 xp; also see the note for quest 2). If you ask for money, or if Sulik was free already, you'll get a measly $100 and substantially less karma.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you run off the map after the robot attacks, it won't be hostile when you return. You can then use Repair to fix its broken motivator. Aww!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
There is no use for the Yellow Reactor Keycard in this game, despite numerous allegations, rumours and misunderstandings. It may be the seed of a quest which was not fully implemented, or perhaps it was simply meant to be a Yellow Pass Key, reflecting the Poseidon Oil connection. Interestingly, the card is not there in the unpatched game.</blockquote>
</li></ol>
 
