h2 Modoc

+fancyQuote("--The Chosen One and Laddie")
  p.
    Was Jonny abducted by aliens?"
    #[br]
    Woof?
    #[br]
    Okay, okay... Maybe someplace else, then?

Modoc is your average farming community. Although only Ed in Vault City will light it up on your world map, normally you'll come across it en route to that place. Jo has a pretty pointless shop on the left that restocks every 2-3 days (he'll get some more stuff if you trigger any of the Slag endings). If you're mean you can use Sneak to loot the shop clean. Stuff will actually keep spawning in the bookcase if you kill Jo.<br><br>

Grisham who owns the slaughterhouse will ask you to guard his brahmin herd against wild dogs (he'll do this as you end the conversation). If you agree to it, you're teleported to the pastures. Ten dogs will appear from the north and pick a cow to gang up on. You need to kill all the dogs to complete the quest. Grisham will pay you $1000 minus $100 for each brahmin killed, and you get 250 xp to boot - except if you saved <i>all</i> the brahmin, in which case you get the money, but not the xp nor any town reputation increase (bug). Even if you have Sulik and Vic it can be tough to keep every single cow alive; usually the dogs will kill one or two brahmin, then turn on you or an NPC. Since the dogs probably have a higher Sequence than you, it helps to run up a bit and then enter combat mode as quickly as possible, so that the dogs have to waste their "double turn" running. It doesn't matter really, since you're close to the point where money stops being an issue in this game.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Warlord has a strategy which is a lot like mine: "You should have a Frag Grenade by now, so you throw it on the largest pack of dogs. The aim is to turn as many of them against you as possible. Then every turn you shoot some new ones - they will let the brahmin be and turn against you. If you have Sulik and Vic you should manage to kill them without serious problems. This way you can save all the brahmin." Just, well, try to get one of them killed at least.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you don't manage to save a single brahmin (which happens if you leave the map without killing the dogs), things get a little buggy. Every time you talk to Grisham after that he'll demand $1500 from you. If you have IN 6 you can tell him they weren't worth that much, but this may trigger another bug which sends you back to the pastures, and paying him has no effect in any case.</blockquote>

South of the slaughterhouse you'll find an injured brahmin called Bess. Use Doctor on her (try until you succeed if your skill isn't below 25%, a Doctor's Bag won't do the trick) for 200 xp. She'll follow you around the town for as long as you don't enter any of the two underground areas, or enter any map outside of Modoc. If you bring her to Grisham, you can put her up for... slaughterhouse treatment (karma <nobr>-5</nobr>). Bess will be moved to the cattle pen north of the slaughterhouse. You can either go and talk to her, have second thoughts and open the gate to let all the cattle out (karma +10, but your town reputation will drop), or return to Modoc some time later for 100 Meat Jerky stored in a crate in the slaughterhouse. Your choice.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
There may be other brahmin in the pen; if so, when you try to let them out they'll probably jam in the gate, being 2-hex critters. Placing yourself or a party member on one side of the gate helps them manoeuvre. After you release the brahmin, there will be a special encounter waiting for you somewhere in the wilds around Modoc...</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you leave the map after Bess gets out of the pen but before she gets off the map, she'll disappear and you don't get the karma rise or the reputation drop, and I don't see what would be the point of that.</blockquote>

Irrespective of your gender you can sleep with either Miria or Davin in Grisham's house if you have at least Charisma 8 (CH 7 with a positive town reputation). Grisham will walk in on you and wonder what's going on. If you have a decent Speech skill and slept with a person of the opposite sex, you can tell him a yarn about a medical examination and he'll buy that... or else, it's time for a little shotgun wedding. Congratulations, you just earned the Married reputation and an NPC you can't get rid of (in the normal way, at least). In any case you have to pick up <i>all</i> your stuff from the floor, which can be damn annoying if you have like 200 Stimpaks, so a good idea would be to put your equipment on your NPCs or in the nearby bookcase before you go knocking on anyone's door. Miria and Davin are both absolutely useless as NPCs and can't level up, so you shouldn't marry any of them, unless you're evil and plan to sell them into slavery. However, you should save and try it once just to see the shotgun wedding... hilarious!

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's a nasty bug here you have to look out for: if you sleep with Miria or Davin and don't follow through with the wedding, your party members stop following you; they will come with you from map to map but stay rooted except in combat mode. This can be fixed by either of the following: 1) Getting married. 2) Having the Val/Vic conversation in Vault City. 3) Watching the Vault 13 video sequence. 4) Watching the Brotherhood video sequence in SF. Note that even if you don't have any party members at the time, you will still experience the effects of the bug if you should ever pick up any.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
More bugs: If you assassinate Grisham before sleeping with Miria or Davin, the game will freeze when he's supposed to walk in on you. If you assassinate Jo (or if he died fighting the Slags) the game will freeze as it tries to arrange the wedding ceremony. Another bug will strike if you sleep with a person of opposite gender and pull the doctor stunt, and Grisham is blocked from leaving the room so that he ends up moping in a corner. If you then sleep with either of them again there will be a permanent blackout. It's quite possible there are other combinations of circumstances here which lead to the same kind of problem.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Actually you can just run from Grisham instead of talking to him or waiting for the ceremony to begin, but then all of Modoc will turn hostile (and you get the party bug).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you pick Miria, <i>don't</i> choose the "you know you want it" dialogue - even though it's not clear from the wording, you'll rape her and turn the townspeople hostile! Even stranger, female characters can do this too.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You get your new spouse for an NPC even if you're already at your NPC limit, but remember, if you then kick someone out you can't get them back again unless you kick another one out in their stead (and you cannot disband your spouse). Miria will gain 2 Antidotes and 4 Stimpaks after you marry her, Davin 1 Tool and 2 Stimpaks.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you are married you will no longer be able to guard the brahmin or sell Bess if you didn't do that already. If you get Separated from your spouse, and then return to Grisham and tell him you think he or she is dead, he'll have a heart attack and die. I'm not sure this does anyone any good.</blockquote>

At the Bed &amp; Breakfast in the north part of town you can order some interesting meals. You can break the record eating brahmin fries and get slightly poisoned. If you order a glass of water for $1000 (you can steal the money back), you get a Cookie with it. Eating a Wasteland omelet for $25 will restore your HP to full and cure poisoning. If Cornelius should die, Rose won't talk to you any more.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can get a free omelet every time you talk to Rose (but nothing else).</blockquote>

p.
  You'll hear rumours of a mystery chicken cooped up beside the inn... surrounded by a chainlink fence and guard dogs? This is begging to be investigated. Pick the door and kill the dogs once they attack; when that happens, sometimes traders nearby attack too, so you may want to be careful about this. If you don't want to fight the dogs you can open the door and leave the map; they'll be gone when you return. Also if you set off the toilet explosion the door in the fence may come ajar and the dogs will disappear. If you have ST 8 you can move the rocks in front of the door for 100 xp (I suppose Rose does this every time she goes to collect eggs), otherwise you'll have to plant some explosives. Open the door and step inside. That's some chicken. Since you've gone through the trouble of breaking in, kill it for the combat xp (if you can), but after you do, there'll be no more omelets available, naturally.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you open the door to the henhouse but leave the map without killing the... um, chicken, it will kill everyone on the map, including idle NPCs! And if you ever come back, it will hunt you down... Oddly enough this does not affect your town reputation.</blockquote>

<ol>
<b></b><li><b>Farrel has a rodent problem in his garden. Remove the infestation.</b><br><br>

Farrel lives to the southeast of the B &amp; B. He'll want you to kill some rats for him for 300 xp and no cash. The rats in question are more dangerous than most because some of them poison <i>and</i> radiate you if they hit you... so send in your NPCs who are immune to that sort of thing and use ranged weapons yourself. Look, free Rope for use with the town well.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star4.gif" alt="a yellow star" align="left">
If it seems like you've killed all the rats but the end of the quest hasn't triggered, look for extra rats in the woods to the right or off the edge of the map. More than once, however, I've been unable to finish this quest because a rat simply wouldn't show up. There should be six big ones and five small ones. Save before accepting the quest to be safe.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You get a Cookie for a reward!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you accuse Farrel of being a thief in quest 2 and/or 3, he won't give you this one if you didn't already get it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you don't wrap this quest up at once you may find that you killed all the rats but cannot tell Farrel you did, or that you can report success even though you didn't actually complete the task. This is because the butcher on Main Street uses the same flag that keeps track of whether you killed all the rats. To set the rats to killed, go to Main Street and rest until evening, watching for the butcher's float that signals the end of his workday, then return to Farrel; to have the rats set to non-killed so that you can return to the garden, visit Main Street in the day.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
There are Rocks in the garden. Some can be tough to spot. Gotta catch 'em all!</blockquote>

<b></b></li><li><b>Cornelius has lost his gold pocket watch. Find it and return it to him.</b><br><br>

Cornelius and Farrel aren't friends any more because Cornelius accused Farrel of stealing his watch. Cornelius is actually a wee bit senile but will give you this quest if you tell him he "needs serious help". On a hunch, head over to the toilet, open it and climb down. You'll arrive in a dung-ridden cave, blocked to the north by rubble. Plant some Dynamite (set it for 3 minutes, it doesn't really matter) in front of the rubble and use the ladder. Yes, this is the fabled "toilet explosion". Har! You just redecorated half of Modoc in a very creative manner, earning 500 xp in the process. Return down the ladder, go north, fight a lone rat and search its nest... for Cornelius' Gold Watch, and also a Shovel (that and the rake must be the lost tools Farrel was talking about), a Fruit, and a useful Bag! Now go back to Farrel or Cornelius, give either of them the watch and say the rat had it for 1500 xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you assassinate Farrel, Cornelius will talk about nothing else (so you can't get or finish the quest if you didn't already), and if you say you did it all of Modoc will become hostile.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The placement of your Dynamite determines whether you take damage or not in the explosion as well as whether the rocks are cleared. Firstly, to trigger the toilet explosion proper the blast must "touch" the pile of rocks (being within 2 paces or so). Secondly, you and any NPCs will take damage if you're within the blast radius when you climb the ladder (the game always detonates explosives when you leave a map, hence why the timer wasn't important). If you're alone, you can easily avoid damage by setting the Dynamite as close to the rocks as possible, and if a party member is standing too close, prod him or her away before using the ladder. Saving first is of course recommendable in any case. It is actually possible (though unlikely) to survive the explosion if you stay down in the hole and hug a corner as the Dynamite goes off, but you might have difficulties with party members who insist on staying in the middle of the room ("Vic was hit for 6772 points of damage and was killed." Whee). If you do this, you still have to exit the toilet and go down again for the rubble to disappear, so there's nothing to be gained.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After the toilet explosion the Bed &amp; Breakfast map switches to a new one altogether, which means that any items dropped here or put in containers (other than the lost and found box) will be lost. Dropped-off NPCs will manage the transition, though, with the exception of Laddie. This also means there are twelve new Rocks on the ground, a Spear by the junk heap and a new Shovel lying over at the stables. Also note there are Rocks down in the toilet and the mole rat cave (you won't find all of them unless you know exactly where they are). Collect them Rocks.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're having trouble finding the Bag, look at the lower tip of the crescent formed by the rat's nest. The Bag has the same graphics as a bag of coins, and the little brown "flag" is just visible above the pile of trash.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
On the walls of the toilet you can find four goo-covered computer terminals and monitors. This is nothing but scenery. A little further down the cave you can find "cave art" on the walls.</blockquote>

<b></b></li><li><b>Farrel wants you to find Cornelius' gold pocket watch. Find it and return it to Farrel.</b><br><br>

If you talk to Farrel he'll also ask you to find the watch, and doing so will strike out both quest entries. I'll use this space to describe two "evil" ways of finishing the quest. Firstly, you may notice a partly hidden "safe" (locker) in Farrel's house. If you try to open it, he'll tell you to scram. (If you try it again he'll turn hostile, but it's empty so don't bother.) Go to Cornelius and tell him Farrel is keeping the watch in his safe; they'll have a fight, and you'll have completed the quest for no xp and quite a reputation drop. Useless. The other way is to get the watch, return it to Cornelius and say Farrel had stolen it. This is worth 500 xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you're taking advantage of the barter trick (see Arroyo quest 3) or the Bag bug to keep the watch, you can get xp for both quests by "giving" it to Farrel first, then going to Cornelius to reactivate the quest and handing it to him as well. After that the fun's over, though.</blockquote>

<b></b></li><li><b>Jonny is missing. Find him and bring him home to Balthas.</b><br><br>

The leatherworker Balthas is missing his kid. To find this out you need PE 6, to offer to look for Jonny you need IN 6, and for Balthas to give you the quest your standing in Modoc must be Neutral or better. You won't find Jonny in Modoc (see Ghost Farm) but there's a minor diversion here. Go to the town well, remove the boards and use a Rope on the well. Climb down. On the ground here are a few coins (you trade in 1 karma for each coin... neither the karma amount nor the gold matters, so I'd take it just because you can) and, in the north end, a BB Gun. You can now return to Balthas and say you found Jonny's gun down the well, after which he'll believe Jonny is dead (plus he takes the gun, which is worth $300 fully loaded, so maybe this is not a good idea).<br><br>

If you are Accepted in Modoc or better when you get the quest, Balthas will tell you to take Jonny's dog Laddie along with you (he'll join even if you're at the NPC limit). Follow Laddie over to the town well and talk to him for some great dialogue. Laddie will stay with you until Jonny has been found... and it's something of a give-away that he stays with you even after you hand Balthas the BB Gun. :)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have problems getting Laddie to follow you, try doing the Modoc quests in a different order. More specifically, don't start off by setting Bess free, since it will be difficult to recover from the big reputation drop. Doing some simple quest right off like guarding Grisham's brahmin or killing Farrel's rodents will make you popular enough.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Laddie will go into a permanent woofing mode if you bring Jonny's BB Gun to the main street map while Laddie is there (either because he's with you or because he was standing there anyway). This means you can't talk to him to drop him off (if he was in your party) or recruit him (if he wasn't, but he'll still join you if you did this before getting the quest). He'll also woof whenever you talk to him with the BB Gun in your inventory. If for some reason you want Laddie as a permanent NPC, ignore the BB Gun, or park Laddie on the B &amp; B map while you get the rifle and sell it to Balthas or put it on one of your mules.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Silly as it may seem, this is the only time in the game you use a Rope. Don't these people realize that ropes are staple objects in CRPGs? You used tons of them in <i>Wasteland</i>.</blockquote>

<b></b></li><li><b>Jonny's in the Slag caves. Find a way to get Jonny back home to Balthas.</b><br><br>

This will pop up once you talk to Jonny, if you got quest 4. Vegeir won't release Jonny until you've completed quests 7-8, but after that, he'll even give you an escort to Modoc, and then you can talk to Balthas for a Combat Leather Jacket and 2500 xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you've left Laddie on another map than Modoc Main Street, he still won't rejoin your party after you rescue Jonny. The only way to keep him (if for some reason you want to) is to not bring Laddie to Jonny and not bring Jonny to Modoc.</blockquote>

<b></b></li><li><b>Something strange is happening at the farm northeast of Modoc. Investigate and report back to Jo.</b><br><br>

Talk to Jo and ask about a G.E.C.K. and he'll give you this quest and put the Ghost Farm on the world map. Asking him to cut off his finger to seal the deal does nothing except lower your karma. Next head out to the farm. One way of completing this quest is to kill the Slags, then returning to Jo for 500 xp. He won't be very happy if you tell him those you killed were normal people and not ghosts, though. The better way is to talk to the Slags (see the Ghost Farm section) and get quest 7.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you report that you killed the Slags, then leave the map and return, you can't buy stuff from Balthas or Jo any more. The same thing happens if the townspeople attack the farm during quests 7-8. You will be able to get free omelets from Rose, though (see below).</blockquote>

<b></b></li><li><b>Deliver Slag message to Jo in Modoc.</b><br><br>

This means just bringing the Slag Message to Jo, and then you move on to quest 8 unless you immediately tell Jo you want to take no further part in what's going on, in which case you get 700 xp. People will then act a little weirdly: traders and townsfolk in Modoc will talk as if there's going to be a deal with the Slags, the Slags act as if they're waiting for it to happen, and Jo won't talk to you again at all. After 31 days Modoc will attack the Ghost Farm; see the next quest for details.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Whichever way you choose to deal with the Slag matter, from this point on Rose will allow you to riffle through the lost and found box and give you free omelets whenever you want them, but you won't be able to order any of the other stuff any more. The lost and found box is sometimes empty and sometimes has random items: Knives, Throwing Knives, Stimpaks, 10mm JHP, a Leather Jacket or a 10mm Pistol. On very rare occasions (1 chance in 200 every time you enter the map) you can find a 10mm SMG in there. If you're impatient you can exercise your Steal skill on the box, and due to what must be considered a glitch you can loot it freely if you stand on the hex just to the right of it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: Stupid characters earn 2000 xp upon delivery of the note and trigger the happy ending for Modoc but do not get quest 8. You also get a discount on Jo's stuff, but only until you leave dialogue.</blockquote>

<b></b></li><li><b>Jo is suspecious of the Slags. Find out about the dead bodies at the Ghost Farm and find out what happened to Karl.</b><br><br>

Feeling a bit "suspecious", Jo will give you a month (31 days to be precise, just enough time to go to the Den and back on foot) to prove the Slags are not dangerous. If you've been paying attention you shouldn't need it; inform him of the fake bodies (you can also ask Vegeir about those) and Karl being in the Den, and you'll have paved the way for an alliance between Modoc and the Slags for 3500 xp, plus you can now tell Karl to return to his home. Jo will tell you about Gecko but not actually put in on your map, and you also get a one-time discount big enough to get all his stuff if you trade back and forth for a while.<br><br>

If for some reason you can't or won't find out about the bodies or Karl, you can tell Jo you want out (same 700 xp as before), or tell him to attack the Slags. The latter will teleport you to the Farm, where the townsfolk make a more formidable fighting force than you might have credited them with. Basically you kill a few guards and ghosts, and then the game assumes that everyone else on the farm was killed too (if you go down the manhole, Vegeir will be there alone for you to deal with). You don't gain any quest xp for this, and it spoils your chances of saving Jonny. If you fail to inform Jo of Karl and the bodies in 31 days, the townspeople will attack on their own with basically the same results (if you go to the Ghost Farm afterwards you may find some ammo and stuff lying on the ground at the farm).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you don't give Jo the requested information right away, you must tell him about Karl before you tell him about the bodies, or you won't be able to tell Karl to return to Modoc.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you run off the map during the attack on the Slags, the protectors and ghosts will be dead when you return and the Modoc people will have returned home, alive.</blockquote>
</li></ol>