h2 Navarro

+fancyQuote("--Enclave patrolman")
  p.
    Now I suppose you're going to tell me you're just out looking for a water chip. Do I look dumb?

When you come here you're greeted by a robed guy named Chris who tries to shoo you away. If you accepted the quest from Matthew in San Francisco you can ask him about the Enclave and say you want to join. You get 1500 xp if you pull this off and get the password (you only get one chance). If you bring NPCs he'll complain about your "posse" and you'll have to pass a second Speech check. You can get him to mention both San Francisco and the Military Base, but he won't put any of them on your world map. There are also several dialogue options that lead to him attacking right away, or sounding the alarm then attacking, or leaving you alone. When you're done with him, ask him about vertibirds and mention the Brotherhood; you then get some 20 seconds to kill him before he sounds the alarm (500 xp), which shouldn't be a problem.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Due to the NPC bug described below, you will actually need to bring one NPC for Chris to think that you're alone if you have the car.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you come in the car Chris will open dialogue at once. If you've already been here once that may result in a dialogue where your only choice is to attack and you risk putting the base on alert, so deal with Chris the first time you get here.</blockquote>

There are three ways you can enter the base. The easiest is to walk into the shack with the trapdoor in the floor (Chris will stop you if he's still alive), and you end up in the underground section. The second is to follow the stony path through the woods to the green exit grid and talk to the guards. If you don't have the password, or if you're not alone, they won't let you pass and attack if you talk to them too many times. You can of course storm the gates and shoot everyone, but this would be what is probably the toughest fight on the mainland and possibly in the whole game, what with those mean turrets.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
In the woods there are mines which are impossible to spot even with PE 10 and insanely high Traps skill.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can have one NPC along with you and the guards still say you're alone; people you meet will act as if the NPC isn't there. This happens because most Navarro scripts assume that the car is included in the "NPC count", which it apparently isn't. Unlike Chris, though, they won't think you're not alone if you actually are. There is one crucial exception: the guard outside the commander's office will raise the alarm if anyone is with you except K-9 (you can use Sneak to avoid this), because <i>his</i> script was updated in the patch. Also note that if for some reason you didn't get the car from the Den, this bug will not happen.</blockquote>

p.
  Lastly, if you brought the Blue Pass Key from the Gecko power plant, you can enter by the air vent in the southwest corner of the gas station map and unlock the outer cell door. You'll get the 1500 xp for releasing the deathclaw (see quest 1), and Xarn will walk down the hall (even if you block the doorway) and disappear. If you talk to him he'll act as if he's still imprisoned, so this is probably not supposed to happen. Other than pre-empting the deathclaw quest this doesn't change anything. You can't open the next door from this direction.

In the underground section, loot the room to the northwest for a suit of Advanced Power Armor, a Blue Memory Module, a Plasma Rifle and stuff. You can talk to the quartermaster in any armour (even the Vault 13 suit) and he just tells you to go get suited up. In the computer room you can hack the computer with good Science, but if you fail the alarm goes off. Or you could ask one of the scientists and if you pass a Speech check he'll tell you the password, "Snookie", after which you can go mock the female guard outside (you can also enter this password after hearing about the nickname from Cookie). Asking the computer about the main base earns you quest 3.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
With a few exceptions, people in the base won't talk to you if you're not wearing some kind of Power Armor. If you show up inside the base with any NPCs other than K-9 (that is, more than one), people will start attacking you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
The computer mentions that the Enclave main base is accessible by vertibird. Reportedly this was a quest which didn't get implemented (there are quite a few of those). On the other hand the guy in the comm center says the vertibirds are too complex for outsiders to handle. (Obviously he never met this kind of tribal before.)</blockquote>

On the ground level there are plasma turrets which can make fighting here troublesome. Quincy in the garage to the northeast has the Vertibird Plans in the locker behind him. There are two scientists around, one next door and one in the comm central to the south, who can tell you about the tanker and Vertibird Plans. If you asked any of them about the plans, you can tell Quincy a tech told you to get the plans and he'll let you have them (with very good Sneak you can just pick them up anyway). You get 3500 xp for taking the plans.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
A sign on the turrets says that tampering with them will lead to death, and in fact using any skill on them makes them attack.</blockquote>

Taking the lift down from the comm central gets you to a room where nothing much is going on. Save before going to talk to the sergeant south of there. He's a blast! However, you should reload afterwards, because otherwise you'll have the sergeant patrolling the grounds endlessly and attacking if he finds you anywhere except beside the vertibird too many times. He'll also attack if you talk to him repeatedly without some kind of Power Armor on.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't approach the southern gate from the inside if you didn't give the password to the guards coming from the outside, or they'll attack.</blockquote>

If you talk to Cookie the cook in the canteen you can get quest 3 and some info on what's going on, but it's nothing crucial. In the vertibird hangar you find Raul. If you told Quincy that Raul sent you for the plans, you can tell Raul that Quincy wants to see him, and he walks off to beat Quincy up. If you got the quest to fix K-9 you can tell him Dr Schreber sent you to get permission to take the K-9 Motivator from the locker directly behind him. If all else fails, Sneak.<br><br>

If you do want to kill everyone, here are a few facts and pointers:

ul
  li.
    As long as there are any turrets left on the ground level map, you won't be able to leave combat mode there. Annoying.
  li.
    Get the turrets first, and from a distance. They're not so tough to kill, but they do a lot of damage if you allow them to fire.
  li.
    Don't let your party spread out. The "stay where you are" combat option comes in handy. From the underground area you can take an elevator to the surface, kill off everyone in the surrounding area, go back down to heal your wounds if you need to, then proceed to the next lift, and so on. This is a whole lot easier than a frontal assault.
  li.
    You don't have to kill Cookie.
  li.
    If you shun ranged weapons this will be difficult, but by no means impossible. It's vital to keep your party together, so you may want to leave any reckless ones behind (Goris is impossible here). Sometimes you can sneak right up on the turrets, sometimes not; remember that smashing their sensors turns them into so much scrap metal. Try to lead people around corners and save a lot. This must be why you've been accumulating those insane amounts of Stimpaks and Super Stimpaks.
  li.
    Apart from Chris, you don't miss out on any quest xp by attacking from the start.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
HtH characters can make the underground battle a whole lot easier by taking advantage of a scenery glitch. Once the battle starts, run to one of the vents facing south and stand in front of it (the edge of the hex should touch the wall). It doesn't work for all vents, but the one in the L-shaped corridor going to an elevator should do it, as well as the one in Xarn's room. You'll find the guards can't attack you with ranged weapons and instead just run up to you and stare stupidly. You can't attack them with ranged weapons, either (or even a Super Sledge), but you <i>can</i> hit them with unarmed attacks or mêlée weapons with range 1. The Hubologist base also has these vents, but this trick doesn't seem to work there.</blockquote>

<ol>
<b></b><li><b>Deal with the deathclaw.</b><br><br>

Talk to Dr Schreber in the soundproofed room and ask him about the deathclaw. Whether you offer to kill the deathclaw or not you can now get past the door to the cell. If you kill Xarn, you get 500 quest xp in addition to the 1200 kill xp. Instead you can offer to rescue him, in which case you must have the Blue Pass Key to open the door to the south (1500 xp). If you didn't bring the one from Gecko, there's one in Dr Schreber's desk. You don't have to kill Schreber for it (threaten him and he runs away, then end combat), but you should do that anyway for 1000 xp and 25 karma, and no one notices, the room being soundproof and all.<br><br>

If you kill Dr Schreber before getting this quest, you can kill the guard with Super Stimpaks to pass the door without alerting the base, and then get the quest from Xarn. However, if the alarm is sounded you can team up with Xarn for 1500 xp. He'll stay with you until you go near the red exit grid on the gas station map, or until you open the cell door with the Blue Pass Key. If you then go to Vault 13 he won't be there and none of the deathclaws will mention his existence.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Xarn leaves by the exit grid you don't get any xp right away, but you can then go and open the cell door to get them.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can actually get every possible quest xp from Xarn by joining him for 1500 xp, then opening the door for 1500 xp, and then finally killing him as he's on his way out for 500 xp. Of course the base would have to be on alert, and this late in the game you get a lot more xp from random encounters anyway.</blockquote>

<b></b></li><li><b>Fix K9.</b><br><br>

You get this quest when you ask Dr Schreber about the cyberdog, or from K-9 itself after you kill Schreber. Go get the K-9 Motivator from the vertibird hangar above ground and use it on the mutt to activate it (3500 xp, Science check needed). If you have karma <nobr>-100</nobr> or higher and aren't a Childkiller it'll join you at once, even if you already have your maximum number of party members. You can walk around Navarro with K-9 without anyone reacting.<br><br>

<b></b></li><li><b>Retrieve the FOB from the base Commander.</b><br><br>

This pops up after you ask the computer about getting to the Enclave or talk to Cookie about it. If you ask the guy outside the commander's office who gets to come in, he'll mention the cleaning crew. You must walk out of his sight and wait one hour before you can tell him you've come to clean the office (with IN&lt;4 you can get him to believe this right away though). You can now go in, but the commander won't let you open the locker with the Tanker Fob. Either Sneak-Lockpick the locker (Sneak 60% and high Lockpick needed), or use (a lot of) Super Stimpaks on the commander. There is an easier way, for which you must have got this quest first (and need good Speech): tell the guard you've come to fetch the Tanker Fob, and the commander will let you walk right in and take it. In any case you get 3500 xp for getting the Fob out of the room.
</li></ol>
<hr>
