h2 New California Republic

+fancyQuote("--The Chosen One and Gunther")
  p.
    Tandi job. Me want.
    #[br]
    You can't take the president's job!
    #[br]
    No?
    #[br]
    NO! You are dumb.

Upon arrival in the NCR bazaar - the area outside the city walls - you find Doofus, the car hop. You can pay him $5 to watch your car, but it's a waste of money. From the second time you enter this map, if you find Doofus raving about cars, you can get him to mention the name of Merk, or if you have the Speaker perk you can tell him to give you his stuff, which amounts to about $30 and 3 Fruits.<br><br>

Buster who runs the store in the bazaar will give you one warning and then attack if you come into his store at night, and unlike most other shops he only opens at 8.01. His three shelves all have different contents. This is one of two shops in the game that carry valuable 2mm EC ammo, and Buster also sells Micro Fusion Cell, good Needler ammo and 4.7mm Caseless. If you have surplus weaponry you might want to trade it in for a Pancor Jackhammer, the best shotgun in the game, or a Ripper, Power Fist or Avenger Minigun. He'll also turn a Hunting Rifle into a scoped one for $500. That's exactly the difference in value between the two weapons, which leaves you with a profit of 10 .223 FMJ. Buster's shelves restock separately in 2-4 days except the one on the right which restocks in 1-4 days.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Buster's guards carry Bozars which you can steal. I don't 'cause it's silly, plus at this point in the game I wouldn't meet the ST requirement. If you really want one you should be able to take a hike to the Toxic Caves. Speaking of stealing, with a high skill you can use Steal on the shelves and take any amount of stuff from them right in front of Buster. I would have to say this is even sillier.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
As found by Jonathan Cook, if you press 0 when talking to Buster, he'll swap his own inventory with that of the current shelf (which is randomly selected if you just talk to him). This will allow you to steal some stuff directly from him if you are so inclined.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the department of useless stuff we have the fact that you can go behind Buster's store, go left along the very top of the map until you hit the edge, then work your way down by scrolling and clicking on ahead. You can get as far as south of the saloon, but have to return the same way.</blockquote>

On the 11th of every odd month, a guy named Stanwell will offer you a job guarding a brahmin caravan to Redding, which pays $2000 but takes a lot of time. Note that this has nothing to do with Duppo's brahmin drive quest.<br><br>

The hooded guy on the left of the bazaar map will fit a blower to your car for $1000 if you give him six hours to do it. You really should. You can barter some stuff to him to get your money back, and pay him $5 for worthless rumours. You don't actually need to spend six hours in NCR for him to finish the job, but after six hours have passed you must spend about a minute on this map (resting 10 minutes will do it) before he's done.<br><br>

You can buy Booze from Mira in the Rawhide Saloon, and ask her for information. The bar patrons may have 200 Shotgun Shells each for you to steal if you like (every time you enter the map there's a chance they'll "restock"). Lenny is just obnoxious.<br><br>

Merk who hangs out in the back room of the bar between 16.01 and 08.00 is the man with the plan around here. Sometimes he'll be flanked by two guards, sometimes not; presumably they're always supposed to be there since Merk may refer to them even if they're not present. If you want information, you'll have to pay $50 before you even get to ask anything. If you ask about the G.E.C.K. he doesn't know anything, and if you ask him about Vault 13 he tries to sell you a Vault 13 Holodisk for $1000. Buying this disk puts Vault 13 on your map - only once you get there it's just a cave with some construction signs, and when you leave it reads "Fake Vault 13" on your world map. Complaining with Merk helps little, but you can steal the money back. Fun but useless. Instead ask Merk for work. Now you have to prove yourself to him:

<ul>
<li>One option is to fight Lenny the super mutant alone in a secret basement, limited to these weapons: Knife, Club, Sledgehammer, Spear, Rock, Crowbar, Brass Knuckles, Super Sledge, Ripper, Cattle Prod, Spiked Knuckles, Power Fist, Combat Knife, Sharpened Spear. To get this you must have "talked" to Lenny at least once. To make it a lot easier you could steal Lenny's Stimpaks and Power Fist before the fight. Mira gives you a Booze if you talk to her afterwards.
</li><li>If you have Myron in your party, tell Merk you know someone who can make Jet. Merk then offers to take Myron off your hands for $1000. (If you choose the "can't do anything illegal" line, Merk won't like you any more.) Due to a bug, Myron still stays in your party.
</li><li>Tell Merk you're a "badass mofo" if you're a Childkiller or Berserker.
</li><li>Take quest 7. If you already killed the Hubologist, Merk will act as if you did it for him.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have a Bag o' stuff, you must drop it before going to fight Lenny. This is because the Bag is one of the items taken from you - and when you get it back, it's empty! Also guns will be loaded when returned, and if you had separate heaps of the same weapon (with different number of bullets in them, or in your active item slots) you will find yourself with a greater number of guns than you started out with. This is because the script counts all remaining objects when removing each stack; for instance, if you had eight Desert Eagles of which one was in an item slot you'd end up with fifteen after the fight, the script seeing eight before removing the first, then counting the remaining seven. Imagine that... a bug.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Some NPCs won't be hidden by the game when you enter the ring, and will fight Lenny with you: Laddie, Dogmeat, Goris, the pariah dog, K-9 or any inferior Brain Bot. If they die, stuff left on their corpses when you leave the basement is lost.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't save the game during your fight with Lenny, since if you have to reload you will be stuck in the ring after you kill him. The same kind of bug apparently plagued the ring fights in New Reno and San Francisco in the unpatched version. Although the readme says they're fixed I would still advise against saving during any ring fight.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The fake vault location changes after you leave it for the first time, so any items dropped in there will be lost. More importantly, your car will disappear if you drive there and leave on foot.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Saving and/or loading the game while Merk is walking somewhere may cause him to stop and go silent, or teleport him to his destination, depending on the time and location. Leaving the map and returning or resting for a few hours will get him unstuck if necessary.</blockquote>

Should you annoy Merk in any way, you need CH 7 to talk to him about work again. Once Merk thinks more highly of you, he'll give you quest 1.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's an infinite money bug here if you like to exploit those (and didn't get enough money from the refinery bug in Broken Hills). Unless you've killed the Hubologist, you can ask Merk for more work after completing quest 1, and then fight Lenny (if you didn't already), or sell Myron for yet another $1000, and yet another $1000, and so on, until you either agree to kill the Hubologist or kill her anyway.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you got Merk's name from Doofus and tell him you've heard he's the man to talk to, he'll refuse to talk to you until you kill Doofus. Doing so changes nothing, so don't choose this dialogue path.</blockquote>

Read the notice board in the bazaar to learn the NCR ground rules. If you come here at night the forcefields will be up, so either use Repair on the emitters (the guard doesn't mind), or talk to the woman in the guardhouse to get in. Don't even touch her lockers, because she will turn hostile even if she doesn't attack right away (though you should be safe as long as you don't walk right up to her, and I think you can loot the bookcase with impunity). The guard outside the entrance will tell you to put away your guns if you have them ready. Tell all your party members to do so - these guards are serious. If you walk around with guns ready in downtown NCR they'll attack almost immediately. Moving out of sight of a cop doesn't help once you've been warned; you must either put the weapon away or leave the map. The gate guard will attack if you hang around with a weapon after being warned, but oddly enough you can kill both guards in the bazaar and the downtown guards won't know you did it.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Make a habit of never going directly to the downtown map when you enter NCR unless you're absolutely sure your NPCs aren't wielding weapons. Once you're there you have very little time to tell them to put their weapons away. On the Council map you start some distance from the nearest cop, so that's OK, and on Westin's ranch they don't care. The three inferior Brain Bots are not checked for weapons, but at the same time the cops are probably laughing at you for being stuck with bad NPCs.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Some say Goris' Claw poses a problem when moving around in NCR; however, the cops' script doesn't check for his presence (it's the same with and without the patch), and testing shows no reaction at all.</blockquote>

Check out both tables at Duppo's (restock in 1-6 days, but there's no money to speak of). You could get a HK P90c for Sulik and a Combat Armor for yourself if you have the spare weaponry to trade in. He also sells Power Fists for you to upgrade in New Reno. Duppo will give you quest 12 if you ask for work. To enter the craps hall, you need at least Gambling 51%, and you must not have accepted quest 12 yet. Ask Duppo for work, then ask if there's another way to make a quick buck. Depending on your Speech you can pay him from $100 to $500 for the password to the door, but it's not much fun in there (Den-style craps table, you can steal $1000 from the croupier). If you have ST 9 you can take a Crowbar to the door instead.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star4.gif" alt="a yellow star" align="left">
If you're the kind of player who likes to kill shopkeepers for their wares, take care, because after Duppo dies you may not be able to access his tables any more (save first and see). I don't know if this is a common occurrence.</blockquote>

The lockers in the police station hold various weapons and ammo, but if you try to pick them the guards will attack without warning. Sheriff Dumont and Deputy Karl both carry Gauss Rifles, one of the best weapons in the game... so you might want to steal their ammo.<br><br>

If you approach Dorothy, the woman outside the building northeast of the police station, during daylight hours she'll ask for help dealing with a madman with a bomb. The lunatic in question is Jack, a policeman whose ex-wife Mira is the green-haired woman in the bazaar. If you tell Dorothy it's not your business you can still go in and talk to Jack, but it gives you a little less time to initiate dialogue. There are several things that can happen now:

<ul>
<li>Talk Jack out of it, if you have Speech 80% or the Speaker perk. The easiest dialogue path here is 1, 2, 1, 2, 1, 2, 1, 2 (there's only one node where it doesn't matter what you say). If you succeed, you earn 6000 xp. Talk to Dorothy for another 3000 xp (although it doesn't say on your screen), a Big Book of Science, a Scout Handbook, a First Aid Book and a Deans Electronics.
</li><li>Wait for Jack to begin his routine ("Bite me! This is Jack!") and blast him with a couple of Jackhammer bursts at point blank range. Watch out - if you don't kill him, he'll shoot back! Tell Dorothy there was no alternative to killing him, and you get the books and 3000 xp. If you tell her there <i>was</i> a way to avoid bloodshed, you don't get anything except loot from Jack.
</li><li>Let him blow up, then repair the bank of monitors on the wall (not the nearby computer) with either Science or Repair. (You can do this even if you don't get the option to tell Dorothy you're good at repairing things, which requires Repair 65%.) You'll get the 3000 xp and books reward, plus the stuff you find in Jack's body parts.
</li><li>Let him blow up, then stand back and watch as Dorothy fails to repair the computer. She <i>may</i> die in the resulting explosion, in which case you can pick up a Scout Handbook and Deans Electronics from the ground, but as you can imagine you get no other reward for this. The forcefields to Westin's and Carlson's estates go down... but if you enter the Westin map without permission from the guard you have to kill him (no one else cares), and if you enter Carlson's yard without permission you have to fight an entire mapful of guards, which is bad, so there's no point to any of this.
</li></ul>

If Jack lives, you can find him in a cell in the police station, raving. Strangely he's still got weaponry in his inventory. If he dies, however, quest 11 pops up in your Pipboy (see below).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you don't wait until Jack begins talking before shooting him, Dorothy and/or the guards may attack you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you steal the two books Dorothy is carrying before getting the reward, she only gives you the two (Science and First Aid manuals) she is not.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can repair the computer before anything else happens, and talk to Dorothy for her xp and book reward. If Jack then damages the computer and you fix it again, she'll give you another 3000 xp and two more books.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the unpatched version you could get infinite rewards from Dorothy by using Repair on the computer repeatedly and talking to her in between.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Funny detail: as Jack blows up, during the death animation you can click on his body parts flying through the air and get more of Jack's spoken lines from them. You can shoot at them, too - but if you don't kill him he may pull himself together and shoot back!</blockquote>

When you come to NCR for the first time you should head right over to the Hubologist in the church downtown. You want two things from her: quest 6 and the zeta scan. Getting the scan will either raise your Luck by 2 or lower it by 1; both permanently, so save first and decide which you want. It also makes you an AHS-1 Hubologist, which has basically no effect in the game except that you can't get the slightly different zeta scan in San Francisco. If you manage to offend her she won't talk to you any more.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If your LK is 1 and gets lowered, it will remain at 1 but if you later get the Gain Luck perk it won't do anything (since technically it will raise the Luck variable from 0 to 1). This goes for the zeta scan in San Francisco as well, of course.</blockquote>

The doctor in the hospital will not sell you Stimpaks, but you can take stuff from his bookcase. If you fail a Steal check Doc Jubilee will notice if you take the Heart Pills and/or Poison hypo and make you put them back. However, if you put the two items in your inventory and then drop them from within the loot interface, he'll be completely oblivious after you pick them up again. Talk to the doctor and ask about Vault 13 to have him mention a certain Saltbeef. He will always charge $50 for healing, heals only HP and cannot heal NPCs.<br><br>

Leave your party members behind before going into Dusty's Cantina. There's an obnoxious guy in the corner named Hoss who'll provoke you into a fight when you walk up to him. Beat him down to 23 HP, or just put a gun in your active item slot, and he backs down. Afterwards Dusty will give you a free Booze every time you talk to him. If your party members are nearby they'll draw their weapons and may bring the guards down on you, which is why they shouldn't be around. If you're somehow too weak to handle Hoss you can end the fight by running to the nearby exit grid.<br><br>

The guy outside the Brotherhood building (which is empty) is as useless as the one in the Den unless your level is 9 or below, in which case he'll answer one question.<br><br>

To get to Westin's ranch to the west you can either talk to Dumont about work and get a recommendation, or have quest 5 from Vault City to deliver a holodisk. In the nearest building inside you find Saltbeef, the old drunk. Giving him a Beer or similar (except for Rot Gut) you can get him to tell you about how he found Vault 13 and how he scribbled a map on the back of a painting, which is now in the possession of doctor Jubilee. Jubilee will sell the painting for a whooping $10,000 (which you can steal back). Once you have the painting, examine it and Vault 13 shows up on your world map. This is not really necessary even for diplomatic characters.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: The guard will let you into Westin's estate if you choose the "Uh..." line.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you want to get out from Westin's estate and Grant met with an accident or something, use Science or Repair on the computer by the gate, or blow it up with Dynamite. Although you can get 50 xp by using Repair on the forcefield emitter, you can't disable it this way. The cops downtown won't react if you slaughtered the people on the ranch.</blockquote>

In the Council Hall area there's just the Congress House and Carlson's estate. See quest 10 for the former. To get into Carlson's place you can do two things. One is to steal the Presidential Pass off Gunther in the Congress House and use it (backpack icon) on the guard at Carlson's gate before talking to him. The other is to talk to Merk and ask about Carlson (will cost you $50), and if he likes you (which requires that you've performed quest 1 for him and didn't piss him off) he'll tell you there may be a job for you as a bodyguard for Carlson. Now go to Carlson's estate and talk to the guard, he'll let you pass. Actually, a third way is to use Repair on the forcefield emitter, but if you enter without permission everyone will start shooting.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Merk (and possibly his two henchmen) will reside in the north wing from 8.00 to 12.00 and in the vestibule from 12.01 to 16.00. If you try to talk to him in his room he'll shoo you out and attack if you stick around, unless you're a Porn Star (of either gender). Carlson's guards don't care if you kill him.</blockquote>

You can tell Carlson's kid to ask Carlson if you can see him; if you mention Bishop's name the kid will say you can come in, but Carlson still won't talk to you. The guards outside the door, on the other hand, always say that Carlson is ready to see you. No matter. To kill Carlson, use 5 Super Stimpaks on him and wait 10 minutes, or else you can open the gate to his garden, go round the house and shoot him through the window (actually just standing in the back of his room works too). Save first, and you may have to make sure the kid is on the other side of the yard (he can be pushed). You could do a Sneak-kill as well. When he's dead, might as well pick up his Pancor Jackhammer.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Strap: "I always loved assassinating Carlson in the NCR by planting explosives on his kid and sending him in to see his daddy."</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
|There's a rumour that the Shiv can be used for this assassination, but it actually can't. I suppose what keeps this rumour around is that there's a certain logic to it: the Shiv is a non-detectable weapon and NCR is the place where you're not allowed to brandish weapons, and what else would you use a Shiv for but an assassination?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
NCR is another area with lots of empty containers. If I'm not mistaken the only stuff you can find in the downtown area is: map in Ranger HQ, Dr Henry's papers, some stuff in Dusty's Cantina, and Doc Jubilee's bookcase. Except for Duppo's wares, of course, and the locked containers in the police HQ that you have to kill everyone to get to. The council and ranch areas are completely empty.</blockquote>

<ol>
<b></b><li><b>Retrive papers from Dr Henry.</b><br><br>

When you return to Merk after quest 7, you'll get the option to take this job (you only get one chance to accept, unless you choose the "information" line, in which case you get another chance). When you return with the papers (just "retrive" them from the desk at the doctor's place) you get 1000 xp and $1000. If for some inscrutable reason you killed Dr Henry Merk will attack after giving you the reward, and Lenny and Mira will join him in the fight (with CH 9 you can pay him $500 to let you go... yeah, right).<br><br>

<b></b></li><li><b>Test mutagenic serum on a super-mutant. Try Broken Hills.</b><br><br>

Talk to Dr Henry with at least Science 80%, ask about cyber-genetics and he'll ask you to inject a super mutant with a prototype serum. Well, find a super mutant and use it on them, and the mutant melts into a puddle of bones and goo (1000 xp). Seems Dr Henry has to work some on his cyber-genetics skills. Return to Dr Henry ("He's dead, Jim") and you get Cyberdog for an NPC if you want, but you probably don't.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
For some reason I think Elmo in Broken Hills makes for a suitable test subject. If you're evil, you can use the serum on Gond in the Ranger hideout. The other Rangers will attack, but the guards don't mind if you kill them. If you use the serum on Lenny in the Rawhide Saloon, the patrons will offer startled floats and Merk will turn hostile. You can also use it on Marcus if he gets too annoying. Cristian Golumbovici reports that using the serum on Frank Horrigan at the end of the game does nothing. Then again he's not your average super mutant (and more specifically, he doesn't have the correct kill type).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you use the serum on a super mutant in combat mode, you get the 1000 xp and complete the quest but the mutant will take one or a few turns before dying. If you kill it before then and loot the corpse the Mutagenic Serum may still be there. This way you can use the serum on, for instance, Grundel in the Military Base and still get combat xp for killing him. Nimrod adds: "If you get into combat with a supermutant, kill him, and have enough AP left over before combat ends, you can use the serum on the dead body and complete the quest. This can be used in the NCR if you fight Lenny since the hypo doesn't get taken away when you enter the ring, meaning you can complete the quest quickly without leaving town or needing to kill any friendly super mutants. The only quirk is you don't get the toxic meltdown animation. Using it on him in combat got me stuck in the ring. However using it on him after he's dead but before the combat ends doesn't get you stuck." The Masticator warns: "When fighting Lenny the super mutant, if you use the anti-mutant syringe before you damage him in combat he will fall on the floor and he is counted as alive, but unable to move. This traps you in unending combat mode. However, if you damage him at least once before using the syringe he dies normally." Using the serum on him while he's still alive will make Merk hostile, though (assuming you kill Lenny before the serum takes effect, so that you don't get stuck). As far as I know, other mutants don't cause this bad freeze-up.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to Cyberdog after reporting back, you can ask Dr Henry about cyber-genetics again and get the whole quest all over again. Another bug is that if you turn him down after he describes his work, asking him again will eject you from dialogue. Saving and loading the game fixes this.</blockquote>

<b></b></li><li><b>Deliver Westin's holodisk to Lynette in Vault City.</b><br><br>

When you deliver Bishop's Holodisk to Westin he'll ask if you're a Vault City citizen, and if you are he gives you this quest. (If you have the quest to kill Westin you can do it before you leave, since there's no additional reward once you deliver his disk.) For a successful delivery you get 1500 xp, a H&amp;K G11 and 2 Frag Grenades, which Randal in Vault City will supply.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Lynette thinks highly enough of you when you deliver the holodisk, she'll make you Captain of the Guard, a position which has several advantages as decribed in the Vault City section. To pull this off you need CH 8 and getting Lynette's "respect counter" high enough by adressing her as First Citizen at every turn. The easiest way to do this requires Speech 75% and being a citizen (which you obviously are since Westin gave you his disk), and can be done right before giving the disk to Lynette. Say you have a question for her, ask why they don't live in a vault, and then pick the last option to leave dialogue. Do this 10-15 times (or more if necessary) to raise the respect counter before giving her the disk. If you become Captain, you get 2500 xp for the delivery instead of the usual 1500 xp.</blockquote>

<b></b></li><li><b>Get the map from the NCR Rangers, for Vortis the slaver.</b><br><br>

Save before talking to Vortis in the bazaar, because if you're good and annoy him he won't talk to you any more. Also the overseer in metal armour will attack if he sees you between 4 a.m. and 12 a.m., so rest until noon to be safe. Ask for work and agree to get a map. Just walk over to the Rangers' headquarters in downtown NCR (the place with a super mutant and people in Combat Armor) and take the map from a table in the garage, then return to Vortis for $500. Now's a good time to finish quest 5. I think you're still being a good guy, because obviously they won't have an opportunity to actually use the map before you wipe them out...<br><br>

<b></b></li><li><b>Free the slaves in the slave pen, for the Rangers.</b><br><br>

First get quest 4 for the slavers. Then talk to Elise, say you hate slavers, and agree to prove yourself. Go to the slavers, hand them the map and bump them off, which should be easy. Free the slaves by accessing the terminals (use any skill or the hand icon, the check is for both Science and Lockpick). Then return and join the Rangers for 3000 xp and a Ranger Pin.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can become a Ranger the first time you talk to Elise, by telling her you hate slavers but then that you have to think about what she has said, and leaving dialogue. When you talk to her again and agree to become a Ranger you get the 3000 xp right away and the quest pops up crossed out in your Pipboy.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You actually only have to open one set of cages before returning to Elise, and oddly enough you can kill all the slaves first and still finish the quest. If you free the slaves before taking the quest, you don't get it. Obviously you can't get this quest if you're a Slaver. Elise and Gond won't attack you, but the guy with the Minigun does if you talk to him.</blockquote>

<b></b></li><li><b>Deliver Hubologist's field report to AHS-9 in San Francisco.</b><br><br>

You can get this quest in two ways. One is to answer "Yes" when talking to the Hubologist for the first time, and then either choose the "Transcendency" line to trick her into thinking you're higher ranked than she is (Speech check), or choose the "aura" line and then ask how things are going (IN 8 and Speech 65%). She'll then give you this quest. The other way is to get Merk's quest to kill the Hubologist and tell her, but say you won't do it. Although the dialogue ends at this point, you'll get the letter in your inventory and the quest in your Pipboy. Delivering the report yields 500 meagre xp with no additional reward from either AHS-9 or the Hubologist in NCR. Hmpf. At least you can kill the Hubologist for Merk and still finish this quest.<br><br>

<b></b></li><li><b>Kill Hubologist in NCR for Merk.</b><br><br>

Remember to get the zeta scan and delivery quest first! When the Hubologist is dead you earn 2000 xp and can return to Merk for his next task. You get these xp even if you don't talk to Merk first.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Now for a quick lesson in how to kill silently for fun and amusement. Basically there are three ways to do this: 1) Feed your victim a number of Super Stimpaks in quick succession (put one in an active item slot and use them from there for convenience). Each one does 9 damage, so you should have the Awareness perk and divide the HP of your intended victim by that number, rounding up. Wait 10 minutes using the Pipboy, and voilà. 2) Set an explosive to go off and plant it on your victim using Steal, or drop it one or two hexes away while sneaking (darkness helps). If your target doesn't die from the blast you'll enter combat mode which is usually bad, and the same happens if another critter is harmed by the blast. However, you can circumvent these effects by running far away from anyone who's allied with the victim before the bomb goes off. If you can survive the blast you can even keep the explosives in your own inventory and stand next to the victim. A clever variation of this is the concept of "satchel charges", as described by Corpse: "I found a cool way to assassinate people with explosives. If you have the Bag you find in the Modoc mole rat lair, just place the explosives in it, set the timer (while they are in the Bag), then drop the Bag with the explosives next to your victim and run. Kaboom! You could even do that when they are with a large group of goons and no one will notice. This also works if you place the explosives in any container (a locker or a desk etc.) near your victim." If you're setting more than one bomb at once, make sure there's a wall or something behind the victim so they don't get thrown back by the first blast and avoid the others. 3) Enter Sneak mode and dispatch your victim in normal combat, but you only have one round in which to do it. It doesn't matter if you use a "loud" weapon and most often it doesn't matter if there are people around. You'll probably have to hit end turn once before being able to end combat, but if you've played the game up until this point you may already know it often works that way.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
If you kill someone using Dynamite, crashes may occur. Just try again and eventually it should work (or if not, well, switch to another method). People have also reported crashes when using the Pipboy to wait for Dynamite to explode, or leaving the current map (which forces explosives to go off), but it's my belief that these things do not in themselves cause the crashes. Also, as noted previously in the guide, it's not a good idea to save while there are explosives waiting to go off.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
It is not recommended that you run off a map while waiting for explosives to kill someone. Although they will take damage and die as appropriate, any code related to their death (like setting death variables or moving shop inventories) will not be executed, which could halt quests in their tracks or cause other problems. For instance, in the case of the Enlightened One, you wouldn't get the 2000 xp and Merk would never consider the task to be completed.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Running off the map while waiting for someone to die of a Super Stimpak overdose is also likely to crash the game. This will not happen for all nameless characters like NCR townspeople, but you can be sure that it happens with any critter that needs to set variables or do other things upon dying (and the Enlightened One is one of them). There is normally no reason to do this anyway.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
In some areas killing certain people will make others hostile even if you manage a "silent" kill (e.g. Torr in downtown Klamath, AHS-9 or Westin if you do the Sneak-kill). You may not be attacked right away, but attempts to communicate or walk around openly are likely to end badly. This is because some death scripts set variables and so on regardless of how that death came about. Death by Dynamite or Super Stimpak should only have this effect in very rare cases, though.</blockquote>

<b></b></li><li><b>Stop brahmin raids.</b><br><br>

Go to Westin's ranch and talk to Felix. With a recommendation from Dumont or Lynette, or if you have IN&lt;4, he'll unlock the door for you. Westin will ask you to solve the mystery of his disappearing brahmin if you tell him Dumont sent you, or if you have IN&lt;4, or if you ask him where to find Vault 13, or if you killed Bishop for him and ask if there's any more work. Talk to Felix again and you're teleported to the pastures. Wait a while... and two talking deathclaws appear and depart. You can now return to Westin and tell him he only has to post a guard for 1000 xp and $200. He'll also give you the location of Vault 15, which you probably don't need.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have a high Outdoorsman skill (100%) an exit grid will pop up in the northeast corner when the deathclaws are gone. Go there and follow them to their lair... Vault 13! There's actually a small glitch you can exploit here, but not to any great use. Even if the rocks aren't removed to reveal the new exit, you can click one of the hexes at the top that are half offscreen, and your character will run off the screen further down and onto the exit grid! You then get to go to Vault 13; however, it doesn't actually appear on your world map.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you should leave the pastures by either exit grid before the deathclaws appear, or if you refuse to follow Felix to the pastures in the first place, you can't end the quest. This can be fixed by pressing 6 on the NCR town map (this is cheating), which brings you to the cow map so you can finish the quest (Felix and Westin will wait indefinitely for this).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you already repaired the computer in Vault 13 you won't get this quest (except if you ask Westin for work directly after reporting that you killed Bishop), but you can use the same dialogue options to meet Westin. If you've talked to Gruthar before following Felix to the pastures, the deathclaws there will call you by name!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't attack the brahmin, because the game may lock up if you're in combat mode when the deathclaws appear. If you kill the brahmin afterwards Felix and Westin don't seem to care. For that matter, you can kill the two deathclaws for 2400 combat xp and the deathclaws in Vault 13 won't care either.</blockquote>

<b></b></li><li><b>Eliminate Mr. Bishop.</b><br><br>

When you have Bishop's quest to kill Westin, tell him Bishop sent you and listen to what Westin's got to say. He'll offer you 50% more than Bishop did, and you can either tell him how much you were going to get or lie, adding 50% to your base payment (meaning Westin will offer $2250 if Bishop was offering you $1000 to begin with). Now all you have to do is kill Bishop in whichever way and return for your payment but no xp. A much better idea is to kill Westin and get Bishop's next quest.<br><br>

<b></b></li><li><b>Retrive Parts/Gain Access to Vault 15.</b><br><br>

Sheriff Dumont, Deputy Karl, Dusty, Doc Jubilee and the slave overseer have all mentioned that President Tandi is looking for a "specialist". Go to the Congress House and tell first Feargus and then Gunther that you're there for the job. Talk to Tandi and take this quest to "retrive" the computer parts, but don't ask for a reward! She'll put Vault 15 on your world map, of course, and give you infinite holodisks if you ask her about NCR. If you want to you can go to Deputy Karl and ask to see the prisoner. Attack him once and he'll give you some background information. No one cares if you kill him, actually. Off to Vault 15, then.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|That's another Feargus right there. If you use Steal, First Aid or Doctor on him, for some reason he walks out of the building and disappears! I think that's some kind of bug. If you leave the map while he's still walking, he'll stop and you can then talk to him as usual. You can come in to see Tandi and get the job by assassinating Feargus and Gunther, but then it'll be hard to pick up the reward.</blockquote>

To complete this quest, either "win condition" will do. To secure access to the vault you must have killed Darion and talked to Zeke about letting NCR annex the Squat, in which case you don't need the parts. Or else you could just walk into the vault, take the parts and return with those without dealing with Darion. Tandi sends you to Gunther who will reward you with 5000 xp and $6000 no matter if you killed Darion, got the parts, or both. If you asked for money before, you only get $500 (but the same amount of xp). People are strange.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you discovered Vault 13 and was allowed entry by Gruthar, you can tell Tandi about it when you report back about Vault 15 (and only then). If the deathclaws are still there, you have no option but to tell her about them, in which case she will think you're crazy. However, if you killed Gruthar, or if you visited Vault 13 after the Enclave killed the deathclaws, you can tell her it's free for the taking, and you will then gain a bonus when collecting the reward from Gunther. If you ask for $20,000 you will get that in addition to your normal monetary reward, otherwise the bonus will be "only" $10,000. In each case you also gain 2000 xp and 35 karma, so I don't see why you shouldn't ask for the twenty grand.</blockquote>

<b></b></li><li><b>"Take care of Officer Jack" for Mira.</b><br><br>

Talk to Mira with a stupid character and at least ST 7; Merk will point you in her direction if you talk to him. She'll tell you to climb a rope over the city wall (it appears near the right edge of the map, you don't really need it). If it's nighttime when you enter downtown, Jack will be in the police station. Wait until dawn, and he'll walk over to the power station and threaten to blow himself up (see above), which is the best opportunity to waste him (2000 xp) without annoying anyone; you can actually let him blow himself up with the same result. When he's dead, head over to the bazaar and talk to Mira for your reward - a HK P90c!

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This quest pops up when Jack dies even if it wasn't active before, so you can go and get Mira's reward although you don't get the extra xp for killing Jack. All characters can do this. If you let Jack blow himself up she says she's giving you a rad-a-waster, but you don't get any Booze in your inventory like you would if you bought one. If you killed him yourself, however, she gives you the HK P90c.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
For a normally non-stupid character, the best time to get this quest would be after talking Jack out of blowing himself up. Use Mentats, Psycho and/or Buffout to get the quest, then go kill Jack silently in his cell for the 2000 xp. You must remain stupid to collect the reward.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you fought Lenny in the ring, Mira's dialogue will be different and you won't get the quest, and if you already got the quest you don't get Mira's reward (whether you're stupid or not).</blockquote>

<b></b></li><li><b>Complete brahmin drive.</b><br><br>

Talk to Duppo about work and he'll give you this quest. The caravan master shows up outside the gate to Westin's estate around 8 a.m. next morning and waits there for 6 hours, although he won't disappear as long as you stay on this map. You should save your game before talking to the caravan leader, and keep that slot intact until you're done with this quest, because like all caravan jobs it's buggy as hell. On your way to Redding you'll face 1-4 random encounters of extremely varying difficulty (see Redding for caravan behaviour). Upon arrival you earn cash depending on how many brahmin survived: $0 (0), $1000 (1-3), $2000 (4-5) or $3000 (6-10), but no quest xp. Since you actually walk all the way from NCR to Redding this quest will take a while in game time (more than 2 months walking back and forth). If you have the car you don't get to bring it. Of course, you could take your chances with another caravan... If you ask Duppo about work after this quest, he'll tell you to come back in a few months, but this dialogue never changes no matter how long you wait.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This caravan job differs from the usual ones in a few ways. Firstly, Hal won't give the all-clear signal out loud, so you'll have to use your own judgement (remember that mobsters must be killed). Secondly, you <i>can</i> abandon this caravan - or even kill everyone in it! - and still go to Redding and pick up your reward (always $1000 in this case, unless all the brahmin died before you left the caravan). Thirdly, there will be one less guard for each of your NPCs if you have any.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't click on Hal in caravan encounters, because this will reset the "encounter counter" (as well as every other caravan variable such as the number of guards and brahmin), meaning you can literally get infinite encounters. While this could be a good thing if you want lots of xp and weapons - some of these encounters are much tougher, but also more rewarding, than normal ones - it could also get a bit annoying. Remember to bring plenty of ammo...</blockquote>
</li></ol>
