h2 Raiders

<blockquote>"Wish I had some other map I could go to."<br>
--Mercenary</blockquote>

Wallace and Stark in Vault City will both ask you to find the base of the raiders who plague them. It's not as hard to find as they make it out to be - it's the conspicuous green circle south-southwest of Vault City. The raider base has two entrances, one through a cave ("Cliff") and one through a manhole ("Well"). The first time you come here you end up by the manhole if you pass a difficult Outdoorsman check or if you read the Raiders Map, else you will find yourself outside the cave opening.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you finish the game and wonder why there's an unused button on the world map screen, it's supposed to be the Raiders button. Before the patch it did show up, but mislabelled "Arroyo". It seems they didn't quite manage to fix it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Notice how the raider base as well as Broken Hills happen to be on a beeline between Vault City and NCR, in approximately the same way that Modoc is on a beeline between the Den and Vault City, Redding is on a beeline from the Den to New Reno, and Shady Sands was on a beeline between Vault 13 and Vault 15 in <i>Fallout</i>...?</blockquote>

If you start out by the cave opening, go inside. Three of the passages here are lavishly mined. Use Traps on the floor plates for 25 xp each, or step on one and start a chain reaction if you don't have the patience (you can also set them off by dropping explosives). All nearby mines won't necessarily be triggered in this case. There's a lot of them, but they don't do much damage. Beware that the middle lower passage has a mine which cannot be disarmed, and your party members seem to love treading on it.<br><br>

Also look out for four invisible pitfalls. With a good PE you can spot them before you fall down (giving you a few points of damage), but unlike the floor traps the pitfalls won't automatically make you stop when you notice them, so unless you usually move a hex or two at a time you're probably going to fall down anyway. Below is another cave which holds giant scorpions (tougher than your average radscorpion) and many miscellaneous items (Hunting Rifle, Leather Armor among other things) strewn on the floor among the bones. There's also a pile of rocks like the one you got the Wrench from in Vault City, but nothing happens when you manipulate it. Take the ladder to go back up again.<br><br>

Northeast of here you find the actual base, and this is also the map you arrive on if you go down the manhole. If you come from the direction of the mined caves, there are two more rows of mines to deal with, as well as a chainlink fence with two locked doors in it. The first time you set foot on this map, you get 500 xp and can now return to Vault City to report you found the raider camp. Wallace will give you a Day Pass if you aren't a citizen, but Stark will just send you to Lynette and Lynette will just ask you to go back and kill the raiders.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you go down the manhole and back up again, your car will be gone, but don't worry. Just leave the area, access the town map and go to the cliff, and the car will be there. This is one of several bugs that the patch readme file claims were fixed but which weren't.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Fighting the raiders will be a lot easier if you approach from the well. Just show yourself in the narrow opening to the main room, and they'll come running for you. Run back behind the nearest corner, then forego your turn repeatedly. Cassidy or someone can stand there shooting them to bits at point blank range with a Combat Shotgun, while they ignore him and pile up in the narrow passage trying to reach you; this also works to some extent for an HtH party. If you approach from behind the fence you'll have a hard time keeping the raiders from sniping you with their FN FALs. However, if <i>you</i> have a Scoped Hunting Rifle and Small Guns 150% or so, feel free to snipe right back from where they can't get to you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Although there have been rumours that you don't always have to fight the raiders, this is not true.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
When you tell Lynette you found or wiped out the raiders, you can demand money for your information if you're a citizen: $100, $200, $400 or $500. This is pretty bad, though. Firstly, if your Barter skill is not up to what you ask, Lynette will have you expelled from the city and revoke your citizenship. Secondly, you can't ask on both occasions, so the most you can get out of it is $500. Thirdly, if you do this she won't give you the usual reward of $1000 (and 1000 xp) when you destroy the raiders. Well, this somehow seems like familiar CRPG behaviour.</blockquote>

p.
  There's a native standing around named Shadow-Who-Walks. This is the native guide Stark was talking about. He won't necessarily join the battle right away, and it's possible to keep him alive and neutral through the entire encounter, although he says nothing and does nothing anyway. Well, actually he does say something if you click on him 30-50 times for a secret message.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
A rumour says that it was originally meant to be much harder to find the raider camp, which makes a lot of sense given how Stark talks about it being nigh on impossible. Supposedly you'd either have to find Bishop's map, or perform a quest involving this tribal guide somehow. Designer Chris Avellone has said that you were supposed to be able to talk Shadow-Who-Walks out of helping the raiders and thus "break their strength" (see below) without having to fight them.</blockquote>

In the northwestern part of the map there are three "merc leaders", having the combat armour look, each of them standing in front of a locked container with Dog Tags in them. Collect all three and go to the safe. First of all, examine it for traps, and if your Traps skill is decent (50% will do if you save first and try a few times) you can disarm the trap for a stick of Dynamite. Next use the numbers on the Dog Tags (just keep all three in your inventory) to open the safe for 500 xp. With Luck 9 it's possible to open the safe without the combination. In there you'll find amongst other things an Account Book, which you should hold on to.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can only open the safe by repeatedly "twisting its nose" (LK 9). You can't disarm the trap, but you can set it off by dropping some explosives of your own next to it.</blockquote>

Once you leave the barracks map after having killed most of the raiders (leaving four or less alive), you'll get a message saying you've broken their strength and 2000 xp. This means there'll be no more raider encounters in the area. You can now return to Vault City... Wallace and Stark just tell you to go to Lynette, but she'll reward you with 1000 xp and $1000 for wiping out the raiders, and if you have the Account Book with you, show her that for another 1000 xp and $500.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you left any raiders alive in the base when you get the 2000 xp, they die and you don't get any xp for them (though you can loot their corpses), so make sure you finish them all off before leaving the map. This includes Shadow-Who-Walks. Maybe they get so angry they have a collective aneurysm.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have Bishop's Holodisk you can't show it to Lynette until after you give her the Account Book. Importantly, if you have <i>both</i> the book and the disk in your inventory when you report back to Lynette, you miss out on the reward for finding the Account Book and skip directly to Vault City quest 5. So drop the Holodisk first.</blockquote>
<hr>
