h2 Redding

+fancyQuote("--Josh and the Chosen One")
  p.
    Why, I hear that tribals eat their damn dead."
    #[br]
    "How else could we grok their essence?

Redding is the second of the two mining towns, or the first, depending on how you look at it. Like most of these towns, it's very loosely connected to the storyline (what <i>is</i> the storyline?); basically your actions here determine whether it's Vault City, New Reno or NCR that gets to benefit from the mining prospects.<br><br>

Sheriff Marion has hurt his leg and needs a deputy. You need to be level 10 before he'll deem you worthy of the job. The first task he sets you means evicting a poor old widow. She's in the building to the south, next to the well. If this is your kind of work, tell her to scram, then collect the 1000 xp and $100 from the sheriff. Since Mayor Ascorti will be pleased with your performance, you can go talk to him and get a Beer each time. If you're good, instead give widow Rooney the $120 she needs and you get 1500 xp (you always get more xp being good!) plus the aforementioned cash reward, but no Beer. Although you can pay Rooney's debt directly to the mayor, don't do this as you won't get any xp. Proceed to quest 4 to see what the sheriff has in mind for you next, and remember to take everything in his house.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's a bug here which actually goes for his next two quests as well (number 2 and 4 in the quest list): as long as you don't agree to take the next quest, Marion will give you whatever monetary reward you had coming every time you talk to him.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The sheriff gives you a badge, but it doesn't make any difference whether you bring it along or not. As far as the game is concerned you can dip it in chocolate and eat it the first thing you do. Also, if you're a Ranger when you come here, Marion will recognize you for such a one. (He doesn't if you talk to him after you do his quests.) This doesn't make any difference to anything, either.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This isn't very interesting, but you can kill Rooney, then use Sneak to talk to the sheriff (who will have turned hostile along with the rest of the town). He'll complain, but he'll give you your reward and tell you to get on with the next quest. Also you can go to Ascorti and get a funny dialogue out of it. Then load your previous save game, because sooner or later you'll have to fight everyone.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
It seems reasonable to assume that it's an oversight that this does not have a quest entry in the Pipboy... as well as the business with Mayor Ascorti and the mine.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Jon Lynch: "In Redding, you can use the Doctor skill to heal the sheriff's broken leg, although he won't realize you did this and will still whine about it. Note that this will not work on the cook in Navarro."</blockquote>

Madam Modjeska south of the saloon will talk to you about politics. There's a guy standing about with a rifle who'll fill you in on strange goings-on and introduce you to the notion of wanamingos (<i>not</i> "wannamingos" as everyone (including Chris Avellone) seems to be spelling it). You may also notice a brat named Melchior Jr. who talks about his dad, a stage magician. You'll be running into Melchior Sr. later on, but it's nothing important.<br><br>

Mayor Ascorti is the owner of the Ascorti's Ace casino and city hall. He'll offer to sell you the deed to the Great Wanamingo Mine for $1000, and once you clear it of wanamingos he'll buy it back for $2500. Plus you get 1000 xp for this. The cashier in the casino has a few thousand dollars to barter (replenishes every two weeks), and you can gamble as well providing your Gambling skill is at least 25%.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can actually kill all the wanamingos before buying the deed, and once you do Ascorti will immediately know the mine is cleared so you can sell it back.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
It takes about Gambling 80% to break even at the slot machines, but if you win too much the machine will stop functioning for one day. To break even at the craps table you need about Gambling 110%. With 120% you'll win slowly but steadily; just weigh down the 5 key for a while. Any more than that and you can win tens of thousands of bucks in a short time, though it beats me why anyone would want to spend skill points on Gambling before the point where they'd get almost infinite cash from looting guns anyway. As pointed out by Misha, the skill check is easier at lower bets and you can win at Gambling 100% if you press down 1 instead, although it will take longer. Note that to use a slot machine you must stand to one side of it; the game doesn't seem to care that the person blocking the machine is you. In v1.0 you didn't get any money from winning.</blockquote>

In the Malamute saloon there's a female prostitute. If you're male you can sleep with her for $60, and then she'll tell you a sad story about how her boyfriend broke his leg and all and ask for $200 so she can begin a new life. It's a waste of money and she won't (she'll ask for another $150 each time you talk to her after that). You can also rent a room here, which works the same as in Klamath.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Lou who owns the saloon won't talk to you if you've some non-human NPCs in your party (Lenny, Marcus, Robodog, Goris, Laddie or the Brain Bot (best brain only)), so you'll have to drop them off if you want to talk to her (which is usually only when you're doing quest 2).</blockquote>

After listening to Painless Doc Johnson and his assistant talk, ask him about the Jet problem in Redding. You can also buy some stuff from him (but he doesn't restock), or pay for healing (costs $50 (one person) or $100 (two or more) for HP, same NPCs as Dr Troy in Vault City, radiation and poison costs another $100). If you give him a dose of Jet Antidote you get 2500 xp. You can charge him $2000 for it, and it doesn't even lower your karma (although you do get 25 karma if you give it to him for free). He'll perform combat implant surgery cheaper than any other doctor in the game (assuming you found out about that in Vault City and can part with a Combat Armor for each as usual).

<ul>
<li>Dermal Impact Armor: $5000, 2 days.
</li><li>Dermal Impact Asslt. Enhance.: $30,000, 5 days, CH <nobr>-1</nobr>.
</li><li>Phoenix Armor Implants: $8000, 3 days.
</li><li>Phoenix Assault Enhancement: $30,000 (though he says and checks for $48,000), 6 days, CH <nobr>-1</nobr>.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If anyone in your party is hurt or you are radiated, the opening dialogue will look a little different and you won't get the option to ask about implants, so you'll have to let him treat you or treat yourself first.</blockquote>

In the north part of town, where the mine headquarters are, you can get a job as a caravan guard going to Vault City (Ben Wade, $1000, on the 1st of odd months), New Reno (Savinelli, $1500, on the 21st of even months) or NCR (Stanwell, $2000, on the 11th of even months). The dates and pay are exactly the same when going in the other direction, except that odd months become even and vice versa. Here's a rough description of how caravans work:

<ul>
<li>During each trip you'll face from zero to four encounters. The caravan leader will tell you if it's OK to move on ("Let's move out"). If it's a hostile encounter, you'll need to kill the bad guys (even if they don't initiate combat themselves).
</li><li>If you run off the map before the all-clear is given, this counts as abandoning the caravan and will put you on the world map. The caravan leader will effectively be dead, so you won't get any pay or more caravan jobs from him.
</li><li>You won't get to bring your car, and illogically the caravan path does not light up on the world map, although the specific squares where you have encounters do.
</li><li>If the caravan leader dies, he'll still be around invisibly to give the all-clear signal.
</li><li>If you steal from or attack caravan drivers or guards, the others won't care. Killing Stanwell, Wade or Savinelli turns Redding hostile, though.
</li><li>Sometimes you may have to run off an encounter map twice to make any progress.
</li><li>Beware the generally buggy behaviour of caravans. Things that can happen include the caravan "dissolving" on the world map although there was no obvious threat, and caravan leaders not being present on arrival or refusing to talk to you.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
For the Redding caravans, if the caravan leader dies along the way but you still make it to your destination, a clerk should turn up (sometimes doesn't) and pay you a reduced wage or nothing at all. You can talk to him over and over again and get $50, $100 or $150 each time (he will only state the correct amount if it's $150). In any case there won't be any more caravans on that route.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you run into New Reno mobsters, you must kill them to proceed with the caravan even though they count as good critters and aren't hostile. If you encounter a Den caravan, the slaves do not raise the "hostiles on map" counter when created, but decrease it when killed. Thus if you kill all of them (and it's hard to stop your fellow guards from doing so) the hostiles counter will actually drop below zero, which leads your caravan master not to realize that the encounter is over.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Some caravan encounters involve better weaponry than the corresponding world map encounters, notably claim jumpers, homesteaders and prospectors around Redding.</blockquote>

p.
  It's a bit of fun to watch the mole rat fights between 12.00 and 17.00. You can bet on them and win about 50% of the time. If you have an IN below 4 the manager just takes some of your money. No one cares if you kill the caged rats for the xp, but this can cause the fights to bug out.<br><br>

p.
  Don't even think about looting the graves, since they're all empty. South of the cemetery there's a morbid kind of restaurant which seems to serve no useful function (except for hinting that something's going on underground). If you ask Josh about valuables you get a free Beer. He doesn't like weird party members either.<br><br>

Now for a description of the Redding underground areas. On the downtown map there are three entrances: the well south of Sheriff Marion's, a manhole in the Malamute saloon, and a manhole in the back of the casino. There are a few containers and two wanamingos down here (don't miss the skeleton). Go north and you find a cave with ladders up to the well and opened grave in the mining camp. Rats abound, and two more wanamingos can be found. Go west and you reach a system of caves infested with wanamingos. Next go down a ladder to the main level of the mine where the most wanamingos are. Once you kill them all, you get a message that you've cleared the mine, accompanied by 3500 xp. The elevator to the west will take you up to the derelict Wanamingo Mine building. You can of course enter the place from this direction as well, but it may be a little more difficult.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You should just about be able to take the wanamingos on if you've done everything described previously in this walkthrough and are at level 12 or so (with NPCs). Combat Shotguns rule, while a 10mm SMG does next to no damage to these armoured critters. If you're the sniping kind, shots to the eyes are effective at long range, while if they get too close (and it's hard to stop them) you should try to cripple their legs. Crippling any limb will make them flee, but going for the legs makes them worse at it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Actually you have to kill all wanamingos but one to clear the mine. You don't have to kill the eggs, but why let them live so they can come after you?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's a rather well hidden Metal Armor Mark II lying in the room northeast of the elevator. Look to the right of the broken crate.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you enter the casino from the manhole, and then kill the guard behind the metal door quietly (using Super Stimpaks or planting explosives), you can loot the fridge and footlocker for several thousand Mine Scrips as well as the contents of the store, but not much more. Beware that if you let the guard see you and then leave, he'll shoot on sight when you return, so be prepared to off him as soon as you open the metal door.</blockquote>

<ol>
<b></b><li><b>Kill Frog Morton.</b><br><br>

Your fourth and final mission for Sheriff Marion. Morton's gang resides in the old Wanamingo Mine building to the west and only appears when you get this quest, along with some mines dotted among the ruins (15 in all). You might want to go to this map before that so you can pick off the rats at your leisure. Morton's gang will be heavily armed, but at level 10-12 you should be able to gun them down as they come pouring out of the building. There are also three men in the buildings to the south. You gain 3000 xp when the whole gang is dead, and $1000 from the sheriff. Marion then informs you that Froggy has three brothers who'll be coming after you, namely Snake, Toad and Newt Morton. You'll run across these on the world map, one by one, but, well, that's just more weapons and ammo for you.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If a bandit spots a mine it is automatically disarmed, but the rats will set them off if they're still around.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Frog's H&amp;K G11 is a neat weapon at this point, problem is you probably won't have much ammo for it yet. Buster in NCR can sell you some, and there's a heap in the Toxic Caves. If you can kill Frog before he can attack, you'll have 100 rounds to use on the wanamingos.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
You can get to the area behind the large building if you go to the top of the screen, just left of the exit grid, then click on the ground on the other side of the fence (if you don't position your character correctly you might step on the exit grid trying to get there). There is nothing to see or pick up back there, however.</blockquote>

<b></b></li><li><b>Find out who cut the whore.</b><br><br>

p.
  Marion's third task (for some reason they're numbered in reverse chronological order). Go to the Malamute saloon and talk to Lou for a clue: a Morningstar Mine scrip (though you don't actually get one). Well then, go to the Morningstar Mine and ask around. The offender, Obidiah Hakeswill, will confess to the crime as soon as you adress him, whereupon you can kill him ($500 from Marion but no quest xp), let him go (no xp and no money from the sheriff) or take him into custody (1250 xp and $500).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
There are two possible bugs here. Firstly, killing Hakeswill before you get the quest and returning to the sheriff will earn you the reward of $500 and an offer to do quest 1, meaning you can no longer get the first two jobs if you didn't already. Secondly, as found by Szappy, if you let Hakeswill go and then insult the sheriff, dialogue may revert to before you even got the first job, though this will have no actual effect.</blockquote>

<b></b></li><li><b>Find the excavator chip.</b><br><br>

There are two chips to be found in the mine, both on the lowest level with the toughest wanamingos. You get one from the excavator, and there's another one found on the ground to the northeast, next to one of the manufacturing doohikeys. Sadly you can only sell one of them, so head over to either Dan McGrew or Marge LeBarge and sell it for $1000 and 2500 xp. Which of them you choose has no effect other than it may decide which ending you get for Redding.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
|Basically, Dan supports New Reno and Marge supports NCR. It seems the designers couldn't quite make up their minds, though, as Jimmy Hoffa has them mixed up, and if you sell the chip to McGrew then LeBarge will go on about "those prissy NCR bastards" McGrew is in league with...</blockquote>

<b></b></li><li><b>Break up the bar brawl.</b><br><br>

This is Sheriff Marion's second task for you. Head into the bar and talk to the two miners who are facing off. If you ask them to back down, they will, but nothing happens. Therefore you have to threaten them with some of the old ultra-violence and put one of them or both in jail (but don't provoke them into a fight, the whole town will turn against you). Except for what kind of comments the Sheriff and McGrew will give you, it doesn't matter one bit what you do. Your reward is 1500 xp and $300 from the sheriff.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You cannot complete this quest by talking both parties out of a fight, you have to put someone in jail. The patch notes state that getting Bette to back down should set the quest to complete, but in actuality it only sets the quest variable to the same value that it would get if you ran out the door! (Getting Caminetto to back down does nothing in either version.) So essentially, all this "bugfix" did was make a lot of people think there's a way of finishing the quest properly without throwing anyone in jail, although there never was. I always arrest them both for fairness' sake. In case you really must know, Kokoweef is the "good" mine, but let's not judge a bar brawler by her employer, shall we?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you kill the miners and use Sneak to talk to the sheriff, you'll be rewarded with $150, and of course he'll want to kill you, too.</blockquote>
</li></ol>
<hr>
