h2 New Reno

+fancyQuote("--New Reno junkie")
  p.
    Watch out! Pink deathclaw, three o'clock!

New Reno can be a little daunting, since it's a big place with lots of things to do, and a lot of things to think about, such as how to make sure one doesn't piss off any of the local crime bosses, and where did that damn car go? (Don't worry, it's around - see quest 2.) This city is run by the families Mordino, Salvatore, Bishop and Wright, of which only the last ones are not scum of the earth. Usually if you turn down a job, speak to a boss disrespectfully, ask too many questions or return to them before finishing a job, they may refuse to give you any more jobs or, more likely, attack. Toe the line if you want to keep your options open. 

For each boss there is a chain of quests, upon the completion of which you become a Made Man of that family. This means you get a popularity boost among the citizenry, free sex at the Cat's Paw, special services at the New Reno Arms (but seemingly no discount on Eldridge's normal stock, nor Renesco's), and a shot in the head if you ever go to visit any of the other families. If you don't fancy this you can still complete the final quest for each family as long as you don't return to the boss for your reward, which is when you become a Made Man. But, since you lose the Made Man reputation if you turn against your own family, it's possible to complete and collect the rewards for all quests in New Reno. There are a few things you have to think about, though. Don't become a Made Man of the Salvatores until you've got the quest from Mordino to kill Salvatore. And if you play a "good" game, become Made Man of the Wrights last so you can let them live. (Remember you can still go to the Sierra Army Depot for equipment to help you take out the other families, as long as you don't return to Wright and claim your reward.)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
For each family boss, there's a way to assassinate them (noted below) without getting blamed for it. Note that killing a boss "silently" (Super Stimpaks etc.; see the NCR section) or in these special ways will not remove your Made Man status, but attacking anyone in the family openly will.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have a family quest active when you turn that family hostile, the quest will be crossed out (set to failed) in your quest list. If you manage to talk to your employer without him attacking you may get some unexpected dialogue in this case (this happens, for instance, if you kill the guard who goes to check Bishop's safe and then talk to Bishop).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|It's possible to be listed on your character sheet as Made Man for all four families at the same time, as outlined by Sébastien Caisse: "Once you've become a Made Man for a specific family, this family won't attack you any more. First you need to do all the possible quests for them, and not collect the final reward, and not assassinate Salvatore (until you're a Made Man for him). The trick is basically to sneak past everyone and collect your final reward by talking to the bosses before they engage in combat." Ryan P. Fialcowitz and Joshua Jansen then looked into the particulars and found there is another constraint: you must become Made Man for Bishop first, since Bishop's dialogue will change for the worse if you're already with some other family. This means that if you want all four you must end up allied with either the Wrights or the Mordinos. You will need to use a combination of Sneaking and running in combat mode to reach all bosses - saving a lot is recommended. Getting through the door to Salvatore is one of the tricky parts, but John Gaw points out: "If you talk to Mason while on good grounds, you can go into attack mode later and open the door with no problem whatsoever." Two more things should be noted. Firstly, despite what your character sheet says you will only be Made Man for one family at a time as far as the game is concerned, so there's no real reward for doing all this. Secondly, attacking the family you joined last will remove <i>all</i> Made Man labels from your list of reputations, but attacking any other family, including one you joined earlier, has no effect on them.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can pretty much forget about most things in New Reno, since you can't join any family (or do any other quest). Also you can't get Golgotha, Stables or the Sierra Army Depot on your world map.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're a Prizefighter, Porn Star, Slaver or Made Man and use Sneak in New Reno you may receive comments from its inhabitants that could lead you to believe it's harder to sneak in these cases; however, they don't change the actual probability of being detected.</blockquote>

Arriving on Virgin Street, one of the first people you meet is Jules. He'll try to sell you drugs (restocks some Jet and Stimpaks every 12-24 hours), but can also sell information for money, between $25 and $100 for each family depending on your Barter skill. You can get this information cheaper from Father Tully, but you should at least get Jules to mention the names of the families. He'll also give you a recommendation to the New Reno Arms (which does nothing) and the Cat's Paw (which gives you a discount). Make sure you follow the Jet conversation thread, and the Stables and Golgotha will turn up on the world map. If you ask him about Vault 13 he puts Vault City on your world map (this goes for Mrs Bishop, Father Tully and Mrs Wright as well), and talking about Redding puts that on the map. 

Over at the Cat's Paw you can get laid, which on occasion gives you a temporary +1 stat boost for one hour:

<ul>
<li>Oral attention: Strength.
</li><li>Basic, dirty sex (CH&lt;6): Agility.
</li><li>Full body workout (CH&gt;5): Agility.
</li><li>Just talk: Intelligence.
</li><li>"Special... dramatic... request" (IN&gt;5): Strength.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The stat boost is actually imparted by an item that Miss Kitty tries to use on you or whichever NPC (would be ST in that case). Apparently most often something gets in her way and you don't get the bonus, though you can sometimes see her running a little bit and then returning to her position.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
As pointed out by Gibbering Idiot, the "talk" option counts as having sex. The first time you choose this you gain a permanent +3% to Speech, or +2% if you've tagged that skill.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Because of a bug the special request option will always cost $703, even if you're a Made Man or if you finish the game.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Any character with at least CH 9 can ask Miss Kitty for a date, but you'll have to wait for it until you've finished the game, at which point the option will be open to all non-stupid characters.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you bring Marcus for some "action" at the Cat's Paw and talk to him afterwards, he reveals that Mutants aren't actually sterile. So much for Vree's autopsy report. :) (Though Chris Avellone says super mutants are really sterile, which settles that I suppose.)</blockquote>

There are two chem dealers in the street (one of which has an Empty Hypodermic for sale; a few prostitutes throughout New Reno also have Hypodermics in case you collect them) and one in the back of the Desperado casino. The bartender in the Desperado will sell you beer and such stuff. You can gamble here, but the croupiers all carry Loaded Dice so you can figure your chances. See Redding for a note on gambling.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
New Reno bartenders will charge you more if you're a Prizefighter, if you're a Made Man for their family, or if you finished the game, and you ask them to trade in dialogue. Drug dealers charge you more if you've finished the game, if you're a Prizefighter, if you're a Porn Star, or if you're a Made Man for any family, and you ask them to trade in dialogue. Drug dealers also correctly charge you more if you carry a lot of money (which in their eyes amounts to $200 or more), but you can still circumvent this by pressing the barter button.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you plant more than one pair of dice on a casino dealer before talking to her, the dice will all disappear, and a dealer with no dice will tell you that her table has been closed down due to someone tampering with the dice. This is a remnant of an unimplemented feature where you could improve your chances by planting Loaded Dice (the dealers would originally have been equipped with normal ones).</blockquote>

Little Jesus at the bar can give you an introduction to Big Jesus Mordino if you have ST 6 or are wearing any kind of combat or power armour. If you talk to him with a Knife, Combat Knife, Ripper or Throwing Knife in your hand, he'll offer to teach you +5% Melee Weapons for $200 (you can turn him down and return later). If you're female and have at least CH 6 or are a Porn Star you'll have to have sex with him instead. Yech. However, if you do this and have a good sex rating, you'll gain +10% to Melee Weapons. He can also put Redding on your world map, and the Stables if you talk to him after becoming a Made Man of the Mordinos.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you got the correct clue from the Magic 8-Ball, use the toilet which brings up the hand icon to recover 1 Frag Grenade, 1 Plasma Grenade and 1 Pulse Grenade.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You may notice that Big Jesus' health isn't what it should be. Use a dose of Jet, Psycho, Buffout or (the cheapest option) Nuka-Cola on him; he'll have a heart attack, you get 1000 xp and can just walk out of there. Isn't it ironic? Unlike Boss Salvatore you don't get these extra xp if you kill Big Jesus in combat, so once you turn on the Mordino family this should be your first move.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're a Slaver you can sell some of your pardners to Big Jesus (Vic for $100, Cassidy for $100, Miria for $250, Davin for $200, Brain Bot (best brain only) for $500, Robodog for $500). To get this option you must either speak to Little Jesus about the subject, or ask Big Jesus about his health (Doctor 51% or Science 76%) or about Richard Wright (if you have that quest) and then say you have more questions. You can haggle once for each NPC and double the price with a successful Barter check, but any more than that and he kicks you out. Like Barkus, Big Jesus bids on one slave at a time starting with Miria/Davin. The slaves you sell don't disappear, though, they just leave your party and remain standing where they were. If you talk to them their dialogue will be as if you never recruited them in the first place, and things can get rather screwed up (e.g. if you try to sleep with Miria again the game gets stuck in a permanent blackout).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have Myron with you when you go to Big Jesus, he'll attack. Big Jesus that is.</blockquote>

p.
  Savinelli, the caravan master for New Reno, will leave from Virgin Street for Redding on the 21st of each odd month, and pays $1500 if you hire on as a guard. 

On 2nd Street, Jagged Jimmy J is the prominent Jet dealer. Listen to his story about his scar and if you have CH 6 he gives you 2 Jet for free. He can put the Stables on your map if you ask him where he gets his Jet. There are two more chem dealers further up the street. The three musicians don't do much.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Tom Hibbs found a bug: "An infinite number of Jet vials can be obtained from Jagged Jimmy J. After the first 2 that he gives you, he continues to give 1 free Jet each time you thank him and ask what else is in stock (this doesn't work if you just click the barter button). By seeing JJJ's wares and then clicking done without bartering anything, your Jet supply can climb infinitely." This only works the first time you get to this node.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: If you are a Made Man, Porn Star or a Prizefighter or if you finished the game, talk to Jimmy, and when he recognizes you choose the "mortal coil" line. This will paralyze his brain so that you can take all his stuff, which is not a lot.</blockquote>

If you go into the Jungle Gym and talk to Stuart Little you can box. You'll meet four increasingly difficult opponents: Joqq ($50, 500 xp), Pete McKneely ($50, 750 xp), Evan Holyfeld ($400, 1000 xp), and the Masticator ($1000, 2500 xp). This is assuming you get 50% of the winnings; with Speech 76% <i>and</i> Barter 76% you can get 75% instead. You also get kill xp for those boxers you manage to beat to death; this should happen some of the time and counts as a knockout. Other ways of winning include "normal" knockout (if you score a critical hit that knocks your opponent unconscious or if he himself manages a critical failure), technical knockout (if you make him flee), and points (if you somehow manage to make a fight last 12 full rounds and win the majority of them by landing more punches than your opponent). If you win four matches you get the Prizefighter reputation which lets you empty the gym lockers, makes you popular in New Reno and gives you a +5% bonus to your Unarmed skill. 

Should you lose a fight, you must ask Little for a rematch immediately or you won't get another chance. You'll then go up against another boxer (your royalties will drop to 25%, but the xp is the same). You can only convince Little to give you one more chance (unless you exploit a bug, see note below), which means you can fight five matches in all, and there's a tempting reason to do that (see another note below).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Boxing isn't very difficult, at least not on normal difficulty. In fact, without having spent a single point on Unarmed (it was at 65%) and using normal gloves, I was able to easily kill the first two boxers in the first round, then win by knockout against the two tough ones. If you find you don't inflict any damage, go for aimed blows to the head. Just remember to ask Little for some time to rest so you can save before each match, and heal up if necessary (during matches you regain a number of HP equal to your EN at the end of every full round).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have the Plated Boxing Gloves in your inventory when you talk to Stuart Little, you'll be fighting with them in the ring. You always get a normal pair of Boxing Gloves in your inventory just before the first match, but if you enter subsequent fights without any gloves at all in your inventory, you end up in the ring with no gloves!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
At the start of every match, if you have either kind of gloves, you gain a permanent +3 bonus to your Damage Threshold for normal damage (to a maximum of 100), #[span.no-break -1]  to your DT for plasma and explosive damage, and a bonus to Damage Resistance for each listed damage type except fire (to a maximum of 90%). If you only have normal gloves you get +1% DR for all four types, but if you have plated ones you get +2% for normal damage, +5% for laser damage and +1% for the others. (There's also a #[span.no-break -1%]  penalty to your unlisted EMP resistance, but this doesn't matter in the least; your electricity resistance is unaffected.) You get to keep these bonuses even if you lose that match. Therefore, in the fourth match, you can kick your opponent, ask Little for another shot, then win the final match (the Masticator's replacement is significantly weaker and doesn't bite) and you'll have got a fifth toughness bonus for only $500. Even factoring in the DT penalties that's better than any combat implant! Silencer muses: "Perhaps the resistance boosts were just supposed to be temporary and not permanent - that'd explain why plated gloves give you better ones, since you can block and shield your sorry face better with them." That only covers one damage type, though.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Before you win the Prizefighter title it's actually possible to get infinite rematches, although this is the result of two bugs. If you've won the game, Little's dialogue will always go as if you're talking to him for the first time, meaning you can ask about boxing, negotiate a deal and get your "first" match (though the game keeps track of how many opponents you have defeated). If you have still not won the game, you have to leave dialogue after losing a fight, talk to him again, ask for a rematch and <i>fail</i> a Speech check (which is impossible if you're at 100% or above). He will then let you box again. Note that the only reason for doing this is to up your resistances, which is a bit cheesy. In fact, knowing that you can raise them arbitrarily puts a damper on my desire to get that fifth bonus, since I usually have no problem taking advantage of limited glitches but have no interest in the unlimited ones.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This isn't kickboxing. If you switch to kicking or take off your gloves and then land a blow, you'll be disqualified. (How do you take off boxing gloves in the ring, anyway? With your teeth?)</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you lose by knockout there may be a bug that makes you lose the rematch before you even get to start fighting. This is because when combat ends directly after you score a critical failure that makes you lose your next turn, the game remembers that you have a lost turn coming up, and if that happens to be at the start of the next fight you lose again. Simply entering combat mode once in between the fights to get rid of this "debt" should take care of the matter (assuming you wouldn't rather reload after such an unfortunate occurrence).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have about 115 HP or fewer and the Masticator hits you, you may get the message "In the heat of the fight, the Masticator tears your ear off." If you look in your inventory you'll now have a Player's Ear item... and your CH drops by 1 permanently. This is not so good, so you should probably do what the game says and reload. If you keep fighting, though, and have Unarmed at about 160% or higher, you may end up with a Masticator's Ear as well - vengeance is sweet! No use for it, I'm afraid, but it's worth $750. In the unpatched version losing your ear could give you a <i>bonus</i> to your CH, because the command to change the stat was being used incorrectly. This bonus would be equal to your current CH minus one, except if this would take your new CH above 10 in which case nothing would happen.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
At the beginning of each round starting with the second, after the ring girl appears and the other boxer runs towards you, there's a small window where you can press A to enter combat mode. You can use this extra round to attack your opponent, or you can use it to kill the ring girl. The latter changes nothing except that the ring girl will be lying in a pool of blood instead of walking around and saying "Round 3!" or whatever. Well, I thought it was hilarious anyway. If you manage to kill your opponent in this combat round, you will be stuck forever inside the ring after the announcer makes a brief appearance. You can get an odd item - the Special Boxer Weapon, a useless sort of club - by killing the ring girl, then knocking a boxer unconscious on the same hex and looting his body before the combat round ends. There's another opportunity to enter combat mode right at the end of a match where you can kill the announcer (if you don't manage this in one hit you'll have to keep pressing A), but again this will leave you trapped.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Stupid characters can box providing they are male and have ST 6. Aside from getting no pay and no rematch, things work the same.</blockquote>

At the Golden Globes you can work as a "fluffer" for $5, which also gets you poisoned. If you're married you can let your spouse do it instead for $3. If you have CH 9 or are popular in New Reno (which means being either a Made Man or a Prizefighter) you can audition for porn stardom. To succeed you need EN 8, AG 8 and "experience", which translates to a mess of weighted stats and perks. If you pass the screen test you can shoot a movie each month for $500 (if you have IN 8, CH 8 or Speech 75%) or $200 (if you don't) and get the Porn Star reputation which lets you empty one more bookcase at the Golden Globes and makes you popular in New Reno (strangely, your spouse offers no comment). The first time you also get 1500 xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can become a Porn Star, but you get no pay.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The Corsican Brother initially won't talk to you if you're a Slaver, but he will if you become a Prizefighter or Made Man. The bitches will attack at once if you touch the bookcase.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After the first time you won't be allowed to make a film if you're addicted to Jet. If you insist on shooting anyway, the Corsican Brother won't talk to you again (but you get to keep your Porn Star status).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you defeat the Enclave you can come here and star in a special movie for $2000, even if you were never a Porn Star. Stupid characters get paid for it, too. You can't make any more regular movies, though.</blockquote>

You can gamble in the Shark Club, and buy drinks. There's a bearded guy with a Hunting Rifle standing around sometimes and you can ask the bartender who he is, but he doesn't do anything except that when you fight Bishop's men he'll fight with them (there is a dialogue file for him but it's not used in the game). In the basement you find the Masticator and a boxing ring which is never used (legend has it that the final boxing fight was supposed to take place in here before an audience), but pick up the Plated Boxing Gloves for use in the boxing matches.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
The stand-up comedian is one of the true highlights of the game. Make sure you hear all his routines. There are eight regular ones, and there is a special routine if you bring Myron. After you beat the Enclave he has a new one with you in it. There should have been an eleventh line after the Enclave if you managed to impregnate Angela or Leslie Anne Bishop ("So did you hear about the stupid Bishop daughter that got knocked up?"); he doesn't actually say it due to a bug, but he does blow up to the amusement of the onlookers.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't kill the Masticator in the basement if you're planning to box, because this will make Stuart Little disappear. The Masticator will actually count as dead after you've faced him in the ring, so if you lost to him and are going for a rematch, you can't leave the map in between.</blockquote>

On the first floor, tell the guards by the stairs that you've brought Moore's briefcase (you must have it with you) or they won't let you pass. Once you've got their permission to go up, you can use the stairs at any time even though they'll say you can't if you ask them. Nearby in a pool table is the Magic 8-Ball! With a LK of at least 8, use it and you get to read a few clues and humourous comments, which include:

<ul>
<li>A clue to listen to what Curtis says in Vault City to get the Wrench.
</li><li>A clue to set Bess free in Modoc after selling her.
</li><li>A clue to get the Hintbook from Father Tully after the game.
</li><li>A hint that you need high ST and EN to beat Francis at arm wrestling.
</li><li>Mention of the existence of the Easter Egg.
</li><li>Information about the "Trash" cross in Golgotha.
</li><li>The secret password to a computer in the Vault City vault.
</li><li>Information about the Desperado toilet with the grenades.
</li></ul>

Male characters can sleep with Angela Bishop, but if you follow her to her room and then turn her down she'll cry rape and Bishop's guards will attack, which is bad. Female characters can scare her pretty good, but it doesn't do anything. If you are wearing power armour you'll have to remove it before talking to her. 

Characters of either sex can sleep with Mrs Bishop any number of times if they meet with her approval, which requires either ST 6 or CH 6; she'll ask you to join her for a drink as you leave conversation. If you refuse you must find a dialogue option to tell her you'll be back, or else she won't talk to you again. If you follow her upstairs and <i>then</i> refuse to sleep with her, you'll need to use Speech to tell her you have an appointment with Jules or she'll call for the guards. After you've slept with her and left conversation, "talk" to her until she mumbles the combination to her safe, then Lockpick it to get the stuff inside. If you have IN 9, you can get an additional goody here. First you must ask her downstairs if she knows anything about the G.E.C.K. or Vault 13 (which means you must not have found them yet) and get her to mention Vault City. In the conversation after you sleep with her you'll then be able to ask her if she is from Vault City, and eventually she lets you have the Pip Boy Lingual Enhancer hidden in her safe (250 xp) which can be used for a permanent +10% to Speech and 500 xp. Neat! Some other pillow talk stuff:

<ul>
<li>If you've tried to open Mr Bishop's safe but didn't yet, you can get the combination to that from Mrs Bishop if you ask about Mr Bishop (you'll still have to disarm the trap).
</li><li>If you sleep with Mrs Bishop after Mr Bishop has passed on, ask about her family and tell her she should move on (IN 7) for 1000 xp.
</li><li>You can get NCR and/or Vault City on the world map by asking about her husband's plans.
</li><li>How to kill Mr Bishop - see the assassination note below.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have really, really lousy stats (like, your ST, EN and AG were all lowered to 1 in a freak accident with a character editor), Mrs Bishop falls asleep during lovemaking, so you won't get to ask her about anything. She'll still murmur the combination to the safe.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sleeping with Ms or Mrs Bishop with a male character may create a new ending for New Reno depending on what else you do here. If you have a Condom in your inventory it'll be used up, though, and will prevent this.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's a bug here that could startle you a bit. When going with Ms or Mrs Bishop, if you save and reload the game while on the top floor, your entire party will have disappeared when you return to the first floor. To fix this, sleep with either of them again (they'll return downstairs when the game loads the map anew, you can go down to the basement of the casino to make this happen) and your NPCs should be back. Or you could just drop everyone from your party before talking to your lady of choice. You may also experience car trunk deprival symptoms in this situation, but it should return once you drive to another map. Interestingly, NPCs can earn levels while invisible. Fighting Lenny in NCR will restore to visibility any party members that normally disappear during that fight (they'll appear when you move to another map).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Fall_ark found out how to exploit the invisibility bug to recruit an army. With CH 10, fill your party up to the 5-NPC limit, then make it disappear. Other NPCs will now think your party is empty, so you can get them to join you until you are again at the normal limit. When this is done, turn your "old" party visible again, and finally mop up those NPCs who will join you regardless of the current party count: Miria/Davin, Laddie, K-9 (initially), pariah dog (optionally). You could get evil Brain Bot for free as well, but you don't have to, since the good one can be fit within your "regular" party of ten. Minor points to consider: 1) Once your army is assembled you probably won't want to tell anyone to leave since getting them back will be a lot of work, and it may not even be possible to get back up to full strength by repeating the procedure. 2) Invisible party members may cause minor problems in places like Vault City and NCR, though this should be easy to plan around. Being Captain in Vault City helps greatly if you plan to go back there later, but avoid Lynette. 3) Since you're cheating anyway, you might as well use the save/load chem trick to get your CH high enough using Mentats, if needed. 4) If you don't want to fight Navarro when you come for K-9 with your huge party, you can prep it in advance and assassinate Schreber and "Snookie" to establish a clear path from the vent.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can go with both Ms and Mrs Bishop if you meet their respective requirements, and you can open Mrs Bishop's safe this way, but you don't get to talk to her after sex.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|It's not recommended to steal from Mrs Bishop; if you fail, a guard is supposed to come running, but this causes my game to freeze. It seems to work for Ms Bishop, though: she runs away, and a guard comes running to attack.</blockquote>

You can also crack Angela Bishop's safe (if you followed her to her room, it will already be open). Mr Bishop's safe is trapped, so use Traps on it before picking the lock. If your safe-cracking skills aren't what they should be, you can place some Dynamite in front of the safe to set off the trap and unlock the safe. If you set off the trap in whichever way, you should head for the far corner of the screen as a Bishop guard will run into the room to investigate briefly (fighting him will turn the others hostile, although it may not be apparent right away). The safe contains a Raiders Map which puts the raider base on your world map if you didn't find it already, and a Bishop's Holodisk which you should take to Lynette in Vault City. If you leave the map and return, the safe will be re-trapped and locked.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can also open the other two safes with Dynamite, and this will cause the guard to come running as well. If you try to pick a safe and fail the Lockpick check, then there's a small chance proportional to your LK that you can open the safe by spinning the dial randomly. This works for Mrs Bishop's safe as well even though it cannot be cracked normally.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you wiped out the raiders, then if you ever turn down a job offered by Bishop he'll know you did it and say you have to take the job (without pay) to even the score. (He may say you had Skynet with you even if you never met the freaking bot yet - he really means Sulik, but the variables are mixed up.) If you didn't kill the raiders, but slept with Ms and/or Mrs Bishop, he'll use that as leverage instead with the same results. If you still won't do it, he'll attack. Getting into these conversations at all is bad, as you can see from the ending of quest 10. If you do become Made Man and then talk to Bishop again he'll start up these dialogues (assuming you did anything to offend him) and you'll have no choice but to fight him.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The way to assassinate Mr Bishop isn't very obvious. First you have to sleep with Mrs Bishop. In bed, ask her about her husband, ask her if they love each other, then about Mr Bishop's "other pursuits". You'll now get the option to ask if she wants you to kill him. With Traps 76% you can suggest an "accident", and Mrs Bishop then tells you about the trap on Mr Bishop's safe. Use Repair (again you need 76%) on the safe to change the combination. Go downstairs and wait 10 minutes with your Pipboy and you'll hear a boom from upstairs, which <i>may</i> kill Mr Bishop - at other times I've seen it do only 1 point of damage to him. You get no xp for this, though. If you already disarmed the trap, the game will tell you to replace it before you can change the combination. Attempting to do so will crash the game, however. The solution to this is to go to the basement (changing maps) and return, whereupon the trap will be re-armed.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|It's not a good idea to "teleport" to the second floor by sleeping with Ms or Mrs Bishop before you've got permission from the guards to see Mr Bishop, or he'll attack if he sees you on the way out (keep close to the wall, try to run past in combat mode, or Sneak if you have to). Later on it may not matter as much, since Mr Bishop doesn't seem to mind that much that you're sleeping with his wife as long as you're working for him, but as usual if you talk to a boss too many times before finishing a job you may find yourself looking at dialogue choices which all lead to combat. To be safe, only follow the ladies upstairs when you were going to talk to Bishop anyway.</blockquote>

In Salvatore's Bar you can buy drinks, and there's a guy named Bill who does nothing.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
To kill Boss Salvatore, simply steal his Oxygen Tank. In order to make a true assassination, for which you get 2000 xp, three conditions need to be met: 1) Salvatore must not carry an Oxygen Tank, 2) <i>you</i> must carry the Poison Tank from the Desperado basement (scripting error), and 3) Salvatore must not be hostile. You can also get 500 xp if you "whack" Salvatore somewhat less subtly, or if you don't have the Poison Tank. In this case Mason will turn hostile, but you can still get away without a fight by leaving the place while waiting for Salvatore to snuff it. Note that if you steal the Oxygen Tank, wait for Salvatore's "attack" to begin and then plant the tank back onto him, he'll call for the guards.</blockquote>

Over in the commercial district the junkies accumulate Jet during the game for some reason, I've seen them carry 15-25 apiece. Renesco the Rocketman sells stuff (restocks every 2-5 days), and he can tell you about Redding's Jet problem (puts Redding on the map), or put the NCR and Vault City on the map if you ask him about the G.E.C.K. Pissing him off with the Arroyo story or in any other way doesn't seem to have any lasting effect. Using the "teeth as a necklace" line will make his wares more expensive, but only until you leave dialogue. If you're here for the Broken Hills mine parts, tell him the password if you got it from Zaius, or you'll have to pay $100 for them ($200 if you try to haggle). The latter causes the debugging message "GIVE_RENESCO_CAPS 100" (or "200") to appear in the message window. Quaint. If you kill him the Mine Parts appear on his body if he didn't already give them to you. 

p.
  Here's also where you can obtain one of the most obscure items in the entire game: the Pip Boy Medical Enhancer! You can give the Spectacles (from Broken Hills) to him and ask for a favour or a discount, but <i>don't</i> ask for a discount - it doesn't have any effect, and this way you don't get the Enhancer. Instead choose any of the other two lines, and then when you talk to Renesco you'll have the option of asking him how the glasses are. Do this 20 times and he'll become so exasperated he gives you the Enhancer, which upon consumption yields 500 xp and a permanent Doctor +10%! 

Eldridge at the New Reno Arms will sell you stuff (restocks every 1-3 days), upgrade weapons, and sell you a Computer Voice Module for $3000 (you can talk it down to $2500 with a Barter check, or $1500 if you have CH 9 or make a critical Barter check) in case you didn't get one from Vault City. He'll warn you and then attack if you walk behind the fence. However, there's nothing stopping you from entering through the back door and looting his place. Don't do this at night when Eldridge is in the back, though, or the dogs will attack. Look for the staircase behind some metal shelves. Once you're in the basement, look out for Small Energy Cells on the ground as well as "hidden" containers. In here you'll find what's probably your first Electronic Lockpick, which means you can now go back to the Toxic Caves. Algernon is the guy who does the tinkering for Eldridge, and he'll do every kind of weapon upgrade for free if you just give him the item; if you use his services, make sure it's daytime before you go back up again. If you kill Algernon and then ask Eldridge if he can upgrade weapons, he says there's been an accident and they don't do it any more. :)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Being a Made Man of any family will give you access to Eldridge's special stock, which includes a Bozar and a Super Sledge. Which items he has at a particular time is slightly random, just like shops in general. If you don't see what you want, try leaving and re-entering the barter window; if that doesn't work, return at a later date (2-4 days). Should you kill Eldridge this stock will appear in his corpse along with his regular wares, even if you were never a Made Man.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Eldridge's upgrade prices were supposed to be influenced by Barter, but the only effect of this is that if you have Barter at 91% or more, all upgrades will be free. Otherwise, see the Items section.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can't get any upgrades, here or anywhere else in the game. What's more, if you talk to Algernon and "shoot" him... he dies!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
A little to the left of the broken mattress in the rightmost corner of the basement, you can see a partly obscured pot. In it you find the Easter Egg. Oh joy.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you've been to the Enclave, Eldridge becomes a little bugged. If you buy stuff from him he says you'll get a discount but he overcharges you horribly (this is the same reversed barter modifier bug as in Vault City and with the casino bartenders), and if asked for upgrades he always attacks (because the script points to the wrong node).</blockquote>

If Father Tully is lying drunk in the back of the church, rest for two hours and he'll be awake and ready to answer questions about the New Reno families if you give him any kind of booze (you must have heard of a family to be able to ask about it). You should get him to tell you about the Salvatores and their laser weapons, other than that it's nothing crucial. Should you be Married, you can let Tully divorce you for a bottle of alcohol. Your spouse will run away bitterly and never be seen again, and from then on you are Separated. Watch out that they don't make away with precious items of yours (their inventory will actually disappear once the ceremony ends, since the person running away is technically a different critter).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can loot the poor box for #[span.no-break -3]  karma. Better money-for-karma ratio than in the Modoc well, anyway. If you ask Father Tully for money to buy hootch he'll rob the box for you, but you still suffer the karma drop. You can also donate at least one coin to gain 3 karma. What's more, both the gain and the loss happen only once, so you can withdraw your donation and return for more every week. In the back of the church there's a small garden with 2 Broc Flowers and 3 Xander Roots. Nice detail, easily missed.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you can talk to Father Tully about any number of topics as long as you give him something to drink and make sure not to end the dialogue.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you return to Father Tully after finishing the game, he'll give you the Fallout 2 Hintbook which gives you 10,000 xp every time you use it and raises all your skills to 300% (possibly 299% if tagged). While on that topic, New Reno is one of the two places (Vault City being the other) where people will have new dialogue or floating text after you complete the game. Notably, there's the line about using the Mutated Toe on Horrigan.</blockquote>

If you enter the East Side during daytime there'll be children running around outside the Wright mansion; if they're not there, wait until noon, exit and re-enter the map. (Grab the 5 Rocks!) Talk to them to learn they're playing "metal insects". Don't threaten to kill them, or the Wrights will turn hostile. The kids will lead you into the desert to witness the secret transaction (see quest 6) if you have CH 7, have the Empathy perk, make a Speech check, or give them a handgun and get a good reaction (in fact, if you happen to carry a gun you'll have to give it to them before they'll bring you along). You get 1500 xp if you stay hidden until the transaction is completed. To leave the screen without being seen, walk straight down. If you gave the kids a gun (or even planted it on one of them), when you return to the East Side the four running kids will all have got themselves shot! You can retrieve your gun though.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're a Slaver, or if you're a Made Man of another family, you can't talk to the kids to begin with. If you're wearing any kind of Power Armor, you have to remove it before they'll talk to you. Incidentally, there's lots of different floating dialogue from townspeople in New Reno if you're wearing Power Armor.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you already did quest 6 you won't get the 1500 xp, but if you're up to it you can get more kill xp than that out of this encounter. You should only do battle if you already finished your business with the Salvatores, though, because they'll know somehow and turn hostile.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
To assassinate Boss Wright, give the kid a gun and tell him to wave it in his father's face and pull the trigger. You don't get any xp for this, though. You can still get the desert transaction by talking to the kids again. You can prevent the kids from shooting themselves or Orville if you steal the gun back before leaving the map.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Use Traps on Orville's safe, and even if it tells you that you were successful, don't stop until you get the message that you gained 100 xp (free Dynamite!). You can then pick it and take the stuff inside. If you leave the map and return, the safe will be re-trapped and locked (more free Dynamite!). In Orville's room, Ethyl's room, and the one on the bottom left, you can take plenty of stuff from the shelves without anyone complaining.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can follow the kids to the secret transaction by choosing one of the "incest" lines and then the first option each time after that. If you talk to Mrs Wright she gives you a Flower, a Nuka-Cola and $3. Finally rich!</blockquote>

<ol>
<b></b><li><b>Find a way into the Sierra Army Base.</b> 

See the SAD section for how to accomplish this. Once you've actually been inside, return to Orville and you'll be a Made Man (1000 xp). In addition to the normal perks this means you can go to the station and get some Booze and Beer from the shelves without anyone making a fuss.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you contaminate the base with a virus before reporting back, you get no reward. It's not like you deserve one.</blockquote>

<b></b></li><li><b>Recover your stolen car.</b> 

The first time you leave your car behind on Virgin Street, it will be gone when you return (the car, not the street). Don't worry, it's not actually a car bug (as many people have believed, with some justification). If you walk over to where the car was standing you'll get the option to follow the tracks. If you ask Jules about it he'll be very evasive, but if you threaten him he'll show you where the car was taken. The best option is to talk to Cody, the boy outside the Cat's Paw, and ask him to lead you to the car, which earns you 500 xp. You can also ask him who stole it (he'll indicate Jules was involved), but then you have to tell Jules you'll kill him if anything happens to Cody, <i>before</i> you leave this map, or else, well, something will happen to Cody. If by any chance you let something happen to Cody you can confront Jules about it, in which case he makes a run for it.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you approach Cody in any kind of Power Armor, or if you offer him drugs or food, or if you're a Slaver or Childkiller, or if you have Lenny or Marcus in your party, or if your karma is #[span.no-break -101]  or lower, or if you have IN&lt;4 and tell him anything other than that your car has been stolen, he'll run away. If you wait for a minute without leaving the map he'll calm down so you can try again, or else he'll never talk to you again.</blockquote>

p.
  Anyway. Once you're at the chop shop, go into the garage and seek out T-Ray. There are a few ways to get your car back: 

<ul type="disc">
<li>If you're a Made Man of the Bishops you can tell him Bishop sent you for the car. He'll want money, and you can then offer him $1500, $900 or nothing; as long as you throw Bishop's name around he'll be too scared to object. When he mentions batteries the message window will say "Error" and you get 1002 xp. This is because the script really should have displayed line #1002 in T-Ray's dialogue file and given you 750 xp for getting free batteries (which you don't), but now it tries to print the non-existent line #750 instead...
</li><li>Trick T-Ray into thinking you're a Made Man if you're not. This is bugged so that you make it if you <i>fail</i> your Speech check and your CH is 7 or <i>less</i>. You can actually talk to him again and again until you succeed (that is, fail). As regards money and xp this works exactly as above except you gain 750 additional xp.
</li><li>Pay T-Ray $1000 for the car ($750 or $500 with good to decent Barter).
</li><li>Sleep with him if you're female with CH&gt;6 or Porn Star.
</li><li>Try to drive away. The chop shop people will initiate combat after you do this twice. In case the critter who caught you is a cowardly mechanic he'll run away; you can then use the car again and off you go. If it's a thug, however, you'll have to...
</li><li>Kill the whole bunch.
</li></ul><br>

You get 750 xp for resolving the situation in any of the first five ways; if you drove off you have to return to get the xp. If you left T-Ray alive you can pay him $500 ($300 with decent Barter) for a general car upgrade: increased trunk space (which is a blessing) and better engine performance. It's important that you get this upgrade right away, because once you drive the car off the map and return you'll lose all dialogue choices due to a scripting glitch (the "drive away" strategy is not really recommended for this reason). You can, of course, blow everyone away after the deal is complete, for the combat xp and the stuff in their lockers.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The Made Man thing is bugged in more ways than one (in fact, T-Ray is certainly the most heavily bugged person in this game). Firstly, $2700 is taken from your inventory as soon as T-Ray mentions payment (assuming you let him), and if you then offer $1500 or $900 you'll lose that sum in addition to the $2700. It all ends up in T-Ray's inventory, though, so it may not be a problem. If you exit dialogue directly when you lose the $2700 the car will be yours, but then you don't get the xp for tricking T-Ray or for the batteries.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can access the trunk while the car is still not "yours".</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can get to the chop shop by following the car tracks, or by following Cody. You can only get the car back by driving away or killing everyone, though, so no upgrades for you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you have already won the game when you buy your car back, talk to T-Ray again after getting the trunk upgrade and he'll offer you free "grav-plates" which will make the car zoom around the map and reduce fuel consumption to next to nothing. Because of T-Ray's dialogue bug you can't leave the map with the car until you've finished the game if you want the grav-plates, or he'll just stare at you stupidly when you come to visit him. (Contrary to popular lore, however, you <i>can</i> have it stolen before then, and even buy it back - as long as you leave it in the chop shop!) A carless game is no fun, so if you're going for the plates it simply means you must never leave your car unattended on Virgin Street. One way to go about this is to talk to Jules when you get to New Reno the first time to get Golgotha on the world map, leave the car there, return to New Reno on foot and walk to 2nd Street. Now return for the car, and for the rest of the game you can park it on any of the other New Reno maps. (A quicker, if not 100% legit way of accomplishing this is to hit 2 through 4 on the New Reno town map instead of making the round trip.) Unless you really want to see the effects of the grav-plates, I'd say a better car <i>during</i> the game is much preferable to an even better car <i>after</i> the game.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
T-Ray says you can buy batteries from him (and if you're Made Man of the Bishops you're supposed to get them for free), but he never has any. You can hit the barter button in case you want to trade back whatever cash he got from you for junk. In fact there's a scripting bug here so that he checks <i>your</i> inventory for Small Energy Cell or Micro Fusion Cell, so if you carry any of these he'll say he has some batteries to sell - only he doesn't.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Female characters can also keep on making love to T-Ray for the upgrade and/or batteries. This is heavily bugged, and you won't get either although the message window says you do. Keep on making sweet love and T-Ray will blow up, but this causes my game to black out (I hear the "explosion" sounds but my screen stays black after the fade-out). One time, though, I was able to sleep with him repeatedly without even getting the car back for my troubles, and after a while of this he blew up properly. Tvoinpyer adds on the blackout: "You can save your game at that moment although you cannot see anything. Press F4 and Enter twice. That should save the game. Then exit the game (#[span.no-break Ctrl-Q]  followed by Y), restart <i>Fallout 2</i> and load the saved game. If all goes well it should load the map with T-Ray blown up." The procedure as described will overwrite the first save slot; quicksaving with F6 also works.</blockquote>

<b></b></li><li><b>Find out who was responsible for Richard Wright's overdose.</b> 

Go to Keith Wright and ask for work. He won't let you in if you're a Berserker or Childkiller or have #[span.no-break -101]  karma or worse, and you must also pass a Speech check (more difficult for Slavers). You'll get in with a recommendation from Chris Wright at the railway station, but he's got the same standards only he's very strict about the Slaver thing. In any case, talk to Orville Wright. If you maintain Richard may have taken Jet on his own accord, Orville will attack, so don't (Chris is also a bit touchy concerning this matter). Keith Wright will name the usual suspects: Jules, Jimmy J, Little Jesus and Renesco; with IN 7 you can also ask him to tell you which room was Richard's. Go there and search the bookcase inside the door... you'll find a Jet canister behind it, and 500 xp. If you walk around talking to the dealers they all point the finger at each other. But if you show the Empty Jet Canister to Jagged Jimmy J, he can tell you it was poisoned (500 xp), and if you mention this to Renesco, you find out the Salvatores ordered a poisoned canister from him (1000 xp). Another way of going about this is to dig up Richard's grave in Golgotha (which Renesco will put on the map if you ask him about Richard) and examine it to find he was poisoned and then mentioning this to Renesco, for the same total amount of xp (but you'll be a Grave Digger this way, which you may or may not care about). You can confront the Salvatores with this info, but it just leads to a fight. 

Return to Orville. If you opened the grave, don't tell him. Now, you can finger any of the four dealers involved for 500 xp, $250, 2 Booze and 20 Shotgun Shells as long as you've talked to them or heard anyone else name them as suspects. If the person in question is dead already, then Orville will attack. Otherwise the accused person will disappear, and that's that. However, if you tell Orville about the involvement of the Salvatores you get $350, 2 Booze and 40 Shotgun Shells, and if you manage to deduce their motive (IN 7 needed, plus you must know about all the families) you also get 2000 xp. It doesn't matter if Salvatore is dead or not.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can get both the 500 xp for "fingering a suspect" and the 2000 xp for cracking the case if you first say Richard was poisoned, then happen to mention Renesco's name, then tell Orville that Renesco wasn't ultimately responsible for the murder and finally figure out the Salvatores' motive. Renesco won't come to any harm this way, either. Note that you can't do this the other way around, i.e. fingering Renesco and then say the Salvatores were behind him.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you finger Little Jesus, the Mordino family will turn hostile.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're playing an evil character, one way of getting the Wright quests is to talk to Chris or Keith Wright while you're still not too evil and get permission to talk to Mr Wright. Another, trickier way is to force-feed Keith some alcohol to lower his Perception, enter Sneak mode, open the door and talk to Mr Wright. Take his first quest, finger a suspect you don't like (or go and finish the quest properly if you want), then take the second quest to get the SAD on your world map. Note that you must be sneaking all the time while talking to Orville, since he will attack if he sees you after you open the door without permission.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Turning the Wright family hostile will set this quest to failed even if you already finished it or never got it (in which case it appears crossed out in your Pipboy). This has no effect in the game, but may change the ending for this quest as well as (in rare cases) the ending for New Reno.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the unpatched version you get 2000 additional xp when first saying Richard was poisoned.</blockquote>

<b></b></li><li><b>Track down Pretty Boy Lloyd, recover the stolen money, and make an... example of him.</b> 

Rule number one: Mason is an arrogant asshole. The temptation to kill him is great, but we need him alive for now. Tell him you have information or want a job to get an audience with Salvatore. You can piss Salvatore off in any number of ways, try not to do that. Before leaving, might as well pick up a Laser Pistol from the footlocker for Eldridge. To find Lloyd you need to go to the basement of the Desperado casino. There are some rats down here, and stuff on the floor... plus one human rat behind a locked door, Mr Lloyd himself. Rule number two: You can't let Lloyd get away alive, or Salvatore will know it and you will be attacked when you return. You can get Lloyd to tell you where the money is buried in Golgotha (which appears on your map), and kill him right away, or get him to come along with you (which is best, requires IN 6). You can intimidate him if you have ST 6, if you're wearing any kind of power or combat armour, if you're a Berserker, or if you have at least one follower. This way you can make him give you his money, and if you let him scamper you can still go and pick up the treasure, but Salvatore won't shower you with flowers. 

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Though Lloyd's bugs are not as obvious and significant as T-Ray's, there are probably even more of them: he has maybe two dozen minor script errors, inconsistencies and redundancies. For instance, following specific routes through the dialogue in town and/or in Golgotha you may be led to the grave but not be able to enter it, or be able to enter it though you haven't heard of it.</blockquote>

If you came by yourself, walk to the third grave from the right in the top section. (Lloyd's directions don't make any sense and the grave is not marked "Arch Stanton".) Use Traps on it and you get a Plastic Explosive in your inventory. Then use a Shovel (you won't become a Grave Digger) and walk onto the open grave to enter the fallout shelter and collect the $1000. By the way, you can't enter the grave if you come here before talking to Lloyd about it. 

If you came with Lloyd, you can tell him to dig, in which case you get the Plastic Explosive, or you can dig yourself, in which case the bomb goes off in your face and Lloyd attacks, or you can check for traps, in which case you may find the Plastic Explosive or set it off (to find it you should first pass a Sneak check or have IN 7 and Traps 51%, then have Traps 51% or pass a Traps check). If nothing went boom, you can choose to let Lloyd go down first (he attacks when you follow), go down first yourself (he attacks when you come back up, why didn't he make a run for it, the stupid git?), or tell him to go down, then throw the landmine in after him, which is fun ("All in a day's work"), but costs you a Plastic Explosive. If you let him go down and then wait for him to come back up he'll escape somehow, so don't do that.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you already visited Golgotha and used Traps on the grave to get the Plastic Explosives, there'll be another one once you've talked to Lloyd (and the grave will be covered if you dug it up).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you kill Lloyd you lose 10 karma, no matter if he attacked you first. However, if any of your party members deals the final blow, you don't lose any karma. Even more strangely, dropping the landmine on Lloyd only costs you 5 karma.</blockquote>

If you have Sneak 76% or Sneak tagged, you can tell Lloyd he can take off on his own, then follow him from New Reno to Golgotha. If you pass either a Sneak check or an Outdoorsman check, you'll find Lloyd having retrieved the cash (but not the Plastic Explosives) and making his way down across the map; he'll enter combat immediately when he spots you. If you fail both skill checks, you'll only find an empty fallout shelter and no Lloyd. 

Returning to Mr Salvatore there are a million things you can say to piss him or Mason off, as usual. If you killed Lloyd and give the correct amount to Salvatore you get 500 xp, $500, and the next quest (if Renesco's dead he doesn't have any more work for you).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to Lloyd before getting this quest the dialogue is a bit different (you can tell him to give you his money which amounts to $57, but you'll get it later anyway), but you can get the same results and follow him to Golgotha without the IN 6 requirement. Then when you get the quest you can tell Mason you already took care of Lloyd.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
When talking to Salvatore there's always a respectful line that you get with CH 6 or IN 8 which will make him respect you more, and a coarse line which will not. If you want to get quest 6 and become a Made Man later on you must pick most of the respectful ones.</blockquote>

<b></b></li><li><b>Go visit Renesco the Rocketman and collect Mr. Salvatore's tribute of $1000.</b> 

Make sure you have plenty of room in your inventory. Go to Renesco and ask for the tribute, keep telling him Salvatore sent you. Don't even consider going back to Salvatore for confirmation, Mason will <i>not</i> be impressed. Also don't threaten with violence or Renesco won't talk to you again. When he says he's broke, suggest that he give you a discount in exchange for you paying the tribute (IN 7 needed), and then tell him you want to see his stuff right away (you won't get another chance). You can now get all his stuff for a song. When you return to Salvatore and give him $1000, you get $250 back ($100 if he doesn't like your manners) and 750 xp, so in the end you get several thousand bucks' worth of equipment for $751. Oh, and before you return for the next Salvatore quest, make sure you've heard from Father Tully or Jules about the "lightbringers".

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
When you enter the barter screen after getting the discount, Renesco's stuff (except the money) may be worth $0 right away. It can also happen that the cost is merely reduced by a factor. In my case that factor was initially 5; however, after I left the barter screen and re-entered by telling him again I wanted to make "purchases", the prices were reduced by a factor of 100 instead (this is because the discount modifier is applied each time you enter that dialogue node). By trading things back and forth, you can quickly and easily get the whole of Renesco's inventory for a mere $1 (including his cash - trade something for it which you can then get back for free).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Even if you put the $1000 for the tribute in Renesco's inventory, he'll still say he can't afford it. What a dork.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Unlike the quest to get the Corsican Brothers' money for Mordino or getting Becky's money in the Den, you can actually give Salvatore $1000 without even going to see Renesco. Since money's money it does make some sense.</blockquote>

<b></b></li><li><b>Help guard a secret transaction taking place in the desert.</b> 

You will only be offered this job if Salvatore likes you, and if you didn't destroy the Enclave (but you probably didn't yet). If you know about the laser weapons, you get the opportunity to ask for one, which Salvatore will grant unless he barely trusts you enough to give you the quest. When you talk to Mason (he'll give you 24 hours to prepare, and attack if you're late) tell him Salvatore said to give you a lightbringer and then ask for training. You get a Laser Pistol, and your Energy Weapons skill will go up by 5%. Next you're teleported to the desert meeting place. Some more foreshadowing... a fresher vertibird than the one in Klamath, and those guys look like the one on the monitor in the Gecko power plant. Don't move an inch until you're told you can go, or everyone will start shooting at you. Once the transaction is complete you're free to move wherever you want, but there isn't much to do. Leave the screen and return to Salvatore for 1000 xp. If you turn down his offer to become a Made Man, he'll attack. If you accept, you get another 1000 xp, and you can still attack him if you want, so what's to lose? Then go pick up your "armload" of items from Mason. If Mason <i>and</i> Salvatore like you, you get $300, 80 Small Energy Cell and a Metal Armor Mark II. If Salvatore likes you but Mason doesn't, you get $150 and a Metal Armor. Finally if none of them likes you, you only get lousy $50. In either case you also get a Laser Pistol if you didn't get one before the quest.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Winning Mason's approval is easy: just put up with his remarks and don't be snide. Getting Salvatore's respect counter high enough is trickier, since it's not enough simply to follow the dialogue and pick the polite options. The trick is to raise it when you first meet him by saying you have information and using his name, then immediately leave dialogue by saying you're in the wrong room (which amazingly doesn't make him want to see you dead). You only have to do this once if you follow the optimal dialogue path afterwards, but it doesn't hurt to repeat a few times.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can do this quest <i>and</i> get the 1500 xp from following the Wright kids to see the transaction, if you go with the Wrights first. However, if you get this quest but tell Mason you need more time, then go to the Wright kids and follow them, you'll end up among the Salvatores and not get the 1500 xp. Uh, so don't do that.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Taking out the women in power armour isn't at all impossible (they're armed with Pancor Jackhammers), but then the Salvatores will be hostile when you return to New Reno. If you want to fight them, do this quest first and follow the Wright kids later.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Okan S. Tezcan adds: "When you've completed the secret transaction job Salvatore has given to you, go talk to him with Intelligence 3 or less. When he asks you to join their family, because you're dumb you can't talk to him and the dialogue screen closes. You don't join the family, you gain the job's xp, plus you can repeat this. Every time you talk to him, it happens as if you have done the job again and you get 1000 xp for free."</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Lon Giese relates: "Sometimes after becoming a Made Man of the Salvatores, Boss Salvatore stops talking to me or reacting to anything unless I attack him or his people, then he will try to run away. Even if I steal his Oxygen Tank and/or plant the Poison Tank there is absolutely no reaction. The only notable thing he does is to stand and wave his arms occasionally. When I get this bug Boss Mordino will claim Salvatore is still alive if I killed Salvatore in combat." The bug triggers if you click on Salvatore after becoming a Made Man, or after being told he has no use for you; at that point his script freezes, failing to set the proper variable if he's killed and making an assassination impossible (you can test this by shooting him once and then checking your character sheet - if you're still a Made Man, the bug is active). If you save and load the game, though, he should be back to "normal" for as long as you don't click on him again, so all is not lost if you happen to set off the bug.</blockquote>

<b></b></li><li><b>Find some endorphin blockers to make a cure for Jet.</b> 

Talk to Myron (see the Stables) and ask him about a cure for Jet addiction. With IN 7 and Science 81% (or IN 9 and Science 76%) you can convince him there might be a cure, and you get this quest, 2000 xp, and a hint that you should go to Vault City next (it appears on your map). (He also mentions "pre-holocaust bases", which is a reference to an unimplemented area.) Go there and talk to Dr Troy for another 2000 xp, and you get 2 Jet Antidotes (this crosses out Vault City quest 3 even if you didn't have it). See the Redding section for info on what to do next.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you already picked up the antidote from Dr Troy, or if you successfully blackmailed him, you can't ask Myron or Troy about a cure any more. Therefore, get the VC quest to deliver Jet, get Myron and talk to him about Jet, deliver the sample and introduce Myron to the doctor, then immediately talk to Myron about the cure and talk to the doctor about endorphin blockers, and you'll have got all the xp you can from these quests.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
This quest is never crossed out on your quest list.</blockquote>

<b></b></li><li><b>Bust up Wright's still beneath the train station.</b> 

Save before talking to Mrs Wright, for there are lots of dialogue paths that end with her not talking to you any more. Also make sure that you've heard about the Wright family (you don't have to know about the stills) from, say, Jules or Chris Wright at the train station. Ask about her husband and say his alcohol business is making New Reno a worse place to live in; she'll tell you to meet her the next morning at the church. Go to Father Tully's and wait until 6 a.m. When Mrs Wright shows up, offer to wreck the stills and go to the basement where they are. (While you're there, don't miss the ice fridge among the barrels, containing a Cat's Paw Magazine among other things.) Stand in the niche beside any of the first three stills from the right, then use Science or Repair or a Crowbar, Tool or Wrench on the still to destroy them all for 500 xp. You can also use Dynamite, but that will alert the Wrights (you can run out of the building before the Dynamite goes off and they won't turn hostile right away, but probably will later on). Once you return to Mrs Wright, ask for a cash reward and you get $237 and the Louisville Slugger, a one-of-a-kind weapon. This quest doesn't affect your other business with the Wrights in any way.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can also tell Mrs Wright she should bust the stills herself... and she does. You get the 500 xp right away, and the message box exclaims "*Sigh*". What the heck? You get no other reward this way, though.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Mrs Wright won't talk to you at all if you're a Porn Star or a Slaver, except if you already got the quest in which case you can finish it.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Before destroying the stills, you can use a Scorpion Tail on them if you want. What happens? Well, Orville Wright will mention it if you become a Made Man of the Wrights and ask him what's up. Also junkies and addicts across town will fall over dead as time passes... including Father Tully!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you destroy the stills in between getting the quest and meeting Mrs Wright by the church, you don't get any xp (unless you tell her to destroy the stills herself), though you do get the bat and money.</blockquote>

<b></b></li><li><b>Assassinate Westin in NCR without making it look like a murder.</b> 

p.
  You're offered this job after you deliver Moore's briefcase. (If you already killed Westin, he gives you the next quest instead.) Bishop will offer $500, but you can make him give you $750 (Barter) or $1000 (Barter or IN 8) instead. Due to a bug you'll actually get $1000 if you ask for $750, but due to another bug it's easier to make the Barter check for $1000 (go figure). Make sure you've done all quests in NCR and Vault City involving Westin, then head over to NCR (which appears on your map) and Westin's ranch. Use the Poison from Doc Jubilee's house or a dose of Jet, Buffout or Psycho on Westin, and he'll have a heart attack. Killing him by planting explosives works as well (natural death, yeah), but a Sneak-kill does not. Return to Bishop for your monetary reward, 2000 xp and the next quest (unless you killed Westin normally, in which case Bishop will be unhappy).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you talk to Bishop after delivering the briefcase, without being a Made Man or having an active quest, and he doesn't have any job to give you, Bishop will accuse you of screwing up the Westin assassination (whether you have done so or not) and violence follows. Typically this happens because you killed Westin and/or Carlson out of turn.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
For some major overkill, use a Super Stimpak on Westin and he gets hits with 10,000 points of damage! This even fulfils the "without making it look like murder" condition.</blockquote>

<b></b></li><li><b>Murder Carlson in NCR.</b> 

Do this (see the NCR section). Upon return you get 2500 xp for whacking Carlson, and 1000 xp for becoming a Made Man of the Bishop family. <i>But</i> if you ever got into the conversation about the raiders or sleeping with his wife/daughter where Bishop forced you into working for him, he apparently doesn't trust you enough to make you a Made Man, so he attacks instead. Also he attacks if you turn down his offer. If you already killed Carlson, Bishop won't give you this quest.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you didn't also perform quest 9 for Bishop you won't get to be a Made Man if you ask for more work after this, but you will if you pick the "pleasure doing business" line. What's more, due to a bug you get no money if you settle for the $500 that Bishop offers you. With IN 8, however, you can ask for $1000 and get it too.</blockquote>

<b></b></li><li><b>Deliver ten Cat's Paw magazines to Miss Kitty.</b> 

Go to the Cat's Paw carrying a magazine and ask Miss Kitty what it is, and she'll ask for ten of them. Return once you have that many. She'll offer $500... you can ask for $750, but don't do that! Instead choose the dialogue line about the stickiness of issue five. You'll get a duplicate issue which raises Energy Weapons by 10% when "consumed"! In any case you get 1000 xp for delivering the magazines. If you're having problems finding 10 Cat's Paw Magazines, here's a list of places to look: 

<ul type="disc">
<li>In an outhouse in Klamath.
</li><li>On a girl in the bathhouse (steal).
</li><li>In the bookcase in the Duntons' locked room.
</li><li>The Duntons have one in their shop inventory each time they restock.
</li><li>Flick in the Den has a 50% chance of getting one when he restocks.
</li><li>In a bookshelf in Cassidy's bar.
</li><li>Male characters can get one from Phyllis.
</li><li>In a footlocker on level 2 of the Vault City vault.
</li><li>On a ghoul at The Harp (steal).
</li><li>On two of the ghouls in the Gecko reactor (steal).
</li><li>One in the raiders' safe and one in a footlocker on the same map.
</li><li>In a pot on the first Broken Hills map (steal back from Typhon after giving it to him).
</li><li>In a bookcase in Myron's room at the Stables.
</li><li>In an ice chest in the Wrights' basement.
</li><li>In Bishop's safe.
</li><li>In a desk on level 2 of the SAD.
</li><li>In a desk on level 2 of Vault 15.
</li><li>In a locker in the Navarro hangar.
</li></ul><br>

<b></b></li><li><b>Deliver a laser pistol to Eldridge.</b> 

After you've heard about the lightbringers from Jules or Father Tully, you can ask Eldridge about them and offer to bring him one. For this he'll pay you $1500, and you get 500 xp. Nothing more to it.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
He won't accept a Magneto-Laser Pistol, so you can't let Algernon upgrade it for the ammo before you part with the gun.</blockquote>

<b></b></li><li><b>Deliver Big Jesus's package to Ramirez at the Stables.</b> 

Go to Big Jesus on the first floor of the Desperado and ask for work. If you didn't get the introduction from Little Jesus you first have to pass a Speech check, but you can try this any number of times as long as you don't start pleading. Next he'll accept you if you're male and have ST 6, or if you're wearing any kind of combat or power armour; if not, you have to pass another Speech check (which is easier if you have CH 6). Anyway, when you accept the quest you're teleported to the Stables, where you should enter through the nearest door. Give the box to Ramirez for 500 xp. While you're here, might as well look around a little. Mordino will give you $100 and the next quest when you return to him. Once you've got the job it doesn't matter if you pick the "Senor" lines or not.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can open the box and find 5 Jet... but if you give the opened box to Ramirez (still 500 xp) he'll attack, and the whole Mordino family will want to kill you, which is bad at this stage.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
I have experienced a car bug when taking this quest, as described in the Addenda section. It ordinarily shouldn't happen; if the car is on Virgin Street when you start the journey it should be stolen if it wasn't before, otherwise it should remain there. Save before taking the quest if you want to be safe.</blockquote>

<b></b></li><li><b>Collect tribute from the Corsican Brothers.</b> 

Go to the Corsican Brother at the Golden Globes. He'll give you $250 right away, and you get a chance to audition for a movie (same as usual). Return with the cash to Mordino and you get to keep $125 plus you get 500 xp and the next quest.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
If you get all fifteen New Reno quests, the Pipboy window won't be able to display this one and the next. Move the mouse around below the window and you'll see them.</blockquote>

<b></b></li><li><b>Assassinate Boss Salvatore for Big Jesus Mordino.</b> 

You get 750 xp and $500 when you return after killing Salvatore (1000 xp if you managed a proper assassination). With a CH of 6 or more you also get a Leather Armor Mark II and a "Grease Gun". If you get the armour and either thank him properly or have CH 9, Mordino will ask you to become a Made Man of the Mordinos. Accept and you get 1000 xp, decline and you get assaulted. If you already killed Salvatore you don't get the quest.
</li></ol>
 
