h2 Sierra Army Depot

<blockquote>"Is that a REAL robot?"<br>
"Yeah, but don't bother it. I think it wants to destroy the human race."<br>
--Wright kid and The Chosen One</blockquote>

There's no way to get the SAD on your world map except getting the quest from Wright to break into it. As you arrive here the place is a mess, with bodies lying in heaps. A good idea is to leave your party members by the exit grid, grab a Scoped Hunting Rifle or the like and pick the turrets off from outside their range. In addition to the stuff on the bodies you should find:

<ul>
<li>1 Plasma Grenade
</li><li>3 Frag Grenade
</li><li>2 Desert Eagle .44
</li><li>2 10mm SMG
</li><li>2 10mm Pistol
</li><li>1 Assault Rifle
</li><li>24 10mm AP
</li><li>1 Sniper Rifle
</li></ul>

To the northwest there's a bunker with three traps outside, a trap on the door, and a trap on one of the ammo crates inside (the locked one). Get the Howitzer Shell and use it on the howitzer in the building to the right (which has three mines in front of the door, one in the gap by the truck, and one near the barrels and tyres). Then use the howitzer to blow a hole in the entrance to the depot. If for some twisted reason you put an NPC by the doors they'll take damage.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
No, you can't take the Howitzer Shell back to the New Reno Arms and use it on the howitzer in the basement. It would have been cool. I remember back in Needles...</blockquote>

If you enter the fenced-in area in the northeast corner you'll take electrical damage. Down the manhole is a small room where you can throw a switch to put the base on backup power, which has the effect of turning the yellow impassable forcefields in the base into red ones which damage you as you pass (but which also hurt the robots). This is a bad idea, since you can use Repair on the yellow ones to pass them painlessly. Also it makes it darker inside, which is boring.<br><br>

Once you're on the inside you can report back to Orville Wright. Pick up the Password Paper from the desk, and the Evacuation Holodisk if you like. (All holodisks in this place are for flavour only.) The yellow forcefield can be disabled with Repair, as can all the rest. If you access the computer after reading the note, you can type in the correct password to deactivate all forcefields on the level. If you know a little Science, instead enter an incorrect password and then hack the computer for 200 xp. If you use Lockpick, Science or Repair on the actual forcefield you'll be zapped for some damage.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
In the depot, dropping a Dynamite next to a forcefield emitter will cause it to turn into a red forcefield or destroy it entirely depending on whether you pass a Traps check, but it also sets off the alarm. If you damage an emitter but don't knock out the field, setting another charge right away may cause the game to crash.</blockquote>

Search the rooms to the right for a Yellow Memory Module, a Dixon's Eye and a Bio Med Gel, and don't miss the wall lockers. Pick up the Combat Armor and stuff from the lockers in the barracks. Using the punching bags in the gym will raise your Unarmed by 5% each (4% if tagged). Keep in mind that you may want to put this off until you've received training in San Francisco.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Take Dixon's Eye to Mason in New Reno and tell him something clever about the Mason-Dixon line. No, wait, you can't. Daaamn.</blockquote>

The elevator on the right will open if you use Dixon's Eye on the retinal scanner, and will then take you to level 2 or 3. Or you could just pick the door to the elevator on the left, which will take you to all four levels of the depot. There is a second computer on this level which will give you 250 xp for "hacking" into it if you choose the diagnostic option then choose not to run the test. If the alarm is active the dialogue is a little different and you can then get the xp by either hacking the terminal (IN 8, decent Science) or pressing help and again <i>not</i> running the diagnostic test (PE 7). Turning on the alarm doesn't release the bots, and actually running the diagnostic test locks up the terminal. You can set off the alarm properly by entering two incorrect passwords in the first computer. A bunch of robots will appear from behind sliding panels and attack. From each of the riflebots you can get a Robot Motivator, and you really want one of those for later.<br><br>

You can also set off the alarm on any level by failing to disable or enable a specific forcefield more than two times, or by using your own eye on the retinal scanners. Each level has its own separate alarm state. A few computer terminals will lock up if the alarm is triggered (so you'd better do anything related to them before you start whacking things), but not crucial ones like the brain retrieval console. Level 4 is special in the way that the bots don't turn hostile, but will fight back if attacked. General robot and turret fighting tip: disabling their sensors with aimed shots takes all the fight out of them.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you release the robots on level 1 then turn off the alarm, they may turn invisible again depending on where they are (the "cloaked" area is a rectangle covering the hidden compartments and the space in between, but not the side corridors). If you disabled the alarm using the terminal they'll keep making floats even if they're not visible.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Attempting to hack the terminal and failing will shut you out permanently from this terminal and the alarm terminal on level 2, and vice versa.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The reason why the alarm terminal doesn't release the bots is actually that it's bugged and sets the wrong variable, so that instead you'll end up with what looks like a permanent RadAway addiction on your character sheet. Though this may be mostly annoying (your Radiation Resistance is unaffected), it does seem to protect you from "real" RadAway addiction.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
It's possible to get permanently stuck here, as told by David Lönn: "The door to the elevator on level one is open because I opened it earlier but didn't use it, so I don't need the eye, which now has been dropped somewhere on the floor. I enter, and take the elevator to level three. The door shuts behind me, and I'm effectively stuck. I haven't got Dixon's or Clifton's Eye, so I can't access either of the elevators. I haven't got any explosives on me. And, it appears that my puny Repair skill isn't able to bring down the forcefields, no matter how many times I try." A Repair skill of 41% is necessary to have any chance of disabling the forcefields (a Tool will help, but not a Super Tool Kit). Another way to get stuck is to let Vic get you inside the forcefields and wait until they turn back on. Then shoot Vic.</blockquote>

On level 2 you find a computer next to the left elevator where you can turn off the automated repair system for 200 xp (PE 7 and LK 8 will provide alternatives to a Science check). A critical failure will disable the terminal. Go to the room to the south (Lockpick 100% recommended for the door) and loot all the ammo crates for some serious armour and weaponry, such as a Plasma Rifle and 2 Combat Armors. Don't miss the row of small crates behind the wall.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The bots in this room, with one exception, will not fight back if attacked, nor does this alert the other bots on the level. In all they're worth 8250 xp, which isn't so bad when you first get here. The exception is the rocketbot closest to the yellow forcefield. Though your NPCs won't fire on the active bot, they may hit it while trying to burst-fire at something behind it, so you'd better save first. Or put this off until later when you're cleaning out the base for fun and experience.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you want some xp, you can go around using Repair or a Tool on each of the dormant bots. You'll gain either 200 xp (if you succeed and get the message "You seem to have disabled the robot") or 75 xp (if you fail and get the message "You seem to have repaired the robot completely", which will heal the bot if it was damaged). This goes for all bots in the depot except the passive ones in the repair bay. Sometimes, it seems, this can also produce freak messages from other parts of the game. The "disabled" bots will still fight you if it comes to that, though they don't mill about or initiate combat themselves.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Destroyed rocketbots aren't lootable, but you can still search them if there's another, lootable body on the same hex (like a dead riflebot or an unconscious NPC); you can then access the rocketbot by clicking the arrows in the loot interface. Some of them will have Miniguns that you can pick up no matter how the robot was killed. Others will be armed with Robo Rocket Launchers and that's a little trickier; see the Toxic Caves section for how to get hold of these. The passive bots don't have anything.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The repair system doesn't actually do anything if you leave it on (it's related to an unimplemented feature with repair bots).</blockquote>

The sentrybots won't attack you unless you set off the alarm or attack them. Now in the passages to either side of the laser tripwire there's a row of traps, but the tripwire itself doesn't do anything. Near the top of the level you'll find a "hidden" searchable crate which contains rockets and grenades. In the room on the middle right you find a Cookie, a rare item (of the kind which you never end up using). The alarm computer in the middle of the level works mostly like the corresponding one on level 1. If you activate the alarm you can turn it off twice (using the "hack" and "attempt to turn off" options) and gain 500 xp and 550 xp respectively. Hacking requires IN 8 and you should have Science 80-90% before attempting this, and save first (with Science 106% you'll automatically succeed, though). With PE 7 you can deactivate the alarm by running the self-diagnostic program, but it gives no experience.<br><br>

The computer at the bottom right is a bit trickier as it seems to be slightly bugged. Reading the mail does nothing except that if you read the "penpal greetings", the computer is infected with a virus and becomes inoperational. You can hack the forcefields, in which case you get 200 xp and the shock plates turn off, but the forcefields stay in place (bugged, as I said). Hacking the shock plates does exactly the same thing (but you cannot get the xp twice; also if you disable the shock plates then try again and fail, they turn back on). Science 90% will let you pass the skill checks; failing critically will disable the terminal. You can guess the password to the forcefields, in which case they turn off (no xp). Lastly you can try to guess the password for the shock plates, which apparently cannot be done even with LK 10.<br><br>

Onwards to level 3. To access the new elevator you have to use Clifton's Eye instead (which also gives clearance for the other elevator), and this is located in the wall locker in the far northeast room. When you access the alarm computer on this level it doesn't behave like the other ones due to an override. Don't tell it you're Dixon, or the robots will turn hostile on levels 1-3 and the four alarm computers plus the password computer on level 1 will zap you for some damage if you try to use them again. If you tell it your name or that you're a friend, this will turn off the alarm for this level.<br><br>

In the left branch of the T-junction there are two traps to watch out for. Talk to Skynet the artificial intelligence by accessing the terminal by the large mainframe. It will ask you to help it "escape" from the depot. You can ask it to reset the security systems, which means that any hostile robots in the depot turn dormant again but not much more. If you say "It's nice to want" then the same thing will happen as when you tell it you're Dixon (but if you have Speech 76% you can apologize and prevent this).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you anger Skynet, then talk to it again and agree to help, it'll turn the alarm off for level 3 but at the same time turn it on for levels 1-2, to encourage you to stay and finish the job. Angering Skynet is the only way to release the four rocketbots inside the wall on level 3, and like the robots on level 1, they can turn magically invisible when called off. The robots inside the wall on level 4 are never released; there aren't even any secret door scripts in place. In the unpatched version the conditions for opening the sliding panels on level 3 corresponded to the general alarm state of the depot, but they were then made floor-specific leading to the state of things as described above.</blockquote>

On the top left is your science fair project, but it's unfinished. To get the robot functioning you must do three things:

<ul>
<li>Use a Robot Motivator on it. The easiest way to get one of these is on level 1, but every riflebot in the depot has one.
</li><li>Use a Bio Med Gel on it. There's one right there on the floor, I guess the designers felt sorry for those who might have failed to hold on to the one found on level 1.
</li><li>Use a Brain on it. You get these on level 4. The quality of your new robot will depend on the quality of the brain used. You get 500 xp for installing the brain no matter which one it is.
</li></ul>

If you activate the robot before it is complete, it simply explodes. Now, if you used the Abnormal Brain or the Chimpanzee Brain, you get a stupid robot who can only carry stuff and nothing else. The chimpanzee is actually smarter because you can tell it to wait somewhere, whereas you have to kill the abnormal bot if you want it out of your party. The Human Brain will create a mediocre sniper (which cannot level up), but to get the real Skynet with auto repair systems you need the Cybernetic Brain. See the NPC section for more details on the Brain Bot.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Once you "extract" Skynet, the alarm computers plus the password computer on level 1 will stop functioning, so you may want to get whatever xp you can out of them first.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you manage to piss off Skynet (by telling it you're Dixon or being sarcastic) and then use the Cybernetic Brain on the robot, it won't thank you. Once you exit the depot it will kill one of your other NPCs instantly (but not Marcus, Goris or any dog), then attack. If you assemble the bot before talking to Skynet at all then it will be friendly, even if you had triggered the alarm on level 3. Evil Skynet will join you over the party limit. Sebastian Cassten reports that you can get evil Skynet in your party permanently: enter combat mode directly after leaving the depot and run back inside (or towards the red exit grid). If you leave the map without Skynet going hostile it'll hang around for good, forever talking about "proceeding to the surface". It will level up as usual and you can access its combat control screen (allowing you to arm and disarm it by changing its weapon preferences), but not tell it to stay put or repair itself.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you get no xp for installing the brain.</blockquote>

On level 4, the alarm computer is offline. Not much to do here except extract organs and get things from storage. To extract a brain (as the Experiment Holodisk will tell you, the device extracts only brains no matter what organ you select), place a party member in the room with the extractor (he or she must still be in your party), and tell the computer to get extractin'. Your NPC will get hit for lots of damage and die, and a Human Brain shows up. You get 500 xp for attempting your first brain extraction, even if there's no one in the extraction chamber.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You cannot use the extractor on Laddie, K-9, Robodog, or the Brain Bot unless it has the best brain. Isn't it a little weird that you get a human brain out after you put in a cybernetic one?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You lose 100 karma each time you kill someone this way. Oh, so this is more evil than going after a kid with a rocket launcher?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If more than one NPC are in the extraction chamber, they all die but you get no brain. It's kinda funny to hear them screaming in synch, though.</blockquote>

North of there is the storage area. Use the computer, choose "cadavers" and Private Dobbs. Talk to him and look at him go. You can pick up a LE Red Ryder BB Gun from his remains, but you don't get this if you kill him before he melts. Odd. If he doesn't run, you need to shut down the forcefield.<br><br>

You can also get a brain from here, which is probably a better idea than using the organ extractor unless you actually want someone killed. Depending on your Science skill you'll end up with from zero to four brains from which you get to choose one. With Science 90% you can get the Human Brain about 50% of the time. To get the Cybernetic Brain you need Science 121%, but there's still a small risk of failure, so save first. Once you get a brain the storage retrieval bot blows up, which means you should get Dobbs first.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can't get any organ except for brains. If you retrieve a virus, any virus, the vial will break and you have one minute to leave the depot before dying (the countdown says four, but it's bugged). Even if you get out you'll die immediately if you ever come back in.</blockquote>
<hr>
