h2 San Francisco

+fancyQuote("--The Chosen One and Dave Handy")
  p.
    What sort of stupid questions?
    #[br]
    Oh, like: 'Why can't I use a sword or a chainsaw on my monitor?'

Using the Survey Map from the Military Base is the only way to find San Francisco, other than just going here, of course. This is actually a neat place, because you'll find two of the most worthwhile shops in game here, the Flying Dragon 8, which is a kind of general store which also carries some weapons and armour, and the Red 888 Guns, which carries guns, armour and ammo. From the latter you'll want to grab the Gauss Rifle right away, and both shops will have Power Armors for sale (if not right away then after a little while has passed). You can also buy handbooks and Stimpak ingredients, and this is the only place you find Tesla Armors, although myself I've never used one of those. Each of the stores has two tables with different stuff on them. Lao Chou in the Flying Dragon 8 can also give you surprisingly accurate information on where to find the Tanker Fob and NavCom Parts once you get those quests.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The first time you come here, if you walk towards the village square you'll see two people in a fighting ring, who exchange a few blows and then disappear. Those are the martial arts dudes of this town. Beware that once you've triggered the scripted sequence, you mustn't leave the map before they've left the ring (this is possible if you run towards the exit as soon as they begin), or Lo Pan will be stuck inside (see Addenda for a bug note on how wrong this can get).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Don't bother searching any of the containers, they're all empty including the lockers. It makes me think this place was designed by the same people that made Broken Hills. In fact all containers in <i>all</i> SF areas are empty, with a few easily enumerated exceptions: the two lockers in the Brotherhood building, and the lockers and footlockers and one bookcase in the Hubologist base.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you worry about paying for expensive Power Armors that you may not need later, you can use this formula. Take the number of party members that can wear armour (Sulik, Vic, Cassidy, Lenny, Myron, Miria/Davin), add yourself, deduct three (the number of "free" Power Armors found on the mainland), and add one if you plan to finish Dr Jing's quest later on. Now you have the number of suits you need to buy from the stores.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The left table in the Red 888 Guns store restocks money which does not go into the shopkeeper's inventory until you access that table (most often you'll be buying ammo off the other one). Unlike most shops the money restocks separately on the respective shop owners, $2000-5000 every one to three weeks. If you have traded them more cash than that it won't disappear, but neither will they get more.</blockquote>

Dr Fung will provide healing (HP and crippled limbs except for eye damage, charging from $100 to $600, no NPCs), sell you Stimpaks (restocking every 1-7 days) and perform implant surgery (which requires knowledge of the VC schematics and using up a Combat Armor for each):

<ul>
<li>Dermal Impact Armor: $5500, 2 days.
</li><li>Dermal Impact Asslt. Enhance.: $33,000, 5 days, CH <nobr>-1</nobr>.
</li><li>Phoenix Armor Implants: $8500, 3 days.
</li><li>Phoenix Assault Enhancement: $49,000, 4 days, CH <nobr>-1</nobr>.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Beware that Dr Fung is horribly bugged, so getting either of the two Enhancements here will not raise your Damage Resistance any, and furthermore, if you already got the Enhancements somewhere else, Dr Fung will offer to perform the first upgrade again, with the mayhap surprising result that you'll <i>lose</i> Damage Resistance. These two bugs happen for the same reason: while the other two doctors remove the "basic" perk when they give you the "enhanced" perk, Dr Fung leaves the basic perk in place, which apparently causes the game to ignore the effects of the advanced one. When you arrive with an advanced upgrade given to you by another doctor, Dr Fung sees only that you don't have the basic one and tries to give you that - with the result that the game will disregard the advanced one you already had, effectively lowering your DR. "Painless" Doc Johnson is cheaper anyway, so always go there.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you ask Dr Fung to trade after he refuses to heal you because you cannot pay, you'll get stuck on an empty barter screen.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: The first time you talk to Dr Fung he'll offer you free healing whether you need it or not, after that you won't be able to talk to him (but you can barter with him if you want).</blockquote>

The house with the garden is the Dragon's place. He'll train characters of good alignment (karma 250 or more) for +5% Unarmed each day, a maximum of four times or until you reach 100%. See quests 12 and 13 for more details, but don't challenge any of the martial arts guys to mortal combat until you've taken both their tests for the xp, and don't take the test until you've got all the training (because afterwards you can't). The Dragon will stop talking to you if you say evil things, so don't do that.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Remember that if you're wearing Power Armor, it raises your ST and thereby your Unarmed, so removing it may help things. You can also lower your ST and AG using the after-effects of Buffout if your Unarmed is hovering above 99%.</blockquote>

The house across the street to the west is where Lo Pan hangs out, the guy who brings a gun into the ring for backup. He'll give characters of evil alignment (karma <nobr>-250</nobr> or less) exactly the same kind of training as the Dragon. If you're not that evil, don't ask him for training or he won't talk to you any more. Instead challenge him to a test of skills - see quest 13.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can get training from both Lo Pan and the Dragon, assuming your karma changes by 500 or so in between. Hmm, fat chance.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Beware of bugs while fighting. If you end combat after killing your opponent but before you get the "You win" sign you'll be trapped inside the ring, in which case you must reload immediately since there's no way to get out. To be safe, stick to end turn at all times. It can also happen - when fighting the Dragon's people, at least - that you start winning fights automatically in the first round, but that all fighters remain in the ring and beat you up between fights! Sébastien Caisse comments: "You've probably noticed that in fights, when you get the 'You win' message, you have an extra round, often used by some people to kill the opponent - making bugs appear. However this round was actually provided to save your game. The only 100% 'glitchless' way is to not kill anyone." Depending on your fighting skills, perks and damage you may have to try hard not to do that. I've actually managed to kill every single fighter without any bugs appearing.</blockquote>

Once you have access to the Brotherhood bunker, go down there and grab the good stuff in the lockers, including two rare pulse weapons and the one-of-a-kind Brotherhood Armor (although that should be worthless to you by now). The medical computer can raise your ST, PE, IN and CH by one if you have the corresponding Memory Modules (red, green, yellow and blue respectively). This will take a few weeks for each, so go check the stores in between each operation. ACE also heals HP, poison, radiation and crippled limbs (except for eye damage) for free, but not NPCs.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you begin the game having CH 10 but not the Gifted trait, you won't be able to use ACE's Charisma increase to offset the penalty of a dermal implant. You can go through with the operation but it won't do anything.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You gain skill points based on your Intelligence when you first enter the character screen after levelling up. Thus if you don't view your character sheet at all for a few levels (but not more than three, or you'll miss a perk!) before raising your IN, you'll get skill points based retroactively on your new IN. This should also work with the Hubologist IN rise, but obviously not the Gain Intelligence perk.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 asking ACE to cure you of radiation would <i>add</i> an amount of radiation equal to your current radiation level.</blockquote>

If you go northwest from downtown SF, you enter the docks section. There's nothing to do on this map, go directly north to the tanker. In here you'll find two not-so-worthwhile shops (the "gun" merchant has the Jet Antidote for Redding if you couldn't get it from Dr Troy, but only restocks every 1 or 2 weeks) and a few quests to be done before you can sail away into the sunset. The bar is always closed (because the script contains a condition which is always true). Marc beside the bar can answer a few questions. The captain upstairs won't talk to you until you finish quest 11 or 14, but once you do he'll give you quests 2, 3 and 10 (or 1, 2 and 10 depending on which "steal" quest you choose... in any case, those are the NavCom, Fob and fuel quests he gives you), all of which must be completed for the tanker to take off. The computer nearby will tell you what still needs to be done (and will in fact put the NavCom and fuel quests on your list), and you also use this computer to sail off once everything's taken care of.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you kill any of the named vagrants and Sneak over to Badger (so he doesn't get to enter combat mode) and talk to him, he'll say he turned the Shi and the Hubologists against you through his computer. The Shi will turn hostile, but not the Hubologists. Well, that's pretty useless.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
One of the black-haired female vagrants has a rare XL70E3, but you'd have to kill her for it (Super Stimpaks will do, if you don't plan to wipe out everyone here). The other one has a Gauss Rifle, as does Marc. Several of the other punks walk around with H&amp;K G11s that you can steal if you are so inclined. At this point in the game money and extra weaponry should mean very little to you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Once you set sail you won't be able to return to the mainland before finishing the game, so you should decide what NPCs, items and weaponry you should bring. Strictly speaking you don't need to bring anything at all, but if your character doesn't have a high IN and/or Speech, you may want to bring plenty of ammo and some devastating weaponry.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
A player who calls himself Mikes_29 has made the point that if you plan on levelling up on random encounters in the wasteland, you should do it before the Enclave. This way you have something to look forward to, whereas playing when there is nothing left to do will most likely feel significantly less rewarding (and then you'll be able to get any number of free xp by other means). One argument for making no xp runs at all before taking on the Enclave is that this way of boosting your character makes it mostly irrelevant how well you performed during the earlier stages of the game. But this is all up to you, of course.</blockquote>

Now there are two factions in San Francisco except for the Brotherhood, namely the Shi, who make up the bulk of the population, and the Hubologists, who form a crazy evil sect with an uncanny resemblance to... something. The leaders of the former reside in the Steel Palace to the east of the downtown map, while the others are holed up beneath what appears to be the remains of one end of the Golden Gate bridge, to the northeast of Chinatown. 

In the Steel Palace, you'll find three different types of computer terminal (aside from the usual generic ones which cannot be used): the chemistry workstations (the room to the left when you come in, and the three along the wall in the room to the right), the physics workstations (the ones inside the railing in the room to the right) and the biology workstations (some of the terminals in the room to the north past the throne room). When you first arrive here only the chemistry terminals can be accessed; the other two, which you have no real use for anyway, must be activated from the mainframe. (Don't mind the "incredible luck" message you get when trying to access the biology workstations, it's a scripting error.) You don't actually need a good Science skill to hack into a workstation, all that happens is that the lab techs' floating text changes. 

If you proceed through the throne room and use Repair on the forcefield emitter (nothing happens if you fail), you can try to hack into the Shi mainframe. With good Science you can do this for 3000 xp, but after you log off the guards will have noticed and everyone will be hostile, including the people in Chinatown. Bad. If you have Science at least 115%, however, you can hack into the computer without anyone ever noticing, and then you get 7000 xp instead. Good. From here you can activate the workstations and access them, as well as read some trivia and format the hard drive (not your own - the one in the game). If Ken Lee gave you the password you don't get any xp from using it to access the computer, but you can still hack your way in for the xp (the Shi <i>will</i> turn hostile if you do a poor job of it, though). Of course, failing a hacking attempt completely turns everyone hostile as well.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Apart from doing quest 8, you can get the password from Ken Lee by asking for fuel if you have the tanker fuel quest active (you get one chance) and pass a difficult Speech check. You can still get the quests from him afterwards.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
I think the only thing you can do at a workstation that you can't do from the mainframe is read a personnel file in the biology database, which is not important. However, one big difference is that from the chemistry workstations you can divert fuel to the tanker <i>and</i> the space shuttle, if you have both those quest, while the mainframe will realize after you move the fuel to one place that there isn't any left. This is a bug.</blockquote>

Over at the Hubologist base, talk to Dave Handy outside, ask him where he's from and why he's come here to find out he's got a crush on Vikki Goldmann downstairs. After you mention this to Vikki, return to Dave and tell him what she said. If you say she made fun of him, you get a one-shot chance to tell him to get back at her by doing quest-related stuff. If you tell him she thinks he's hot you can leave conversation and return later if there's anything you want him to do, but it might mean missing a few xp (see quest 10).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Asking him to format the Hubologist hard drive (Speech check needed) for 0 xp has two minor effects: firstly you gain 25 karma, and secondly AHS-9 will not give you quest 4 if you ask him for work (but AHS-7 will). If you mock Dave afterwards, he attacks. Apart from that no one cares. Additionally, Misha found that if you told Dave that Vikki likes him you can have him do this as many times as you like and obtain the karma bonus each time. If you don't mind exploiting a bug this is probably the easiest way of quickly raising your karma by a large amount.</blockquote>

In my opinion, the Hubologists are in their own way far more despicable and dangerous than either New Reno or Vault City, though some may disagree. Still, they give quests, so they must be obeyed (we can always kill them later). To become a Hubologist you first need to get inside the base, in any of these simple ways:

<ul>
<li>Tell the AHS-7 you have a letter for the AHS-9, if you have the quest from NCR.
</li><li>Tell the AHS-7 you need to see Crocket, if you've spoken to Lao Chou or Dr Jing about him.
</li><li>Tell the AHS-7 you're thinking of joining the Hubologists.
</li><li>Use Repair on the forcefield emitters. No one seems to mind.
</li><li>With IN&lt;4 the AHS-7 will let you pass if you got the alignment in NCR or if you say you want to get one.
</li></ul>

Find Vikki and Juan to the northeast and listen to their sales pitch, or at least set them off by walking up to them and then go loot the footlockers while they prattle (you can also skip their speech by resting). If you talk to them afterwards and agree to join, you get a holodisk but are not a true Hubologist until you go to speak to the AHS-7 by the stairs. If you didn't get the zeta scan in NCR, you have to subject yourself to one now in order to become a Hubologist. After joining the AHS-7 for a session in the prayer room, either your IN and LK will increase by 1, or your LK will drop by 1. These changes are permanent, so save first. He'll try to give you quest 7, and now you can also talk to Harry outside to get quests. You can get the scan here and still turn down the offer to become a Hubologist, but they won't like you afterwards.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Beware another scripted sequence bug: if you leave this map after setting off the speech but before it's finished, Vikki and Juan will remain on the podium, completely unresponsive.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The AHS-9 will give you the same quests and rewards as the AHS-7. It doesn't matter which one of them you report back to.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: The whole thing is a bit different for a stupid character. If you got the zeta scan in NCR you can head on in and get quest 4 from the AHS-9 only. If you didn't, then you'll get the alignment from Juan and Vikki, not from the AHS-7. Note that if you have IN 3 then the "good" result of this scan will make you unstupid, which is probably not what you want (especially considering the reward for quest 4, see below), so I'd recommend getting the scan in NCR instead.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you become a Hubologist, none of Dr Fung, Lo Pan or the Dragon in Chinatown will talk to you (so you may want to do all quests related to them first). Strangely enough, the Shi will. If you fight the Hubologists you'll be able to talk to these people again (this is a change from v1.0).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In one of the footlockers you will find a pointless oddity: two lit Flares. Their unlimited duration might have been a good thing, if they had actually emitted light, which they don't, and if anyone had ever used Flares anyway. They can be sold, though.</blockquote>

Crocket in the room with the Hubologist mainframe will upgrade two suits of Power Armor into Hardened Power Armor for $10,000 each. You can also threaten to kill him if he doesn't do it for free, but he may call your bluff so save first. Or you could just steal your money back. If you get quest 15 you can make him upgrade any number of suits even though he says he's out of chemicals. Accessing the mainframe (good Science needed, try until you succeed) doesn't lead to anything useful at all; it may have been intended for an omitted quest, or just for flavour.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's a slight glitch here: you can pay Crocket to upgrade multiple armours as long as you don't leave dialogue, and lose money (assuming you pay, that is) and one Power Armor each time, but naturally when he's done you only get one back. This would be sort of the opposite of bug exploitation.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you fight the Hubologists you can't talk to Crocket any more (assuming he survives).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The forcefields in the Hubologist and Shi bases can be taken out with Repair or Dynamite without alerting anyone (if you use explosives and fail a Traps roll the field will just flicker for 1-2 minutes). You'll have to do this in order to get out once you start killing people in either place. Bring a Tool if you want to be able to disable the forcefields in combat mode.</blockquote>

A note on the numbers in the quest list below: You cannot be assigned to steal the Vertibird Plans from both the Shi and the Hubologists in the same game, for the simple reason that you must choose one faction to give the plans to in the first place. (This is the only time in <i>Fallout 2</i> where two Pipboy quest entries are mutually exclusive; <i>finishing</i> conflicting quests is of course a completely different matter.) If you get as many quests as possible in your quest log (which means you have to become a Hubologist), the Hubologist fuel quest will always be quest number 6. For this reason there are two quests with the number 5 in the list, so that all the quests with higher numbers in your log will match those in this list. If that seems confusing, feel free to ignore the numbers altogether.

<ol>
  <b></b><li><b>Steal the vertibird plans from the Hubologists.</b> 

  p.
    You'll get this quest from Ken Lee if you gave the Vertibird Plans to the Hubologists. One way of stealing them is to ask Dave Handy to copy the plans for you when you get him to do stuff for you (you can then drop them and ask for more, but there's no need for that). You get this option even if you don't have the quest active, as long as the Shi have asked you for the plans. Badger can also hack into the Hubologist computer for you if you give him a day or three. Bringing them back to Dr Wong earns you 5000 xp.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You can get the quest to retrieve the plans from Navarro and then to steal them if you give the plans to the Hubologists in the meantime. Even if you have both quests active you still only get one reward for bringing a copy, though.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  Once you've delivered a set of the plans to a faction they can't lose it; all you can do is copy it for the other faction. So you can't literally steal the plans back and forth forever. Uh, in case anyone was wondering. :)</blockquote>

  <b></b></li><li><b>The navigation computer needs the NavComp part to work.</b> 

  Once you have the NavCom Parts from Vault 13 and the Tanker Fob from Navarro, go to the navagational (sic) computer, taking the ladder from the locked room in the hold, and use the parts on it for 2000 xp. 

  <b></b></li><li><b>You need to use a FOB to access the navigation computer.</b> 

  You get this quest when you examine the lock mechanism in the hold of the tanker or after talking to the captain. Bring the Tanker Fob from Navarro and use it on the thingy beside the door in the hold to open the door and gain 2000 xp. 

  <b></b></li><li><b>Kill the Shi emperor.</b> 

  You can get this task from the AHS-7 (or AHS-9) after killing Badger, or if you tell the AHS-9 that you've come to kill him on behalf of the Shi, or if you have IN&lt;4 in which case you only get this one. As you may already know, the Shi Emperor is actually a computer in the room behind the throne (the whole thing is kinda reminiscent of the Dead Nations in <i>Planescape: Torment</i>), and one way of doing this quest is to hack into it and format the hard drive. This isn't exactly a good idea, since all the Shi including those in Chinatown and all the shopkeepers will turn hostile. However, the other way is to kill Ken Lee, which can be done with Super Stimpaks without offending a soul. You get 5000 xp when you return to AHS-7 or AHS-9 with news of your Kirk-like computer-wrecking skills or Stimpak sneakiness, but then the AHS-9 will basically tell you to piss off.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you already got the fuel for the Hubologists you only get one chance to ask AHS-7 for this quest, and you won't be able to report back to him (for that, go to the AHS-9 instead). You can restore this dialogue by moving the fuel on to the tanker.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  |IN&lt;4: The AHS-9 will actually have a reward for the stupid character: preparing the tanker just like after the Brotherhood quest (see below). Thus you get 5000 extra xp for getting the fuel (even if you already secured it), and what's more, the thing is bugged so that you can talk to the AHS-9 again for 5000 xp each time.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  |It's not possible to be rewarded for both assassination quests. If you start by formatting the computer you won't be able to talk to Ken Lee later, and after you collect your reward for killing AHS-9 you won't be able to close this one by talking to AHS-7.</blockquote>

  <b></b></li>
  <li>
  <b>The Hubologists need plans for a vertibird from Navarro.</b>
  <br>
  <br>

  Harry the rocket supervisor will give you this quest once you become a Hubologist. Navarro will show up on the map so you can go there for the plans. Hand them over for 5000 xp.
  <br>
  <br>

  <b></b>
  </li>
  <li value="5">
  <b>Steal the vertibird plans from the Shi.</b>
  <br>
  <br>

  You get this quest from Harry instead of (or in addition to) quest 5 (the <i>other</i> quest 5... which will then be quest 4, since you didn't get quest 1. Get it?) if you've given the Vertibird Plans to the Shi. If Badger owes you a favour he can get the plans for you in a day or three (and/or the fuel for the tanker, if you have that quest), and gets whacked by the Shi afterwards. See quest 1 for additional notes. 5000 xp as usual.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
  You were also supposed to be able to copy the plans by hacking into the Shi physics database yourself, but this is bugged and you never get the item in your inventory.</blockquote>

  <b></b></li><li><b>The Hubologists need fuel for their spaceship.</b> 

  This is Harry's second quest. Dave Handy or Badger cannot get this fuel for you, you must either deal with Dr Jing (see quest 15) or hack the Shi computer system. Getting the fuel is worth 6000 xp, and as in quest 10 you get 3000 more if you do it from the Shi mainframe (but you get these even if you got permission from Lee). If you already moved fuel from the Shi you can only get it from a workstation. 

  <b></b></li><li><b>Kill Badger so the tanker vagrants will embrace the Hub.</b> 

  This is the first task the AHS-7 (or AHS-9) gives you when you become a Hubologist. Walk over to the tanker and kill Badger in your preferred way (Super Stimpaks or a Bozar to the eyes), then return to the AHS-7 for your reward of 3000 xp. Now for quest 4. 

  <b></b></li><li><b>Kill the AHS-9.</b> 

  You get this quest from Ken Lee either after giving the Vertibird Plans to the Shi, or if you tell him you've been sent by the Hubologists to kill the Emperor. Or just kill the AHS-9 anyway. You get 5000 xp when you return to Ken Lee afterwards, and he'll give you the password to the Shi computer.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you accepted this quest after getting the quest to kill the Emperor, the AHS-9 will know and attack if you talk to him. The same thing happens, a little counter-intuitively, if you get this one first and then get the other quest from AHS-7.</blockquote>

  <b></b></li><li><b>The Shi need plans for a vertibird from Navarro.</b> 

  If you ask Ken Lee in the Steel Palace for fuel or to see the Emperor, he'll charge you with giving the Vertibird Plans to Dr Wong. Navarro appears on your map. (If you already gave the plans to the Hubologists, you get quest 1 instead.) This is worth 5000 xp, and you get quest 8 if you still want to see the Emperor.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you already killed AHS-9, you won't get this quest.</blockquote>

  <b></b></li><li><b>The tanker needs fuel.</b> 

  You find out about this quest on the bridge of the tanker, from the computer or from the captain. There are several ways of getting fuel for the tanker, which is worth 5000 xp unless otherwise specified: 

  <ul type="disc">
  <li>From Dr Jing after doing quest 15.
  </li><li>From Badger after doing quest 11.
  </li><li>From a Shi chemistry workstation.
  </li><li>From the Shi mainframe (a bonus of 3000 xp if you did <i>not</i> yet gain Ken Lee's permission to use the computer).
  </li><li>From Dave Handy after talking to Vikki (5000 xp if you tell him she made fun of him and he gets the fuel from the Shi, 3000 xp if you tell him she made fun of him and he gets it from the Hubologists, no xp if you tell him she thinks he's hot).
  </li><li>From Matthew when you complete quest 16 if you have IN&lt;4.
  </li><li>From the AHS-9 when you complete quest 4 if you have IN&lt;4.
  </li></ul><br>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  The last two options don't take fuel from any particular place. Of the others, only Handy can get the fuel if the Hubologists have it (Badger says he can, but see below). Using the workstation is the only way you can get fuel from the Shi after you've already moved it from there.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You can get double experience by taking advantage of a glitch: tell Badger to transfer fuel (from the Shi or the Hubologists), then get the fuel in some other way while he's busy hacking, and finally return to collect Badger's xp. Another Badger bug is that if the Hubologists have the fuel and you ask him to get it from there, this triggers the completion of quest 6 over again, meaning you get 6000 xp but the fuel doesn't get transferred and this quest is left unresolved. Making use of the first bug makes the second irrelevant.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you let Dave Handy move the fuel from the spaceship to the tanker, this drains the Hubologists' fuel reserves so that you can go to a Shi workstation and use it for another 6000 xp. This is of course possible only because of the workstation bug. Telling Badger to steal the Hubologists' fuel does not have this effect, since he actually doesn't.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If Handy hacks the Shi computer for the fuel it triggers Badger's death sequence (meaning you can't talk to Badger from that point).</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  Someone expressed interest in how to go about the fuel thing to maximize the xp count. Taking advantage of three glitches this would seem to be: First of all, give the Vertibird Plans to the Hubologists. Go to the Shi mainframe and route the fuel to the Hubologists (9000 xp). Go to Badger and tell him to get the fuel from the Hubologists for the tanker. Go to Dave Handy and pick the "made fun" option, then tell him to move fuel to the tanker (3000 xp) and be sure to get a copy of the plans. Go to the Shi and use a workstation to move fuel to the Hubologists (6000 xp), wait and return to Badger (6000 xp). Finally lower your IN using drugs and get another 5000 xp for fuel when you give the plans to the Brotherhood. In all, 29,000 xp. You could also include the stupid reward for quest 4 in this scheme, but that's on the dark path (and yet another glitch). If you don't want to cheat at all I suppose you'd only get 12,000 xp: 9000 from the Shi mainframe and 3000 from Handy.</blockquote>

  <b></b></li><li><b>Find Badger's girlfriend in the hold below the ship.</b> 

  Once you get the tanker fuel quest or a quest to steal the Vertibird Plans, you can ask Badger to hack the Shi or Hubologist computer for you, and he will give you this task. You don't need to get it in advance, though. Go into the hold by the manhole in Badger's room or the stairs in the back, kill the monsters and aliens (good, clean fun), and go talk to Suze in the northeast corner. Lead her to one of the two stairs and she'll disappear. When you've followed her up, talk to Badger and you get 5000 xp for your troubles. If Suze is discovered and killed by the monsters (or if you kill her), you get no xp, but Badger will still hack for you after you give him 3 hours to mourn. In any case he'll only perform one hacking job for you (takes him 3 days if Suze is dead, 1 day if she lives), then you won't be able to talk to him again.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you let Badger hack the Shi computer, then the next time you visit the tanker after 1-3 days have passed (the timer starts when you leave and re-enter the tanker), you will see a cutscene in which he is executed by two Shi guards. No big deal since you have no further use for him, and if you have the quest to kill Badger you can now report back to the AHS-7. It all adds up. :)</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You can liven up the cutscene by dropping explosives in front of the exit (if you want to hit the Shi guards) or halfway between the exit and the barrel (if you want to hit Badger as well). Enter the tanker when the execution is scheduled to happen and set the timer on one or more charges for 20 seconds before scrolling up to trigger the cutscene. Each of the Shi will drop a H&amp;K G11E if they have time to draw them. This won't turn the rest of the Shi hostile, but hurting Badger will turn the punks against you. Depending on circumstances (NPCs, your trap-laying skills) the cutscene may still play to the end, but should Badger die before that, the Shi will remain and you won't return to visibility. In this state you cannot initiate combat nor be attacked (though you can still piss people off), and you can't trigger spatial scripts (mostly meaning you can't use elevators or set off floor traps). The only way to get visible again is to go to NCR and perform Westin's brahmin quest, assuming you still can.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
  In v1.0 the Badger cutscene would freeze the game if he was prevented from reaching his destination tile, or (less likely) if you happened to be in combat when it was scheduled to begin.</blockquote>

  <b></b></li><li><b>The Dragon wants you to take out Lo Pan - hand to hand.</b> 

  Ask the Dragon who he is and whether he'd like to take you on (need Unarmed 125% for this), or challenge him to a test of skills (no skill requirement, oddly enough). You'll get to fight six of his men, one at a time, after which he'll give you this quest (8000 xp). Challenge Lo Pan to a fight, kill him (2000 xp if you didn't take his test, otherwise no xp, but he's a wimp), then return to the Dragon for 3000 more xp. Although the Dragon says you have to defeat Lo Pan in honourable combat, you still get the same reward if you kill him with Super Stimpaks.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You are fully healed before each fight including the final challenge, and you are also healed after you finish the test successfully, but not if you fail. All this is true for the next quest as well.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you attack "with armour and weapons" you'll have to fight the whole town. This goes for the next quest as well. If you lose a test fight, you can take the test again but must fight all six fighters from the beginning - including those you already killed. Both quests can be completed for the same xp (minus what you get for the tests) by challenging a fighter before getting the quest and then reporting back to the other. One rare exception is if Badger has been killed by the Shi, in which case the Dragon will brag about that instead of rewarding you for defeating Lo Pan.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  When losing (being down to one third of his HP), Lo Pan will pull a .223 Pistol on you. No big deal. Unfortunately you can't loot his body.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  There is an xp bug for both tests found by Sebastian Cassten: "When you've defeated your last opponent, save. When ending combat, start hitting A rapidly and you might end up in combat mode during the fade-out. Save in the blackness, then load and you'll find yourself in the ring. When leaving the ring you'll be rewarded for the test of skills twice."</blockquote>

  <b></b></li><li><b>Lo Pan wants you to take out the Dragon - hand to hand, if possible.</b> 

  Ask Lo Pan who he is and whether he'd like to take you on (need Unarmed 125% for this), or challenge him to a test of skills (no skill requirement). You'll get to fight six of his men, one at a time, after which he'll give you this quest (8000 xp). Challenge the Dragon to a fight and kill him (no xp), or kill him with Super Stimpaks or something, then return to Lo Pan for 3000 more xp.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you already completed the Dragon's skill test you lose the dialogue option to take Lo Pan's test of skills, but you can still get it by raising your Unarmed to 125%.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You can challenge and kill Lo Pan afterwards, but it won't net you any more xp.</blockquote>

  <b></b></li><li><b>Get Chip's spleen.</b> 

  Chip is the bald guy outside Badger's room in the tanker. Offer to get his spleen, then head to the Flying Dragon 8 and ask the shopkeeper about the spleen, turns out Dr Wong in the Shi palace has it. Go to Wong. Now you only get one chance to get this right, so when you ask about the spleen, either make the <i>Silence of the Lambs</i> reference or tell him it's a human spleen. If you just tell him Chip wants the spleen back you won't get it. Also he won't give it to you if you angered him previously with the "shoved a gun under your nose" line. 

  You get 2000 xp if you make Dr Wong promise to return the spleen. You still need someone to perform the operation, so go to Dr Fung in Chinatown. If you've met Doc Holliday in Broken Hills he'll do it for free (even if you haven't mentioned that in dialogue), otherwise he demands $1000. Next go tell Chip, wait one day until he returns to the tanker, whereupon you get 3000 more xp.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  This is one of the few "timed" quests in the game: Chip will die of his spleenless condition five days after you first agree to help. If you run around town making the necessary preparations without going off on aimless excursions into the wasteland it shouldn't be a problem.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  |Killap: "Accept the quest to get Chip's spleen back. Tell him Dr Wong has it. Refuse to help put it back in, refuse again when Chip pleads for help, and then finally accept. Following this procedure will cause Chip to continue being mad at you for refusing (despite you finally accepting) and the dialogue option with Dr Fung will never appear."</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
  If you get the maximum number of quests for San Francisco in your Pipboy, this one and the ones below it won't show properly in the Pipboy window.</blockquote>

  <b></b></li><li><b>Get some hardened power armor from Crockett.</b> 

  To be able to get this quest, you must have quest 6 or 10 active and you must not have moved any fuel yet. In the Steel Palace, in the room to the south with scientists in it, there's a scowling man named Dr Jing. Tell him you need fuel and he'll tell you to get him some Hardened Power Armor, which can be obtained from Crocket in the Hubologist base (you need to give him a suit of regular Power Armor as usual). If you have this quest active you can tell Crocket that Dr Jing will probably give him rocket fuel in exchange for the armour (even if you already got fuel for the Hubologists), and he'll upgrade a suit for free. When you return to Jing with the armour, you can ask for fuel for the tanker, fuel for the Hubologists, or $20,000. Whichever you choose you get 5000 xp for this quest.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you deliver the armour to Jing in exchange for money or tanker fuel, every time you talk to Crocket afterwards he will whine about not getting any fuel (which means you don't get any more upgrades, even if you only got one so far), but nothing else happens. Life is hard. Note that this happens even if you never promised fuel to Crocket.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  You can actually upgrade as many suits as you like before finishing this quest. This is because Crocket never complains about lack of chemicals as long as you say you're getting the armour on behalf of Dr Jing. Getting an upgrade will make the quest dialogue option disappear, but just return to Jing and "reactivate" the quest, then go to Crocket again and follow the quest dialogue for another suit (promising him yet more fuel). Keep going back and forth until you have all the upgrades you need.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you trade the armour for money or fuel for the Hubologists, Jing keeps it in his inventory so that you can steal it back from under his nose. If you trade it for tanker fuel it disappears.</blockquote>

  <b></b></li><li><b>Get the vertibird plans for the Brotherhood of Steel.</b> 

  Matthew outside the Brotherhood building can, unlike his colleagues in the Den and NCR, actually carry on a meaningful conversation. He'll put Navarro on your map and tell you to retrieve a set of Vertibird Plans. Do this (see Navarro) and you get 20,000 xp for your troubles as well as access to the Brotherhood bunker. What's more, Matthew lets you keep the original plans so that you can use them in some of the other quests above. Two days after this Matthew will disappear (even if he's standing right in front of you, and even if you already won the game), and you can get the computer to show you exactly why.

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If your IN is less than 4 when you deliver the plans, the Brotherhood will fix the tanker so that it's ready to leave, which means you bypass the fuel, NavComp and Fob quests. You get the 5000 xp for getting the fuel as well, even if you already got it. (You can still get the xp for using the Tanker Fob and NavCom Parts if you want.)</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  If you have this quest active after giving the plans to another faction you can ask Badger to get them for you when hacking, but it doesn't allow you to ask him about hacking in the first place.</blockquote>

  <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
  The video sequence, just like the one in Vault 13, will have your NPCs visible in it. Since this one takes place on a dummy map you can't start a fight by dropping explosives, but that didn't stop Sebastian Cassten from once again killing Horrigan and the Enclave soldiers (see the V13 section for details): "I loaded my main character with set Plastic Explosives, triggered the video, and soon after the fighting began. Somewhat annoyingly, when the first explosion goes off you'll most likely be attacked by one of your followers. However, once combat ends and though your PC is invisible, he or she is still able to fulfil all the usual functions (besides attacking that is). Thus I would suggest that before the next blast goes off you should place your character in such a way that it only causes damage to your enemies. Also, when the killing is over you might have some time left to collect a few items. There's a Turbo Plasma Rifle on Matt's body and the containers in the southwestern room are filled with the same loot as in the actual BoS bunker. So there's your second suit of Brotherhood Armor which you'd always been looking for."</blockquote>
  </li>
</ol>
