h2 The Stables

+fancyQuote("--Myron")
  p.
    You should be glad I'm with you to point out all your stupid mistakes.

In spite of how Jules and JJJ ramble on about security, this place is a Swiss cheese; you can run around wildly opening doors and chatting to the guards, as long as you don't try to loot containers in front of them. None of the tables of stuff has anything on it. If you have Science 76% you can talk to Marjorie Reed about Jet and Redding and get a Stables ID Badge for 500 xp. Male characters can charm her with the same results if they have CH 6 and one of the following: Smooth Talker, CH 7 or Speech 66%. You can also steal the badge off her. You can't talk to her with Myron in your party, but just drop him off if you need to.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|Here's an almost completely pointless and absurdly obscure way of going to the Stables. You need IN 7, CH 6 and Science 76% and must be female to do it, and you must not have recruited Myron yet. First you must talk to Marjorie Reed about her research until she mentions that Myron receives a lot of prostitute visitors. Then return to New Reno and talk to Jagged Jimmy J about Myron until he tells you how these prostitutes are selected (Jules has a similar set of dialogue, but doesn't provide the crucial info). This allows you to go to Miss Kitty and ask her if you can volunteer to go see Myron. You are then deposited outside the Stables compound with no further instructions. Only thing is, since you had to talk to Reed for this to happen, you have obviously already been there, so the only thing you get for your troubles is 500 xp.</blockquote>

In the cattle pen, look for a brahmin with a different description that goes about grunting. Use Doctor on it for a reward of 100 xp and 50 Micro Fusion Cell. If you fail your skill check three times, the cow will attack; in this case you don't get the cells, even if you run away and return later or if you kill the cow and wait for the corpse to dissolve. Amazing fact: you can make the brahmin poo go away by using a Shovel on it.<br><br>

Go down through one of the two manholes. To get past the door to Myron's room you can either flash an ID Badge, tell them you have an appointment if you're female (need CH 6 or being a Porn Star), or let one of your NPCs walk through the door so that it opens and just step through without talking to the guards. Talk to Myron about Jet and stuff, and get him to join you for 750 xp (you can get through this by just pressing 1 repeatedly if you've done it before), although you might want to dump him fairly immediately. You should be sure to get New Reno quest 7 from him eventually. If you don't plan on picking him up you can still make him give you all his stuff if you killed the guards.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The script which makes Myron react if you search his tables is still active after you recruit him, but all that happens is that he'll enter combat mode and run away for one round (though he may also choose to use up Jet if he's still carrying it). On an amusing note, you can kill Myron in front of the guards once you recruit him and they won't bat an eyelid.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can't get Myron to join you, but you can make him give you everything in his inventory. If you're a woman with CH 6 or more, this dialogue is different. If you first introduce yourself then try to leave conversation, Myron will offer a sleeping drug. If you have EN 7 or Chem Resistant but <i>not</i> Chem Reliant, you'll withstand the effects and can then get all of Myron's stuff if you pick the lines 1, 2 and 2. If you succumb to the drug Myron will have his way with you (All: Eww!) and try to use a Booze on you.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Myron will spawn some items the first time you either recruit him, attack him or tell him to give you all his stuff: 3 Super Stimpaks, 3 Stimpaks, 2 Jet and 1 Red Condom. This doesn't make much of a practical difference except if you were going to sneak in and steal his things without talking to him, or blow him up.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Tom Hibbs: "There is a bug where Myron's guards become obscenely interested in being near you. Before Myron is invited to join your party, if he yells for the guards they run in and stand very close to you, running after you when you move. They won't attack you, but it is impossible to lock them inside another room which can become extremely annoying. This can lead to them cornering you in tight areas since you can't push them away." The trigger for this is that you appear sneaking or armed before Myron when he's schedulded to make a float.</blockquote>

Once you've killed the Mordinos in town, you can return here and clean out the place. You can't free the slaves though, in fact some of them will fight alongside the guards. If you turn the guards hostile the Mordinos in town will turn hostile and vice versa, but you can fight the two outside Myron's room without anyone noticing.<br><br><hr>
