include /components/fancy-quote.pug

h2 Temple of Trials

+fancyQuote()
  block quote
    p.
      It's a peaceful village. Except for the plants possessed by evil spirits... and of course, the temple of trials filled with those deadly spear traps and the man-eating giant ants.
  block author
    | --The Chosen One

After a cutscene with the village Elder you start outside the entrance to the temple, proudly owning a Spear. Don't attack your tribesmate, there's nothing to be gained and you'll regret it very much later on. Enter the temple and you find yourself in a hallway. Kill the ants and press forward, exploring the side rooms and corridors. Open the second door using whatever puny Lockpick skill you may have. Kill everything (good xp at this point), loot the chests, pots and bones. Might as well bring as many Scorpion Tails as you can carry, too.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
In the temple you might as well get into the habit of saving a lot. You may not need it, but it doesn't hurt. Save before taking on a bunch of scorpions. Save before disarming a set of traps. Save before setting the explosives or talking to Cameron. Save before taking the hidden elevator to the secret stash of energy weapons. Kidding.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
|There's a helpful close combat trick you should be using throughout the temple, and whenever it's necessary. Attack your foe just once, then use your remaining AP to run away. They'll follow you, but may not have enough AP to strike back, which will simplify things. You can even run them around in circles if they refuse to die quickly. Masklinn adds: "Actually, the Temple of Trials mobs (ants and scorpions) can only walk 2 hexes and still be able to hit you. All you have to do is run 3 hexes away from them and you're safe. This means that a character with 9 AP can land two punches before you have to run, 10 AP granting you one Spear attack and one punch, or one kick and one punch. So basically a character at or above Agility 8 will do the temple a tad faster and easier."</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|There's no point to using targeted blows in Temple of Trials or just afterwards, since critical hits are disabled for the first day of game time. Critical failures are disabled for the first five days.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
From now on I won't comment on this unless there are noteworthy items to pick up, but you should search all the bookcases, shelves, bookshelves, dressers, desks, lockers, chests, footlockers, fridges, ice chests, bones, pots, tables, stuff, workbenches, tool boards, wall safes, floor safes, ammo crates, poor boxes, pool tables, mining machines, iguana stands, boxes, crates and other searchable containers as you progress through the game. After a while you learn to recognize searchable objects on sight. Hard-core gamers will search <i>all</i> of them and take <i>everything</i>. :) There are a few deplorable areas though which abound with empty containers, notably Broken Hills and San Francisco.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
In this game items on the ground or in corpses do not decay, so you can return and pick them up later on unless they're on a map you can't return to (which will, eventually, be true for all of Arroyo and the Temple of Trials). However, to pick up an item you must be able to click on it, so if a dropped item or a corpse is completely hidden by opaque scenery then it will be lost!</blockquote>

On the second map your character will probably start spotting floor traps. If he or she doesn't, you can walk to and fro to make it happen, unless you have a woefully low PE. Should you have the patience, disarm the traps for 25 xp each. If you're reckless and set off a trap, you can pick up the Sharpened Pole which nearly lodged in your chest (or maybe did). To avoid the traps altogether, keep to the right-hand wall. At one point you're required to set an explosive charge (found in a tall pot nearby) in front of a door, which shouldn't be too difficult. Beware of the trap on the doorstep.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
|"You see a raised plate" is the game's universal message that your character has spotted a floor trap, so pay attention and learn to identify them. Floor traps seldom appear alone. (Apparently, even in hi-tech military installations devilishly inconspicuous pressure plates are used to trigger traps. You'd have thought they could use, I don't know, motion or IR sensors instead.) If you fail critically while disarming a floor trap it will say that you accidentally set off the trap; this is not strictly true, as the trap often does not go off, but you can't attempt to disarm it again.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You can set the timer on the explosives in your inventory and then drop it, or another way is to put it in an active item slot, leave the inventory window and use it from there; you'll then drop it automatically. Even with a puny Traps skill you can set the timer to the minimum of 10 seconds and run clear before the bomb goes off, whether you get the "explosive detonates prematurely" message or not.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You can open a lot of doors and forcefields in the game using explosives, grenades or rockets, and also unlock containers, but you shouldn't make a habit out of it. Some weak doors can be kicked in or smashed with any weapon, but those are never locked anyway. Normal doors can only be destroyed by explosive damage, so Bozar blasts and Super Sledge wallops are out. Sturdy doors need three blasts to destroy them, so I wouldn't bother, and many hi-tech doors can be expected to resist this kind of assault indefinitely. On some maps you can use a Crowbar from inventory to unlock containers even with a modest ST, but on others it won't work.</blockquote>

At the entrance to the inner sanctum you find Cameron, who represents your final test. There are three ways to get past him:

<ul>
<li>Fight him unarmed after a conversation (and without access to your Healing Powder) for 300 xp.
</li><li>Steal his key and unlock the door behind his back for 600 xp.
</li><li>Talk him out of fighting (IN 4 required and Speech must be tagged) for 600 xp.
</li></ul>

Beware that even though he says it's not a battle to the death, it is - for you! He'll happily strike a killing blow even if you're at one Hit Point; you, on the other hand, have to beat 20 HP out of him at which point he'll end the fight. In the unlikely case that you happen to kill him you'll have to take the key and unlock the door (still 300 xp), but the villagers won't hold you accountable. If you fight him, afterwards you'll have to go back to the previous room where your belongings have been stashed in a chest. Then go to the exit grid at the top. Cutscene alert!

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Warlord notes: "You can trick the Temple of Trials final trial nicely, if you drop the Spear before talking. You just have to watch out, because if you drop it too close to the man, he'll pick it up in his first round and whack you up pretty good." You could even drop a Sharpened Pole for him to pick up; he'll do a little more damage with it, but he should hit a little less often, and he gets two attacks with it each turn instead of three.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Players often get sick of the temple after starting too many games that didn't progress very far beyond it. Actually it won't affect your game in any serious way if you just run as quickly as you can to each exit. You'll probably have to fight six or seven ants along the way, but that's it. As long as you don't have to fight Cameron the whole thing should be over in a couple of minutes. Personally I think the Temple of Trials is as much a part of the game as any other stage - and also serves to demonstrate the extreme range of playing experiences the game engine has to offer.</blockquote>