h2 Toxic Caves

<blockquote>"Pipin' hot gecko pie, comin' up."<br>
--Mom</blockquote>

True to their name, these tunnels contain green ooze which will hurt you if you step on it. To be safe from harm, you and each party member must be carrying a pair of Rubber Boots in your inventory. Even then, sometimes the boots will randomly melt, leaving you vulnerable (1% for each step, happens to your party members as well), in which case you might want to reload since that's 2 points of damage for each step you take unless you wear Metal Armor or anything else that absorbs plasma damage. However, for the heck of it you may want to do a little voluntary goo stepping. If you step on the goo repeatedly without protection, you'll soon get a message that your feet begin to itch. Eventually (after 15 steps to be precise) it'll say: "Your feet burn and itch for a while, but then they feel better." A month thereafter you'll grow two extra toes, which you can amputate in Vault City... and find an obscure "use" for even further on. And yes, this <i>is</i> the only way to get the toes (I searched the scripts).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you came here in the car, it'll be on the edge of the screen and you can't access the trunk while you're here.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Power Armor protects against the goo as if you're wearing boots. Hardened and Advanced Power Armor do not (so you get the toes if you didn't already), but they nullify the damage. The boots have no effect on bad goo in other areas than this one.</blockquote>

Kill as many geckos as you need to in order to get past, and make sure to raid the locker for boots and stuff. Go down the ladder and make your way to the northeast (avoid the middle tunnel, it has the most geckos). There you'll find an elevator, a broken generator, and a trapper. If this is your first visit you probably won't be able to do much about the first two, so talk to the third (after raiding the locker on the wall, a container type which is easily overlooked). Once you bring him to the cave mouth, he'll make it on his own and you earn 1000 xp. Then after you've been to Klamath and got the Gecko Skinning perk you can return here and take out any remaining geckos.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Smiley will join you fighting the geckos even before you talk to him if you're right outside where he's standing. He's not overly effective, though.</blockquote>

Once you return here with a beefed-up Repair skill (or Vic), you'll be able to fix the generator (50-60% is recommended, a Tool won't provide any bonus). Next you'll have to use an Electronic Lockpick on the elevator door, or it won't open. Go down, kill the rocketbot, then loot, loot and loot to your heart's content: good ammo, a Bozar and a Combat Armor Mark II among other things. (Though the first time I got down here, I was disappointed the place was so small. I'd expected a full-blown base.)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This is the only time in the game you need any kind of lockpick item (unless your Lockpick skills are horrendously bad).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the unpatched version there was significantly less stuff down here: no Combat Armor Mark II, no Bozar, no Plasma Pistol, less ammo. Also you couldn't use the Electronic Lockpick MKII to open the elevator.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
You'll want to kill the robot before it can take too many shots at you, which is where this little trick comes in handy. If you press and hold the A key as the game is loading a new area (such as when you get a random encounter on the world map), you'll enter combat mode and get the first turn before any monsters can react. Kind of a half-cheat which takes advantage of the game engine. Another time you may want to use this is in dialogues where you say things like "Eat grapeshot and die, scumbag". The other party always gets to initiate combat - that is, unless you hold the A key as you leave dialogue. In this particular case you can also use the trick to run past the robot before it can react; if you get to the doorway you'll be safe, even if there are NPCs in the robot's line of sight.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you ever wanted to have your very own Robo Rocket Launcher, you can. What you must do is kill the robot with a critical hit to the head that does no damage (try using Flares, or maybe punching; Better Criticals is a must). Because of a bug this means you get no combat xp, but neither does the bot purge its inventory of special items you aren't really supposed to get your hands on. Next you must knock an NPC unconscious on the same hex occupied by the rocketbot (make sure it's not Vic, Myron or Goris, since they will freak out if looted while unconscious - assuming you care, that is), access their inventory, and finally click an arrow to select the robot. You should now be looking at two purple boxes representing one Robo Rocket Launcher and up to 18 rounds of Robo Rocket Ammo (which are equivalent to Explosive Rockets). This weapon has a very modest ST requirement and takes only half as many AP to fire as a normal Rocket Launcher, but it doesn't do nearly as much damage.</blockquote>
<hr>
