h2 Vault 13

+fancyQuote("--Dave")
  p.
    When I was five, my uncle was decapitated by a watermelon.

As stated above, you can find the location of Vault 13 in Vault 15, or from Saltbeef's painting, or from following the deathclaws from the brahmin map. Once you open the vault door and enter the first floor of the vault you gain 2000 xp. As soon as you open the inner door, a few deathclaws pop out of the woodwork. It's not an ambush, though, these ones want to talk. The ensuing dialogue with pack leader Gruthar can end in three ways: with you accepting to help them fix their computer, or with you being ejected from the map, or with a big fight. If you're evil, i.e. have karma <nobr>-1</nobr> or lower or are a Childkiller or Berserker, Gruthar casts Detect Evil and won't let you inside the vault. Your options then become sneaking, leaving or fighting (at least until you manage to get your karma back up above <nobr>-1</nobr>, which is probably not what you're aiming for if you have negative karma at this stage).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: Gruthar will always let you in, no matter your karma. Thus an evil character could get inside the vault using chems.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You can sneak in or run past Gruthar in combat mode and no one will treat you differently. You can then examine and fix the computer and return to Gruthar for your reward even if you don't meet his moral standards.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Due to what is most likely a bug, Gruthar will turn hostile if you use any of the Steal, First Aid or Doctor skills on him, attacking the next time you talk to him.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
When you kill some of the deathclaws using a pulse weapon with the violence level on maximum, they'll disintegrate leaving a strange purple square on the ground. This is not actually supposed to happen. You can pick up the Claw items and even wield them yourself, but they're not very good as mêlée weapons go.</blockquote>

There isn't really that much to do in Vault 13. On levels 1 and 2 you can't do much more than talk to people and hear their stories, most of which are quite heart-warming (except maybe Dave's, but that's great fun). Usually you can then reply in an admiring, neutral or spiteful manner. Most often it doesn't matter which response you choose, but there are some critters you can talk into attacking if you're rude and/or aggressive enough. Maybe least obviously, if you tell Sandy to stop with the "cat bullshit" her mother will attack (and, as a result, everyone else).<br><br>

The doc on level 1 will heal you for free (HP and poison, not NPCs). This isn't a good idea if you're radiated, though, since Joseph will try to double your current dose (how well he succeeds depends on your Radiation Resistance). ACE in San Francisco had this bug as well before the patch, but at least that was fixed!<br><br>

On level 2 you can agree to help Matt escape (you must ask him why he's not allowed on level 1 when you get the chance, or you won't get another one). If you do, you're teleported to level 1 where the guard attacks Matt. If you do nothing, Matt will be massacred and that's it, but Gruthar will turn hostile if you tell him "Screw you and everyone who looks like you" (or the stupid equivalent, which is not obviously offensive). If you help Matt escape by killing Thearn and Gruthar, he just runs away and disappears without so much as a thank you, and you get no extra xp or anything. After you examine the computer you can provoke Matt into attacking you, or you could even execute him in cold blood with no consequences.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Matt dies but Gruthar remains alive, the game will crash if you leave the vault and return, or if you save and load in the vault. This happens regardless of whether you kill him yourself or he is killed by the deathclaws. You can move freely between the three levels and finish what business you have, but don't bring about Matt's demise unless you're killing the deathclaws or you don't plan to return to Vault 13 until after the massacre.</blockquote>

On level 3 you can pick the lockers and take the stuff, including a G.E.C.K. (remember your Arroyo quest?) and the important Navcom Parts, and no one will notice or care.

<ol>
<b></b><li><b>Fix the Vault 13 computer.</b><br><br>

The computer is in the Overseer's room on level 3. Looking inside it will lead you to discover the problem. Get a Computer Voice Module and use it on the terminal (or just access the terminal with the module in your inventory) to fix it. If you ask Jimmy about where to get one he will in a clairvoyant fashion point you in the direction of Vault City and New Reno. Talk to Gruthar afterwards for 5000 xp, and if you didn't already take the G.E.C.K. he'll hand it to you.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: Gruthar won't hand you the G.E.C.K., so you'll have to help yourself. I'm sure that kind of thing comes quite naturally by now.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Two weeks after you get the 5000 xp from Gruthar, Frank Horrigan and his Enclave goons will arrive to butcher the deathclaws (unless you're there, of course, in which case they just wait until you've left). Everyone dies but Goris, and you can use the computer to see a video sequence of what happened. In order to keep the deathclaws alive to the end of the game, don't collect the reward (see the Endings section for more on this). Killing Gruthar stops the massacre from happening, but then you'll get the bad ending anyway. A little weirdly, it's perfectly possible to trigger the massacre after you've been to the Enclave and killed Horrigan.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Mark Furmage adds: "When you watch the killing of Gruthar the pack leader in the 'hologram' the game actually generates the people in the hall, so if you're in dire need of thrills and have a lot of explosives you can kill Gruthar and the Enclave patrolmen. Watch out for Horrigan as he seems to be able to hit your character through Gruthar's still living body... or dead body if you throw some explosives near him. The bodies disappear when the hologram finishes, you get the xp however." Only one charge will go off at a time, so it's very difficult to kill any of the Enclave soldiers. Having NPCs around helps, as they will be visible and may end up attacking the soldiers or even your invisible self. Sebastian Cassten even managed to kill Horrigan using an elaborate scheme that I'll just sum up briefly. Get a number of NPCs with the capacity to deal lots of damage (like Marcus with a Vindicator Minigun and plenty of ammunition). Then give them ridiculous amounts of AP (you can get them to 99) using a vast supply of Jet and the save/load trick (see Items) - but do it quickly, since the duration is only five minutes. Place an NPC (Goris might be suitable for this) in the doorway from the corridor so that the rest won't follow you when you go to activate the recording. Finally, you can tell some or all of your people to attack "the strongest" to make them focus on getting Horrigan. Hopefully your explosives should result in enough combat rounds for them to get the job done with their artificially increased number of attacks.</blockquote>

<b></b></li><li><b>Talk to Goris.</b><br><br>

Gruthar can give you this "quest" by telling you Goris has more knowledge in certain matters. You complete the quest simply by entering dialogue with Goris. After you've asked him a lot of stuff (he puts the Military Base on your map when you ask him what he knows about the Enclave) you can ask him to join your party. Beware that if you leave conversation before you've asked him everything you can, afterwards you'll only be able to ask him to join you (unless for some reason he won't, in which case you get another shot at the questions).
</li></ol>
<hr>
