include /components/fancy-quote.pug

h2 Vault 15

+fancyQuote()
  block quote
    p Uh... I have information that... could lead to establishing a network of... um, all the existing vaults throughout the country. That's it.
  block author
    |--The Chosen One

p.
  Hmm, the layout of this place has changed a bit since the original game. I guess Zeke's house is supposed to be the shack with the manhole in it, but where did that cliff face come from?<br><br>

When you first get here, people won't be very talkative. Zeke won't talk to you, Dalia guarding the path to the northeast won't let you pass, so your only choice is talking to Rebecca, the woman standing south of the tent in the middle. Follow her into the tent and choose your dialogue options wisely for some information and eventually quest 3.<br><br>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you can't be bothered to rescue people, kill Zeke for the keycard, then kill Dalia or initiate quest 3 so that you can get her to move. If you kill one squatter the others won't turn hostile.</blockquote>

To enter the vault, use Zeke's keycard on the metal door in the cliff. If you try to open the door without it, you'll take 10-20 damage; with a ludicrously high Lockpick skill (250%, no lockpick item will work) you can actually pick the door, but you'll still take damage every time you open or close it (unless your Traps skill is also in the same range, which will prevent you from getting hurt but also from opening the door). Once inside, simply don't talk to any of the guards and you don't have to fight them. If you're addressed by the woman in front of the elevator as you come down, you can tell her your name is Pat if your IN and Speech are up to it and they'll think you're one of them, else you have to fight them (this turns the Khans on levels 2 and 3 hostile as well).<br><br>

The doctor on level 1 will heal you for free (HP, poison and radiation, no NPCs), but won't talk to you at all if you've killed any of the squatters. He'll give you some pointless info on Darion. You can't tell him he's free to leave even if you kill Darion's people. The computer terminal on the wall by the forcefield emitter will turn the forcefield on or off once you restore power. The ladder at the bottom of this map should theoretically go to the manhole in Zeke's house, but since that's inaccessible until you seal the deal with NCR you end up outside instead. Error, does not compute.<br><br>

Whatever you do on level 2, don't miss the Combat Armor in the footlocker (and the .223 Pistol isn't so bad, either). Use first Science and then Repair on the generator to bring power back online for 3000 xp. This has the effect of starting up the forcefield by the entrance on level 1. If you anticipate some trouble fighting the raiders I recommend that you start the battle on this level, because you can then avoid the vulnerable starting position in front of the elevator.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The forcefield can be temporarily disabled using Repair on the emitter as usual. Using explosives is a more expensive and also less reliable way; most likely the first Dynamite will only make the field flicker for a few seconds, but the second should take it out. If you try using Lockpick, Science or Repair on the forcefield itself, you end up taking 10-15 points of damage.</blockquote>

On level 3, the leftmost working computer contains the location of Vault 13 if you pass a Science check. The "middle" one is used to turn the entrance forcefield on or off (IN&lt;4 characters can use this one but not the one on level 1). Actually you should turn it off since it'll get damn annoying during the fight on your way out if you didn't already kill the Khans on level 1. One of the lockers holds the computer parts Tandi was talking about, but if you're going to fight Darion you don't need them.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
On level 3 you find the anomalous HK P90c which is initially loaded with 9mm ammo (but can only be reloaded with 10mm). It's been theorized that this weapon was originally meant to use this calibre, but that it was changed either inadvertently or because of the scarcity of 9mm ammo. Some robbers in caves with HK P90c's also carry 9mm ammo, although their guns are loaded with 10mm ammo.</blockquote>

<ol>
<b></b><li><b>Give Spy Holodisk to authority in NCR.</b><br><br>

The computer in Darion's room will give you a Spy Holodisk if you pass a Science check. Tell Tandi and then Gunther about it, show him the holodisk for proof (IN 7 required) and you get 4000 xp and $4000. Feargus, the spy in question, walks away, and there doesn't seem to be anything you can do to stop him. He'll also leave if you tell him you've learned there is a spy.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In the unpatched game you could steal the holodisk back from Gunther and give it to him for another reward, over and over again.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
|IN&lt;4: You can get the Spy Holodisk from the computer and even tell Tandi about it, but you can't report to Gunther and get the reward because of the IN requirement. This could be an oversight, or maybe your character has the memory of a goldfish.</blockquote>

<b></b></li><li><b>Kill Darion.</b><br><br>

Talk to Zeke after quest 3 and he'll ask you to kill Darion and give you the keycard you need to enter the Vault. (He'll also put the NCR on your map in case you needed that.) You get 6000 xp for this deed. You can enter the room on level 3 where Darion is without anyone attacking at once as long as you don't talk to them or move too close to Darion; his guards won't budge even if you fight the other Khans on this level. Position your party members around the room and initiate combat by talking to Darion, or shooting someone. If you talk to him you can actually barter his ammo, Stimpaks and Buffout for some empty guns from level 2 or something, but that's silly. After you kill Darion everyone in the vault will turn hostile (except for the doctor, of course), which is a problem because they insist on using those chems which are rightfully yours!

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If for some reason you don't get the quest from Zeke, it pops up crossed out once you kill Darion, and everything else happens the same anyway as long as you talk to Zeke afterwards.</blockquote>

<b></b></li><li><b>Rescue Chrissy.</b><br><br>

p.
  Someone's overheard your conversation with Rebecca. Go over to Dalia and she'll let you pass. Leave the map to the northeast. You can now go about this in one of three ways:

<ul type="disc">
<li>Sneaky way: go along the top of the screen (Sneak isn't necessary, but it helps), disarm the trap on the door on the north side of the building (you need to use Traps twice, once to find the trap and again to disarm it), pick the lock, do the same thing with the door to the northeast, and there's Chrissy. Tell her to come along. If Phil sees you leaving he'll attack at once.
</li><li>Diplomatic way: approach Phil, and choose the "one of us will die" line. He'll hand you the key to the shack, but if you talk to him again he'll attack. Using the key on any of the trapped doors will unlock it and disarm the trap at the same time, but where's the fun in that?
</li><li>Aggressive way: blast Phil and Karla into little pieces. Karla has a Sniper Rifle, so don't let her catch you out in the open.
</li></ul><br>

Returning to Rebecca you get 2500 xp and an introduction to Zeke so you can get quests 2 and 4. Incidentally, if you kill Zeke and Dalia first instead of getting this quest properly it still plays out the same (except you can't talk Phil out of fighting), including Rebecca going to "talk to Zeke".<br><br>

<b></b></li><li><b>Complete deal with NCR.</b><br><br>

Even if you don't get this from Zeke it's automatically taken care of in conversation with Tandi when you finish NCR quest 10, unless you did it by only delivering the parts. You don't gain any xp for this quest, it just sort of happens (and decides which ending you get for Vault 15). There's not even any need to return to Vault 15 afterwards if you didn't leave anything there.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
One thing of notice, though: the Squat map will change, leaving any items you may have left there inaccessible, though your car will be on the new map if it was parked there, idle NPCs will be waiting (except for Laddie), and items on critters will remain. Zeke will stand in his redecorated NCR-style house complaining that you've doomed the squatters, which is something of a bug. The manhole in Zeke's house will now be accessible, though.</blockquote>
</li></ol>
<hr>
