h2 Vault City

<blockquote>"PING! I Say!"<br>
--Vault City medical terminal</blockquote>

Vault City is the segregated town with a shabby Courtyard and a tidy inner city. It's not really a nice place, but that's no reason to start shooting people. The two people in the Greeting Office are completely useless, by the way. In here you'll also find Ben Wade who runs a caravan of medical supplies to Redding on the 1st of every even month and will pay you $1000 to accompany him. In a locker you find what is probably your first Geiger Counter; you can loot these specific containers in broad daylight.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Vault City is a good example of a place where people will tell you to stay away from lockers, shelves etc. But it doesn't hurt to try once!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
This is one of two places in the game (New Reno being the other) where most people will have new things to say after you complete the game. You'll have access to the inner city and the vault even if you didn't before. This also means that unexplored quest options may be cut off as key figures only respond to you with floats or new dialogue. Randal's Amenities shop effectively shuts down, but you can steal stuff from him safely if you really must have something: just click on him until he stops talking and then loot him clean (this is the same bug that befalls Salvatore in New Reno).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Once you get to this part of the world map (if not sooner), money and bartering will become less balanced than it has been. Up until now you haven't always been able to trade for everything you wanted, right? Well, shortly your pecuniary problems should be no more. Just hang around till you get a random encounter like "merchant party fending off raiders", "raiders fending off raiders", "raiders being butchered by a mantis", or the like. Once the fight begins, get out of the way and wait until there are only a few people left to kill, then kill the rest if you don't like them. Loot the corpses for stuff like Combat Shotguns, H&amp;K CAWS's or Assault Rifles, and from this point on you should be able to trade for <i>anything</i> you ever want in a shop, even with Barter at 30% or lower. Of course, you can also choose to run from such encounters for the opposite reason, that you don't want to spoil the balance just yet.</blockquote>

In a house by the brahmin pen you find Vic's old friend Ed. If you've talked to Vic about it and show Ed the Vault 13 flask, he'll put the Den, Modoc, Broken Hills, Redding and New Reno on your world map, though only Broken Hills and Redding should be really new to you. You get 500 xp for this.<br><br>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
Talking to himself, Ed will mention a brahmin which goes: "Moo, I say." This is a reference to the "talking brahmin" special encounter in <i>Fallout</i>. Moo.</blockquote>

Harry has a shop in the Courtyard, restocking every 3 days. South of the bar you find Curtis who lost his doll. The doll can be found behind a wall just to the north. When you return to Curtis you can either rip it up or give it back (100 xp in either case), but if you give it to him you can listen to his "dialogue" and go dig up a Wrench from under a pile of rocks a little further up. This will come in handy quite soon.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Sean Meskill notes: "After bartering with Happy Harry (you needn't make a purchase), a bunch of stuff will be dumped into his 'stealable' inventory and you can then pinch whatever you please." This stuff represents a selection of his normal shop inventory; he only gets it once, but will keep it unless you relieve him of it. Additionally, the Micro Fusion Cell and Leather Armor Mark II in his shop inventory do not restock.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 Harry's inventory was kept in one of the shelves, and you could take it if you passed a Steal check, but failure would mean mortal combat.</blockquote>

Cassidy is the owner of the bar. Talk to him about life in Vault City and he'll join your party. You get 300 xp for this as well as a heck of a rifle shot. Also save once and use the Buffout you're probably carrying on Cassidy, but reload afterwards. If you return later there'll be an "Out of business" sign here.<br><br>

Charlie's lying helpless in his tent west of the bar. Use your Doctor skill on him for 100 xp to determine he's suffering from radiation poisoning. Use a packet of RadAway on him for another 100 xp. Finally you get 100 xp more when he stands up and thanks you.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Kwiatmen666: "As long as Puking Charlie lies on the ground you can keep using RadAways on him getting 100 xp each time."</blockquote>

Nearby is a doctor who'll patch you up for money, though I doubt anyone would find his prices reasonable: between $225 and $500 for HP and crippled limbs except for eye damage, healing for one NPC (same ones as for Dr Troy below minus the Brain Bot) costs between $150 and $500 depending on how hurt the main character is, if you have more than one NPC this amount is tripled no matter how many of them are hurt, with CH 6 or Barter 75% you can take $100 off the price or $300 for multiple NPCs. The autodoc doesn't work too well and will malfunction 50% of the time when you pay for healing, which means you lose your money for nothing. Using Repair to fix the autodoc for 100 xp puts an end to this, and in fact you should do so or you could run into problems later, but you might also want to leave it as it is for a while. Andrew can also perform some other services. If you got the extra toes from the Toxic Caves goo, you can have them removed here for $500 ($300 with a discount), and in your inventory you get a Mutated Toe, which has a "use" at the end of the game. More to follow...

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
A bug: if you have only one NPC and have the car, you won't be able to ask for healing for the NPC. If you have two NPCs and the car you'll get the single-NPC rate, but if one of them is the Brain Bot again you won't be able to heal them.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You cannot ask for healing for yourself if you have crippled limbs but full HP. This also goes for Lenny, Dr Fung and some but not all dialogue nodes of Dr Troy.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you didn't repair the autodoc yet, the toes will grow back in 30 days. This also happens if you return to the Toxic Caves and step in the goo after having the toes removed. This can be repeated indefinitely and you get a new Mutated Toe each time. Don't use the Toe on yourself or any party member since it will lower your Maximum Hit Points for some time, though not permanently.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: The autodoc will never malfunction for a stupid character. Also you can get two special perks here. After you purchase healing, you get the option to "ride agin"; select this and you gain the Autodoc Raised hit points perk which gives +2 to max HP. However, for each time you "ride the autodoc" after that, you gain a level of the perk Autodoc Lowered hit points which gives <nobr>-2</nobr> HP instead. Also beware that these are bugged; if you click them on your character sheet the game will immediately crash. Sébastien Caisse adds: "What's really stupid is that the script which gives you the bonus checks your IN, and if you have IN 10, then you get +4 instead of +2... but, um... you need IN 3 or less to get the 'ride agin' prompt..." There goes the Autodoc Raised hit points II perk, I suppose.</blockquote>

Once you learn about combat implants from the medical database in the vault, you can return here and ask "Doctor" Andrew about them. The two kinds of dermal implants both add 5% to your Damage Resistance against normal and explosion damage. The two kinds of phoenix implants both raise your Damage Resistance to plasma, laser and fire weapons by 5%. Each Enhancement (which requires the you got the basic implant of that kind) will also lower your CH by 1 permanently, which I generally feel is not worth it until late in the game (plus those are really expensive). Here's what each implant will cost you (discount with CH 6 or Barter 75%):

<ul>
<li>Dermal Impact Armor: $7000 ($5000), 2 days.
</li><li>Dermal Impact Asslt. Enhance.: $40,000 ($30,000), 5 days, CH <nobr>-1</nobr>.
</li><li>Phoenix Armor Implants: $10,000 ($8000), 3 days (though he says two).
</li><li>Phoenix Assault Enhancement: $50,000 ($40,000), 6 days, CH <nobr>-1</nobr>.
</li></ul>

Each perk will also require you to part with a suit of normal Combat Armor; Combat Armor Mark II or Brotherhood Armor cannot be used for this purpose (this goes for getting the implants in Redding or San Francisco as well).

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you didn't fix the autodoc before getting an implant, you die. Funny, huh?</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Your CH variable can actually drop below 1, although it's never treated as anything less than 1. You'll notice this "debt" if you later raise your CH by means of Mentats, Gain Charisma or the like. Same thing goes if you lose your ear in New Reno.</blockquote>

Wallace at the Customs Office will put the Den, Broken Hills and Redding on your world map. There's a number of ways in which you can enter the inner areas of Vault City:

<ul>
<li>Stroll into the Customs Office at night, pick the locker and take the Day Pass.
</li><li>Stand behind the locker where Wallace can't see you, pick it and take the Day Pass.
</li><li>With Speech 75% or IN 7 you can convince Wallace you must see the First Citizen (just pick the long, eloquent dialogue choices). He'll give you a Day Pass.
</li><li>Offer to find the raider base. Do this (see Raiders) and return, Wallace will give you a Day Pass.
</li><li>Talk to Wallace wearing only your vault suit, or the Bridgekeeper's Robes, and he'll slap a Day Pass on you faster than a gecko on Jet. This happens automatically if you talk to him with IN&lt;4.
</li><li>Tell Wallace you're a trader. If you have any (Golden) Gecko Pelts, (Refined) Uranium Ore or a Gold Nugget in your inventory you can show them to him, or if you have any humanoid party members other than Cassidy you can simply claim you're about to sell them into slavery. You can then fork out $500 for a Day Pass.
</li><li>Pickpocket Wallace for a Day Pass.
</li><li>If you know of the Jet problem in Redding, ask Wallace about Redding and say you know why the shipments have slowed. He'll give you a Day Pass.
</li><li>Talk to Skeev and buy False Citizenship Papers off him for $200 ($150 with Barter 50%), then threaten to expose him and he'll give you $300 back! This is by far the best option. You can turn him in to Wallace, but this requires giving up your False Citizenship Papers (with Speech 75% you can ask for a Day Pass in exchange).
</li><li>Talk to Skeev with an IN&lt;4 character and you'll end up inside the vault as a "servant" (but you'll be able to leave without anyone reacting).
</li><li>If you destroyed the Enclave you'll be allowed to enter, even if you were previously banned.
</li></ul>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The reason Wallace will see your vault suit under the Bridgekeeper's Robes is simply that the game forgets to check for it when determining if the character is "naked". This bug affects some dialogues slightly - Lynette and the President, to name a couple - but only has any real effect on Wallace and Dogmeat.</blockquote>

With a Day Pass you can enter the compound during daytime only, but not enter the vault or use the biggest shop. You'll be searched for drugs (Buffout, Psycho, Mentats or Jet) and alcohol (all 5 kinds). Also some people will throw you out if they find you after 6 p.m. With False Citizenship Papers you can enter without being searched and use the shop but not enter the vault. If you get a Day Pass from Wallace (in a legit manner) you can get new ones for $50 each should you need them, though I can't figure out a reason why you ever would. By the way, when entering using the False Citizenship Papers, don't make the mistake of calling the First Citizen a "he", or mentioning "all the vaults".

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
As pointed out by Jaroslaw Zablotowicz, once you show the False Citizenship Papers to the gate guards and Randal you have no further need of them, even if you hand the papers over to Wallace.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Marcus and/or Lenny will not be allowed to enter the inner city unless you're Captain of the Guard. Incidentally, the guard's objections to them have been mixed up. Should you bring either of them inside anyway people will turn hostile, which is bad. Goris fits in just fine, apparently on account of his inconspicuous cloak.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: There are many people downtown who'll get you permanently banished from Vault City if you talk to them and wait for them to call the guards, such as Lydia, Dr Troy, Lynette (even if you wear only the vault suit, though the conversation is different) and McClure. The "Shamble off" option should always get you safely out of a conversation, though sometimes you can only choose between being thrown out or resisting. If you've had previous non-stupid dealings with them they may either treat you like any stupid character, or they may present you with no valid dialogue options, or they may just leave you be (Lydia will not call the guards on true citizens, for instance). There's a dialogue glitch when you talk to the gate guards for the first time: if you get two identical lines, the first leads to combat and the second ends dialogue.</blockquote>

Go to the Information Center and lament the death of books for one Deans Electronics and one Big Book of Science (IN 7 or Comprehension needed). Randal runs a very good shop with several books, Stimpaks for about $200, Leather Armor Mark II at $1000, and a Combat Shotgun for about $3000 as compared to maybe $6500 in NCR (well, if you have a decent CH anyway). Randal restocks every 3 days while the Sub-amenities shops restock every 2-3 days.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you kill any of the three shopkeepers here you don't get their goods. Also you cannot use the barter button to trade with Randal before you get permission to do so.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you press the barter button instead of asking Randal to trade you'll have to pay a more expensive rate, because you miss out on the barter modifier (he's one of several shopkeepers in the game who work that way). The Sub-amenities shops will offer you lower prices if you're <i>not</i> a citizen. The reason for this is that the person who coded Vault City and New Reno apparently thought the signs of barter modifiers worked the other way around (which also means Randal's stuff was not really supposed to be cheap).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 the Sub-amenities shopkeepers kept their wares in containers in the shops and if you had decent Steal you could loot them clean, though failing a check would net you first a warning and then banishment - even if the shopkeepers were invisible at the time!</blockquote>

At the Servant Allocation Center you can sell some of your party members into slavery (Miria for $250, Davin for $200, Sulik for $100, Vic for $100, all doubled by a successful Barter check; Barkus will initially say he's offering $250 for Davin but it's a typo). Note that he'll only bid on one current party member, in the order given above, so if you're married you have to sell your spouse before you can sell Sulik or Vic. Any equipment on a sold NPC goes into the footlocker in the next room which you can loot at your convenience.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: Talking to Barkus in the Servant Allocation Center gets you inside the vault. You can leave any time you want to, and also talk to Barkus again at any time to get back in.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
With PE 9 and IN 9 you can find a "hidden" conversation path if you ask Barkus where the servants come from... whee, or something.</blockquote>

In the Corrections Center you'll find Citizen Sergeant Stark who's a real asshole, though not the greatest asshole in all of Vault City (he probably wishes). Don't flash False Citizenship Papers in his face or he'll have you expelled from Vault City forever. Don't push the matter of his harassing Cassidy, either... yet. He'll tell you about the raiders, and in fact, once you mention the raiders to him you have to offer to go find them, or he'll accuse you of being one and attack! Stark will also give you quests 9 and 10. If you want a free suit of Metal Armor, open the second locker from the top, standing behind it as seen from the nearby guard.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you become Captain of the Guard and talk to Stark with Cassidy in your party, you can order him to pardon Cassidy and pay him restitution. This will earn you $500 and 500 measly xp. If you're wondering how to become Captain this is described in the NCR section, quest 3.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you become Captain you can also loot some containers that you couldn't before. The four buildings where you can do this are the Corrections Center, the small building opposite, the small building closest to the exit grid in the council area, and the Customs Office. You will notice that these containers are all watched by officials or guards in metal armour; regular citizens will not let you take their stuff.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
There's a cheat you can use to enter the vault without citizenship. Move up close to the opening, enter combat mode and run onto the exit grid. It doesn't piss off the guards, either. "Hello Mr Evil Spy Marauder, no way you'll get past us, oh, except if you come barging like a homicidal maniac."</blockquote>

If you move on to the third Vault City area, you'll find a few uninteresting buildings, a seemingly uninteresting bar and the Central Council. There are three people to see here: Gregory, McClure and Lynette. Gregory will issue the ridiculously difficult citizenship test. It <i>is</i> possible to pass and become a citizen right away, but you need to boost the right stats (PE 9, IN 9 and LK 9). The physical examination will disqualify you if you've grown extra toes in the Toxic Caves and didn't have them removed yet. You get 1000 xp if you pass the test.<br><br>

McClure in the western room is the sane person in this outfit. Whenever you want something done, you go to him. The brave can take the other direction and turn right down the hall... Congratulations, you have found First Bitchizen Lynette, universally hated by <i>Fallout 2</i> gamers. If at any time you really piss her off, she's apt to ban you from Vault City permanently (like if you show her False Citizenship Papers; she'll promise you a Day Pass if you tell her who gave you the papers, but she's lying). Nevertheless you should get quest 4 from her. McClure and Lynette can both put Gecko on your world map.<br><br>

Once you learn of the Jet problem in Redding you can inform McClure of it for 250 xp. A large number of people in New Reno and Redding can tell you about this, but those who will let you report back to McClure are Dr Johnson, Ascorti, Myron, Reed, Renesco, Little Jesus and Father Tully. After you get the Jet Antidote to Doc Johnson, again tell McClure about it for 2500 more xp. Don't ask him for a reward, however, or you don't get any xp, just $500.<br><br>

If you have an exceptional Luck, go to the Parlour Room bar, order some alcohol-Z and keep doing so (weighing down the 2 key works fine). After you have bought 100 of them (costs $2000 in all; each one also heals 3 HP whereas if you order water it only heals 1 HP) you may gain a special perk that changes your Maximum Hit Points as follows (thanks to Geoffrey Bateman and Sébastien Caisse for the information):

<ul>
<li>LK 1: Alcohol Lowered hit points II (HP <nobr>-4</nobr>)
</li><li>LK 2: Alcohol Lowered hit points (HP <nobr>-2</nobr>)
</li><li>LK 9: Alcohol Raised hit points (HP +2)
</li><li>LK 10: Alcohol Raised hit points II (HP +4)
</li></ul>

Entering the vault, on level 1 you'll find the medical facilities. You'll want Doctor 75% to do everything here. First off, if you have that level of skill you can talk medicine with the doctor and he'll give you the Vault City Training perk which gives you +5% to Doctor and +5% to First Aid (see quest 3 first, though). After you've got the Vault City Training, if you come here to treat poisoning or radiation, you'll be able to ask for the Vault City Inoculations perk which gives you +10% Poison Resistance and +10% Radiation Resistance. Not that it's much to shout about, but every little bit helps. Dr Troy will offer free healing (HP, poison, radiation and crippled limbs except for eye damage), and if you're Captain you can also get him to heal NPCs except for Dogmeat, K-9, the pariah dog or any inferior Brain Bot.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you become Captain of the Guard, you can bring Lenny and Marcus here without Dr Troy entering combat mode. If you let him heal Marcus, you end up with some extra ammo: 20 7.62mm, 50 5mm JHP, 20 9mm ball, 24 10mm JHP, 10 .45 caliber, 40 .44 Magnum JHP, 40 .44 magnum FMJ and 50 .233 FMJ! Be careful not to talk to Lynette with either of them in your party, though... she'll throw you out of Vault City for good.</blockquote>

Talking to nurse Phyllis you can do a lot of stuff:

<ul>
<li>Convince Phyllis to see the outside world (choose the "similarity of citizens" path): 300 xp.
</li><li>With Doctor 75% and PE 6 you can get Phyllis to talk to the doctor about potential sterility in Vault City (choose the "no children" path) for 300 xp.
</li><li>Male characters only can date her for 100 xp if they have CH 6 and one of the following: Sex Appeal, Kama Sutra Master, CH 9 or Speech 75%.
</li><li>Male characters only can donate a sperm sample in the no children thread. With IN 4 you get 50 xp, with IN 5-6 you get 250 xp, and with IN&gt;6 you get 500 xp. If you ask for a magazine you get a Cat's Paw Magazine!
</li></ul>

With Doctor 75% you can get information on combat implants from the medical database for 500 xp if you access it using Science. Search the database 22 more times. You'll get a new message. Search the database 30 more times. You'll get a new message. Then just 2 more times, and you get a "secret" message. The doctor here won't perform the implant surgery, but there are others who are less conscientious.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
Generally you need a certain Science proficiency (51% here, though Doctor 76% will do as well) to use computers. Also if you don't have IN 4 you usually can't use them no matter how high your Science skill. Computers that can be used for something are almost always called something other than "computer" when you move the mouse pointer over them, like in this case "Vault City medical terminal", but there are exceptions.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you got the clue from the Magic 8-Ball (see New Reno), use the computer nearest to the entrance to gain 2 Stimpaks and 1 Super Stimpak.</blockquote>

On level 2 of the vault, just pick the doors if needed (Lockpick 80% should do it) and loot the footlockers. Be sure to pick up the Computer Voice Module. The crates only contain Water Chips - which are, incidentally, an exception to the principle of "take everything". Maybe you'll want one for fun, but really there's no reason to bother. Two of the doors can only be opened with a ST of 8 or higher (7 if you use a Crowbar), which is kind of ironic, since behind one of them resides the Red Memory Module which will (much) later raise your ST. Take a couple of Buffouts if you have to, make sure not to get addicted. Or just come back here once you have the Power Armor, but there's some nice ammo to be had, so it's probably worth the chems to get it now.<br><br>

Fix (Repair) the rattling vent for 100 xp and 50 Micro Fusion Cell. You need PE 6 to notice that it's rattling, or if you don't you can go to level 3 and wait until the central computer says that it's detected an obstruction in the ventilation system, then return to level 2.<br><br>

On level 3, loot both the locker room and the armoury for some juicy stuff. Go to the lowermost computer in the leftmost room and use Science on it for 350 xp. Do you remember that the other computer in that room could be used for the same purpose in <i>Fallout</i>? Well, in this vault you can't. But if you read the secret message in the medical database, this is where you'll go after accessing the central computer when you've completed the game. You'll then be able to use this terminal for 20,000 xp each time. Hm, pointless if you ask me.<br><br>

On this floor you'll usually find Martin (though he will be on level 2 if you enter the vault between 2 a.m. and 7 a.m.), who's singing "Maybe". It's a good song, so don't tell him to stop. In fact, you can get infinite karma (+1 each time) if you compliment him on his singing.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you've entered the vault illegally or by being stupid you may want to stay away from the armoury, since there's a bug that can trap you in there forever. This is the door that Martin is keeping an eye on, so if you try to open it, he'll "stop" you by entering combat mode. (He won't attack, but your NPCs may attack him!) To enter the room anyway, toggle Sneak mode, pick the door and open it, but oddly you cannot use the same method to get out. You can't get party members to open the door, either - they just pass through it like ghosts. Killing Martin or scaring him away does not help, since the actual bug is that the door checks if <i>it</i> sees you, not if Martin sees you. There are two ways to avoid this. One is simply being a citizen (which you'd normally be if you're inside the vault), in which case Martin won't stop you opening the door. Also if he's on level 2 it will be OK. The armoury contains some guns (free 10mm SMG), grenades and ammo, but nothing important.</blockquote>

The central computer is the talking one in the room to the right. Using it you get Vault 15 on your world map, and if you have PE 7 there is also a mysterious slot to plug in your Pipboy (you'll notice it when you log off the computer). Doing so gives you a "Vault City Travel Log" entry in your Pipboy and will put New Reno, Redding, Broken Hills, NCR and Vault 15 on your world map if they weren't there before. You must have noticed this slot to get the "desginer notes" and use the xp computer after finishing the game.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
IN&lt;4: Reaching into the computer will give you an electric shock and damage depending on your current Hit Points (it will never kill you, even if you're at 1 HP). Apparently this was also supposed to raise your Damage Resistance to electrical damage, but it doesn't. As long as you open the computer (you don't have to get shocked) you can get the travel log without the PE requirement.</blockquote>

<ol>
<b></b><li><b>Deliver Moore's briefcase to Mr. Bishop in New Reno.</b><br><br>

Thomas Moore stands in the inner city preaching. If you play along, and providing Bishop is not dead, Moore will give you a briefcase to deliver to New Reno (which shows up on the map). If you happen to piss him off in conversation, you can always mollify him again unless you're a Slaver. Just don't ask him for payment or threaten to turn him in, or he'll put a note in the briefcase telling Bishop to kill you on arrival... which is bad. You get 500 xp and $250 for a successful delivery. Note that you <i>must</i> take this quest if you want to do missions for Bishop later.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you've made the delivery and learned Moore is an NCR agent, you can turn him in to Lynette for 500 xp. I see no problem with this since Moore is a fanatic, you don't lose any karma, and Bishop doesn't care. Just don't mention brahmin maulings or you won't be welcome in Vault City for much longer. If you're not a citizen you can only do this when you show Lynette Bishop's Holodisk.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
From the <i>Fallout Bible</i>: "Two Super Stimpaks should appear in Bishop's inventory after you deliver the right case." They do, too!</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
Slavers can actually get this quest providing they have CH 9 or Speech 96%.</blockquote>

<b></b></li><li><b>Get a plow for Mr. Smith.</b><br><br>

Smith lives in a tent in the north part of the Courtyard. He needs a plow which Harry is selling. Simply buy the plow for Smith ($800, $600 with Barter 51%) and he'll repay you with 250 xp, a Desert Eagle .44 and 20 .44 Magnum JHP. You can ask $150 from Smith in advance, but then you don't get the other reward so you can figure how good that is.<br><br>

<b></b></li><li><b>Deliver a sample of jet to Dr. Troy.</b><br><br>

Getting this quest is a little tricky. First you must have Doctor 75% so that you qualify for the medical tour. There are now two non-obvious dialogue paths that lead to this quest. Tell him that you're something of a doctor, and when he offers the tour, either try to leave conversation directly, or else take the tour, but directly afterwards leave conversation. (You can always take the tour later, but there's no reason not to do it right away.) In either case he'll stop you and ask if you, being an outsider, could do him a special service, namely smuggle some Jet into the vault (see quest 7 for details on how to do that). Give it to him for $1000 but no xp. If you have Jet in your inventory when you get the quest, you can ask $1200 for it with Barter 75%, or $1500 with Barter 95%; doing this will also provide you with an extra (inconsequential) line if you have Chem Reliant or are addicted to Jet. Anyway, if you return three months later he'll have churned out two doses of Jet Antidote for you, which you should take to Doc Johnson in Redding; see that section for the rest.<br><br>

The time needed for the doctor to produce the antidote on his own can be shortened to one month if you've talked to Myron about Jet production; when handing over the Jet, start the dialogue thread that begins "you don't want to inhale that crap". If you have Myron with you at this point the two of them will compare notes, but it's not necessary. For this you get 750 xp. However, you cannot get these xp if you have the New Reno quest active, so you should first do this and then talk to Myron to get the New Reno quest before Dr Troy can make an antidote to maximize your xp.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you tell Dr Troy you're Captain of the Guard he sensibly won't ask you to smuggle Jet for him.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
There's also an unlikely way to get only 500 xp and shorten the time needed to make the antidote to two months. For this you must talk to Myron about Jet <i>before</i> he joins you, and leave dialogue once he says "And that's all yer ever gonna learn" (you need some IN and Science to get there). Then go to Troy and hand him the Jet without having Myron in your party.</blockquote>

Instead of taking the quest, you can blackmail Troy for $500 each month ($1000 with Barter 75%, if you press him for more he'll call the guards). If you do, don't ever go to him for medical treatment or you'll get hit for 6999 Hit Points or so... but you also get some really funny dialogue. :) If you don't like him much you can turn him in to Lynette and he'll be removed from Vault City (you must be a citizen or Lynette will remove you instead). You can't talk to Phyllis any more if you do this.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You won't get this quest if you've already told him about the endorphin blockers after talking to Myron, so do all this in the right order, OK? In case you're not sure which that is, see quest 7 in New Reno.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
In v1.0 you would always be offered this quest after leaving dialogue with Dr Troy for the first time. It was supposed to be like that in the updated script as well, but a little bug snuck in (gasp).</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
The Jet Antidote is slightly bugged. Firstly, if you are addicted to Jet when you use it, you don't lose the dose. Secondly, you can use it to raise your stats permanently, although this is a pointless kind of cheating. In any case here's one way of doing it which works for me most of the time. All you need is a supply of Jet and one Jet Antidote. Step 1: use 2 or more Jet, making sure you get addicted, then 1 Jet Antidote. Step 2: rest for 24 hours (the game will exit from the Pipboy automatically). Step 3: repeat step 1. Step 4: rest for a few days, then check your stats. For every repetition of the cycle after the first, your ST and PE should go up by 1 and your AP by 1 or 2. Fun, eh?</blockquote>

<b></b></li><li><b>Solve the Gecko powerplant problem.</b><br><br>

Talk to Lynette about becoming a citizen, until she mentions you could become a citizen by doing Vault City a special favour. Continued in the Gecko section, quest 1. If you return and tell Lynette you destroyed the plant, she won't be happy; if you mention anything about a reward, she'll even ban you from VC forever (she likes doing that). If you tell her you fixed the plant, she won't be happy either, and again will throw you out of town if you talk back to her. If you tell her you took care of the problem but don't mention fixing the plant, she's OK with it, but you don't get any kind of reward. Talk to McClure instead once you fix the plant and he'll make you a citizen of Vault City. <i>Now</i> you can go and tease Lynette. :)

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
It doesn't matter if you pick the line about Lynette blocking your citizenship or not before going to get the Hy-Mag. McClure will always make you a citizen once you fix the reactor. Of course, that won't stop Lynette from tossing you out for any of the reasons she usually would.</blockquote>

<b></b></li><li><b>Deliver Lynette's holodisk to Westin in NCR.</b><br><br>

If you've killed the raiders and bring Bishop's Holodisk from New Reno to Lynette, you get 2500 xp and this quest. NCR will appear on the map if it wasn't there already. Pretty straightforward; see NCR for details on how to reach Westin. Giving the disk to him reaps you 2000 xp. If you return without the Westin Holodisk you get $1000, otherwise you "only" get the reward for that quest but no money.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Westin is dead when you deliver Bishop's Holodisk, you logically don't get this quest, but you do get the 2500 xp, as well as $500 if you <i>don't</i> ask for a reward.</blockquote>

<b></b></li><li><b>Rescue Amanda's husband, Joshua.</b><br><br>

Amanda lives in the eastern corner of the Courtyard. Joshua is in the Servant Allocation Center in the inner city. If you talk to Barkus you can arrange Joshua's release in one of several ways:<br><br>

<ul type="disc">
<li>Offer a bribe (from $250 to $1000 depending on your Barter skill).
</li><li>Make something up about a mysterious disease which Joshua has contracted (Speech 80% or Doctor 75%).
</li><li>If you're a citizen, you can tell Barkus Joshua is a bad influence on the other servants or that he may be infected (Speech 75%).
</li><li>If you're Captain you can just order his release.
</li></ul><br>

In either case you get 500 xp if you set him free. Go to his tent in the Courtyard and talk to his wife for an added reward of $32.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
You won't get the quest if you're a Slaver or a Childkiller or if your karma is less than 0.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
After you collect the reward, Joshua and his family will leave once you exit the map, so make sure you get the Wrench from Curtis first.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're male you can ask Amanda for sex as payment instead of money. Sorta cruel.</blockquote>

<b></b></li><li><b>Deliver beer and booze (10 each) to Lydia.</b><br><br>

Lydia the bartender complains there is no real booze to be had (if you broach the topic, at any rate), and asks you to smuggle 10 Beer and 10 Booze, which you should easily have been able to accumulate (if you knew this quest was coming, anyway), into the city. This can be accomplished easily by either a) being a citizen, b) being in possession of False Citizenship Papers, c) dropping the booze before being searched and then picking them up after the gate opens, or d) putting the stuff on your party members as you're entering the city, as they are apparently above suspicion. Those guards are kinda dumb. Your reward is $300 and 250 xp. By the way, Lydia can put Gecko, Broken Hills, Redding and New Reno on your world map.<br><br>

<b></b></li><li><b>Deliver pliers (tools) and a wrench to Valerie.</b><br><br>

Valerie in the Maintenance building will complain that the Super Tool Kit she ordered hasn't arrived yet. Simply give her a Tool (if you didn't bring one from Klamath or the Den, one of the Amenities shops carries it) and the Wrench from before for $50 and 250 xp. Wait one day (a good window to do quest 9 for Stark and enter Gecko for the first time) then return for your bonus reward, a brand new Super Tool Kit. The funny thing is, if you reload and don't give her the tools, the tool kits won't arrive at the same time they would have if you had... er, never mind. You can steal the extra 4 Super Tool Kits from Val if you're a greedy bastard (it doesn't appear to interfere with her ability to carry on with her job). She will now upgrade a few weapons for money, and cheaper than the competition (see table in the Items section). As with Andy you get a discount if you have CH 6 or Barter 75%. Getting a .44 Magnum (Speed Load) or Super Cattle Prod isn't too bad, but there's a free upgrade coming up in Gecko.

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If Vic is with you there'll be a long conversation between him and Valerie, who happens to be his daughter. When that's over with, talk to her again for the quest. After you bring her the tools you can talk to Val about Vic, and if you have CH 8 or Speech 75% you can tell her to give him a chance for 250 xp.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're playing a game without children you obviously can't get the Wrench from Curtis. In this case there's a Wrench in one of the mine headquarters in Redding you can pick up without too much trouble, plus there's one in the vault if you have access to that (or use the combat mode trick). Another way is to try to find a ghoul caravan along the Gecko-Broken Hills trade route, since they carry Wrenches.</blockquote>

<blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
If you're upgrading the Cattle Prod, don't ask for the discount! There's a bug which makes her return a normal Cattle Prod instead of the upgraded version. Just pay the full $750 and you'll get the real thing.</blockquote>

<b></b></li><li><b>Scout the eight sectors around Gecko and return to Stark.</b><br><br>

Just run a circle around Gecko (which Stark puts on your world map) and return for $300 and 350 xp.<br><br>

<b></b></li><li><b>Enter NCR and return to Stark.</b><br><br>

Next he'll want you to go to NCR. Do this at the earliest convenience, and make sure to visit the Hubologist and get your Luck boost while you're there. Return for $500, 750 xp and a free Motion Sensor. Neato. Needless to say taking this quest puts NCR on your world map.
</li></ol>
<hr>
