
html {
  min-height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #fff8e2;
  margin: 0;
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #0080ff;
}

a:visited {
  color: #b774cc;
}

a:hover {
  color: #0015ff;
}

a:active {
  color: #0015ff;
}

blockquote {
  border-left: 3px groove #0080ff;
  /* border-style: ; */
  padding-left: 2em;
  margin: 0;
}

figcaption {
  font-style: italic;
}

ul {
  list-style: none;
}

table,
th,
td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

th,
td {
  padding-left: 2px;
  padding-right: 2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.btn {
  background-color: #efefef;
  color: #000000;
  font-size: 21px;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  line-height: 1.3333333;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #777777;
}

.to-top-container {
  position: relative;
}

.buttons {
  position: fixed;
  right: 100px;
  bottom: 5px;
  z-index: 0;
}

.index {
  line-height: 1.6em;
}

.dark {
  background: #1e201c;
  color: #ffffff;
}