:root {
  --colour0-primary: hsl(90, 7%, 12%);
  --colour0-secondary: hsl(46, 100%, 94%);

  --outline-default-width: 3px;
  --outline-default-colour: var(--colour0-primary);
  --outline-default-style: dashed;
  --outline-default: 
    var(--outline-default-width) 
    var(--outline-default-colour) 
    var(--outline-default-style);
}

.dark {
  --colour0-primary: #ffffff;
  --colour0-secondary: #1e201c;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: var(--outline-default);
  outline-offset: 2px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--colour0-primary);
  background: var(--colour0-secondary);
  padding: 0;
  margin: 0;
}

body > * {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

p,
li,
dt,
dd {
  line-height: 1.5;
}

ul, 
ol {
  padding: 0 0 0 1em;
  margin: 0;
}

li {
  text-align: inherit;
}

a {
  color: #0080ff;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: #b774cc;
}

a:hover {
  color: #0015ff;
  border-bottom: 0.0625em solid #0015ff;
}

a:active {
  color: #0015ff;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

sub, 
sup { 
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

blockquote {
  border-left: 3px groove #0080ff;
  /* border-style: ; */
  padding-left: 2em;
  margin: 0;
}

figcaption {
  font-style: italic;
}

table,
th,
td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

th,
td {
  padding-left: 2px;
  padding-right: 2px;
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  min-width: 44px;
  min-height: 44px;
  padding: 0.5em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.gfooter {
  width: 100%;
  padding: 2em;
}

.btn {
  background-color: #efefef;
  color: #000000;
  border: 1px solid #2e6da4;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #777777;
}

.to-top-container {
  position: relative;
}

.buttons {
  position: fixed;
  right: 100px;
  bottom: 5px;
  z-index: 0;
}

.index {
  line-height: 1.6em;
}