html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  background-color: hsl(46, 100%, 94%);;
  padding: 0;
  margin: 0;

  & > * {
    flex: 0 1 auto;
    padding: 1em 2em;
  }
}

h1 {
  text-align: center;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

p,
li,
dt,
dd {
  line-height: 1.5;
}

a {
  color: #0080ff;

  &:visited {
    color: #b774cc;
  }
  
  &:hover {
    color: #0015ff;
  }
  
  &:active {
    color: #0015ff;
  }
}


table,
th,
td {
  border: 1px solid hsl(0, 0%, 0%);
  border-collapse: collapse;
}

th,
td {
  padding-left: 2px;
  padding-right: 2px;
}

.btn {
  background-color: #efefef;
  color: #000000;
  font-size: 21px;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  line-height: 1.3333333;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #777777;
  }
}

.dark {
  background: hsl(90, 7%, 12%);
  color: hsl(0, 0%, 100%);
}

.no-break {
  white-space: nowrap;
}