h2 Suggested characters
    
p.
  First of all, none of that "theme character" nonsense, like tagging Science and Repair and choosing "tech perks" like Educated and Mr. Fixit, or tagging Sneak and Steal and then choosing "ninja perks" like Ghost, Pickpocket and Silent Death, or even tagging Speech and Barter and picking "diplomat perks" such as Presence, Empathy and Cult of Personality. Well, of course you could do that (and probably even finish the game), but in that case it'd be pointless for me to tell you what to do. Also I don't think you could squeeze as much out of the game as you could with a generalist. For one thing, those options will be more or less available to you anyway by the time you need them. For another thing, there are very few advantages (either minmaxing-wise or role-playing-wise) to be gained from being an "expert scientist" or "expert sneaker". Really. Wonderfully flexible as the SPECIAL system is, some characters <i>are</i> bigger than others.

p.
  What you really need is good IN (for dialogue and skill points), good Speech, and at least one way to deliver damage efficiently. You then basically have a choice between ranged or close combat because the perk progressions are different, and another choice between going solo or gathering followers. Or you can be stupid, which is the same as, well, pitting the odds against yourself.

p.
  The "developed" stats given below assume the following:

ul
  li ST +5 (Advanced Power Armor, memory module)
  li PE +1 (memory module)
  li IN +1 (memory module)
  li LK +2 (NCR zeta scan)

p.
  Also they include Gain Foo perks if listed in the perk progressions. By default CH remains unchanged since the +2 bonus (Mirrored Shades, memory module) is countered by the enhanced combat implants. 

p.
  <b>Team gunfighter:</b> A bright and sociable character who can bring three friends along. You can take on all quests and pack some punch.

ul
  li.
    Initial stats: ST 5, PE 6, EN 4, CH 6, IN 7, AG 7, LK 6.
  li.
    Developed stats: ST 10, PE 7, EN 4, CH 6, IN 8, AG 8, LK 8.
  li.
    Traits: Small Frame, Fast Shot.
  li.
    Tag skills: Small Guns, Lockpick, Speech.
  li.
    Perk progression: Level 3 Awareness, level 6 Quick Pockets, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus Rate of Fire, level 18 Gain Agility, level 21 Action Boy, level 24 Sniper.
  li.
    Comments: Pick up Sulik, Vic and Cassidy for a posse of gunslingers. Later in the game you can switch to Big Guns (goes well with Fast Shot), perhaps in conjunction with pulse and/or gauss weapons. You need a Jet or Mentats for Sniper. Whether you should pick Living Anatomy or go for more AP is situational.

p.
  <b>Gifted gunfighter:</b> A boosted version of the above.

ul
  li.
    Initial stats: ST 5, PE 7, EN 4, CH 6, IN 7, AG 10, LK 8.
  li.
    Developed stats: ST 10, PE 8, EN 4, CH 6, IN 8, AG 10, LK 10.
  li.
    Traits: Fast Shot, Gifted.
  li.
    Tag skills: Small Guns, Lockpick, Speech.
  li.
    Perk progression: Level 3 Awareness, level 6 Quick Pockets, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus Rate of Fire, level 18 Action Boy, level 21 Action Boy, level 24 Sniper.
  li.
    Comments: See Team gunfighter. Basically you're a deadly gunman (or -woman) who can also pick up a few NPCs.

p.
  <b>Solo sniper:</b> A character that can do almost everything in the game and mostly relies on ranged (and deadly) sniping to conquer the enemy. A bit harder to play early in the game.

ul
  li.
    Initial stats: ST 5, PE 7, EN 4, CH 1, IN 7, AG 9, LK 8.
  li.
    Developed stats: ST 10, PE 8, EN 4, CH 1, IN 8, AG 10, LK 10.
  li.
    Traits: Small Frame, Finesse.
  li.
    Tag skills: Small Guns, Lockpick, Speech.
  li.
    Perk progression: Level 3 Awareness, level 6 Quick Pockets, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus Rate of Fire, level 18 Gain Agility, level 21 Action Boy, level 24 Sniper.
  li.
    Comments: Build Small Guns to 150% and kill everything that moves with the Scoped Hunting Rifle/Sniper Rifle/Gauss Rifle. Don't get the enhanced combat implants until you've temporarily recruited the NPCs you can get xp and other bonuses from (such as Myron's antidote quest). You can do the Mutate! thing at level 27 to get Fast Shot if you like, but you'll be pretty deadly anyway with 12 AP and a Gauss Pistol.

p.
  <b>Team brawler:</b> A character devoted to Unarmed and Melee Weapons.

ul
  li.
    Initial stats: ST 5, PE 6, EN 4, CH 6, IN 7, AG 9, LK 4.
  li.
    Developed stats: ST 10, PE 7, EN 4, CH 6, IN 8, AG 10, LK 6.
  li.
    Traits: Small Frame, One Hander.
  li.
    Tag skills: Melee Weapons, Lockpick, Speech.
  li.
    Perk progression: Level 3 Awareness, level 6 Bonus Move, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus HtH Attacks, level 18 Gain Agility, level 21 Action Boy, level 24 Slayer.
  li.
    Comments: Pick up Sulik and Cassidy. CH 6 is mostly for quest purposes; theoretically you could recruit Marcus or Goris, but I actually wouldn't. You need a quick trip to NCR around level 9 to meet the LK requirement of Better Criticals. You can move two points of CH to LK if you want, but LK ultimately isn't as important for an HtH character. The reason I choose Melee Weapons over Unarmed from the start is that it's a little better in the beginning, and there are many ways of raising Unarmed for free during the game, so that it's very easy to make the switch when the time comes.

p.
  <b>Solo brawler:</b> Same as above but with less CH. Not really an improvement, though, since you lose some quest features and mostly boost Luck in return (theoretically you could boost EN instead, but I just wouldn't bother).

ul
  li.
    Initial stats: ST 5, PE 6, EN 4, CH 1, IN 7, AG 10, LK 8.
  li.
    Developed stats: ST 10, PE 7, EN 4, CH 1, IN 8, AG 10, LK 10.
  li.
    Traits: Small Frame, One Hander.
  li.
    Tag skills: Melee Weapons, Lockpick, Speech.
  li.
    Perk progression: Level 3 Awareness, level 6 Bonus Move, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus HtH Attacks, level 18 Action Boy, level 21 Action Boy, level 24 Slayer.
  li.
    Comments: See Solo sniper (but exchange the Super Sledge or Mega Power Fist for the Gauss Rifle, and you don't do the Mutate! thing).

p.
  <b>Stupid:</b> The workings of the stupid game is detailed in the Stupid section. I wouldn't recommend playing a stupid HtH character, it's rather hard enough as it is.

ul
  li.
    Initial stats: ST 5, PE 9, EN 4, CH 1, IN 3, AG 10, LK 8.
  li.
    Developed stats: ST 10, PE 10, EN 4, CH 3, IN 3, AG 10, LK 10.
  li.
    Traits: Finesse, Fast Shot.
  li.
    Tag skills: Small Guns, Doctor, Lockpick.
  li.
    Perk progression: Level 3 Awareness, level 6 Quick Pockets, level 9 Better Criticals, level 12 Living Anatomy, level 15 Bonus Rate of Fire, level 18 Action Boy, level 21 Action Boy, level 24 Sniper.
  li.
    Comments: You can substitute anything you like for Fast Shot and/or Doctor. You need 2 Mentats for Bonus Rate of Fire. You don't get the combat implants, and of course you can't get any IN rise if you want to remain true to the stupid theme. You'll probably have to fight a lot of random encounters if you want Sniper before heading off to the Enclave, because of the dearth of quest xp.
