h2 Perks

p.
  The three top perks, hands down:

dl
  div
    dt Awareness
    dd Extremely useful. This should be your first perk (which means you should always start with a minimum PE of 5).
  div
    dt Bonus Rate of Fire
    dd In conjunction with Fast Shot this is so good.
  div
    dt Sniper
    dd #[em The] sniper perk which will allow you to take on opponents like the Navarro and Enclave troops confidently.

+adviceList()
  +adviceItem("reliable")
    | In case you need to raise a stat with a perk in order to qualify for another perk, make sure you get this in time. Ideally you should have a good idea when you start playing which perks to take at which level. If you don't have the stats to meet the requirements of a perk you can in some cases use drugs to raise them temporarily and get the perk, but this does not work with perks that have a Luck requirement, for instance. Check out the chems in the Items section for details. Also remember you must spend each perk before earning a new one.
  +adviceItem("reliable")
    | Some have asked me about Sniper and how it interacts with effects that modify your Critical Chance; specifically, the observation has been made that "Sniper and non-aimed" can produce less crits than "aimed and non-Sniper". Basically this is correct for values of Luck below 6. How I think Sniper works, and which is borne out by shooting the pariah dog a great number of times, is that it doesn't replace your usual crit chance but instead adds an independent possibility of a critical hit. If you have Luck 4 you'd normally get crits 4% of the time, with Sniper you'd increase that to 42% (40% from the perk plus 4% of the remaining cases). Using targeted shots to the eyes which increase the crit chance by 60%, you'd have a "normal" chance of 64%, going to 78% with Sniper. In the latter case you'd "only" be up 14% as compared to 38%, and expressed as a fraction of the original crit chance the difference in gain is much greater. Sniper would still add something, though, in this case roughly equivalent to three levels of More Criticals. Similarly, making aimed shots will improve your effective crit chance even if you have Sniper, though the benefit is smaller at high values of LK (12% at LK 8 and 6% at LK 9 for eye shots) and you might then be better served by the extra shot or two afforded by Fast Shot. By contrast, the benefit of More Criticals fades to insignificance even at moderate LK if you have Sniper. With Sniper and LK 10 you get crits all the time, but you can still get more damaging and/or debilitating ones by making aimed shots.

p.
  Recommended perks (number of ranks in parentheses):

dl
  div
    dt Action Boy (2)
    dd.
      Whether you need this, and if so how many levels, depends on your current Action Points and what weapons you plan to use. Try to get an even multiple of your weapon's AP cost (or a multiple plus reloading cost if ranged).
  div
    dt Better Criticals
    dd Yummy.
  div
    dt Bonus HtH Attacks
    dd Great for brawlers. (HtH just isn't as efficient as ranged combat.)
  div
    dt Bonus Move (2)
    dd A good early choice for HtH characters, and arguably pretty useful for anyone.
  div
    dt Gain Agility
    dd Good if your new AG is an even number, which means an extra Action Point. Otherwise don't bother, it will only net you a few skill points.
  div
    dt Living Anatomy
    dd Very good, 5 more damage per attack <i>and</i> Doctor points although you may not need them at this stage.
  div
    dt Quick Pockets
    dd Actually this is a break early in the game when you find yourself needing Stimpaks or Healing Powder at times, and an overall convenience later on.
  div
    dt Slayer
    dd The ultimate HtH perk (and unlike Sniper you don't need to make a LK roll).

+adviceList()
  +adviceItem("reliable")
    span.
      Michal Burger puts in: "The Bonus Move perk is for an HtH character far superior to Action Boy/Girl, which you suggested, because your enemies tend to slide 2-8 hexes after you hit them so you almost always use up all of your 'move only' Action Points, even if you have two levels of this perk. Another advantage is that you can get Bonus Move at 6th level, compared to 12th for Action Boy. I can never find any good perks at the early levels, so I almost always go for Toughness and Bonus Move. And some extra move AP can be still useful even in ranged combat - for hiding behind obstacles." This argument was made for <i>Fallout</i> where the Super Sledge is the best mêlée weapon, but it has merit even without the knockback angle. 
    br
    span.
      Volcano adds: "I find Bonus Move has its uses in ranged combat, when using heavy burst weapons like miniguns or the Bozar. It allows you to get a clear field of fire so that you can target the enemy without blowing apart your NPCs. And it allows you to line up critters to ensure hitting more than one with each burst. Wiping out six floaters with three bursts from a Vindicator is a lot of fun."
  +adviceItem("reliable")
    | Bonus Move is bugged so that if you save and load the game in combat, your extra movement AP will be available for use again, allowing you to move any distance in a single round.

p.
  Possibly useful but not crucial perks:

dl
  div
    dt Dodger
    dd Protection is good.
  div
    dt Explorer, Ranger, Scout
    dd These all improve your chances of finding special encounters, which can be helpful if you have low LK and play on hard difficulty, but mostly for the fun value, so don't take them until the late game.
  div
    dt Gain Charisma
    dd This is useful if your new CH is an even number, which means you can recruit another party member... if you <i>want</i> another party member.
  div
    dt Gain Intelligence
    dd Unless you start out with IN 9 this is good, but not a top priority if you have IN 7-8 already, which you should.
  div
    dt Gain Luck
    dd Good LK will help with special encounters (maybe) and criticals, so take this in the late game if you can't think of anything else. Great only if you have the Sniper perk.
  div
    dt Gain Perception
    dd Improves your sniping and helps get the Sniper perk (but you can use chems for that). As you can see all the Gain Foo perks are rather situational.
  div
    dt HtH Evade
    dd Strictly better than Dodger for Unarmed experts. Note that you can use unarmed weaponry such as the Power Fist with this perk, i.e. your weapon slots don't literally have to be empty (that perk description had <i>me</i> fooled).
  div
    dt Lifegiver (2)
    dd You can accumulate a lot of Hit Points with this one, but after level 12, do you need them? Probably not.
  div
    dt Magnetic Personality
    dd For those situations where you have a lousy CH and want a large party anyway (without fooling around with chems). If your current CH is an odd number then Gain Charisma is strictly superior to this.
  div
    dt More Criticals (3)
    dd Groovy, but the catch here is that if you get Sniper (and have a good LK) or Slayer, this perk will be made largely redundant.
  div
    dt Mutate!
    dd There's one way you can use this perk efficiently: exchanging Finesse for Fast Shot at level 27 after you get Sniper (or taking it as your level 21 perk just before reaching level 24). It then effectively becomes another Bonus Rate of Fire. Other than that, don't waste a perk changing traits in mid-game instead of choosing right to begin with.
  div
    dt Silent Death
    dd Considering the six separate requirements for pulling this off, you'd think it'd do more than double damage!
  div
    dt Toughness (3)
    dd Protection is good (but spending char points on Endurance is not, so take Buffout if you want this). Would be more noteworthy if it affected all damage types. Note that you can eventually get to 80% DR through other means, and 90% is the maximum, so if you take more than one level of Toughness you risk not getting your money's worth.

+adviceList()
  +adviceItem("reliable")
    | Valiant Bastard notes: "When I choose the Gain Intelligence perk, the relevant skills go up to reflect that, but I don't gain any additional skill points when I move up a level."
  +adviceItem("reliable")
    | It's been argued that HtH Evade and Jinxed makes for an effective combination... but hey, that's not really the most inspiring way to play this game, is it? Note that this perk was changed after the manual was printed; the in-game description is the correct one.
  +adviceItem("reliable")
    | Although it's not clear from the description, Lifegiver gives you +4 Maximum HP when you take it; you could say it works retroactively for the level you just earned.
  +adviceItem("reliable")
    | Frank Shannon is not alone when he says: "I'm a little surprised you rated Lifegiver so low." Well, if you take two levels of Lifegiver as quickly as you can and play to level 30, you will have 140 more HP, and it's true that this makes for a good safety margin, especially in an iron man game. However, by that time you'll have run around in heavy armour and with resistance bonuses for a good while and you seldom have to worry about being slain outright except by massive critical hits that bypass armour. Lifegiver could save you in such a moment - and so could Dodger, abstractly speaking. Meanwhile, offensive perks which add attacks, manoeuvrability or damage will be working for you constantly. I'd consider taking Lifegiver before I considered dumping more char points in Endurance, but I still find it limited in appeal.
  +adviceItem("reliable")
    | If you have CH 8 or 9 and didn't get the Mirrored Shades and/or Blue Memory Module yet, you may want to skip Magnetic Personality since you can't normally have more than 5 party members anyway. This perk is available from level 6, not level 3 as the manual states.
  +adviceItem("reliable")
    | If you have only one trait when you get the Mutate! perk, you must exchange that for the new one, i.e. you can't just fill the other slot and keep the old trait.
  +adviceItem("reliable")
    | Krum Stanoev adds: "There's another fairly obvious way to modify your primary stats in-game with the Mutate! perk. You can start with an Agility of 6 and still get Sniper: you pick Finesse, then you pick Gain Agility to make it 7, then Mutate! to swap Finesse for Small Frame and get AG 8 for Sniper just before you make it to level 24." (Or you could take a dose of Psycho.)
  +adviceItem("reliable")
    | One could make an argument such as this: "If you use Mutate! to change any mediocre trait to Gifted, you're basically getting seven Gain Foo perks at once. That's got to be the best perk ever." The problem with this is that it assumes you didn't get Gifted from the start even though you could have. The beauty of swapping Finesse and Fast Shot is that the benefit of Finesse and the drawback of Fast Shot disappear at the same time, namely when you get Sniper.
  +adviceItem("reliable")
    | It's possible to score more than one double-damage hit with Silent Death in the first round of combat, assuming you can position yourself behind two or more enemies without leaving Sneak mode (which is difficult if you have to pass directly in front of them).
    

p.
  Perks I rather doubt the usefulness of:

dl
  div
    dt Bonus HtH Damage (3)
    dd Should have been a lot more damage. Now you'll have to get all three levels to notice any difference. Note that this perk adds to the <i>maximum</i> damage - that's only one point on average for each perk slot!
  div
    dt Bonus Ranged Damage (2)
    dd Not enough of a bonus unless you're using a Minigun, Bozar or the like (although if you expect to score a lot of damage multiplication criticals it gets a little better).
  div
    dt Gain Strength
    dd You shouldn't need this to get to ST 10.
  div
    dt Pack Rat, Strong Back (3)
    dd Carrying more stuff just can't be wrong ("Pack rat you is!"), but spending perks to do it is.
  div
    dt Pickpocket
    dd Neat for thief characters, I suppose, but effectively a convenience perk unless you really never save before stealing.
  div
    dt Silent Running
    dd If you must play a sneaking character I guess this takes a lot of frustration out of playing, but doesn't it spoil the atmosphere? Pure convenience.
  div
    dt Smooth Talker (3)
    dd Almost the equivalent of the Gain Intelligence perk, but not quite... Better to start off with a decent IN instead, no?
  div
    dt Tag!
    dd Since it's a skill point perk, personally I wouldn't touch it, but used correctly it can give you rather a lot of points so I'm rating it higher than the rest.
  div
    dt Thief
    dd Pretty much the same for this. Since it gives you 40 skill points and you can get it at level 3 this is one of the best skill perks. Not that these thief skills are crucial or anything.
  div
    dt Weapon Handling
    dd Could be used to facilitate switching to Avenger Minigun or the like early in the game, but otherwise not needed unless your ST is way too low to begin with. Just spend some skill points to compensate.

+adviceList()
  +adviceItem("reliable")
    | You can play a little trick with the Tag! perk. When you use it to tag a skill, it will raise the skill level by the same amount you already raised the skill, including bonuses gained during play (but <i>not</i> the initial 20% bonus). The trick is that before leaving the character screen you can lower the skill to its previous level (gaining even more skill points if the skill went above 101%), and then spend the points elsewhere. Effectively this perk can give you an amount of generic skill points at least equal to the highest amount you've gained in a non-tagged skill, and potentially much more, which makes it far superior to every other skill point perk. Although a favourite of some players, personally I think it's no big deal, since I don't care much for skill points late in the game anyway. As pointed out by Volcano, the game keeps track of the skill level if it goes above 300%, so if you tag a skill at 299% you'll get several hundred points out of it - but if you tag a skill at 300%, you can't lower it at all!

  +adviceItem("reliable")
    | When you pick a skill point perk (other than Tag!) you can redistribute points only to the extent that you have previously raised that skill by investing skill points, reading books or getting one-shot bonuses. Survivalist is probably the most likely candidate of the bunch, but it's still much inferior to Tag! for the purpose. Also note that skill point perks raise skills by a fixed amount, no matter if they are tagged (in which case you lose) or higher than 101% (in which case you profit). This redistribution trick also works on a smaller scale when you buy a perk that raises a stat.
    
p.
  Useless perks which should only be chosen if you have no other options (or really want to):

dl
  div
    dt Adrenaline Rush
    dd Gain an infinitesimal bonus, but first you'll have to be dying? Let me think.
  div
    dt Cautious Nature
    dd Pointless for anyone but the most cowardly diplomats who can't think of anything else.
  div
    dt Comprehension
    dd What's the use if it doesn't raise the maximum skill level which can be reached using books? See Educated etc.
  div
    dt Cult of Personality, Karma Beacon
    dd These perks have no effect in the game. That's right, they do nothing. Take Adrenaline Rush or Light Step if you want a better perk than these two.
  div
    dt Demolition Expert
    dd So extremely marginal.
  div
    dt Earlier Sequence (3)
    dd Not worth it.
  div
    dt Educated (3), Gambler, Harmless, Master Thief, Medic, Mr. Fixit, Negotiator, Salesman, Speaker, Survivalist
    dd All these perks give you nothing but skill points. You don't need more skill points. You need the cool perks listed in the sections above this one.
  div
    dt Empathy
    dd It seems like a great idea in theory, but this game simply isn't about choosing the dialogue options that keep <i>other</i> people happy.
  div
    dt Faster Healing (3), Healer (2)
    dd Healing rate is never an issue.
  div
    dt Fortune Finder, Master Trader
    dd Money is not an issue. Fortune Finder is just awful; Master Trader isn't actively bad, just strictly unnecessary.
  div
    dt Gain Endurance
    dd Endurance is simply not important, and this does nothing if your EN is an even number. Lifegiver is tons better for HP.
  div
    dt Ghost
    dd Like a skill point perk only you don't get the skill points!
  div
    dt Heave Ho!
    dd Strictly for grenade chums, and exceptionally marginal even so.
  div
    dt Here and Now, Swift Learner (3)
    dd These two help you gain levels. What's the primary purpose of gaining levels? To get perks. So why use perks to gain more levels? If you want HP and/or skill points there are much better choices anyway.
  div
    dt Kama Sutra Master
    dd Doesn't really do anything that Sex Appeal, Sexpert and/or good physical stats don't. A sex perk is bound to be utterly marginal.
  div
    dt Presence (3)
    dd Don't bother. Extremely few critters treat you differently depending on reaction, and this perk isn't likely to be the factor that tips the scales in your favour.
  div
    dt Light Step
    dd Not enough traps to make this remotely worthwhile. Not even if it said "never" instead of "less likely".
  div
    dt Mysterious Stranger
    dd Utterly useless.
  div
    dt Night Vision
    dd Situational, and doesn't do much. Increase your weapon skill instead or pick Sharpshooter.
  div
    dt Pathfinder (2)
    dd Time is not an issue in <i>Fallout 2</i>.
  div
    dt Pyromaniac
    dd Too marginal. Should have been a <i>lot</i> more damage to have been any fun. Also note that the (Improved) Flamer is the only weapon that does fire damage (Molotov Cocktails do not, even though they have the "dancing death by fire" animation, and Flame Breaths don't count).
  div
    dt Quick Recovery, Stonewall
    dd Both mind-numbingly marginal.
  div
    dt Rad Resistance (2), Snakeater (2)
    dd Poison and radiation aren't common enough, or difficult enough to handle, to necessitate these small bonuses.
  div
    dt Sharpshooter
    dd Effectively just a minimal skill increase for all ranged attacks. Increase your preferred weapon skill instead and use the perk for something special.

+adviceList()
  +adviceItem("reliable")
    | Kanhef explains Heave Ho!: "A character's maximum range for throwing weapons is ST*3. Someone with a Strength of 2 can throw things up to 6 hexes away. Taking Heave Ho! gives them an effective ST of 4, for a range of 12. However, the maximum throwing range is 8 for spears, and 15 for grenades. So raising Strength above 5 doesn't increase range at all. Characters with a Strength of 1 would benefit from this perk; it's completely useless with a Strength over 4." Throwing Knives have a maximum range of 16 hexes, but taking a perk to increase your ST 5 character's range with that particular weapon by 1 hex would seem to fall within the definition of "completely useless".
  +adviceItem("reliable")
    | Both Heave Ho! and Survivalist have only one rank instead of three like the manual says. Several other perks were changed (for example, all skill point perks), but their proper descriptions are in the game.
  +adviceItem("reliable")
    | Here and Now gives you exactly the amount of xp needed to reach the next level; ideally it should be taken at a high level and after earning just enough xp to reach your current level. Well, ideally it should not be taken, but you know what I mean. You need to exit and re-enter the character screen to get the skill points and the new perk, if any. Volcano adds: "If you take Here and Now as your perk at Level 99, your accumulated xp total becomes 0. There doesn't seem to be any other effect." Taking it at level 97 gets you to level 99 (see note in the Area walkthrough introduction). This perk is available on level 3 instead of level 9 as the manual says; this is actually not a bug, but was omitted from the final patch readme.
  +adviceItem("speculative")
    | In v1.0 when you took Here and Now you gained an amount of xp equal to the total amount needed to reach your current level; starting at level 6 you would gain more than one level as a result, with the number of levels gained increasing with your current level. For instance, if you took the perk just after reaching level 19, you would double your total experience to 342,000 and rise to level 26. Of course, you would only be able to pick one perk afterwards. Juan adds: "When I pressed cancel and left the character screen, I saw that the text screen said 'You have gone up a level' 10 times, and my NPCs had levelled up... but they didn't lose their levels! So I tried picking and cancelling Here and Now again, and yes, my party members went gaining levels, over and over, until they reached their max level (and I still had the perk available)." With the patch NPCs will not have a chance of levelling up in this case.
  +adviceItem("reliable")
    | Light Step is one of those mind-bogglingly stupid perks. Not only is the ability to avoid pressure plates decidedly minor, and not only does Light Step require you to pass a difficult AG check for each mine to do so, but they didn't even care to set this up for every floor trap in the game. In fact, the only places where Light Step is used are Redding and outside (but not inside) the SAD.
  +adviceItem("reliable")
    | Contrary to what the manual says, the Master Trader perk doesn't make your own stuff more valuable, but gives you a discount on the value of goods you barter for (the <i>Fallout</i> manual has it right). The effective discount varies somewhat between shops: 20%, 25% and 50% have all been noted (probably because barter modifiers are applied cumulatively and not sequentially).
  +adviceItem("reliable")
    | The Pathfinder perk appears to be slightly bugged: the first level will cut 20% of travelling time (not 25%), while the second level doesn't seem to do anything at all. In <i>Fallout</i> the perk worked as it should.
  +adviceItem("reliable")
    | Sharpshooter is bugged and doesn't really do what the manual says; it's supposed to raise PE by 2 for sniping purposes, yet often improves your chance to hit less, and never more, than increasing PE by 1. Michal Burger figured out that this is because the perk thinks range modifiers are calculated based on PE when it's in fact PE*2, and so increases your chance to hit only half as much as it should. At least it gives you a bonus even if your PE is at 10 already.

  +adviceItem("reliable")
    | Swift Learner decisively wins the struggle for the title of most deceptively lousy perk. It may certainly seem like a good investment when you first look at it, <i>but</i> since the xp requirement for each new level rises linearly, even if you get all three slots of Swift Learner you only ever stay a few levels ahead of someone who doesn't ruin their early game wasting invaluable perks. For starters, you have to wait until level 17 before you're even <i>one</i> whole level ahead of the "slow" learner, and if you eventually get to level 30, which should not be until the game is over anyway, you'll still be only <i>two</i> levels ahead. So, that adds up <i>eventually</i> to a few HP and skill points, for three perks... Simply put, do not choose this perk even if it threatens you with a radiated stick.
  +adviceItem("speculative")
    | There are a few implemented perks which you cannot gain, namely Animal Friend, Flower Child, Mental Block and Scrounger. They were in the original <i>Fallout</i>. Rumours that you can get some or all of them in <i>Fallout 2</i> are completely unsubstantiated, and only Flower Child has any effect should you add it using a character editor.
