h2 Reputations

p.
  During the game you will accumulate characteristics which are neither perks nor traits, but presented alongside them. They're often called "karmic traits", or even "perks", but the manual calls them "special reputations". They don't affect your stats (other than Prizefighter, which could just as well have been a special perk), only how people in the game world react to you.

ul
  li.
    <b>Berserker:</b> Kill significantly more good people than bad people. Great pic!
  li.
    <b>Champion:</b> Kill significantly more bad people than good people and don't be a Childkiller.
  li.
    <b>Childkiller:</b> Kill a child for any reason, even by accident.
  li.
    <b>Gigolo:</b> Have sex a lot (or just once, providing you're extremely good at it). (For a woman, this should actually read "Gigole".)
  li.
    <b>Grave Digger:</b> Dig up a grave other than Anna's, the fallout shelter in Golgotha, or the buried ghoul in Golgotha.
  li.
    <b>Made Man:</b> Join a family in New Reno.
  li.
    <b>Married:</b> Marry Miria or Davin in Modoc.
  li.
    <b>Porn Star:</b> If you shoot a movie at the Golden Globes.
  li.
    <b>Prizefighter:</b> Win the boxing title in New Reno.
  li.
    <b>Separated:</b> Have your spouse killed or sold into slavery, or get divorced in New Reno.
  li.
    <b>Sexpert:</b> Have sex ten times.
  li.
    <b>Slaver:</b> Join Metzger's guild in the Den.

ul
  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | The people of the <i>Fallout</i> world seem to adopt an "Einmal ist Keinmal" philosophy when it comes to childkilling. This means that even though you get the Childkiller label on your character sheet for killing one child, scripts always check to see if you've killed two kids or more (including the bounty hunters on the world map). I won't spell this out every time, though, so in the walkthrough, "Childkiller" should be read as "having killed two children or more".

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | If any of your NPCs kills a child you don't get the Childkiller reputation.

  li
    <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    | There are a few kids who increase your child kill count twice because of a script redundancy (and thus instantly make you a "real" Childkiller): these are Jonny in Modoc, the Slag kids, and Curtis in Vault City.

p.
  Your actual karma level will be described using the karmic titles, from "most good" to "most evil": Savior of the Damned, Guardian of the Wastes, Shield of Hope, Defender, Wanderer, Betrayer, Sword of Despair, Scourge of the Wastes and Demon Spawn. Each 250 karma in either direction from 0 will earn you a new title. I find that being a shameless opportunist will net you high positive karma in the end - which could mean that the designers have strange notions about morality, but more likely just reflects the fact that there are more good things to do in the game than bad ones.

p.
  Reputation in specific towns are reflected by the standings: Idolized, Liked, Accepted, Neutral, Antipathy, Hated and Vilified. Like your karma level this is a representation of a numeric value, only this one is hidden. You always start out as Neutral when you come to a place, except Klamath where you're Accepted if your CH is 6 or more, and Vault City where you start out with Antipathy. In Arroyo, of course, you're Idolized. Sadly it's not possible to reach Idolized in all settlements if that's your aim. At the Ghost Farm, for instance, you can't advance beyond Neutral even after saving all their sorry asses.

p.
  It should be noted that karma and reputations all have a much smaller general impact on the game than one might think. They make a difference in the case of critters that look directly for certain reputations or threshold values of karma or town reputation, but the basic reaction system that factors in everything at once is hardly used at all and doesn't even work properly. It won't really make any difference whether you have 500 karma or 1500.
