h2 Skills

p.
  Recommended skills to tag:

dl
  div
    dt Small Guns
    dd Because you should be using this for your primary combat skill for most of the game.
  div
    dt Lockpick
    dd Because there are many, many locked containers and doors and you'll want to open them with a minimum of fuss.
  div
    dt Speech
    dd Because you want people to like you and be impressed with you and give you quests and generally do what you tell them to.

p.
  There simply isn't any other skill which comes close to the usefulness of these three, at least if you're playing the game my way. Tag them and bump them up to around 100% early on (except possibly Small Guns if you want more use out of those Guns and Bullets magazines), it will pay off. A mêlée character will want one of these instead of Small Guns:

dl
  div
    dt Melee Weapons
    dd Unless you make this your primary combat skill you never really have to use it. If you do, tag it and pump it to 100% as soon as possible.
  div
    dt Unarmed
    dd This is used in a few quests, but you don't have to spend any skill points here since it can be raised for free to about 100% anyway. Unless you're going Unarmed all the way I'd wait till after that to make it my primary combat skill.

p.
  With that taken care of you can start raising your secondary skills:

dl
  div
    dt Big Guns
    dd Fun, but only used late in the game and so not worth a tag.
  div
    dt Energy Weapons
    dd See Big Guns.
  div
    dt Doctor
    dd You'll want this up to 75% eventually, but not worth a tag.
  div
    dt Traps
    dd There aren't that many traps in the game, actually, and they're not likely to kill you. You could raise it to 60-70% for convenience, but feel free to ignore this skill altogether.
  div
    dt Science
    dd Can be raised with books. You'll want at least 81% eventually, but don't use any points until you have to.

p.
  Skills you will use but need not spend points on:

dl
  div
    dt First Aid
    dd.
      Does little that Doctor doesn't do better. Don't use any skill points on this, raise it with books.
  div
    dt Repair
    dd.
      Can be raised with books, so don't use points here.
  div
    dt Outdoorsman
    dd.
      Can be raised with books, although those are rare. Mostly good for avoiding annoying random encounters.

+adviceList()
  +adviceItem("reliable")
    | If you've been wondering what First Aid <i>does</i> do better than Doctor, it comes with a free +20% bonus to your skill check. And... that's pretty much it, I think.
    
p.
  Rather pointless skills:

dl
  div
    dt Throwing
    dd.
      Rocks and grenades simply don't play a huge role in the world of <i>Fallout 2</i>.
  div
    dt Sneak
    dd.
      I'm sorry, but I don't see the point of sneaking past people when you can just blow them up instead (or maybe that's the point, you sneak up and plant dynamite? Unfortunately there's not enough dynamite to employ this tactic consistently).
  div
    dt Steal
    dd.
      Don't bother unless either you don't mind if everyone turns hostile on you, or you plan to save and reload a lot (which isn't my favoured playing style). If you really must steal something, you can usually do it with a low skill level (saving first, of course).
  div
    dt Barter
    dd.
      Early in the game there won't be a whole lot to buy. Later in the game you'll be swimming in money. Don't waste a single skill point here. Unless you raise the skill way above 100% your CH will have a greater impact on bartering anyway.
  div
    dt Gambling
    dd.
      See Barter.

+adviceList()
  +adviceItem("reliable")
    | Your amount of unspent skill points is capped at 99 when you level up. You can have more than 99 points stored (e.g. after getting a skill point perk), but only until you level up next time.
  +adviceItem("reliable")
    | A "cheat": when buying a non-combat skill which is slightly above 100%, raise the difficulty to hard (assuming you usually play on normal). Your skill will drop below 100% so you only have to spend one skill point per skill level. Afterwards return the difficulty setting to normal or whatever. This also works when reading books; see the Items section for a note on this.
  +adviceItem("reliable")
    | Similarly you can set the difficulty to easy to raise your skills temporarily for a specific action (again assuming you're playing on normal or hard).
  +adviceItem("reliable")
    | Some players actually favour the Sneak skill as in some situations it will let you kill people without anyone noticing, which is useful in assassinations. It can also be useful for HtH characters to get as close to the enemy as possible before they open fire. It doesn't much help with stealing, though, as in almost every shop where the wares are kept in an onscreen container the script simply doesn't take sneaking into account.
  +adviceItem("reliable")
    | I'll put a couple of Steal notes here, because they don't seem to fit anywhere else. You gain a bonus (or suffer a smaller penalty) stealing from the back or side of someone, but the Sneak skill does nothing. Item size (which is not the same as weight) is a factor unless you have the Pickpocket perk. Regardless of your skill level you can use Steal to see what humanoid critters are carrying, although you won't see items they're holding or items that they "produce" during the course of a quest.
  +adviceItem("reliable")
    | If you manage to steal and/or plant an item two or more times in succession you gain an increasing amount of xp for each successful attempt: 10, 20, 30 and so on, meaning the total will be 10, 30, 60 and so on. However, the total amount will cap out at 300 minus your Steal level, and if you're caught you get none at all. Low-level thief characters can benefit from this by stealing "one coin at a time" from potential victims (or swapping an item back and forth). Personally I'd try to think of something more meaningful to do.
  +adviceItem("reliable")
    | In some shops you can use Steal on the shopkeeper or a container to take stuff and/or money; in others you can't because the wares are kept in an offscreen container when you're not talking to the shopkeeper or because some scripting feature prevents it. In the latter case wares will appear on the body of the shopkeeper only if you kill them, and perhaps not even then.
  +adviceItem("reliable")
    | Starseeker adds this on Steal: "I have found out that if you have low Lockpick skills, you can try to steal stuff from locked drawers or tables, but it may not always work for some reason. It won't work on lockers." Experimentation shows that it works on desks and workbenches, but not on lockers or footlockers.
  +adviceItem("reliable")
    | You can plant items on people using Steal. The only use of this feature I know of, except giving equipment to your NPCs, is to arm an explosive, put it on someone, then whistle innocently and walk away a bit. But don't save your game before it goes off; it's been reported that this can corrupt your save slot completely!
  +adviceItem("reliable")
    | A tip from Masklinn: "Some people don't show their weapons (sometimes other items, but mainly weapons) in the thieving interface but accept to barter them. Just enter the barter interface, put the weapon in the trading area, then go back and quit dialogue; quite a lot of people will have put the item where you can see it in the thieving interface and you can now steal it."
    
p.
  As a rule, it's not worth it to raise most skills above 101%. Combat skills can be improved beyond that for an extra edge until you reach the point where you get the maximum 95% chance to hit against all opponents and from any reasonable range (which takes a bit longer if you practice the art of aimed shots or blows). Unarmed is an exception if you make use of the HtH Evade perk, though at high levels you'll have to spend quite a lot of skill points for each point of AC. Science has a few uses above 101%; most are strictly marginal, but go for it if you don't have anything else to do with the points. Most often you can just try again if you fail a skill check, even in dialogue. Sneak, Steal and Outdoorsman might seem like exceptions since failure has more of an immediate effect in these cases, but your rate of success hardly rises linearly with skill level anyway; quite likely the chance of success for Steal and Sneak is capped at 95% even before modifiers are applied, just like Outdoorsman.
