h2 Special perks

p.
  A quick list of special perks that can be gained, detailed further in the walkthrough:

ul
  li.
    <b>Alcohol Lowered hit points:</b> Gained in the Parlor Room in Vault City.
  li.
    <b>Alcohol Lowered hit points II:</b> Ditto.
  li.
    <b>Alcohol Raised hit points:</b> Ditto.
  li.
    <b>Alcohol Raised hit points II:</b> Ditto.
  li.
    <b>Autodoc Lowered hit points:</b> Gained from Dr Andrew in Vault City.
  li.
    <b>Autodoc Raised hit points:</b> Gained from Dr Andrew in Vault City.
  li.
    <b>Expert Excrement Expeditor:</b> Gained from shovelling crap in Broken Hills.
  li.
    <b>Gecko Skinning:</b> Gained from Smiley in Klamath.
  li.
    <b>Dermal Impact Armor:</b> You can get this from doctors in Vault City, Redding or San Francisco once you learn about implants in Vault City.
  li.
    <b>Dermal Impact Asslt. Enhance.:</b> See Dermal Impact Armour.
  li.
    <b>Phoenix Armor Implants:</b> See Dermal Impact Armour.
  li.
    <b>Phoenix Assault Enhancement:</b> See Dermal Impact Armour.
  li.
    <b>Vault City Inoculations:</b> Gained from Dr Troy in Vault City.
  li.
    <b>Vault City Training:</b> Gained from Dr Troy in Vault City.
  li.
    <b>Jinxed:</b> The pariah dog will bestow this doubtful perk upon you.
