h2 Stats

p.
  When allotting char points there are some things to keep in mind:

dl
  div
    dt Strength
    dd Extremely useful for... carrying stuff. Believe me, this is a game in which you'll want to carry stuff. You should start out with at least 5 (especially if you're taking Small Frame). However, since ST can be increased by 6 points during the game (perk +1, surgery +1, armour +4), I wouldn't recommend going any higher than that; even if you go for the full 10 it will mostly be noticeable in the beginning stages of the game (and a waste towards the end).
  div
    dt Perception
    dd Good for ranged combat. A starting minimum of 5 is required for the Awareness perk, but there are quest benefits to setting it to 6 even for HtH characters. Can be increased by 2 points during the game (perk +1, surgery +1).
  
  div
    dt Endurance
    dd Determines Hit Points and not much else. Unless you like close combat a little too much I wouldn't put more than 4 (and anyway, two extra points to EN still only means some 30 extra HP by the end of the game). Can be increased by only 1 point during the game (perk +1).
  div
    dt Charisma
    dd Useful for keeping your dialogue options open, though not nearly so important as Intelligence. Affects bartering both directly and indirectly. Your maximum number of followers is equal to your CH divided by two, rounded down. Even if you don't plan to keep any company you might want to set it to 2 so you can at least pick up NPCs temporarily for xp and such. Can be increased by 3 points during the game (perk +1, surgery +1, shades +1).
  div
    dt Intelligence
    dd Unless you plan to rely on brute force for everything, this is likely your most important statistic since it rules conversation and determines extra skill points per level. 7 is a balanced value since it means you only need one Mentats for the few occasions where you need to go higher, though anything up to and including 9 is probably not too much. Can be increased by 3 points during the game (perk +1, surgery +1, weird brain alignment +1).
  div
    dt Agility
    dd Determines your Action Points, so you don't want less than 6, and starting with anything up to 10 doesn't hurt. Can be increased by only 1 point during the game (perk +1).
  div
    dt Luck
    dd As the effects of Luck are not so obvious, it's easy to perceive it as the trash stat of the system (much like Charisma usually is everywhere else). It does have an impact on your rate of critical hits, especially with the Sniper perk in place, but early in the game you won't suffer much from a low Luck score. It can be improved by 3 points during the game (perk +1, either a weird brain alignment +2 or another weird brain alignment +1).

+adviceList()
  +adviceItem("reliable")
    | Stats can never be effectively raised above 10. Of those stat rises mentioned above, the "weird alignment" which gives IN +1 and LK +1 and the other which gives LK +2 are mutually exclusive. Also evil characters will normally lose out on the "surgery" IN +1 bonus.

  +adviceItem("reliable")
    | A Strength of 5 is enough to handle virtually all weapons early on and many later ones as well (HK P90c, Gauss Pistol, Pulse Rifle). ST 6 is needed for some mid- or late-game weapons such as the Gauss Rifle and Bozar, and ST 7 for all kinds of miniguns, which means that once you get the Power Armor you can pick and choose anyway. If you use a Bozar with ST 5 you "only" get a #[span.no-break -20%] penalty which can be balanced with skill points, whereas the stat point can be put to better use.

  +adviceItem("reliable")
    | EN, CH and AG all work in the way that an odd score will not give you any significant advantages compared to the even number below, e.g. AG 6 or 7 both give you 8 Action Points. Keep this in mind, but also keep in mind ways of increasing stats later; with an odd starting AG, the Gain Agility perk becomes an extra Action Boy, which it wouldn't otherwise.

  +adviceItem("reliable")
    | As listed in the patch notes, the correct amount of extra HP per level is EN/2+2 (rounded down).
    
  +adviceItem("reliable")
    | You can eat Mentats and recruit party members while your CH is high; you won't lose them when your CH returns to normal (except in the rare case of CH 1 and Lenny). Note however that this will only let you raise your CH by 2, which corresponds to one extra NPC (unless you use the save/load trick - see the Items section). Although there are other ways to improve your CH, in my opinion the best NPCs are the ones found early in the game anyway.
  +adviceItem("speculative")
    | In v1.0, getting the car would effectively raise your maximum number of NPCs by one, so that under optimal conditions you could have six of them. The readme mentions this has been fixed for Goris, but actually all of them had the same problem and the same fix.
  +adviceItem("reliable")
    | If you set IN lower than 4, your character will (usually) only be able to speak in grunts, unable to carry on any meaningful dialogue. Needless to say this will severely impair your ability to take on and solve quests, but you can use Mentats to help with that. (Note that you can also use Mentats "in reverse" during a normal game - take one or two and wait one hour for your stats to drop below normal - if you want to take advantage of an IN&lt;4 feature. Psycho is even more effective.) For more details, see the Stupid section.
