h2 Traits

p.
  Recommended traits:

dl
  div
    dt Small Frame
    dd One more stat point and not "some Action Points" like the manual says. Carrying stuff is nice (mmm... stuff), but not crucial once you learn what to keep and what to stow away.
  div
    dt One Hander
    dd Many of the best weapons in the game are two-handed, but it's good for HtH characters since the bonus applies for Unarmed-class weaponry, none of which is two-handed (your completely unaided punch and kick attacks are unaffected).
  div
    dt Finesse
    dd Decent trade-off. Like the More Criticals perk this is made obsolete by the Sniper (with high LK) or Slayer perks, but Finesse will benefit you from the very start of the game.
  div
    dt Fast Shot
    dd A personal favourite, because I like firing a pistol five or six times during a round. When you get Sniper, it rocks, and sticking to burst weapons makes the drawback irrelevant. Don't take this if you're a hard-core sniper though.
  div
    dt Gifted
    dd The stat bonuses counteract the skill penalties (especially if you put a few extra points to IN), so this is universally regarded as the best trait. I don't use it myself because it almost feels like cheating, or at the very least it spoils the challenge of balancing your stats.

+adviceList()
  +adviceItem("reliable")
    | Geoffrey Bateman opines on Small Frame (which I originally rated as a poor trait): "You lose a little Carry Weight, but you'll get Sulik soon, and then maybe a couple more mules, then a car, and Power Armor... Small Frame makes the game a <i>little</i> tougher for a <i>brief</i> while, and in return you get a character point (which could be used for, say, an extra point of IN and 2 skill points per level)."
  +adviceItem("reliable")
    | Fast Shot doesn't work with HtH attacks, but still removes your ability to make targeted blows (meaning it's actively bad for mêlée characters). This is a change from <i>Fallout</i>.
  +adviceItem("reliable")
    | If you raise a stat with Bruiser, Small Frame or Gifted, you can redistribute the extra #[span.no-break point(s)] manually, so think of them as extra generic char points, although technically this is not so (which is reflected by the fact that you can't lower the raised stats below certain values, but that should never be a problem).
  +adviceItem("reliable")
    | Paul Melin points out that if you were going to set IN to 10 anyway, the skill point loss from Gifted cannot be offset. Sure, but how many skill points can you find a use for anyway?

p.
  Potentially useful but not overly worthwhile traits:

dl
  div
    dt Heavy Handed
    dd.
      Helpful early on, but downright awful late in the game when you'll actually do less damage than if you didn't have this trait.
  div
    dt Jinxed
    dd.
      Could be useful in a pure (and weird) HtH game. If you or your party members are using guns yourself you shouldn't want to randomize combat unless you're always worse at it than the critters you'll be fighting (in which case you may want to rethink your playing style entirely).
  div
    dt Good Natured
    dd.
      Effectively a skill point boost, since you gain more useful points (Doctor, Speech) than you lose useful ones (Small Guns or Melee Weapons), but marginal in the long run. Unmissable in a pure diplomat game, if you get around to playing one of those.
  div
    dt Sex Appeal
    dd Admit it, you always wanted this.

+adviceList()
  +adviceItem("reliable")
    | Sex Appeal is mostly for female characters, since you'll be dealing with more men in the game world. Even so it won't be an important factor. If you have a low CH it will have a noticeable effect on bartering (almost all shopkeepers are male). It has no positive effect if your CH is 10, and no negative effect if your CH is 1.

p.
  Traits to avoid:

dl
  div
    dt Fast Metabolism
    dd Both effects are utterly marginal, so it's simply an utterly marginal trait.
  div
    dt Bruiser
    dd Two more stat points, but you need the AP. That's like losing four points of Agility, which is ridiculous.
  div
    dt Kamikaze
    dd Trade away protection for Sequence which matters only during the first combat round? No thanks.
  div
    dt Bloody Mess
    dd Fun to begin with (for instance, start up a game and beat up Klint), but doesn't do anything in game terms, and gets tiresome. You'll see those animations anyway and it will feel more like a reward (!) without this trait.
  div
    dt Skilled
    dd With a decent IN you'll be swimming in skill points. A horrible trait, avoid like the plague (unless you have IN 1 or something, though it beats me why you would).
  div
    dt Chem Reliant
    dd The average time you spend being addicted won't change, so what's the big deal? Chem use is marginal anyway and most players will probably just reload if they get addicted.
  div
    dt Chem Resistant
    dd Jet is the only chem with a short enough duration that the downside matters much, but even so it's little more than a convenience (you don't have to reload as often).

+adviceList()
  +adviceItem("reliable")
    | Jon Lynch makes an interesting argument: "The Skilled trait is not as bad as it seems. Every 12 levels, someone with this trait will fall exactly one perk behind. However, they will also have accumulated 60 more skill points in this time. Since most perks that add skill points tend to give 20-40 of them, you're getting approximately double the points and they can also be placed in any skill, whereas the perks allocate the points for you." Still, this assumes you were going to get a skill point perk, which usually isn't your greatest priority. At level 24 I'd much rather have two more perks than 120 extra skill points.
