extends /layout.pug

block content

  h1 Addenda

  +fancyQuote("--The Chosen One")
    p Must break free. Strength fading. Must leave.

  section
    p.
      Miscellaneous stuff.

    h2 Talking heads

    p Let's see...
    -
      const heads = "the Elder, Hakunin, Sulik, Lynette, Harold, Marcus, Myron, Tandi, dying Hakunin, Navarro soldier/sergeant, President Richardson, Frank Horrigan";
    ul
      for head in heads.split(", ")
        li #{head}
    

    h2 Bugs

    p.
      Here I'm going to list a few bugs uncovered during play or testing. Well-known, localized bugs that affect gameplay are generally covered in the area walkthrough. Apart from these there are countless minor text mistakes, typos, dialogue glitches, continuity errors, AI glitches, scenery transparency issues and other inconsequential bugs. While for a game of this size and complexity that's sort of understandable, lots of remaining scripting bugs would be extremely easy to correct, and many fixes in the patch either didn't work or introduced new problems that are just as bad. More pre-patch bugs that are not listed here or in the walkthrough can be found in the patch notes.

    p.
      Game shutting down completely and returning to Windows as I stepped on the exit grid of the Gecko power plant. Random instances of spawning Windows error messages and then shutting down during combat.

    p.
      Buttons on the game display replaced by black squares and becoming unusable: the skilldex button on the main screen, and the sleep button in the Pipboy. This is actually a warning sign that the "too many items" bug is coming up (see below).

    Car disappearing from the game after I went to Modoc and clicked Bed &amp; Breakfast on the town map. Car disappearing without warning as I was travelling on world map. "Car outta fuel" location appearing randomly on the world map, or not at all, after I ran out of fuel. And I had thought all the car bugs were out of the patched version...<br><br>

    Car disappearing after Big Jesus teleported me to the Stables. When I left the Stables by stepping on the exit grid I was in the car on the world map, but whenever I would enter a location the car would not be there. I managed to work around this by driving around the map, avoiding all random encounters and thus avoiding actually ending up on a map sans car, until I ran out of fuel, whereupon the car mercifully showed up on the "Car outta fuel" map. Phew!<br><br>

    Caravan troubles: leaders disappearing, caravans aborting, character teleported to a location on the world map corresponding to some other trade route than the one travelled. Many have reported generally buggy behaviour from caravans and caravan leaders on town maps.<br><br>

    When you load a game saved in combat mode, party members or other critters (e.g. the Shi guards) may think they're engaged in combat with you even if they weren't hostile previously. Party members attack for one turn then return to normal (i.e. same as if you hit them with explosives). Neutrals should calm down if you manage to end combat, or you could just load again and try to move away from anyone that looks irritable.<br><br>

    When I tried to search a "stuff" container on a table, my character picked up the stuff, which disappeared from the screen (leaving an empty table) and instead turned into a Geiger Counter in my inventory. The Geiger Counter couldn't be used, though, and if dropped it would look like floating stuff. Eventually I sold it to a shop.<br><br>

    While playing I suddenly died of radiation sickness for no apparent reason (the message could be glimpsed as the screen faded to white). When I reloaded and rested or travelled for a certain time I'd die again, always at the same moment and no matter where I was. I wasn't radiated at all before then, and Rad-X offered no protection. I loaded another game saved only a short while before the first, and rested. At the moment I would have died in the other save, the message window stated "You feel very nauseous", but I didn't die. Nor was I radiated in any way. I continued playing from there and nothing seemed different. It's possible that this bug also existed in <i>Fallout</i>.<br><br>

    Once I used Steal on a gecko in the Arroyo wilderness. The gecko moved away as my character performed the steal animation, and I ended up trying to steal things from a Broc Flower that occupied the space where the gecko had been.<br><br>

    When I encountered "A Den caravan fighting a Vault City caravan", half of the VC caravan guards thought they were fighting for the Den side, while the Den guards refused to take part in the battle at all until it was over, at which point they attacked me instead. It appears to be normal behaviour for Den caravans that the guards and the caravan master aren't on the same team. Several other encounters feature similar behaviour, e.g. farmers not being on the same team as their children, VC patrols not being on the same team as their dogs, and slavers not being on the same team as <i>their</i> dogs.<br><br>

    In the Cat's Paw in New Reno there's a wall you can run right through, and in the Hubologist base there are several. In one of Bishop's closets you can step into the wall and access shelves in the next room, but not actually cross into it. Sometimes when you're running along a wall or cutting across a southern corner, it looks like you're running inside the wall. This doesn't seem to be a purely visual effect; if your timing is right you can drop an item "in the wall".<br><br>

    Boxing names aren't set properly for stupid characters. Another one the readme claims was fixed.<br><br>

    I attacked someone in Modoc while Laddie was following me, thus turning him hostile but not making him stop following me. I left Modoc and shortly thereafter got the Frank Horrigan encounter. As soon as the encounter began Laddie started attacking me, breaking my paralysis and allowing me to run up and stand between the farmers and the people with machine guns as the scripted sequence continued. Presently the soldiers fired and the family was killed, leaving me and Laddie completely unharmed. Next, the dead farmers got to their feet, only to fall down again as soon as combat ended. Horrigan and the soldiers walked away as usual, but remained standing on the map a little way north, completely unresponsive. I tried attacking Horrigan but couldn't inflict any damage, and the soldiers didn't like it much. This time they didn't miss with their Vindicator Miniguns, either.<br><br>

    Lo Pan stayed in the ring in San Francisco after you first see the Dragon punching him. This apparently meant there was a problem with getting his test fights and challenging him. My ingenious solution was to start the Dragon's test fights, knocking the first opponent unconscious, ending combat and talking to Lo Pan. This had the effect that Lo Pan teleported out to the ringside while I was essentially fighting two (and frequently more) opponents at the same time. All kinds of crazy stuff broke out (including multiple crashes as well as the normal fight bugs). In one scenario I finished the Dragon's goons without having completed Lo Pan's set of fights and was teleported outside; I could then go and talk to Lo Pan who was still standing outside the ring (supposedly watching me fight his men in it), and challenge him personally. Once we were in the ring he would not move, his (and the Dragon's) remaining men would attack, and I found that if I hit Lo Pan it would turn the Shi outside the ring hostile (they started beating on my NPCs). In another scenario I ended up inside the ring with my Advanced Power Armor and Super Sledge. Eventually I managed to set it up so that I finished both test fights at the same time; depending on who of Lo Pan and the Dragon could work his script upon me first, I would either end up in the ring with Lo Pan (i.e. eternally stuck) or in the house with the Dragon, who'd then ask me to challenge Lo Pan (who was in the ring). Still, I'd get those 16,000 xp, so I continued playing from there. Feeling a bit experimental after all that, I saved and challenged the Dragon to a fight, then knocked <i>him</i> unconscious, talked to Lo Pan, challenged him and killed him. Then the Dragon woke up and gave me my 3000 xp for that, largely unconcerned with the fact that we were now both stuck. (Even if I'd killed them both and been sent back to the house, there'd have been no one to give me any reward.)<br><br>

    p.
      It's possible to get stuck between the forcefields in the Hubologist base, with guards hovering outside preventing you from leaving combat to disable the forcefields using Repair. If you have a ranged weapon, though, it's possible to fire through the forcefields.<br><br>

    After I killed Fred and reported back to Rebecca my character got hit for 400 points of damage. It seems that a piece of unused script related to getting killed by Dr Troy was triggered in some mysterious way. At another time I had increased my HP for testing purposes and was hit for 279 points of damage from out of the blue, sliding a little along the floor and picking myself up again.<br><br>

    If Grisham is killed in the Slag fight, he'll still be in Modoc, and if he's killed again, he leaves no corpse.<br><br>

    From the patch readme: "Fixed bug causing some Melchior crashes related to fire geckos not being able to hit their target." This can still happen with the patch. When testing the bottleneck strategy for this fight I also experienced a bug where everyone stopped animating when attacking or being hit, and combat messages would simply appear instantly. This eventually caused the computer to lock up.<br><br>

    Some large bookcases are technically two pieces of scenery (as pointed out by Kahgan, the reason for this is so the whole bookcase can display properly with regard to perspective), and if you happen to click the wrong one your character fiddles with it only to generate a message saying it's too heavy to pick up.<br><br>

    In rare cases when a critter is killed it doesn't do its death animation, but remains frozen in a standing or taking damage frame. (For the thieves in the Den, this is the norm rather than the exception.) Since the game still considers the body to be flat on the floor, any scenery is drawn on top of it and may appear to be floating. If a moving critter dies from a Super Stimpak overdose it may complete its walking animation and then remain standing - all the while being dead and lootable.<br><br>

    I finally encountered the explosives-corrupt-the-save-slot bug (or something that looked like it), fortunately during testing. I set three charges in a Bag to kill Buster, left the map (whereupon they should all have gone off and at least one did), re-entered and saved. When I later tried to load it didn't work.<br><br>

    Sometimes when you enter a random encounter cave, one or more critters are walking around inside the walls.<br><br>

    Unnamed Wrights will address you as a Prizefighter if you're a Made Man for them and vice versa.<br><br>

    Loading the game under a roof in Navarro will sometimes leave the roof visible, with your character surrounded by the usual globe of transparency until you leave the building.<br><br>

    Stupid characters should have been able to get one training session from the Dragon/Lo Pan in SF, but this is prevented by bad scripting.<br><br>

    The reserve movement function, which worked somewhat awkwardly in <i>Fallout</i>, now doesn't seem to work at all. Holding down Shift to walk always works, though.<br><br>

    Many sinks in the game (for instance, the one in the small house near your car in the NCR bazaar) are equipped with the random encounter traveller script; you can tell if an examination yields the message "A traveler". There is no other effect, though. In <i>Fallout</i> sinks had a sink script by default, which corresponds technically to the traveller script in <i>Fallout 2</i>.<br><br>

    I stole from the giant stone head and got hit for around 7,000 points of damage, slid onto the exit grid and ended up on the world map. After travelling around cheerfully for a while I entered a random encounter and promptly expired from my wounds.<br><br>

    p.
      There's a general script bug concerning those few critters that make use of the game's detailed reaction system. The reaction routine calculates a value based on your CH, karma, reputations and so on, but it doesn't automatically convert this value into the set of reaction levels that's checked by the scripts. This is done if you hit a node in dialogue which modifies reaction, but in some cases it never happens, meaning these critters default to a neutral reaction. Among other things this disables a possibility for stupid characters to get permission from Ken Lee to use the computer by getting a good reaction (not that they actually could have).<br><br>

    A few critters have gender problems. The female super mutant in Broken Hills uses a male critter prototype. The Navarro sergeant uses a female one. Spore plants and floaters are called "he" instead of "it".<br><br>

    A few critters haven't been assigned scripts, e.g. a couple of Rebecca's casino guards (those in the corners nearest to the street) and one of the NCR slavers (the one in the lower left corner). You can attack and kill them and no one will care.<br><br>

    If you talk to a patrolling slaver guard in NCR from outside the fence, he thinks you're trespassing and the slavers turn hostile.<br><br>

    Going into the Redding tunnels through the mining camp well takes you to the same spot as if you'd entered through the grave.<br><br>

    If you load the game on the Modoc entrance map with Miria or Davin in your party, they will teleport into their rooms, then come running back to you.<br><br>

    The Den bulletin board was fixed in the patch so that you can't use it during combat (which is bad), but the Klamath one wasn't.<br><br>

    If you finish Rebecca's first quest, the second appears in your Pipboy even if you don't ask for more work.<br><br>

    At the Ghost Farm there's a second trapdoor above and to the left of the normal exit from the cavern. This one is visible from the beginning and you can flip it open, but using the manhole beneath it doesn't do anything.<br><br>

    If a stupid character talks to the gate guard in Navarro for the first time and you choose the top option twice, the talking head disappears for the duration of the next sample.<br><br>

    On the developed Vault 15 map, not only can you walk through three of the walls of the outhouse, but above it you can also walk inside the cliff wall and continue all the way to the exit grid on the right.<br><br>

    If you kill Liz in Broken Hills, her shop inventory will somewhat weirdly be teleported to her corpse from the nearby table. Maybe in her death throes she crashed into it and everything fell down on her.<br><br>

    When Hank in Gecko checks you for the Hydroelectric Part he actually looks to see if you have a Crowbar in your inventory.<br><br>

    You may get various forms of inappropriate dialogue from the Brain after giving him Cheezy Poofs if you have fixed but not optimized the plant.<br><br>

    If you keep changing your mind when Jacob first gives you the Explosive Switch, he'll continually give you more of them. They're not worth anything, though.<br><br>

    Myron initially has an ammo cartridge in his active item slot instead of his gun.<br><br>

    You can repeatedly tell Dr Henry in NCR to hand over his papers even after completing the quest; moreover, if you fail a Speech check and he shouts for the guards, nothing happens.<br><br>

    Outside the Hubologist base the sun always shines, literally, because of a bug with the light setting.<br><br>

    I attacked a guard in the Steel Palace, a red guard fired back and hit one of the blue guards, causing all the lab techs nearby to come running and attack the red guard, while I sought refuge behind a forcefield and the blue guards did nothing. The red guard was knocked unconscious by a lucky critical and was then beat up ineffectually for a long time by the techs. Once he woke up and ran away, he and a fellow red guard were swiftly executed by the blue guards carrying Gauss Rifles.<br><br>

    Hal will have a green outline from the moment he appears in NCR and will be on your side if you start a fight against the police. The same is true for the guy who rewards you for the cattle drive in Redding.<br><br>

    If you have sex with random encounter trappers, the game doesn't increase the sex counter. Conversely, if you get knife training from Little Jesus the sex procedure is called once too many, regardless of whether you're supposed to have sex with him at all.<br><br>

    One of Myron's level up messages contains a percent sign which looks as if it was really meant as such (he is referring to his skill values). However, the text parser apparently interprets it as a variable and prints some hexadecimal value in its place, and people have believed this was part of the joke.<br><br>

    There are many places in the game where floating messages from the player are not adjusted for stupid characters, e.g. when exorcizing Anna and finding the Wrench.<br><br>

    Killing children in random encounters raises your karma instead of lowering it, though it works as normal with respect to Childkiller.<br><br>

    Funny thing: I walloped Cassidy with the Super Sledge, sending him sliding face down across half the screen. Having done so I ran for an exit grid. Leaving the map and ending combat created a small window where the unconscious Cassidy's Stimpak use was triggered, along with an accompanying float: "Thanks, friend."<br><br>

    Sometimes a missed grenade will explode in a crowd of people and not do any damage.<br><br>

    According to the manual there should be a bonus to your Critical Chance carrying over from your attack roll, but there is no such thing.<br><br>

    Saving in the middle of combat can cause critters to sequence before you upon reloading, effectively giving them an extra turn.<br><br>

    If you left-click in combat on an unlootable unconscious or dead critter your character will move up to it, and while next to it you will use up 3 AP with each click, as if you were actually accessing a lootable corpse. Clicking and holding to select the "look" icon functions properly.<br><br>

    You can use First Aid Kits and Doctor's Bags on scenery or containers. Sometimes you'll get messages like "Tree looks healthy already", sometimes there'll actually be a skill check with corresponding messages and xp gain, though nothing happens to the object.<br><br>

    Critters can make combat floats when hit by attacks that knock them unconscious. Do they quip threateningly while falling to the ground, or what?<br><br>

    Almost every door and container script in the game has code for trapping them and prying them open, but this is inaccessible. You can trap graves, though, for very little gain, and you can also use Dynamite to trap the cage doors in the NCR bazaar and then take damage from the trap by using the door - without any visual or aural cue - even though you can't actually budge it.<br><br>

    Party members with a talking head show the Shady Sands background in Vault City and NCR, not the adobe background used by Lynette and Tandi. The Vault City vault also uses the Shady Sands background. Only one background is used in Klamath no matter if you're in the woods, in town, or in the rat caves. When you stop in the desert it uses whichever background was used last. In Navarro, the backgrounds above and below ground are mixed up.<br><br>

    p.
      It's possible to disrupt the Modoc wedding with explosives. After you get caught by Grisham, grab a Dynamite, run to the chapel and drop it before he can catch up with you, then talk to him. It's somewhat amusing if you manage to time the bomb so it goes off after Jo asks if there are any objections to the wedding. However, if you leave the map before the ceremony is over you'll get the NPC immobility bug and become an enemy of Modoc, even if the explosion didn't damage any of the townspeople. You could also set the Dynamite before sex so that it goes off during the first fade-out. If Miria/Davin dies, Grisham will just stand in the doorway staring, but again when you take off this counts as running from the wedding.<br><br>

    You can't scroll the screen far enough to take advantage of weapon ranges around 40 or above. For instance, this often makes it hard or impossible to fire at the raiders without them firing back with their range 35 FN FALs.<br><br>

    If an NPC is lying down when combat ends, they will stay flagged as fallen; you can tell if they become stuck in moving animation frames when standing still. The next time you are in combat they'll get up at a cost of 3 AP. Goris is especially vulnerable to this as not only can he be frozen in an improper frame, but you can get him to walk around without his cloak outside of combat mode.<br><br>

    If you kill a party member with a 0-damage critical, their corpse will follow you from map to map while undergoing various stages of decay, and may even perform fidgets and floats as if they were still alive. They shouldn't still take up a party slot, though. Historically this has been observed for the pariah dog, the NPC that ends up being killed by the Chosen One more often than any of the others.<br><br>

    If you're overloaded you cannot trade away gear if the remaining load is still over your carrying capacity.<br><br>

    A member of a neutral team that accidentally hits you or an NPC may decide that this means you are an enemy, even if there is no retaliation.<br><br>

    Below this point I'll mention a few bugs that I haven't seen personally and for which there are no known causes, but which have been reported consistently enough.<br><br>

    When you enter random encounter caves with lots of robbers, these may all run up to you and try to punch you instead of equipping their deadly Gauss Rifles.<br><br>

    All shops in the game may at some point cease to restock, apparently because the game timer goes out of whack and jumps to some negative value. This means shopkeepers will have no inventory at all if you visit them for the first time after the bug sets in, including random encounter merchants and trappers. Accounts vary slightly in details, but a common factor seems to be that the bug only strikes after a long time of playing (some 6 years or more of game time). Reported side effects include timer-dependent features breaking down (like waiting forever for the Dragon's next training session), character age becoming fixed, and the Pipboy losing track of special dates.<br><br>

    Some have reported being stuck in the Military Base after the elevators stopped working. There's nothing in the scripts that indicate this could happen; once you fix the generator the power should always stay on and the elevators should remain functional. In version 1.0 you had the option of going into the deeper levels of the base from the world map (this was also removed for SAD levels and, for some reason, the Shi palace in San Francisco), but this shouldn't matter either since you can't ever get down there in the first place without previously having restored power.<br><br>

    Some people find that the NCR cops attack even after they put away their weapons, or accuse them of being armed when they aren't. The cops can go hostile without it being immediately obvious, but they shouldn't accuse you of being armed if you actually aren't, or have a delayed reaction if you don't run from them while still holding a weapon.

    <h4>The too many items bug</h4>

    I don't know exactly how it works technically, but what happens is that late in the game, if you have too many (different) items in one location, this will eventually corrupt maps. The number of items in question includes what you and your NPCs are carrying, the items on critters and in containers on the map (including shops), plus the stuff in your car no matter if it's present or not. The bug triggers upon leaving an area, and means that next time you try to enter that map, your computer will lock up completely. Many people have reported this behaviour; you'll notice how the "orbiting rocket" mouse pointer shows up on the screen, but doesn't animate. The hard drive might buzz for a while then fall silent. Depending on your system you may have to turn your computer off entirely. If you reload the game the same thing will happen again eventually, or right away if the save includes the broken state of the map you're trying to enter (but since a map goes bad only when you leave it, the current map of each save will never be corrupted, thankfully). Maps will become corrupted more frequently as you continue to play and amass items, making the game nearly (or literally) unplayable towards the end.<br><br>

    The simplest way to prevent this from happening is to avoid carrying around quest items which you have no further use of. If you want to keep them, don't store them in your trunk but in some accessible container on a map where there are no shops, or where there are not too many items anyway. If you want to be doubly safe, avoid selling too many different items in one place. If you're not in the habit of hoarding items, this will probably not be an issue.<br><br>

    If a map in a saved game has been corrupted, there is no way (known to me, at least) to restore it, but you can work around the problem. What you must do is find the corresponding file from an earlier save and replace the bad file with it. For instance, San Francisco Chinatown, which is the map where this might well happen to you the first time (two big shops), is "sfchina.sav" - use the <nobr>Ctrl-R</nobr> trick to find the right map if you're in doubt. Critters and items on the map will revert to what they were in the previous save, and local variables may change (possibly interfering with dialogue or allowing you to repeat certain actions), but global variables such as quest status as well as the contents of your car are stored elsewhere and so are not affected. NPCs (including the trunk) left standing on the broken map will only be present if they were in the save you got the replacement file from. (You may also on the "fixed" map encounter duplicates of party members left behind elsewhere, and you can kill these and take any stuff that the real NPC was carrying, but this would be cheating.)<br><br>

    At this time it's not perfectly clear which circumstances lead up to the freezing bug. It's been theorized that having too many Pipboy files in your status screen could be the cause of the bug, since it can lead to the "black button" bug and would be consistent with the fact that it strikes after visiting the Military Base with its holodisks. It's also possible that there are multiple causes for the black button bug (which has even been observed in the original <i>Fallout</i> as a result of excessive item hoarding), but that only in the "too many items" case does it go on to the freezing bug; to my knowledge there are no reports to the contrary.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star4.gif" alt="a yellow star" align="left">
    Daniel Valle may have found a way to circumvent the problem based on the theory that the corruption bug only follows the black button bug: "I noticed that the skilldex button going black happened <i>only</i> after I opened the Pipboy and checked out the status screen to see my missions and logs. Opening the Pipboy's primary screen or alarm clock did not cause this. My solution has been to not look at the status screen. If I really had to do so, I would quicksave and check it out, then I'd have to shut down the game and start it up again, because once the skilldex button's gone black it will stay black, even if you load save games from Arroyo, which could possibly corrupt maps even early on in the game. So far it has worked well on two games I have already beat and one I am still playing. Truly, I don't know what triggers the problem or its true cause, but if this keeps the game from locking up and corrupting maps then it will have to do." Nimrod adds to this: "I tend to travel light and not hoard items, but I can say with sureness that the evil number of Pipboy entries is twelve. I've paid close attention to this in <i>Fallout</i> and <i>Fallout 2</i> and it's the same number in both - eleven is fine, twelve and you instantly hit problems. I should note that I've never had a map crash on me due to this problem, but I get all the black boxes where buttons should be."</blockquote>

    <h4>How to finish the game in half an hour (if you hurry up)</h4>

    Start a new character. Let's call him "Road Runner", 'cause this will be a fast one. Stats: good IN (but not 10), good AG and PE (for running from random encounters), not too lousy ST or CH, tag Speech, Steal and Barter. The rest doesn't matter. Run through the Temple of Trials as fast as you can, talk Cameron out of fighting. Leave Arroyo right away ("Meep meep!" Vrooom) and move due south-southeast. You should be able to run from anything you happen to encounter.<br><br>

    Once you arrive in San Fransisco at the bottom of the map you must acquire some equipment: 10-17 Super Stimpaks, 2 Psycho and 1 Power Armor. To facilitate this, steal Gauss Rifles and H&amp;K G11s from the guards in the shops and the punks on the tanker, also steal the money off the shopkeepers. You can steal Super Stimpaks from Dr Fung as well. The stores on the tanker have Super Stimpaks and Psycho. If the shops don't have what you want at first, rest 4 days then leave the map and return.<br><br>

    When you have the stuff, go to the Steel Palace and kill Ken Lee using 10 Super Stimpaks. Go to the Hubologist base and the AHS-9. Now save, use the 2 Psycho (reloading if you get addicted), then talk to the AHS-9. Rest for six hours until your IN returns to normal and put a few of your many skill points into Speech. Go to the tanker and set off for the Enclave.<br><br>

    Take the stairs to the detention area (here you would be attacked if not for the Power Armor), go down again. Traverse the maze, going into the side room to the right for the G.E.C.K. and to the left for two Super Stimpaks if needed, then go down the stairs. Find the President, kill him with 7 Super Stimpaks (each of the guards nearby has one if you don't have enough), take the Presidential Access Key. Go to the stairs at the top of the map, go down, find the scientist at the bottom of this map, tell him to shut down the reactor, then go up, run to the newly opened emergency stairs, climb them, and leave the barracks to the west. Talk to Sergeant Granite until he agrees to take on Horrigan. Go west, keep to the bottom of the screen, use the computer and activate counter insurgency. Stand back and watch Horrigan get killed in a few turns by the turrets and soldiers. Open the door and step out. Finished!

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Larry Eggleston Jr. used roughly the same method and managed to finish the game without saving in under twenty minutes, killing Ken Lee with Plastic Explosives instead of Super Stimpaks.</blockquote>

    h2 How to find and use the Holy Hand Grenade part 1

    p.
      (Or, how the village Elder woke up one day to a surprise of decent magnitude.)

    Press <nobr>Ctrl-R</nobr> in the starting options menu. Choose the map named "rndholy2.map". You're now on the vorpal rat map. You can't do anything in this mode, so save the game and exit by pressing <nobr>Ctrl-R</nobr> again. Now load the game you just saved. Things are back to "normal"! The rat will enter combat mode and run at you, but don't worry, it won't actually attack. Go into the cave. Open the chest and search it for... one Holy Hand Grenade! 300-500 damage, it says. Sweet. Exit the cave, save again, and try out the grenade on the rat and Brotherhood knights. If you manage to hit the rat with the grenade it will inflict 9990 damage in addition to its normal damage, and the rat will die. Arthur won't offer any new dialogue, though. Reload the game where you had the grenade and run to the exit grid on the right. You'll find yourself on the world map south of Arroyo. Head there, click past the vault suit cutscene and head on up to the Elder's tent, or Hakunin's, or whatever you prefer. Hello, I found a high-tech gadget for the village, catch! "Arroyo Elder was critically hit for 714 hit points in a forceful blow. Arroyo Elder was killed." Oh, you think?

    <h4>How to find and use the Holy Hand Grenade part 2</h4>

    The second hand grenade encounter was indeed supposed to be in the game, and only disabled by a bug in the encounter script. Unlike the vast majority of bugs this one is relatively easily fixed, however, since the script in question exists in a decompiled state and can be made to recompile automatically when you run the game. One such fix was released by TeamX which also increased the relative probability of finding the encounter slightly. Here's how you can implement the most basic version of the bugfix yourself:

    <ol>
    <li>Use Fallout 2 DAT explorer or a similar program to extract the file Worldmap.txt from Master.dat on the CD (it's in the data folder).
    </li><li>Put this file in Fallout2\data\data on your hard drive. Telling DAT explorer to unpack the file into Fallout2\data will accomplish this.
    </li><li>Open the file with a text editor and exchange all instances of the string "(372)" with "(614)" (the parentheses are important).
    </li><li>Optionally replace "Encounter, Enc" with "Encounter,Enc" and "(616)" with "(617)" if you want to fix the Cafe of Broken Dreams repopping bug at the same time.
    </li><li>Run the game and play as usual, starting a new game or loading an old one.
    </li></ol>

    And here's how it would have looked in the Encounters section:<br><br>

    <b>King Arthur's Knights fighting a rat (10):</b> (Vorpal Rat Cave) This is a mountain encounter. To get it you must first have encountered King Arthur (but not necessarily talked to him), hence the level requirement. What happens is that as a soon as you enter the map, the knights and rat enter combat mode and have at each other. If you do nothing, the rat will sometimes kill the knights, though they often manage to get in an instant kill critical first. If the rat lives, it'll wander its lair peacefully as long as you don't attack it. Going into the cave you'll find the Holy Hand Grenade. This weapon will automatically kill the rat if you manage to hit it (which is worth 7,500 xp, so I can't think of a much better use for it). Any surviving knights will remain on the map afterwards and none of them has anything to say to you.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Even if you killed some or all of the knights in the first encounter, they'll all be here and not be hostile towards you. I'd kill them again - they each carry 200 or 300 MFC on this map.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Using the Holy Hand Grenade on the rat may lock up the game. If this happens to you, try killing it with aimed shots to the eyes and save the grenade for something else.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    If you have any NPCs one of them will become "trapped" in the car as you arrive on the map. They'll be freed if you go into the cave.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    Another Rock for hoarding! Wahoo. Or in the immortal words of Rock-in-a-sock: "Geez, what are you, some kind of non-rock collector?"</blockquote>

    <h4>Unfinished business</h4>

    You may think <i>Fallout 2</i> is a big enough game as it is, but the designers were aiming to make it even bigger. There are lots and lots of things, great and small, that didn't make it into the final product, and in many places it shows in different ways. Such things that had to be omitted may include, but are probably not at all limited to the stuff listed here, some of which has been mentioned in the walkthrough. (One or two of these may just be rumours, though.)

    <ul>
    <li>A Klamath quest to expose the Duntons as cattle rustlers using the Radscorpion Limbs.
    </li><li>The second encounter with King Arthur and his knights as described above.
    </li><li>Sulik's sister, whose absence has spawned one of the most persistent and variform net rumours about this game. According to designer Chris Avellone it was never even decided where in the game she was going to appear.
    </li><li>A second tribal village (tentatively named Primitive Village), home of Sulik and situated on the coast between Arroyo and Navarro.
    </li><li>An Abbey world map location north of Gecko, featuring monks hoarding pre-war wisdom. This is also where you'd have run into Ian from the original <i>Fallout</i> - funny how many people from back then managed to live through those 80 years.
    </li><li>An extensive underground base (the Environmental Protection Agency) west of New Reno, with up to seven levels, featuring all kinds of high-tech stuff, artificial intelligences, weapons and items. Presumably this is what Myron alludes to when he mentions pre-war bases.
    </li><li>Diplomatic characters would have been able to beat the raiders by talking to Shadow-Who-Walks and making him leave their employ.
    </li><li>Putting the kids in the Den in an orphanage (possibly run by Mom), with the beneficial side effect of the player not having to risk being pickpocketed any more. Also killing Metzger and telling Karl to return to Modoc should have had quest entries.
    </li><li>A quest to retrieve a corpse stolen by the Hubologists from the Shi, as hinted by the existence of such an item and a log note in the Shi database.
    </li><li>Going to the Enclave using the vertibird in Navarro and/or going to Navarro using the vertibird in the desert transaction.
    </li><li>Use of the Red and Yellow Reactor Keycards in the Enclave reactor room.
    </li><li>Use of the Heart Pills to cover up the Westin murder.
    </li><li>A Shi quest tied in to the EPA, related to the ending where the Shi get their butts kicked by a sentient plant.
    </li><li>The interior of the Hubologist space shuttle and three endings where the Hubologists kill themselves in different ways by means of the shuttle.
    </li><li>Lenny would have been able to turn into a "glowing" ghoul from drinking radioactive beverages. This probably spawned the rumour that you can make the ghouls in the Harp glow by buying them enough booze.
    </li><li>An additional twist to the Lynette-Westin holodisk exchange where the player could blackmail them with knowledge of their underhanded connection.
    </li><li>A good ending for the deathclaws of Vault 13, where the Pack expands peacefully into the surrounding territory. According to John Deiley who designed Vault 13 this was scrapped because the Enclave plot necessitated the slaughter of the deathclaws.
    </li><li>A good ending for Vault City and Gecko; well, actually two endings, one for each town. The good ending for Gecko which revolves around Gordon's "greed is good" scheme is only inaccessible because of a bug.
    </li><li>Two VC endings where Vault City is razed and one Gecko ending where Vault City invades Gecko.
    </li><li>One Broken Hills subplot with Chad the corrupt caravan leader and another concerning the mutagenic serum.
    </li><li>Poking through the game files one can discover many details and features that didn't seem to make it into the game. For instance, there are images for each specific karma level, a Virgin reputation and "Tragic" and alcohol addiction; named critters that are not in the game and earlier versions of existing ones; an Arroyo exile named Kaga repeatedly trying to kill the Chosen One in special encounters; sound files for endings for the Elder, Marcus, Harold and the President; a "Li'l Chemist" kit allowing you to mix chemicals; implied uses for "useless" items such as the Ball Gag, Marked Cards and Radscorpion Limbs; a village outside Vault City whose inhabitants are trying to avoid being turned into "servants"; Merk stealing stuff from your car in NCR; getting to the SAD by finding a map in Sam Pritchard's grave (prevented by a scripting bug); getting the location of the SAD from the traveller encounter (prevented by another scripting bug); giving Jet to Fannie in Redding and eventually having her die of an overdose; the robots in the SAD going to the repair bay for maintenance and repair bots replacing killed robots with new ones; Mr. Cheater; recruiting Dr Jones in Vault 15 as an NPC; a food system; the Pipe Rifle as a "Springer Rifle" loaded with Rocks (!); and more.
    </li><li>A few extra movies (e.g. meeting Gruthar, the desert transaction and getting the car).
    </li><li>Lots of details and options that were disabled by scripting errors or engine issues, for instance: being able to finish the spleen quest by assassinating Dr Wong within a day after his refusal to give you the spleen; the possibility of crippled limbs resulting from falling down in the Ghost Caves or being expelled from the Modoc toilet; Rebecca attacking you if you're a Childkiller; gaining a permanent Agility bonus after sleeping with Miss Kitty; the Hintbook boosting your stats and HP; and others.
    </li><li>A Phazer (sic) at the scene of the shuttle crash.
    </li><li>A boatload of engine updates (ranging from very dumb to very cool) related to critter AI, interface, mechanics and features were suggested but never implemented, due to lack of time, impracticality, or incompatibility with existing code.
    </li></ul>

    <h4>Things I won't add to the guide</h4>

    <ul>
    <li>Karma and reputation changes: more work than it's worth.
    </li><li>Monster lists and stats: if it were <i>Wasteland</i>, I'd do it. RadAngels and Death Anglers! Those were the days.
    </li><li>Detailed weapon and armour stats: you can find these in the game (or using FIME).
    </li><li>Game or combat mechanics: read the... manual.
    </li><li>One-time oddities that happened to other people: have to be reproducible or "known" bugs.
    </li><li>Technical troubleshooting: there are message boards for this.
    </li><li>Unofficial patches: up-to-date and accurate documentation of these should be provided by their creators.
    </li><li>Pop culture reference index: not going there.
    </li></ul>

    <h4>Top 3 stupid <i>Fallout 2</i> rumours</h4>

    <ul>
    <li>"I found Sulik's sister! She was in a random encounter with slavers! No, she was in the slave pens in NCR! No, she was in a mystery location on the world map! No, she was in a locker in the Enclave! Really! She was somewhere but I can't tell you how to get there because I made it all up!"
    </li><li>"I got the second Holy Hand Grenade encounter while playing the game! I'd show you the screenshots but I accidentally formatted my hard drive this morning! Look, a three-headed monkey!"
    </li><li>"The Yellow Reactor Keycard opens the Toxic Caves elevator! I mean, it opens the yellow doors in the Gecko power plant! No, I mean, you use it in Navarro! No, wait, you use it on the reactor in the Enclave! At least I think I did once! Maybe I have a version of the game that no one else has, or maybe I just read it somewhere and you can't blame me for passing it on as truth!"
    </li></ul>

    <h4>Frequently asked questions</h4>

    p.
      By now certain questions have qualified for "frequently asked" status, some to a higher degree than others. The ones I particularly reserve the right to ignore in the future are technical questions, gameplay questions with no relation to guide content, and questions whose answers are fully included in the guide. Don't get me wrong - I appreciate feedback, but there's only one of me and many of you, and writing the guide should count as a significant contribution on my part in the first place.

    -
      const faqList = [
        {
          question: "Where can I find the children patch or utility X?",
          answer: 'Try the No Mutants Allowed site or any other fan site with a downloads section. Do a search. Follow some links. Look around. (Note that in earlier versions of the guide I carelessly referred to the children patch as the "kid patch", which seems to have been the main reason why lots of people believed it was nowhere to be found.)'
        },
        {
          question: "Can you just mail or transfer them to me instead?",
          answer: "No."
        },
        {
          question: "Is it OK to mail you with a bunch of screenshots, a save game folder or some other big attachment without prior notice?",
          answer: "No. Even if I hadn't been on a modem and even if it hadn't been basic netiquette to ask first, the chance that I actually have any use for such a file is rather slim. If you have some find or game experience to relate, use words to begin with and we'll take it from there."
        },
        {
          question: "I can't find the Bag in Modoc. Can you give me more detailed instructions how to find it?",
          answer: "Not really. If for some reason you simply can't locate the Bag, running a map editor and turning off the scenery should let you mark its location."
        },
        {
          question: "I can't trigger event X or I'm having problem Y. What am I doing wrong?",
          answer: "Depending on what X or Y is there could be any number of reasons, really. If I gather from your description of the problem that some guide content is off or incomplete, I'll see if I can adjust it. If not, I'm afraid I don't have the time to elaborate aimlessly on things that are already in the guide or guess at the particulars of someone else's game. Try posing your question on a dedicated message board; the answer is often more simple than it seems."
        },
        {
          question: "I can't use item X on critter/scenery Y, it defaults to some other action.",
          answer: "You can't always use an item from the active item slot. If you read the manual (page 35ff) you'll find that you can click and hold on a critter or piece of scenery, then choose the backpack icon, and finally select the item you want to use from inventory."
        },
        {
          question: "My NPCs disappeared but it's like they're around invisibly, what's up with that?",
          answer: "Did you get cosy with Mrs Bishop? Check out the New Reno section."
        },
        {
          question: "I'm playing the game using mod X, and...",
          answer: "Stop right there. This guide covers official content only. Before you report a problem or a discovery encountered in a modded game, contact the creator of the mod and/or verify that it also happens in an unmodded game. If you report that some bug or feature works differently from what's stated in the guide and it turns out that this is only because of modified content, all the time I spend trying to verify your claim will be entirely wasted."
        },
        {
          question: "Is there any way of avoiding or shutting off the 13-year time limit?",
          answer: "There's a number of hacks that effectively halt or reset the game timer. However, they don't actually extend it, so at the time of writing there is no solution that doesn't come with side effects such as disrupting shop and quest timers. This may still be a decent alternative to losing a game that happened to drag on for a while."
        },
        {
          question: "Have you written or are you planning guides for <i>Fallout</i> and/or <i>Fallout Tactics: Brotherhood of Steel</i>?",
          answer: "There is already a <i>Fallout</i> guide, as well as a <i>Wasteland</i> guide for those who care about that. I haven't played <i>Fallout Tactics</i> and frankly don't think I will. Needless to say, I won't be touching the ineptly named console title <i>Fallout: Brotherhood of Steel</i> with a 6-foot Sharpened Pole."
        },
        {
          question: "Can I host your guide on my <i>Fallout</i> site/general game help site?",
          answer: "Please do, providing that your site is a non-charging, non-profit, non-exclusive enterprise. By that I mean you can't ask users for any sort of fee or service, have them jump through hoops like a registration process, or limit access to the site using some other criteria; moreover, any donations or advertising revenues must be spent entirely on maintaining the site and not on any private benefits. Yes, even if that's just your cola and cat food expenses, as long as this is more than the people who provided your site's content are getting."
        },
        {
          question: "Can I translate the guide into strange language X?",
          answer: "Basically, yes; see below for more details."
        },
        {
          question: "It says that someone is working on a translation to strange language X, but I haven't seen any result of that. Should I go on and make my own?",
          answer: "It will ultimately have to be your decision, based on what information I have and what you can learn from your own national fan communities, if anything. Until now I haven't really kept track of those who have volunteered to translate, which is somewhat unfortunate, as it has evidently happened that people have quietly abandoned such attempts. In more recent times, others have probably opted to wait for the next guide update after I led them to believe it wouldn't be that long. From this point on I will file away contact information for prospective translators, date-stamp their projects and flag them as pending, ongoing or finished, assuming this information is available to me. If you are actively planning a translation, if you are working on one, if you already finished one, or even if you started on one and then gave up on it, please get in touch."
        },
        {
          question: "Why don't you update your guide with the fixes from Killap's unofficial patch?",
          answer: `However highly I think of Killap's work, I won't cover it for the same reason I don't cover any other mods or tweaks. It makes more sense to restrict the guide to official, universal and unchanging content and rely on separate documentation for any add-ons, provided by those who have intimate knowledge of and control over those changes, or by anyone else who would take the time to investigate them. Even if I were to include such information, it would mostly amount to a great number of not really useful notes saying, "Oh, and if you're using Killap's patch, this bug doesn't happen.`
        },
        {
          question: "I sent you a mail, but you didn't reply.",
          answer: `That happens (and not just to people who write to me about <i>Fallout</i>, believe me). The best way to get a quick response is basically to condense your query/report into a number of simple questions or bullet point notes that I can fire off equally simple replies to. Anything that requires looking into game files ("I did X to Y after doing quest Z and now things have gone all wonky"), or formulating an opinion ("Isn't my 3-page character description the niftiest"), or leaving the <i>Fallout</i> context behind ("My sister is a princess but she's locked up in an African tower or something") could very well end up sitting in my inbox until I feel it would be too awkward to actually do something about it. However, everything that's submitted gets read and duly considered or investigated as appropriate once I get around to updating. You can always send me a reminder if you want confirmation that I received your mail, or if there's something in particular you really want a reply to. That is, unless the reason I didn't reply was one of those listed at the top of this FAQ, in which case you shouldn't send me a reminder because geckos will carry off your fridge.`
        },
        {
          question: "Now that you don't have to direct people in search of the children patch any longer, what's the most common answer to received queries?",
          answer: `"It's in the guide" - applying to both questions asked and features reported. Use the search function, folks!`
        },
        {
          question: "This thing must have taken forever to write. Are you insane?",
          answer: `"Devoted" sounds so much better, don't you think? The guide certainly grew into something bigger than I could predict back in October 2001. Testing and playing has eaten up much more time than the actual writing, but along the way I've learned to use various editors and tools to simplify things to the point where in-game testing has almost become a formality. Plus I get lots of appreciative mail. ;)`
        },
        {
          question: "The Awareness perk isn't <i>that</i> good.",
          answer: "Go away."
        },

      ];
    dl.faq-list
      for item in faqList
        div.faq-list__item
          dt.faq-list__question !{item.question}
          dd.faq-list__answer !{item.answer}

    <h4>Note on guide translation</h4>

    Since putting out version 1.1 I've been asked by a few people if it's OK for them to translate the guide into other languages, something which would seem to testify to the level of devotion inspired by this game. At the time of writing translations into Hungarian, Polish, Portuguese (Brazilian <i>and</i> European), German, French, Spanish, Slovak, Russian, Finnish and Italian should be planned, under way or finished, and there is also a Chinese adaptation of some sort.<br><br>

    If anyone wants to take on the task of translating the guide, feel free to do so! (Of course, it might be a good idea to drop me a mail in case someone else is already on the job, or just to say hi.) My one condition is that you respect the fact that this is originally my work, which means you should not make arbitrary changes, forget to credit me, or try to make money out of it. Here are a few guidelines:

    <ul>
    <li>I would prefer that you keep the original HTML format and presentation style, although if you desperately want to convert the guide into Word format, RTF, pure text or PDF I won't tell you no.
    </li><li>Please stay as faithful to the original as possible, meaning you shouldn't omit or move about paragraphs or information, work your own opinions into the text, or make "updates" of your own without clearly labelling them as such. Obviously you should feel free to make cosmetic changes, e.g. omit puns that wouldn't make sense in translation or modify and rearrange sentences as dictated by style or grammar.
    </li><li>Add a translation credit at the top of the guide.
    </li><li>Optionally add a "Translator's note" subsection in Addenda above the version history.
    </li><li>Add something distinguishing to the version designation at the top and insert this in the version list, e.g. "V1.3No" if you were translating it into Norwegian. If the number of translations continues to grow, you may have to use more than just one or two letters to avoid ambiguity.
    </li><li>Include your email address somewhere (translator's note, version list, or the copyright notice).
    </li></ul>

    For users of translated versions, please note that I cannot answer any questions about them, react to language-specific error reports, or otherwise act as a go-between. You'll have to direct your queries to the translators, or consult the original. Also any feedback in languages other than Swedish or English will be pretty much wasted on me. :)

    <h4>What's new</h4>

    And now for a list of what's been added or updated in v1.1 of the guide, in no particular order:<br><br>

    Made numerous inconsequential changes for style or clarity, clarified or corrected or added innumerable snippets of information and requirements for quest options (which I won't list here unless they're of special interest), corrected Knife and Molotov Cocktail damage, corrected Psycho duration and elaborated on Psycho and Rad-X duration, added AP cost to the weapons table and rearranged said table slightly, added the radioactivity of Fruit (belated thanks to Zuger) and removed note on "random radiation" which can be attributed to this, adjusted the bonuses of Lockpicks and similar items, added Bess to the NPC list, added some pre-patch notes (Goris, Here and Now, Gecko ghouls, ACE and radiation, getting the car, shop restocking times, getting the Jet quest from Dr Troy, SAD sliding panels), added a way to get to the Stables from New Reno, added a few minor notes in Preparations (e.g. default settings), added note on extra HP per level, added extra info on the mutated toes in the Toxic Caves and Vault City sections, corrected the requirement for Myron to make Super Stimpaks (several people told me my previous assumption was incorrect), downgraded Sharpshooter and added a note about it, downgraded Pickpocket and Silent Running, added a character list to the Character Design section and removed the scattered notes relating to this, generally improved the recommendations on initial stats, added to the Modoc sex/wedding bug note, gave Golgotha and the Stables their own sections, removed incorrect note about thrown Rocks adding Melee Damage, added you can punch with Rocks (thanks to Ejdrzej) and stab with the Throwing Knife, added tricking T-Ray and a few more T-Ray bugs (which brings the total up to eight, at least), confirmed T-Ray's engine upgrade and corrected the "drive away" strategy, added deathclaw rampage in Modoc, upgraded Laddie to a "real" NPC and added a related bug in Addenda, removed or adjusted a couple of inaccurate references to <i>Fallout</i> (frequency of typos, bartering balance, books and difficulty level), removed incorrect explanation of the Geiger Counter selling bug and moved that note to Items where I also added a note on item charges, added some perk notes (Lifegiver, Light Step, Mutate!, Pathfinder), added some minor combat notes (e.g. knocking people unconscious, chasing fleeing critters, inactivity of HtH NPCs, locking doors, rocket ammo modifiers, tough critter vulnerabilities, chems, night sight), added the puzzle room Easter eggs and added Medical Supplies to the item list, added using booze on Keith Wright, added two belated credits to Sebastian Cassten, elaborated on the Modoc toilet explosion, added the "no level 98" peculiarity, added Healing Powder to Hakunin's quest reward, upgraded Small Frame (again), found another Rock in Modoc and some more in special encounters, added optimizing the Broken Hills power grid, added allowed weapons list and Bag bug when fighting Lenny in NCR, added note that fighting Lenny prevents you from getting Mira's quest, added you get minor xp for getting the Fuel Cell Regulator and the Lingual Enhancer, corrected the difficulty level trick with books and moved it to Items, added note on giving lots of stuff to NPCs, fixed the Cattle Prod upgrade bug in Vault City, added a little bit on attacking idle NPCs, removed incorrect statement that NPCs get addicted to chems, added Lloyd's self-trapping grave, added a funny Dragon/Lo Pan bug in Addenda as well as a few others while removing a couple of minor bugs that have been inserted in the walkthrough, found you can get infinite upgrades from Crocket, added many little comments pertaining to HtH games, added four notes to the tanker fuel quest including two ways of "cheating" for extra xp, removed dubious note about Sniper affecting NPCs and another dubious note about a limit to NPCs levelling up at the same time, downgraded three Gain Foo perks, cleared up evil Skynet killing an NPC, added a note on Enclave robots, added a note on killing the Enclave prisoners, revised the list of alternative playing styles, listed alternative pictures in Endings, added two more ways of finishing quest 6 in the Den and that either gang will be outlined green after you side with them, added a note on gambling in Redding, added a note on floor objects and looting, corrected Vic's HP for level 3 and Robodog's HP for level 5, cleared up why stupid characters can't deliver the Spy Holodisk, noted you can enter VC after being banned if you finish the game, added a list of Willy's merchandise, enforced a typographical standard on contributors' handles (i.e. capitalized them), added shop restocking times, tidied up several details in Endings, corrected mixing up New Reno endings 2 and 3, moved note on EMP and electrical damage to Items, found out some details about items using FIME (e.g. duration of the Mutated Toe, Jet and Cookie, Molotov Cocktail does not do fire damage, the true power of Antidote and RadAway, Solar Scorcher does laser damage), added prices for selling NPCs (in the Den, Vault City and New Reno) and what happens to their equipment, added you can tell Doofus to give you his stuff, fixed the recommendation on stats to beat Francis, added a note in Encounters about where to go for xp, added that you need to kill two children to be treated as a Childkiller, cleared up the "Cassidy bug" in Navarro which is actually exactly the same as in the Enclave and a few other places, added data on the mysterious stranger in Encounters, added that Tubby will put Redding on the map, added a trick to finish Klamath quest 3 and still get quest 6, added note on getting double xp for Sulik, cleared up the Salvatore assassination requirements, cleared up the VC armoury bug, added 90-day time limit on Arroyo quests, added more details on NPCs (weapon skills, animations, armour, leave conditions), cleared up the conditions for slave runs, added that you need Combat Armor for implants (I knew that, really) and clarified that you must know of the implants to get them in Redding or SF, fixed incorrect statement that Bonus Ranged Damage only adds to maximum damage, added all ways to put a city on the world map, added you can get xp from Dave Handy for fuel, added that you can't heal the Brain Bot using medical skills or items, corrected information on Lenny's Doctor limitation, removed incorrect statement that the Brain Bot uses Science, added Lenny's dialogue stopping you from getting Harold's reward, removed several incorrect or unverified notes relating to second-hand information (opening the Enclave blast doors, Myron being addicted to Jet, New Reno bosses disliking mutants, feeding dogs in Modoc, pre-patch Chitsa stats, deathclaw fights in Redding, Goris and NCR cops), added the vent bug in Navarro, cleared up the requirements to get the "find Jonny" quest, found the cause and effect of the infinite encounter bug in the brahmin drive quest, added Eldridge's upgrade cost bug and noted he gives no discount if you're a Made Man, added you can loot more containers in Vault City if you're Captain, cleared up killing the inert bots on SAD level 2, added Bishop getting Super Stimpaks from Moore's briefcase, added choice items in robber chests, ascertained that the best Gecko ending is only unattainable due to a bug, removed note on randomly losing Radiation Level which can be attributed to the delayed effects of RadAway, moved the Vault 13 Holodisk to the useless items list, added note on getting Moore's quest as a Slaver, added that fixing the oil tanker triggers the destruction of Arroyo, cleared up the post-Enclave Eldridge bugs, added info on all doctors (what and who they heal and how much it costs), added radiation treatment bug in Vault 13, added the vorpal rat encounter in Addenda, added you must pass a LK check to find robber caves, added you can kill Big Jesus with Nuka-Cola, added free omelets in Modoc for stupid characters, corrected that fishermen may have Laser Pistols, verified that you always have to fight the raiders, cleared up the fake RadAway addiction bug triggered by a SAD terminal, added that you can't talk to Myron about a cure if you blackmailed Dr Troy, added you can get double xp for Klamath quest 3, added that stupid characters don't get any starting money, added Becky rebuilding her still, added you can open all Bishop safes with Dynamite or by chance, added getting the Masticator's Ear and added it to the Items list, cleared up the requirements to get Salvatore's last quest, added Skeeter's upgrade cost bug, added Gecko emptying if you disable the plant, cleared up severals details in Dr Troy's Jet quest, added in Endings that attacking the Wrights sets the murder quest to failed, noted that only explosive damage can destroy most doors, added a weapon progression section in Combat (integrating some existing content), upgraded Mutate!, added the Lo Pan getting stuck in the ring and Vikki/Juan going unresponsive bugs in SF, added the Big Jesus slave bug, added Nuka-Cola machines restocking, added you can use Iguana-on-a-stick on Dogmeat (even though it most often crashes the game), cleaned up the general notes on special encounters, cleared up what the emergency defensive systems shutdown does, added the doorway bug in the Horrigan fight, added Laddie going into woofing mode, added how to kill the Duntons and get away with it (thanks to Sebastian Cassten) and spawning infinite Spiked Knuckles, verified that Pathfinder lowers fuel usage, noted that Grave Digger doesn't have any effect in itself, added shadowing Lloyd to Golgotha, added that some shopkeepers give you different prices depending on if you hit barter or ask them to trade, added a note on the Cafe of Broken Dreams repopping bug and how to fix it, moved the "too many items" bug remedy to Addenda, noted that Tag! doesn't give the +20% bonus that you got in <i>Fallout</i>, included the stats of the pariah dog.<br><br>

    p.
      What's new in v1.2:

    p.
      Fixed some more typos (including two particularly gruesome ones where it said you need Power Armor for combat implants), made numerous minor additions and corrections, filled in details or removed reservations with regard to many things that were previously labelled as unclear or unknown, located several "hidden" items (including a slew of Rocks!) using Dims' map editor, added an FAQ and a note on guide translation in Addenda, added you can fix the NCR computer before it blows up, added killing Anna in the Den, expanded the bug list in Addenda, noted that locks un-jam at midnight, noted that failing a Speech check can trigger the Liz bug, corrected the designation of the children patch, added some v1.0 issues (Father Tully and hootch, no Yellow Reactor Keycard, Sulik and xp, still quest in the Den, undead pariah dog), added you can steal freely in some encounters, added donating to the poor box, added a new Modoc wedding bug, determined the cause of the old Modoc wedding bug (matching Kthan75's description in the previous guide version) and listed the ways in which you can fix it, noted the car may disappear in the fake Vault 13, added a warning on using Steal in Arroyo, added a note on the Duntons and CH 10, corrected the v1.0 bug note on Slim Picket, added a new Goris bug and a fix for the old one (thanks to Knight27), noted that the Bridgekeeper's Robes counts as wearing the vault suit for dialogue purposes (thanks to Pennyliu123 and Spelltrap), added stealing from some shops (Buster, Liz, Rose's box), added NPC bug when fighting Lenny the super mutant and explained the weapon multiplication bug, added a Pipboy bug that lets you rest anywhere, added some notes in Combat (weapon accuracy modifiers, item perks, One Hander), added the orphan/explosives party trick, noted Rebecca's wary door guard (thanks to Deep Black), added shooting a film in New Reno after the game, added arming Lara/Tyler, added a strategy for fighting the Den slavers, added a note on skill point perks and cleared up the Tag! note, added a way to exploit the recording mode, added getting stuck in the SAD, added the save/load trick for using multiple chems, added Sheriff Marion's infinite cash bug, noted that most shopkeepers lose excess cash when they restock, cleaned up several details regarding Bishop dealings and quests, noted that almost no scripts support use of the Super Tool Kit, added the satchel charge assassination technique, noted you can increase Lynette's respect counter after finding Vault 13 (thanks to Jon Lynch and Scoo), noted you can kill Renesco for the Mine Parts, added a short note on gender in the Character design section, added the endless Flare trick (thanks to Veli Garno), added the slave run chest script, added the Salvatore infinite xp and script freeze bugs, added DT penalties when boxing (thanks to Shigenori Nakamura), noted you can be Made Man for Bishop without doing the Westin quest, added planting explosives during the V13 hologram sequence, expanded the quadruple Made Man note (several people mailed me about this), added info on item size in the Car section, noted that skill points are capped at 99 on level up, noted you get xp for fuel from Matt and AHS-9 regardless of whether you need it and tweaked the "optimal path" for the fuel quests, upgraded Bonus Move (another thing advised by several people), added a way to use Mutate!, noted that Dave Handy hacking the Shi proves fatal to Badger, noted that NPCs may use Outdoorsman, added Jo's one-time discount after the Slag quest, cleared up info on Outdoorsman use, found out stuff about the pariah dog bug, noted a few details for the SF power armour quest, added the Bag bug which accounts for the non-disappearing items phenomenon (thanks to Pennyliu123), added a note on the map corruption bug, added a note on Silent Death, noted the cause of the Sharpshooter bug, added Mason's big rewards, noted that attacking Marcus anywhere turns Broken Hills hostile, moved the description of the Klamath mall and rat caves, replaced partially incorrect note on Slim Picket and sex reputations with a bug note, added passing Gruthar using Sneak or combat mode, added you get cash from the Gambling egg in the Enclave, noted Willy's prices depend on Luck, added killing the ring girl in New Reno and a new boxing bug, fixed mixing up Gigolo and Sexpert in the reputations list, added that Cult of Personality and Karma Beacon do nothing, noted you can placate Hakunin with insults, added note on caravan encounters, cleaned up the BH jail quest, changed the patch link from the defunct Interplay site to NMA, added consequences of attacking Mom in the Den, noted you can trigger the Vault 13 massacre after killing Horrigan, downgraded Good Natured, changed some character recommendations.<br><br>

    p.
      What's new in v1.3:

    p.
      Made countless edits and corrections, added or improved some v1.0 information (e.g. extra xp in the Wright murder quest, Badger freeze, slaver freeze, stealing from VC shops, speedy plant optimization, NPC count bug), fleshed out the FAQ and added to the list of languages in the translation section, added numerous minor bugs in the walkthrough and the Bugs section (many of which have been found by Darth L33t, Haenlomal, Killap, Skynet, Unkillable Cat and WraithUV, thanks also to David Paul, Domagoj Repac and Spaunen), added AP by level in the NPC list, adjusted some NPC weapon recommendations based on AP and ST (thanks to Joe Madigan and Paul Melin), added a couple of things missing from the list of stupid quests (thanks to Benjamin), noted critical hits and failures are disabled at the start of the game, added weapon-toting geckos, added a Smiley bug (thanks to Carib FMJ and Sander), added a few ways to deal with Den orphans and slavers, added a note on chems affecting multiple critters, cleared up a number of details on SAD terminals and robots, added info on using the Mutagenic Serum on Lenny, added infinite Jet bug with JJJ, added and corrected a few details on Badger and related things, added two bug notes on mad brahmin, cleared up the boxing resistance bonuses (thanks to Ragnar Ehrenroth and others), added infinite boxing matches (thanks to Ragnar Ehrenroth), improved details on boxing overall, added using Buffout on Francis (thanks to Zen), added Chuck Stodgers xp bug (thanks to Tom Hibbs and others), noted the cause of the party disappearance bug (thanks to Killap) and added a related trick, added Happy Harry inventory bug, added assassination issues with Dynamite (thanks to To An) and Super Stimpaks, added vorpal rat freeze (thanks to Shard McKrick), added a couple of Horrigan strategies, added McClure holodisk bug (thanks to Queen Esther), added double plant repair bug, added Puking Charlie xp bug, added a few perk notes (Bonus Move, Gain Intelligence, Heave Ho!, Lifegiver, Sniper), added a note on Mutated Toes in Items, corrected and extended both notes on Here and Now, cleared up how radiation death works (thanks to Zig), added NPC reloading bug, noted when the Solar Scorcher can be reloaded, added list of Cat's Paw Magazine locations, added killing Horrigan in Vault 13 and San Francisco, noted the Dogmeat/NCR oddity, added a bunch of items in Items (Special Boxer Weapon, Flame Breath, Robo Rocket Launcher, Robo Rocket Ammo, Robo Melee Weapon 2) and scattered info on how to get them (thanks to Sebastian Cassten), verified medical item bonuses and extended their note in Items, added First Aid note, noted who and what Lenny heals as doctor, added the disappearing NPC corpse bug, explained and generalized the "apathetic Vic" bug, added two notes on the Bridge encounter (thanks to Pirkka Keskinen), added Matt crash bug (thanks to Snowden), added Badger cutscene interruption and invisibility bug (thanks to Sebastian Cassten), added the deal with Flares (thanks to Lord Elden), added Dragon/Lo Pan xp bug, moved and corrected weapon accuracy bonus info, noted undead NPC bug which accounts for the undead pariah dog bug, added Mysterious Stranger ammo bug (thanks to Volcano), noted encounter size relates to party size, noted Brain Bot and K-9 vulnerability to EMP damage, added a note on the map speed issue in Preparations, reordered the skill list slightly, corrected and expanded NPC/chem note (thanks to Chuft and OnGame900).

    <h4>Version history</h4>

    ul
      li.
        V0.99, 16/2 2002: Preview version for the scrutiny of the people on NMA.
      li.
        V1.0, 16/6 2002: Officially finished version. I've made literally hundreds of small tweaks, additions and clarifications.
      li.
        V1.1, 16/2 2003: First update, and it's a big one. Check the new "What's new" section above to see what's new.
      li.
        V1.2, 16/6 2004: Second update, not as big but rather thorough. For a nearly ultimate guide, this one's getting pretty darn ultimate.
      li.
        V1.3, 16/2 2008: Third update, finally. There's a lot of stuff to say about this game.
      li.
        v1.3.1 2018-05-12: Original source is no longer available. Copied onto and hosted on Github. Made some minor visual changes for readability and responsiveness, added dark theme. (Lemmings19)

    <h4>Copyright notice</h4>

    Needless to say, this guide is Copyright 2001-2008 <a href="mailto:pel@zeta.telenordia.se">Per Jorner</a>. All rights reserved as regards the writing and general design, except for the background which is stolen. Of course that doesn't mean I have any claims on the information contained within, i.e. I don't mind if you grab every single piece of info and put it in your own walkthrough as long as you use your own words to do it. Feel free to copy this HTML file and post it somewhere open and relevant on the net, as long as you don't make any changes to it and don't make any money off it.
