extends ../layout

block content
  h1#encounter Encounters

  section
    <blockquote>"Radscorpions? What's so rad about them?"<br>
    --New Reno comedian</blockquote>

    You'll notice the wasteland is full of critters and creeps who want your hide. When you run into an encounter on the world map, there's an Outdoorsman check to see if you may choose to avoid it. You end an encounter by running to the edge of the map, or, if you have the car, using it (even in the middle of combat). Running off the map will put you in the car if you have it.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    It seems that your effective Outdoorsman skill (chance of success <i>before</i> negative modifiers are applied) cannot exceed 95%, meaning there's no point in raising the skill beyond that, or carrying a Motion Sensor if you're already at that skill level.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The xp you gain from successful use of the Outdoorsman skill is equal to 100 plus the difficulty of the check (from 0 to 70 based on encounter zone, not encounter type) minus your skill level (capped at 95). If you're in the car you don't always get any xp, indicating it gives you an added independent chance (seemingly 50%) of avoiding encounters.</blockquote>

    Here's a list of beings you may stumble upon. This division of areas is very imprecise and they overlap vastly. Critters may appear in areas below the one where they are listed; especially mantis, wolves and radscorpions appear pretty much all over the map. 

    <b>Northwest</b> (Arroyo): scorpions, radscorpions, outcasts, fishermen (coast only), war party, hunting party, cannibals, wilders, hermit, rats, pig rats, nomads, silver geckos, holy people, ants, spore plants. 

    <b>North</b> (Klamath, Den, Modoc): highwaymen, golden geckos, mole rats, wild brahmin, slavers (and slaves), trappers, Den caravan, Vault City caravan, merchant and guards, farmers, homeless people, bandits, moonshiners, mantis, rave party, robbers. 

    <b>Northeast</b> (Vault City, Gecko): merchant party, wild dogs, ghoul crazies, patrol unit, mutated rats, mutated mole rats, mutated pig rats, ghoul scavengers, caravan. 

    <b>East</b> (Broken Hills, NCR): marauders, raiders, Rangers, caravan, Unity patrol, rogues. 

    <b>Central</b> (Redding, New Reno): yakuza, mobsters, gang, traveler, fire geckos, claim jumpers, homesteaders, prospectors, bootleggers, Redding caravan, wolves, New Reno caravan. 

    <b>South</b> (Military Base, Vault 13): remnants of the Master's army, deathclaws, NCR Rangers, caravan. 

    <b>Southwest</b> (Navarro, SF): floaters, centaurs, Enclave patrol, Hubologists, press gang, aliens, caravan, mercenaries. 

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Some encounters come in the form of "X fending off Y", where X and Y are groups you would find in that area. In these cases, if you move out of the way you won't be attacked until they're finished with each other. Note that if you go into a cave and then come out again while this is going on, they'll forget that they were fighting, and normally hostile groups will then turn on you. In other encounters different groups work together, such as "raiders searching with wild dogs", "robbers and highwaymen" or "radscorpions hiding among spore plants". In some encounters where there are two separate groups (e.g. "aliens and deathclaws") you'll start out fighting one group, while the other will be idle and not react to your presence until combat ends (or you attack them). This will allow you to leave the map or position yourself before fighting the other group.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Don't drop important items on the ground in random encounter maps, because if you leave them there when you exit to the world map they're gone forever. This also goes for NPCs!</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Merchants may trade with you depending on the sign of your karma (some will dismiss you for being a do-gooder, others for being a meanie). Inventory depends on location: New Reno merchants will have lots of drugs, for example, and VC merchants will have lots of healing items. One caravan in the NCR-Vault 13 area is a good source of Scout Handbooks. Another in the SF area has a 10% chance of carrying the rare XL70E3 each time you meet them. Some other critters can be traded with as well (e.g. fishermen, hermits, farmers), though they have nothing of value. (There is actually 1 chance in 100 that a fisherman will carry a Laser Pistol; they'll offer to sell it for $10,000, which is of course much more than it's worth.)</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The traveler can put New Reno and Vault City on your world map.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    In the homeless people and farmers encounters there may be a critter that is using the male, bald "yellow pyjamas" model, but which counts as a child (you can tell from his floating dialogue), and killing him makes you a Childkiller.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    If you meet trappers, you can pimp Miria or Davin once to each trapper (regardless of gender) for one Gecko Pelt and one Golden Gecko Pelt if you don't have enough money to pay for them (drop your money first). If you're not married you can sleep with the trapper yourself, but you'll get poisoned. If you have IN&lt;4, each trapper you talk to will give you a Gecko Pelt. Stochastic adds: "When in dialogue with the trappers, if you have enough money to purchase a normal Gecko Pelt, but not enough to buy a Golden Gecko Pelt, you can purchase the golden pelts for free! This only works for the in-dialogue trading, not the formal barter interface."</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The rave party encounter found around the Den is extra rare because it happens only during certain hours (7 p.m. to midnight). You can actually get infinite chems in this encounter. There will be one or two people selling booze and a few others running around who sell Mentats, Buffout and Psycho. When you pay for a chem, your money goes into their inventory and they try to walk up to you and use a newly created chem dose on you. If you move away the chem will be left on the ground instead for you to pick up. When you're done, kill the partiers or just steal the money. You can also have sex with the partiers if you like. To do this you must first use a skill on them (Steal, First Aid or Doctor); this will give you an extra line of dialogue. Just ask them until they agree, and gender is not an object.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    As pointed out by Jon Lynch, some people in random encounters will let you steal freely from them, to wit: the hunting party, Hubologists, bootleggers and moonshiners.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The number of critters in an encounter depends to some extent on the size of your own party. For instance, Enclave patrols will usually consist of three soldiers if you have a party of 1-3 people, but can come in squads of seven if you have a full group. Volcano draws some evil conclusions: "I have found a use for all of the useless NPCs. When I am trying to level up and acquire loot by fighting Enclave patrols, I prefer to leave my good NPCs behind. Otherwise, they end up taking a lot of damage, and take a lot of time or Stimpaks to heal up again. The problem is, when you are alone you find almost exclusively three-man patrols. Taking along a disposable NPC lets you encounter more big patrols."</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The best place to level up late in the game is the strip of desert between San Francisco and New Reno. Good xp encounters include tough aliens, deathclaws, floaters and centaurs (particularly the last ones are easy), but avoid those pesky fire geckos.</blockquote>

    If your karma drops really low (<nobr>-501</nobr>, although the wanted posters will appear at <nobr>-500</nobr>) or if you count as a Childkiller, you'll sometimes run into bounty hunters. The minimum number in a group is two, and the maximum number is four, plus one if they're after you for killing kids, plus one if you're level 19 or more. Their toughness and equipment will depend on your level (with variations within each group):

    <ul>
    <li>1-6: Leather jacket, Hunting Rifle, Desert Eagle.
    </li><li>7-12: Leather armour, Assault Rifle, Super Sledge, Sniper Rifle.
    </li><li>13-18: Combat armour, Laser Rifle, Frag Grenades, Power Fist.
    </li><li>19-99: Power armour, Gauss Rifle, Plasma Grenades, Avenger Minigun.
    </li></ul>

    Needless to say this can be a pain, as especially the later encounters are much more dangerous than the xp reward warrants. You get <nobr>-10</nobr> karma for each bounty hunter you kill, so that would seem like something of a downward spiral. If you're only wanted because of your karma you can make the wanted posters disappear by climbing above <nobr>-501</nobr> again. 

    And now for some overly detailed data on... the Mysterious Stranger! If you for some reason got this perk, the chance that he or she will show up in an encounter is equal to 30+LK*2 out of 100. Their HP and armour state (though they will always have the leather jacket look) depend on your level as follows:

    <ul>
    <li>9-14: 50 HP, leather armour.
    </li><li>15-18: 70 HP, combat leather jacket.
    </li><li>19-22: 90 HP, metal armour mk II.
    </li><li>23-26: 110 HP, combat armour mk II.
    </li><li>27-99: 130 HP, power armour.
    </li></ul>

    The female 9-14 variety has 2 HP more than the male, i.e. 52 (ooh). Their weapon changes as follows (in each encounter they will have one of the weapons listed):

    <ul>
    <li>9-13: Hunting Rifle, FN FAL.
    </li><li>14-19: Assault Rifle, Combat Shotgun.
    </li><li>20-26: Laser Rifle, H&amp;K CAWS.
    </li><li>27-99: H&amp;K G11.
    </li></ul>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The Mysterious Stranger can be exploited for infinite ammo. Whenever you enter an empty spot on the world map there's a chance that the stranger is standing nearby. Use Steal to get some ammo and Stimpaks. If you get caught, nothing happens. After you steal their stuff, enter combat and spend a round just running around. When combat ends they'll start moving away, but if you quickly save then load the game they'll stop. Steal again - new ammo. If they manage to get away you can just leave the map and repeat the whole thing. Also, on some random maps after combat is over the stranger doesn't quite get off the map when running away from you afterwards (works on some mountain maps), meaning if you position yourself correctly you can steal and enter combat repeatedly without having to worry about them getting away. You can get plenty of Micro Fusion Cell or 4.7mm Caseless ammo doing this. Finally there's a comparatively minor bug: a stranger carrying a Hunting Rifle will have Shotgun Shells, not .223 FMJ.</blockquote>

    In many mountain encounters you'll find a cave opening which you can go through. (There's also one treeless map with a cave opening but no actual cave.) Most often you'll find varying quantities of radscorpions, mole rats, geckos or deathclaws, which are generally not worth taking on, but once in a great while you may come across a cave full of human robbers (the chance is 1 in 13 for each cave, plus you must also pass a Luck check; if you find a completely empty cave you'll know you failed the check). These come in different varieties depending on your level:

    <ul>
    <li>1-5: Leather armour (jacket look), 10mm Pistol, 10mm SMG, Spear.
    </li><li>6-10: Leather armour, Scoped Hunting Rifle, Desert Eagle, Plated Boxing Gloves (!).
    </li><li>11-14: Combat armour, Power Fist, Super Cattle Prod, .223 Pistol, HK P90c.
    </li><li>15-99: Combat armour, Pulse Rifle, FN FAL, H&amp;K G11E, Turbo Plasma Rifle.
    </li></ul>

    Many of them carry a lot of ammo. Very worthwhile and not too difficult if you bring friends. Each such cave also comes with three chests full of money and more loot like Stimpaks and grenades; if you're lucky you can find a Super Sledge from level 6, a Power Fist from level 8 or a Plasma Rifle from level 11. 

    Apart from general random encounters, there are also special, one-time encounters which often have some kind of humourous twist. It's not exactly known how it's decided how often you get them; Luck, Perception and Outdoorsman are the usual suspects (used to be LK in <i>Fallout</i>, so it's a pretty good bet). Game difficulty also seems to affect this; it'll take significantly longer to find all encounters if you play on hard. There are two kinds of special encounter: those that leave a permanent location on your world map, and those that don't. The first kind will bring up a green circle which is marked "Unknown" at first, the second will just flash a red circle and leave no mark on your world map (so don't drop any items there). The latter kind is identified with the word "red" in the list below.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    If you decline to enter a special encounter when you first find it, you may come across it again (because the encounter is only flagged as found when you enter the map), but it will have to be in another encounter zone (because the encounter script has a memory of its own). This is also true for encounters with map locations; these will remain on the map marked "Unknown" after you first get them, and are relocated when you run into the encounter again somewhere else. The Cafe is the only one that moves around even when it's been identified, because of a bug.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    In rare cases a special encounter may not leave a location on the world map even though it usually would.</blockquote>

    For each special encounter there's a minimum level to get it, also given in parentheses below. What special encounters you find will depend on the terrain you're in: all special encounters occur in desert areas except for the Bridge which is a mountain encounter, while coast and city areas have no special encounters at all. The Bridge also has the highest relative probability of popping up, so it's usually your first one in any game. 

    There's another way in which special encounters distinguish themselves, namely by being "good" or "bad". It does seem, however, that the game itself makes no such distinction, so that perks that raise the probability of finding special encounters will reap you unpleasant ones as well as the beneficial kind. In any case you will find all special encounters regardless of your stats if you just keep playing long enough.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    There are a few encounters where the map will reset every time you enter it, so dropped items will be lost. These are the Guardian Portal and all three "bad" encounters. They also share the feature that when you leave the area for the first time it remains labelled "Unknown". To make its proper name appear on the world map, simply enter and exit the encounter again (I wouldn't do this for the Toxic waste dump, though!).</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can't leave your car on a special encounter map unless it is out of fuel, but in that case it will appear properly even on the "resetting" maps.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    Often you'll see a single Rock lying on the ground of most of the special encounter maps (to my knowledge, all special encounters but the Cafe of Broken Dreams, plus the Bess encounter). I can't help feeling there is some significance to this. Since the Rocks are randomly placed they can end up on exit grids or behind opaque scenery where you can't get them.</blockquote>

    Good encounters include: 

    <b>A Guardian Portal (8):</b> (Guardian of Forever) You encounter a large stone ring (reference to the Star Trek episode "City on the Edge of Forever"). Walk into it and you'll end up on level 3 of Vault 13 some 80 years ago. Grab the equipment in the lockers and chests, and take the Solar Scorcher from the floor in the armoury. When you're tired of the place, use the beeping computer with the water chip, breaking it for 1000 xp and returning to the stone ring which is now inert. 

    <b>A man guarding a bridge (10):</b> (Bridge) You come across a chasm, spanned by a bridge guarded by a robed figure (reference to Monty Python's <i>The Quest for the Holy Grail</i>). For some reason, the only exit grid (and your car!) is on the other side. Talk to the guy and he'll ask you first two straightforward questions and then a game-related trivia question (save and reload if you want to see all the trivia questions, there are three of them). If you answer any question incorrectly, you die. If you answer all questions correctly, he grumbles and leaves. If you answer the final question with a counter-question (à la <i>Holy Grail</i>), he dies instead and you gain 500 xp. Funny. Take his Bridgekeeper's Robes, which has the same stats as Combat Armor except that it has no radiation protection and weighs less (and makes you look stupid, so I'd give it to a party member). Should you attack the bridgekeeper, he'll summon up an endless swarm of exploding brahmin that will make things difficult for you. You gain 7500 combat xp for killing him, which must be accomplished by inflicting critical hits as he's nearly impervious to harm (it's possible to get him with an instant kill critical, so if you have Better Criticals and are able to keep off the cows, go for it). If you regret attacking him you can avoid the cow or let it explode and then talk to the bridgekeeper.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The summoned cows work like the ones in the mad brahmin encounter (see below). The bridgekeeper will only produce a new cow (ending combat in the process) when an existing one is killed, so you can enter combat mode and ignore the non-exploding brahmin until you've dealt with the guardian. You may want to set any NPCs to attack the strongest target.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star2.gif" alt="a blue star" align="left">
    There's a general engine bug that you may be most likely to take note of here, though it has also been observed with Enclave troops and the pariah dog. Whenever you off a critter with an instant death critical hit that does no damage, the kill doesn't completely register. As a result you get no xp for that critter, death variables will not be set and so on. In the case of the bridgekeeper this means you'll miss out on the 7500 xp if you kill him with such a hit before you wear down his Hit Points. However, there is a sure-fire way to avoid this. The Living Anatomy perk adds 5 points of damage after Damage Resistance is applied, meaning you will never score 0-damage kills against living targets like the bridgekeeper. I knew there was a reason why I like that one.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    IN&lt;4: The conversation will be a bit different. You'll only be able to ask him a question (what his name is) when he asks your name, after that you only get a "wrong" answer and a "correct" answer (both are gibberish, so you may not know which is which).</blockquote>

    <b>A giant stone head (10):</b> (Talking Head) You find a big monument head, talking to itself. It's actually the Sacred Head of the Vault Dweller. Listen to it for a while if you like, then use the hand icon to initiate dialogue and listen to what's being said. After a while, you'll have gained a Monument Chunk which, when used, gives you ST +3, AG +3 and Damage Resistance +50. Temporarily, of course. This is exactly the kind of item you end up never using at all. You can skip to the end of the conversation by resting 12 hours with your Pipboy.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can get 3 more Monument Chunks by using Steal on the head. If you have Steal tagged or at 95% or above you can pick them up with ease, but otherwise you'll be instantly slain, even if you don't take anything!</blockquote>

    <b>A tin woodsman (6, red):</b> There's a guy in power armour who can't move. Pick up the oil can right next to him and use it on him for a reward of 150 Micro Fusion Cell. If you kill him (easy, since he can't do anything) he has nothing on him.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    To my knowledge the Cola Fridge furniture object inside the house (and possibly that particular Stove as well) cannot be found anyplace else. But they don't actually do anything.</blockquote>

    <b>The Cafe of Broken Dreams (1):</b> (Cafe of Broken Dreams) You come across a strange establishment. The layout of the buildings is uncannily familiar! Make sure you listen to what everyone here has to say (talk to them to speed up their monologues). Dogmeat, the old mutt, will join your party if you remove any armour you're wearing so that your vault suit shows, or if you're wearing the Bridgekeeper's Robes (bug).

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    There is another, not so good way of recruiting Dogmeat: using an Iguana-on-a-stick on him (conveniently one is lying around in one of the rooms). So why is this bad? Well, most of the time it causes my game to crash, that's why. Since the vault suit thing is quick and easy, this should not be a problem.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    This encounter is unique in the way that it can only be found in the central and southern parts of the world map, while the others can be found anywhere.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    The reason why the Cafe effectively has a minimum level of 1 (it should really have been 6) is the same bug responsible for its repopping. Incidentally, this bug cancels out another bug (that the script checks the wrong variable, just as for the second hand grenade encounter) which would otherwise have made this encounter impossible to get in many games. See Addenda for a way to fix both of these bugs at the same time.</blockquote>

    <b>The Unwashed Villagers hunting a spammer (6, red):</b> This is a reference to a <i>Fallout</i> Internet community and a real incident with a troll. Actually I don't like the way they gang up on the poor spammer, so I just kill them all if I can. So sorry, Internet community. Also they have about 600 rounds of 10mm JHP on them, which could come in handy. There are 6 Stimpaks and a Fruit in a nearby locker. If you do nothing, the villagers kill the spammer and run off the map. If the spammer lives to the end of the battle, he'll just walk around spouting stupid comments. 

    <b>A crashed shuttle (6):</b> (Federation Shuttle) Looks like a crashed shuttle from the USS <i>Torres</i> (a shame it wasn't a <i>Voyager</i> shuttle, since that's the only starship in known space which is profoundly unaffected by the loss of either shuttles or crew members). Search the bodies for 3 Hypos, which will each restore 75-100 Hit Points when used. Pretty good. 

    <b>King Arthur's Knights (10, red):</b> You meet a contingent of heavily armed Brotherhood warriors in some old ruins. They'll ask you if you've seen the Holy Hand Grenade of Antioch, and if you say yes and point in a random direction you get $500 for your trouble. Then you ask them about the G.E.C.K., and they'll point in a similar direction. Then they move off the map. You can kill them (tough), but they don't have anything special on them (you only get one weapon, a Gatling Laser).

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    It is perhaps only to be expected that there have been persistent Internet rumours that the Holy Hand Grenade can actually be found in the game. This is not true, but see the Addenda section for more information.</blockquote>

    Pointless encounters include: 

    <b>The remains of a whale (6):</b> (Crashed Whale) You find a whale smashed to pieces (a reference to <i>The Hitchhiker's Guide to the Galaxy</i>). Nearby is a useless pot of Daisies which is part of the joke. This seems to be the only encounter that doesn't have any potential beneficial or harmful effect. Possibly the Daisies was one of the many things they had something in mind for but ultimately didn't have time to finish. 

    Bad encounters include: 

    <b>A lone surviving dog (6):</b> (Pariahs) You find an area strewn with corpses. Guess they got unlucky somehow. Hanging around is a strange dog... who'll start following you if you fail a LK check (there's a new one every 10 seconds). This is the pariah dog, who will give you a Jinxed special perk (I can only assume that it does the same thing as the trait; whether they are cumulative is anyone's guess), and lower your Luck to 1. What's more, the dog takes up one of your NPC slots. Yipes! To get rid of the dog you must kill it, and it has 750 HP. If you can't afford to waste the ammo, but have access to the Sierra Army Depot, go to the second level there and put the dog on the electric floor. Die, mongrel, die! If you're evil you can take the dog to the organ extraction chamber and use it twice on the dog to kill it (which will net you 2 Human Brains (!) and <nobr>-200</nobr> karma). If you kill the dog your LK returns to normal, you lose the Jinxed perk, and the dog will show up again on the Pariahs map (this is probably a bug).

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star4.gif" alt="a yellow star" align="left">
    Some would say this encounter isn't so bad, because there's a bug you may be able to exploit to raise your Luck. There are no guarantees, but this is pretty much how it works: 1) The bug doesn't have anything to do with being able to find the pariah dog in the first place, or how to approach/kill it, rather it's related to how the game keeps track of and modifies (or fails to modify) your stats. 2) To profit from the bug your original Luck must have been 5 or less. If it was 5 you must not have increased it to more than 6 (i.e. by taking the Gain Luck perk or the SF zeta scan), but raising your Luck from 4 to 7 <i>does</i> allow you to gain more Luck. 3) The bug triggers when your Luck has been raised from its initial value by getting Gain Luck and/or a zeta scan before the dog joins you. Although you get the Jinxed perk your Luck doesn't go to 1, and when you kill the dog your LK increases above its current value. 4) The increase in Luck is equal to your current LK minus one; e.g. it will go from 4 to 7, or from 6 or more to 10. 5) If your original Luck was 6 or higher the first part of the bug may still trigger - not losing any Luck - but you don't gain anything, either. 6) Returning to pick the dog up and kill it again works just the same, with your improved Luck as your new "original" value. 7) If you have the Gifted trait, all of the above will proceed as if your Luck was 1 lower, i.e. your original LK must be 6 or less, and it will become 2 when the dog is with you. This also means that using Mutate! to get Gifted and increase your Luck that way is not a valid trigger for the bug. The best way to go about exploiting this bug would probably be to start with LK 4, play until you run into the dog (making sure you don't get to level 12 first and miss out on getting Better Criticals at level 9), give it the slip and get the zeta scan in NCR, then return to the dog and raise your LK to 10. A slightly more complicated plan would be to start with LK 1, get the zeta scan and let the dog raise it to 5, then get Gain Luck and trigger the bug again for LK 10 - basically you get three stat points in exchange for one perk, but this interferes with getting Better Criticals.</blockquote>

    <b>Toxic waste dump (6):</b> This area is full of patches of green radioactive goo, with geckos of all kinds moving everywhere. There's nothing else except that you get hit with a massive dose of radiation even before geckos start breathing fire on you from all directions. Not so good. The exit grid is on the right in case you don't want to reload right away. 

    <b>A herd of brahmin (6):</b> (Mad Brahmin) Brahmin come walking towards you; when they're close enough, they explode, and new ones materialize. Just get out of there before your party members start dying.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    An observation by Nevill: "Mad brahmin do not explode in combat mode - they only butt the player for an insignificant amount of damage. Also the mad brahmin that spawn in combat mode after the first ones are killed do absolutely nothing until the end of combat."</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Never save in this encounter; the save may be corrupted and unloadable.</blockquote>

    Other encounters include: 

    <b>A trader and guards:</b> Go to the top of the map directly north of Modoc and walk around that block and the area extending roughly two squares in all directions. Eventually you'll get this encounter. Turns out there's a trader named Willy who wants to sell something. Problem is, while talking to him you fall asleep, and must then choose if you want to buy a weapon without knowing exactly what it is. The solution? Use Steal on him before talking to him, or just hit the barter button in dialogue, and you'll see what the item is (he'll have 1-5 of them). What weapons he might be carrying depends on your level:

    <ul>
    <li>1+: Sharpened Spear, Spiked Knuckles
    </li><li>1-3: Knife, Rock, Spear
    </li><li>1-5: Throwing Knife, 10mm Pistol, Crowbar, Club, Brass Knuckles, Red Ryder BB Gun
    </li><li>1-10: Sharpened Pole
    </li><li>3-5: Combat Knife, Desert Eagle .44, Shotgun, Hunting Rifle
    </li><li>6-10: 10mm SMG
    </li><li>6+: 14mm Pistol, Cattle Prod
    </li><li>8+: Ripper
    </li><li>10+: Power Fist
    </li><li>11-15: Assault Rifle, Sniper Rifle
    </li><li>13+: Alien Blaster
    </li><li>15-20: Minigun
    </li></ul>

    The script picks one of these weapons at random and then checks to see if you match the level requirement. If the Alien Blaster was picked you must also pass a Luck check or the result is re-rolled. The price Willy asks in dialogue is the weapon's usual barter value (excluding ammo) multiplied by (<nobr>11-LK</nobr>), meaning he'll ask $10,000 for the Blaster if you have Luck 10. You may be able to get a better price just by hitting barter. As an additional curiosity his male guards all carry 9mm Mausers, a rare weapon. This encounter will happen any number of times, and you can kill Willy and his guards and still get the same encounter again.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    It's possible in this area to get the encounter "A merchant with some guards" which is just your random trader who won't barter with characters of good karma, but the two groups of people look almost identical. Don't get the encounters mixed up.</blockquote>

    <b>Some people in the wrong place at the wrong time:</b> This one is timed to happen on 30 Aug 2241 or thereafter. You'll witness three menacing figures with miniguns mowing down some people. Just a little bit of foreshadowing. There's nothing on the corpses. 

    <b>A band of ruffians led by a Morton brother:</b> You get these after doing quest 1 in Redding. Ordinary battles. Toad is harmless, Newt has a Light Support Weapon, and Snake has a H&amp;K G11E. If you choose to avoid a Morton encounter, or run from it without killing the brother, he'll be back later on.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    This encounter suffers from the bug that the brother and his thugs aren't on the same team, so if the brother starts combat the thugs won't attack until you've finished him off (assuming you don't attack them first), and vice versa. You can even get them to fight one another.</blockquote>

    <b>A herd of brahmin:</b> If you travel near Modoc after freeing Bess and the other brahmin, you may find several dead brahmin lying about. Oh well. <hr>
