extends ../layout

block content
  h1#end Endings

  section
    <blockquote>"I won! Fuck you! You are dumb. I have crushed you."<br>
    --Wooz</blockquote>

    Here's a list of possible endings shown in the end sequence. Some of them are a little screwed up due to mistakes in the script as well as missing features. To get an ending for a location it must be named on the world map, which means you must have either entered it or had someone put it on the map.

    <h4>Arroyo</h4>

    <ol>
    <li>Arroyo re-settled using G.E.C.K.: You always get this, even if you don't have any G.E.C.K. at this point (for instance, if you let both of them blow up with the Enclave).
    </li></ol>

    <h4>Modoc</h4>

    <ol>
    <li>Modoc is razed after Slags are killed by the townspeople: Deliver the message, then offer to help and fail, or join the people of Modoc in an attack on the Slags.
    </li><li>Modoc disperses after Slags are killed: Kill the Slags yourself, or deliver the message and immediately refuse to do any more.
    </li><li>Modoc flourishes: Make peace between Modoc and the Slags.
    </li><li>Modoc disperses due to drought: Don't deliver the message and don't kill the Slags.
    </li></ol>

    There are two pictures for Modoc, one "apples" picture for ending 3, one "desert" picture for all the others.

    <h4>The Den</h4>

    <ol>
    <li>The Den disperses: Kill Metzger and Rebecca.
    </li><li>The Den flourishes: Kill Metzger but not Rebecca.
    </li><li>The Den becomes a haven for raiders: Don't kill Metzger, kill Big Jesus Mordino.
    </li><li>The Den becomes a slaver central: Don't kill Metzger, don't kill Big Jesus Mordino.
    </li></ol>

    There are two pictures for the Den: one "wall" picture for endings 1 and 3, one "sign" picture for endings 2 and 4.

    <h4>Vault City</h4>

    <ol>
    <li>Population driven to NCR by radiation: Don't fix the power plant (blowing it up works too).
    </li><li>VC independent, Westin and Lynette marry (!): Fix the power plant, kill the raiders, expose Bishop's plan and deliver the two holodisks but do <i>not</i> collect the final reward from Randal (bug), and don't kill Westin or Lynette (obviously).
    </li><li>VC annexed by NCR: Fix the power plant, don't bring the Account Book or Bishop's Holodisk to Lynette.
    </li><li>VC becomes part of NCR: Fix the power plant, kill the raiders and bring the Account Book or Bishop's Holodisk to Lynette. (You get this one if you fail to get ending 2 for any reason, e.g. killing Westin or picking up the reward.)
    </li></ol>

    <h4>New Reno</h4>

    <ol>
    <li>Everyone dead: Kill all four bosses.
    </li><li>Tribals arise: Impregnate either Bishop woman and leave her alive, and tell Mrs Bishop she should move on.
    </li><li>Bishop child: Impregnate either Bishop woman and leave her alive, but do not tell Mrs Bishop to move on.
    </li><li>Bishops rule: Leave the Bishop family in control (see below).
    </li><li>Salvatores rule: Leave the Salvatore family in control.
    </li><li>Mordinos rule: Leave the Mordino family in control, and don't get ending 7.
    </li><li>Mordinos wane: Leave the Mordino family in control, deliver Jet to Dr Troy but do <i>not</i> return for the Jet Antidote (bug).
    </li><li>Wrights seize power violently: Leave the Wright family in control, and enter the SAD.
    </li><li>Wrights attack Mordinos and get slaughtered: Leave the Wright family in control, don't enter the SAD, take but do not finish the murder quest and don't attack the Wrights.
    </li><li>Wrights rule fairly: Leave the Wright family in control, don't enter the SAD, and either finish the murder quest (in any way), turn the Wrights hostile (which sets the murder quest to finished), or do not take the murder quest at all.
    </li></ol>

    There are two pictures here, one "sign with cobwebs" picture for ending 1, one "lit sign" picture for every other ending. 

    Every family in New Reno starts out with a "power counter" at 100 which will drop as a result of your actions as follows:

    <ul>
    <li>Killing a boss: sets that family's power to 0 (well, technically to <nobr>-1</nobr>)
    </li><li>Killing a bartender, casino bouncer, generic guard or unnamed adult Wright: <nobr>-1</nobr>
    </li><li>Mordino: killing or recruiting Myron: +20 (bug), killing Little Jesus: <nobr>-1</nobr>
    </li><li>Bishop: breaking the raiders' strength: <nobr>-20</nobr>
    </li><li>Salvatore: disturbing the desert transaction: <nobr>-20</nobr>, killing Mason: <nobr>-5</nobr>
    </li><li>Wright: breaking the stills: <nobr>-20</nobr>, killing Keith Wright: <nobr>-2</nobr>, killing Chris Wright: <nobr>-1</nobr>
    </li></ul>

    The family which has the highest counter at the end of the game wins the power struggle; in case of a tie, the order of priority is: Mordino, Bishop, Salvatore, Wright. Usually this whole thing doesn't matter since you're killing the bosses of whatever families you don't like anyway.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The two "impregnation" endings take precedence over all others. Obviously they're only available for male characters.</blockquote>

    <h4>Richard Wright's murder</h4>

    <ol>
    <li>Murder solved: Solve the murder quest correctly.
    </li><li>True murderer never found: Finger a suspect other than the Salvatores.
    </li></ol>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You always get ending 2 if you attack the Wrights at any time during the game, even if you never got the quest to begin with.</blockquote>

    <h4>Myron</h4>

    <ol>
    <li>Myron dead and forgotten: Hear Myron's name from Jules, Little Jesus, Renesco, Reed or Myron himself, and don't have him killed during the game.
    </li></ol>

    <h4>Gecko</h4>

    <ol>
    <li>Gecko destroyed: Blow up the power plant.
    </li><li>Gecko and Vault City form uneasy truce: Fix the power plant but don't get the Reactor Holodisk from Festus.
    </li><li>Gecko invaded by Vault City: Fix and optimize the power plant.
    </li></ol>

    There are two pictures for Gecko; both show the power plant, but for ending 3 the lights are on.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Note that you can fall between endings 2 and 3 and thus not get any ending for Gecko even though you fixed the plant. Rumours that ending 3 is triggered by giving the Gecko Holodisk to McClure and/or performing Stark's scouting mission around Gecko are incorrect. You always get it if you optimize the plant. The best ending for Gecko, which would require you to optimize the plant and get the Gecko Holodisk from Gordon after talking to the Brain, is impossible to get due to a silly bug in the endings script.</blockquote>

    <h4>Redding</h4>

    <ol>
    <li>Redding annexed by Vault City: Deliver the Jet antidote, leave and return to downtown Redding at least one day later, and don't kill Dr Johnson (even after the cure is administered).
    </li><li>Redding in league with New Reno: Sell the chip to McGrew, don't get ending 1.
    </li><li>Redding in league with NCR: Sell the chip to LeBarge, don't get ending 1.
    </li><li>Redding deserted: Don't sell the chip, don't get ending 1.
    </li></ol>

    Redding has two pictures showing different mining equipment, one for endings 1-2 and one for endings 3-4.

    <h4>Broken Hills</h4>

    <ol>
    <li>Mutants dead, BH disperses: Kill the mutants in the mine.
    </li><li>Uranium runs out, BH disperses: Get Marcus to put the mutant-haters in jail.
    </li><li>Racial wars erupt, BH disperses: Do neither of the above.
    </li></ol>

    <h4>New California Republic</h4>

    <ol>
    <li>NCR established: Complete the deal between NCR and Vault 15.
    </li><li>NCR expansion slowed: Don't complete the deal, don't kill Westin.
    </li><li>Carlson rules corruptly: Don't complete the deal, kill Westin but not Carlson.
    </li><li>NCR under military rule: Don't complete the deal, kill Westin and Carlson.
    </li></ol>

    The NCR has two pictures, both showing the flag; for endings 2-3 the flag is in tatters.

    <h4>Vault 15</h4>

    <ol>
    <li>Vault 15 joins NCR: Complete the deal with NCR.
    </li><li>Vault 15 deserted: Don't complete the deal.
    </li></ol>

    Vault 15 has two pictures: for ending 1 it shows the "improved" V15 map as it looks in the game, while ending 2 has a proper picture of a shack in a barren desert (just like the place looked in <i>Fallout</i>, yay! None of that where-the-heck-did-that-come-from cliff wall stuff).

    <h4>Vault 13</h4>

    <ol>
    <li>Genocide: Either kill Gruthar, or return to Vault 13 after the massacre.
    </li></ol>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can avoid this ending (and so get none for Vault 13) if you don't trigger the massacre or if you don't return afterwards, but if you get it the game will always blame you for killing the deathclaws. This is reminiscent of the Hub and Followers ending problems in the original <i>Fallout</i>.</blockquote>

    <h4>San Francisco</h4>

    <ol>
    <li>Population disperses after rampage: Turn the Shi hostile.
    </li><li>Sentient plant problems: Kill Dr Wong without turning the Shi hostile.
    </li><li>The Shi flourish: Don't turn the Shi hostile, don't kill Dr Wong.
    </li></ol>

    There are three SF pictures, all showing the arch by the town entrance; for ending 1 it's got cobwebs on it, for ending 2 it has lots of green vines (evil plant, brr), and for ending 3 it's festooned with lamps and vines.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Those Shi sure are sensitive. If you do everything normally in SF, then position yourself outside the tanker, toss a Plant Spike on one of the dockworkers and hurt him for 1 HP before ducking into the tanker and sailing off for the Enclave, you'll get the "demoralized and leaderless after your rampage" ending. I mean, it was a Plant Spike, get over it.</blockquote>

    <h4>Tanker vagrants</h4>

    <ol>
    <li>Vagrants move on: You always get this (even if you kill them).
    </li></ol>
