extends /layout

block content
  h1 Introduction

  section
    +fancyQuote("--New Reno prostitute")
      p Hey, stranger! Need a guide?

    p.
      Welcome to my <i>Fallout 2</i> guide/walkthrough. This guide exists because I realized that if I wanted the kind of complete <i>Fallout 2</i> guide that I envisioned, it pretty much meant writing it myself. That turned out to be quite an undertaking, but on the other hand, as far as I'm concerned <i>Fallout 2</i> is the best computer game ever made

    p.
      This guide is an attempt to provide a thorough presentation of the things you can do in <i>Fallout 2</i>: quests to perform, places to go, people to eat. It is not, on the other hand, an attempt to compile reams of game data such as documenting every karma point gained or lost, because it wouldn't be much fun. For game mechanics, detailed item stats and such, consult the manual and/or available in-game information. The basic assumption is that players want to squeeze as much out of their game as possible - which is another thing that makes writing this guide worthwhile, because <i>Fallout 2</i> is a game that just keeps on giving. There are details and aspects you won't notice until your second, third or fourth game, playing different characters with different attitudes. Or until you read this guide, anyway.

    p.
      I've been playing the game using the UK edition, patch version 1.02e plus the "children patch". To my knowledge there is not a single significant difference between the UK and US versions except for the children thing. I've also used Falche2 Character Editor 2.10 and Inventory Editor 1.01 extensively to try out situations and features; moreover I've used Fallout 2 DAT explorer v1.42 to unpack game files, Fallout Items Mode Editer 1.1 to check out some item details, Fallout Utility for Critter tinKering 0.62 to check out some critter data, and the script decompilers by TeamX and Noid as well as the scripts that came with the Fallout 2 Mapper to check lots of things. Since trainers, utilities and mods aren't part of the game, I won't deal with them specifically. I don't recommend cheating, other than momentarily for the purpose of experiencing things that you wouldn't normally see, or in a last-ditch attempt to save a doomed character.

    p.
      Virtually every piece of information or advice presented here has been verified in personal testing or playing experience, although I have of course consulted rather a lot of existing walkthroughs and board postings for snippets of information and things to try out. Sadly, many guides are either poorly written ("klammth this place stinks btr get sum quest!!! i need the xp!!!!!"), give embarrassingly bad advice ("So that's why I always tag Throwing, First Aid and Barter"), include patently false information ("If you keep the Pipe Gun in one of your active item slots it will give you Agility +3, it doesn't work for all characters"), or are glaringly incomplete ("I've heard there is a place called New Reno in this game but I never found it"). Hopefully this guide should avoid those pitfalls with some margin to spare.

    p.
      Of other <i>Fallout 2</i> writings I would recommend those of Whitechocobo666, author of the <i>Endings FAQ</i>, the <i>Perks FAQ</i>, the <i>Weapon/armour FAQ</i> and the <i>Evil Walk-through</i>; Steve Metzler, whose <i>Steve's Guide to Fallout 2</i> was my original source of inspiration; Chris Avellone, co-designer of the game and maker of the <i>Fallout Bible</i>; and also Cristian Golumbovici. General credit goes to the people on the No Mutants Allowed message board. Special thanks to Sébastien Caisse a.k.a. Red! for checking scripts and stuff for guide version 1.0.

    p.
      Please note that <b>spoilers abound</b>. The first time you play a game like this, you really shouldn't be using any kind of walkthrough whatsoever. If you don't care enough about the unique experience of finding out and doing things on your own to abstain from spoiling it, you probably have better things to do with your time than play the game at all. So, in case this is your first game, don't read beyond Preparations.

    p.
      If you spot typos, have something to contribute or want to complain that my inclusion criteria are arbitrary, please <a href="mailto:pel@zeta.telenordia.se">mail me</a>. If you have a gameplay or technical question that doesn't have anything to do with the guide itself (unless it hints at a deficiency therein), please turn to a message board; there are several on the net. I'm sorry, but you must understand that I'm not a one-person helpline. At least do a couple of string searches before you decide the answer isn't in the guide already.

    p.
      Comments and additional information have been colour-coded in the following imaginative manner:

    -
      const advices = [
        { rank: "reliable", advice: "Straightforward, reliable information or advice." },
        { rank: "unreliable", advice: "Some measure of uncertainty or speculation, but information given can be expected to be correct in broad terms." },
        { rank: "speculative", advice: "Highly speculative information as well as massively peripheral or trivial comments." },
        { rank: "general", advice: "General comments appearing in the Area walkthrough section which have a wider application than the specific context where they are brought up, such as character design, combat strategy or general game behaviour." },
      ];
    +adviceList(advices)