extends ../layout

block content

  h1 Items

  section
    <blockquote>"What do I WANT? I don't really know. Most of the time I ignore my quest and walk into the homes of others, riffling through people's shelves..."<br>
    --The Chosen One</blockquote>

    Locations for common items represent where you're likely to first find them, unless you're using stupid short cut techniques. Non-special random encounters are not considered in this regard, unless the item in question is very rare. If an item appears in more than two or three places in an area I haven't bothered to specify names or locations. Names are given as they appear in the game (e.g. with a missing apostrophe in "Deans Electronics"). These tables are preferably viewed in 800x600 resolution or better.

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Shops may not carry certain items right away, e.g. the first time you come to NCR Buster probably won't sell the Avenger Minigun, but after a few days he might. This is simply due to normal random variation of stock and not level dependent. See Klamath for more details on shops and restocking.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    In addition to the items listed here, which can all be found in the game, the items database contains other categories of items such as: <i>Fallout</i> discontinued items or quest items (e.g. the Stealth Boy and Psychic Nullifier), special weaponry only used by critters (e.g. Robo Rocket Launchers and Special Boxing Weapons), unused quest items (a Red Reactor Keycard and a Decomposing Body among others), and programmers having fun (e.g. Trophy of Recognition). They can be viewed if you use an inventory editor, but not all of them have images and few except for the weapons do anything. The list does include a few weapons (Holy Hand Grenade, deathclaw Claws) that can be found without using any kind of utility although they were not really meant to be.</blockquote>

    Armour: 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="60"><b>AC</b></td>
    <td width="60"><b>DT</b></td>
    <td width="60"><b>DR</b></td>
    <td width="100"><b>Rad. Resist.</b></td>
    </tr>
    <tr><td>Robes</td><td>New Reno (Golden Globes)</td><td>5</td><td>0</td><td>20</td><td></td></tr>
    <tr><td>Leather Jacket</td><td>Klamath (Sulik, Sajag)</td><td>8</td><td>0</td><td>20</td><td></td></tr>
    <tr><td>Leather Armor</td><td>Klamath (Ardin, Sajag)</td><td>15</td><td>2</td><td>25</td><td></td></tr>
    <tr><td>Leather Armor Mark II</td><td>VC (Harry, Randal)</td><td>20</td><td>3</td><td>25</td><td></td></tr>
    <tr><td>Combat Leather Jacket</td><td>Modoc (Balthas), New Reno</td><td>18</td><td>2</td><td>30</td><td></td></tr>
    <tr><td>Metal Armor</td><td>Den (Rebecca), VC</td><td>10</td><td>4</td><td>30</td><td></td></tr>
    <tr><td>Metal Armor Mark II</td><td>VC (Randal), Redding (mine)</td><td>15</td><td>4</td><td>35</td><td></td></tr>
    <tr><td>Bridgekeeper's Robes</td><td>Bridge</td><td>20</td><td>5</td><td>40</td><td></td></tr>
    <tr><td>Combat Armor</td><td>SAD, NCR (Duppo), Vault 15</td><td>20</td><td>5</td><td>40</td><td>20</td></tr>
    <tr><td>Brotherhood Armor</td><td>SF (Brotherhood)</td><td>20</td><td>8</td><td>40</td><td>20</td></tr>
    <tr><td>Combat Armor Mark II</td><td>Toxic Caves, SF (R888G)</td><td>25</td><td>6</td><td>40</td><td>20</td></tr>
    <tr><td>Tesla Armor</td><td>SF (FD8, R888G)</td><td>15</td><td>4</td><td>20</td><td>20</td></tr>
    <tr><td>Power Armor</td><td>MB, SF</td><td>25</td><td>12</td><td>40</td><td>30</td></tr>
    <tr><td>Hardened Power Armor</td><td>SF (Crocket)</td><td>25</td><td>13</td><td>50</td><td>30</td></tr>
    <tr><td>Advanced Power Armor</td><td>Navarro</td><td>30</td><td>15</td><td>55</td><td>60</td></tr>
    <tr><td>Adv. Power Armor MKII</td><td>Enclave</td><td>35</td><td>18</td><td>60</td><td>75</td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Damage Threshold/Damage Resistance values are given for normal damage, which is by far the most common damage type for most of the game. Laser damage deviates the most from these values, but isn't used very much. Tesla Armor is special in the way that it offers extra protection against laser and plasma damage... but there's no area where enemies rely exclusively on these damage types, so be prepared to get knocked down with a Wrench or something.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    There are two kinds of damage not shown on the inventory sheet: EMP and electrical. EMP is presumably only used for Pulse Grenades and everyone but robots has a very high resistance level (for the player character that resistance is actually part of the armour definitions, so a "naked" character has no such resistance!). Electrical damage is used for pulse guns, the Alien Blaster, (Super) Cattle Prods and some traps and similar hazards. As a rule of thumb, electrical resistances are the same as plasma.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The two types of Power Armor raise your ST by 3 to a maximum of 10. The two types of Advanced Power Armor raise your ST by 4.</blockquote>

    Weapons: 

    <table>
    <tbody><tr>
    <td width="180"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="60"><b>Damage</b></td>
    <td width="60"><b>Ammo</b></td>
    <td width="60"><b>Clip</b></td>
    <td width="60"><b>AP</b></td>
    <td width="60"><b>Skill</b></td>
    </tr>
    <tr><td>Rock</td><td>Klamath</td><td>1-4</td><td></td><td></td><td>4/3</td><td>Thr/Un</td></tr>
    <tr><td>Gold Nugget</td><td>Golgotha, Caravan encounter</td><td>3-6</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Uranium Ore</td><td>BH (mine), Caravan encounter</td><td>3-6</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Refined Uranium Ore</td><td>BH (refinery)</td><td>3-6</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Plant Spike</td><td>Arroyo (plants)</td><td>1-2</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Flare</td><td>Klamath</td><td>1-1</td><td></td><td></td><td>1</td><td>Thr</td></tr>
    <tr><td>Throwing Knife</td><td>Klamath</td><td>3-6</td><td></td><td></td><td>5/4</td><td>Thr/Me W</td></tr>
    <tr><td>Sharpened Pole</td><td>Temple of Trials</td><td>2-4</td><td></td><td></td><td>4/6</td><td>Me W/Thr</td></tr>
    <tr><td>Spear</td><td>Arroyo</td><td>3-10</td><td></td><td></td><td>4/6</td><td>Me W/Thr</td></tr>
    <tr><td>Sharpened Spear</td><td>Arroyo (Mynoc)</td><td>4-12</td><td></td><td></td><td>4/6</td><td>Me W/Thr</td></tr>
    <tr><td>Boxing Gloves</td><td>New Reno, NCR (Duppo)</td><td>1-1</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Plated Boxing Gloves</td><td>New Reno (Bishop's)</td><td>2-3</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Brass Knuckles</td><td>Klamath</td><td>2-5</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Spiked Knuckles</td><td>Klamath (Duntons)</td><td>4-10</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Claw</td><td>NCR (pastures), V13 (Thearn, Valdis)</td><td>3-4</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Claw</td><td>V13 (Gruthar, Dar), Navarro (Xarn)</td><td>5-10</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Power Fist</td><td>BH (Francis), NCR (Duppo)</td><td>12-24</td><td>SEC</td><td>25</td><td>3</td><td>Un</td></tr>
    <tr><td>Mega Power Fist</td><td>Upgrade, SF (R888G, tanker)</td><td>20-40</td><td>SEC</td><td>25</td><td>3</td><td>Un</td></tr>
    <tr><td>Robo Melee Weapon 2</td><td>Enclave</td><td>15-30</td><td></td><td></td><td>3</td><td>Un</td></tr>
    <tr><td>Switchblade</td><td>New Reno</td><td>1-5</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Knife</td><td>Arroyo</td><td>1-6</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Special Boxer Weapon</td><td>New Reno (boxing ring)</td><td>1-1</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Club</td><td>Klamath (Sajag), Den</td><td>1-6</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Wrench</td><td>VC (courtyard), Redding (McGrew's)</td><td>3-6</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Crowbar</td><td>Klamath</td><td>3-10</td><td></td><td></td><td>4</td><td>Me W</td></tr>
    <tr><td>Combat Knife</td><td>Klamath</td><td>3-10</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Wakizashi Blade</td><td>Yakuza encounter</td><td>4-12</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>"Little Jesus"</td><td>New Reno (Little Jesus)</td><td>5-14</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Louisville Slugger</td><td>New Reno (Mrs Wright)</td><td>12-30</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Sledgehammer</td><td>Klamath</td><td>4-9</td><td></td><td></td><td>4/5</td><td>Me W</td></tr>
    <tr><td>Super Sledge</td><td>NR (Eldridge), SF (R888G)</td><td>18-36</td><td></td><td></td><td>3/4</td><td>Me W</td></tr>
    <tr><td>Ripper</td><td>BH (Steve), NCR</td><td>15-32</td><td>SEC</td><td>30</td><td>4</td><td>Me W</td></tr>
    <tr><td>Cattle Prod</td><td>Klamath (bathhouse), Den (slave run)</td><td>12-20</td><td>SEC</td><td>20</td><td>4</td><td>Me W</td></tr>
    <tr><td>Super Cattle Prod</td><td>Upgrade, Enclave</td><td>20-32</td><td>SEC</td><td>20</td><td>4</td><td>Me W</td></tr>
    <tr><td>End Boss Knife</td><td>Enclave (Horrigan)</td><td>15-30</td><td></td><td></td><td>3</td><td>Me W</td></tr>
    <tr><td>Molotov Cocktail</td><td>Klamath</td><td>8-20</td><td></td><td></td><td>5</td><td>Thr</td></tr>
    <tr><td>Grenade (Frag)</td><td>Klamath (child), Modoc (Jo's)</td><td>20-35</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Grenade (Plasma)</td><td>Den (Becky, Fred), New Reno</td><td>40-90</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Grenade (Pulse)</td><td>NR (Eldridge's, Mordino's), SAD</td><td>100-150</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Holy Hand Grenade</td><td>Vorpal rat cave (cheat only)</td><td>300-500</td><td></td><td></td><td>4</td><td>Thr</td></tr>
    <tr><td>Jonny's BB Gun</td><td>Modoc (well)</td><td>1-3</td><td>BB's</td><td>100</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Red Ryder BB Gun</td><td>NCR (Buster), trader encounter</td><td>1-3</td><td>BB's</td><td>100</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Red Ryder LE BB Gun</td><td>SAD (Dobbs), NCR (Buster)</td><td>25-25</td><td>BB's</td><td>100</td><td>4</td><td>Sm G</td></tr>
    <tr><td>Pipe Rifle</td><td>Klamath</td><td>5-12</td><td>10mm</td><td>1</td><td>5</td><td>Sm G</td></tr>
    <tr><td>10mm Pistol</td><td>Klamath (Sajag, rat caves), Den</td><td>5-12</td><td>10mm</td><td>12</td><td>5</td><td>Sm G</td></tr>
    <tr><td>10mm SMG</td><td>Den (Tubby)</td><td>5-12</td><td>10mm</td><td>30/10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>HK P90c</td><td>NCR (Duppo, Mira), Vault 15</td><td>12-16</td><td>10mm</td><td>24/12</td><td>4</td><td>Sm G</td></tr>
    <tr><td>Desert Eagle .44</td><td>Den (Tubby, Tyler)</td><td>10-16</td><td>.44</td><td>8</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Desert Eagle (Exp. Mag.)</td><td>Upgrade</td><td>10-16</td><td>.44</td><td>20</td><td>5</td><td>Sm G</td></tr>
    <tr><td>.44 Magnum Revolver</td><td>Den (Flick), VC (Harry)</td><td>12-18</td><td>.44</td><td>6</td><td>4</td><td>Sm G</td></tr>
    <tr><td>.44 Magnum (Speed Load)</td><td>Upgrade</td><td>12-18</td><td>.44</td><td>6</td><td>4</td><td>Sm G</td></tr>
    <tr><td>14mm Pistol</td><td>Modoc (Jo), VC (Randal)</td><td>12-22</td><td>14mm</td><td>6</td><td>5</td><td>Sm G</td></tr>
    <tr><td>9mm Mauser</td><td>NR (Eldridge's), trader encounter</td><td>5-10</td><td>9mm</td><td>7</td><td>4</td><td>Sm G</td></tr>
    <tr><td>Needler Pistol</td><td>Stables (Myron), Redding (Marion)</td><td>12-24</td><td>Needl.</td><td>10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Hunting Rifle</td><td>Den (Flick, slave run)</td><td>8-20</td><td>.223</td><td>10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Scoped Hunting Rifle</td><td>Upgrade, BH (Marcus)</td><td>8-20</td><td>.223</td><td>10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>.223 Pistol</td><td>NR (Eldridge), NCR (Buster), V15</td><td>20-30</td><td>.223</td><td>5</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Sniper Rifle</td><td>NR (Eldridge), SAD, V15 (Karla)</td><td>14-34</td><td>.223</td><td>6</td><td>6</td><td>Sm G</td></tr>
    <tr><td>Shotgun</td><td>Den (Metzger), Modoc</td><td>12-22</td><td>12 ga.</td><td>2</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Sawed-Off Shotgun</td><td>VC (Cassidy)</td><td>12-24</td><td>12 ga.</td><td>2</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Combat Shotgun</td><td>VC (Randal, guards)</td><td>15-25</td><td>12 ga.</td><td>12/3</td><td>5</td><td>Sm G</td></tr>
    <tr><td>H&amp;K CAWS</td><td>Redding (Ascorti), NR (Eldridge)</td><td>15-25</td><td>12 ga.</td><td>10/5</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Pancor Jackhammer</td><td>NR (desert transaction), NCR</td><td>18-29</td><td>12 ga.</td><td>10/5</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Tommy Gun</td><td>New Reno</td><td>3-20</td><td>.45</td><td>50/10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>M3A1 "Grease Gun" SMG</td><td>New Reno, Stables</td><td>10-20</td><td>.45</td><td>30/8</td><td>4</td><td>Sm G</td></tr>
    <tr><td>Assault Rifle</td><td>Ghost Farm (Vegeir)</td><td>8-16</td><td>5mm</td><td>24/8</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Assault Rifle (Exp. Mag.)</td><td>Upgrade</td><td>8-16</td><td>5mm</td><td>100/8</td><td>5</td><td>Sm G</td></tr>
    <tr><td>XL70E3</td><td>Caravan encounter, SF (tanker)</td><td>12-19</td><td>5mm</td><td>20/8</td><td>5</td><td>Sm G</td></tr>
    <tr><td>FN FAL</td><td>VC (Randal), Gecko (Percy)</td><td>9-18</td><td>7.62mm</td><td>20/10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>FN FAL (Night Sight)</td><td>Upgrade</td><td>9-18</td><td>7.62mm</td><td>20/10</td><td>5</td><td>Sm G</td></tr>
    <tr><td>FN FAL HPFA</td><td>NCR (Duppo), SF (R888G)</td><td>11-22</td><td>7.62mm</td><td>20/20</td><td>5</td><td>Sm G</td></tr>
    <tr><td>H&amp;K G11</td><td>Redding (Morton), NCR (Buster, Felix)</td><td>10-20</td><td>4.7mm</td><td>50/5</td><td>5</td><td>Sm G</td></tr>
    <tr><td>H&amp;K G11E</td><td>Snake Morton, SF, Mel</td><td>13-23</td><td>4.7mm</td><td>50/7</td><td>5</td><td>Sm G</td></tr>
    <tr><td>PPK12 Gauss Pistol</td><td>MB, SF (R888G)</td><td>22-32</td><td>2mm</td><td>12</td><td>4</td><td>Sm G</td></tr>
    <tr><td>M72 Gauss Rifle</td><td>NCR (Karl, Dumont), SF</td><td>32-43</td><td>2mm</td><td>20</td><td>5</td><td>Sm G</td></tr>
    <tr><td>Flame Breath</td><td>Fire gecko encounter, MB</td><td>35-50</td><td></td><td>4</td><td>6</td><td>Sm G</td></tr>
    <tr><td>Flamer</td><td>BH (Zaius), NR (Eldridge)</td><td>45-90</td><td>Fuel</td><td>5</td><td>6</td><td>Big G</td></tr>
    <tr><td>Improved Flamer</td><td>Upgrade</td><td>45-90</td><td>Fuel</td><td>5</td><td>6</td><td>Big G</td></tr>
    <tr><td>Minigun</td><td>BH (Marcus, jail), NR (Eldridge)</td><td>7-11</td><td>5mm</td><td>120/40</td><td>6</td><td>Big G</td></tr>
    <tr><td>Avenger Minigun</td><td>NCR (Buster), SF (R888G)</td><td>10-14</td><td>5mm</td><td>120/40</td><td>6</td><td>Big G</td></tr>
    <tr><td>Vindicator Minigun</td><td>SF (R888G), Enclave</td><td>14-19</td><td>4.7mm</td><td>100/25</td><td>6</td><td>Big G</td></tr>
    <tr><td>M60</td><td>New Reno (Eldridge), SF (FD8)</td><td>18-26</td><td>7.62mm</td><td>50/10</td><td>6</td><td>Big G</td></tr>
    <tr><td>Light Support Weapon</td><td>NCR (Buster), SF (R888G)</td><td>20-30</td><td>.223</td><td>30/10</td><td>6</td><td>Big G</td></tr>
    <tr><td>Bozar</td><td>NR (Eldridge), Toxic Caves</td><td>25-35</td><td>.223</td><td>30/15</td><td>6</td><td>Big G</td></tr>
    <tr><td>Robo Rocket Launcher</td><td>Toxic Caves, SAD</td><td>10-30</td><td>Rocket</td><td>6</td><td>3</td><td>Big G</td></tr>
    <tr><td>Rocket Launcher</td><td>NR (Eldridge), SAD, MB</td><td>35-100</td><td>Rocket</td><td>1</td><td>6</td><td>Big G</td></tr>
    <tr><td>Laser Pistol</td><td>Toxic Caves, NR (Salvatore's)</td><td>10-22</td><td>SEC</td><td>12</td><td>5</td><td>En W</td></tr>
    <tr><td>Magneto-Laser Pistol</td><td>Upgrade, SF (FD8)</td><td>10-22</td><td>SEC</td><td>12</td><td>5</td><td>En W</td></tr>
    <tr><td>Plasma Pistol</td><td>Toxic Caves</td><td>15-35</td><td>SEC</td><td>16</td><td>5</td><td>En W</td></tr>
    <tr><td>Plasma Pistol (Ext. Cap.)</td><td>Upgrade</td><td>15-35</td><td>SEC</td><td>32</td><td>5</td><td>En W</td></tr>
    <tr><td>YK32 Pulse Pistol</td><td>SF (Brotherhood), Enclave</td><td>32-46</td><td>SEC</td><td>5</td><td>4</td><td>En W</td></tr>
    <tr><td>Alien Blaster</td><td>Trader encounter, Enclave (maze)</td><td>30-90</td><td>SEC</td><td>30</td><td>4</td><td>En W</td></tr>
    <tr><td>Laser Rifle</td><td>Military Base, SF (R888G)</td><td>25-50</td><td>MFC</td><td>12</td><td>5</td><td>En W</td></tr>
    <tr><td>Laser Rifle (Ext. Cap.)</td><td>Upgrade, SF (FD8)</td><td>25-50</td><td>MFC</td><td>24</td><td>5</td><td>En W</td></tr>
    <tr><td>Gatling Laser</td><td>SF (R888G), Enclave</td><td>20-40</td><td>MFC</td><td>30/10</td><td>6</td><td>En W</td></tr>
    <tr><td>Plasma Rifle</td><td>SAD, Military Base, Navarro</td><td>30-65</td><td>MFC</td><td>10</td><td>5</td><td>En W</td></tr>
    <tr><td>Turbo Plasma Rifle</td><td>Upgrade, Enclave (Granite's squad)</td><td>35-70</td><td>MFC</td><td>10</td><td>5</td><td>En W</td></tr>
    <tr><td>YK42B Pulse Rifle</td><td>SF (Brotherhood), Enclave</td><td>54-78</td><td>MFC</td><td>10</td><td>5</td><td>En W</td></tr>
    <tr><td>End Boss Plasma Gun</td><td>Enclave (Horrigan)</td><td>30-70</td><td>MFC</td><td>50/3</td><td>5</td><td>En W</td></tr>
    <tr><td>Solar Scorcher</td><td>Guardian of Forever</td><td>20-60</td><td></td><td>6</td><td>4</td><td>En W</td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Damage for ranged weapons is per successfully delivered bullet. Damage for mêlée weapons is excluding your character's Melee Damage.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    AP cost is for the weapon's basic attack. Burst attacks cost 1 AP more for weapons with both single shot and burst capacity. Aimed attacks cost 1 AP more. Sledgehammer and Super Sledge are the only HtH weapons for which thrust and swing attacks don't have the same cost. The difference between swing and thrust attack modes is unclear, but the <i>Fallout</i> manual implies there isn't any (the <i>Fallout 2</i> manual is silent on the matter).</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Gold Nuggets, Uranium Ore and Refined Uranium Ore can all be switched to punch mode, but trying to attack will result in a "Target out of range" message (this is because their range is incorrectly set to zero in the item definitions). Rocks can be used in this way, though. It functions as an Unarmed weapon and adds your Melee Damage to the maximum damage although this doesn't show in the inventory window (the latter goes for Spears etc. as well when not thrown).</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    A lit Flare has the exact same properties as an unlit Flare.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The Pulse Grenade, being the only weapon that inflicts EMP damage, does no damage to non-robot critters, but it can do a lot of damage to <i>you</i> unless you're wearing any kind of armour. I always suspected the Chosen One to be an android. (This is actually because the main character uniquely has the EMP DR as part of the armour item definitions instead of the critter definition.) You can inflict lethal critical hits on living targets with Pulse Grenades, but unless you have the Living Anatomy perk this will cause a bug (see the Toxic Caves section) and will generally be unwanted.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The Solar Scorcher doesn't need ammo to reload, but you can only do so in bright light. This is determined by the map's overall light level, not by the time of day or the light level where you are standing; basically if you can see the spotlight around your character, it's too dark. This means that on some indoor maps like fully lit vaults you can always reload the Scorcher, while on others like the first floor of the Bishop or Mordino casino you never can - unless you have Night Vision, which affects the overall light level directly. The Scorcher deals laser damage, so it's not all that good. I would assume that ammo modifiers all default to zero in this case.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    For punch and kick attacks, refer to the manual where they are described in detail. They don't go in the table since they're not items.</blockquote>

    Ammo: 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="80"><b>Dmg mod</b></td>
    <td width="80"><b>AC mod</b></td>
    <td width="80"><b>DR mod</b></td>
    <td width="200"><b>Best weapon</b></td>
    </tr>
    <tr><td>BB's</td><td></td><td></td><td></td><td>Red Ryder LE BB Gun</td></tr>
    <tr><td>10mm AP</td><td>1/2</td><td></td><td><nobr>-25</nobr></td><td>-</td></tr>
    <tr><td>10mm JHP</td><td>2/1</td><td></td><td>25</td><td>HK P90c</td></tr>
    <tr><td>.44 magnum FMJ</td><td></td><td></td><td><nobr>-20</nobr></td><td>.44 Magnum (Speed Load)</td></tr>
    <tr><td>.44 Magnum JHP</td><td>2/1</td><td></td><td>20</td><td>.44 Magnum (Speed Load)</td></tr>
    <tr><td>12 ga. Shotgun Shells</td><td></td><td><nobr>-10</nobr></td><td></td><td>Pancor Jackhammer</td></tr>
    <tr><td>14mm AP</td><td>1/2</td><td></td><td><nobr>-50</nobr></td><td>-</td></tr>
    <tr><td>.45 Caliber</td><td></td><td></td><td></td><td>M3A1 "Grease Gun" SMG</td></tr>
    <tr><td>7.62mm</td><td></td><td><nobr>-5</nobr></td><td><nobr>-10</nobr></td><td>M60</td></tr>
    <tr><td>9mm</td><td>1/2</td><td></td><td>10</td><td>-</td></tr>
    <tr><td>9mm ball</td><td></td><td></td><td></td><td>-</td></tr>
    <tr><td>5mm AP</td><td>1/2</td><td></td><td><nobr>-35</nobr></td><td>-</td></tr>
    <tr><td>5mm JHP</td><td>2/1</td><td></td><td>35</td><td>Avenger Minigun</td></tr>
    <tr><td>HN Needler Cartridge</td><td></td><td><nobr>-10</nobr></td><td></td><td>-</td></tr>
    <tr><td>HN AP Needler Cartridge</td><td>2/1</td><td><nobr>-10</nobr></td><td></td><td>Needler Pistol</td></tr>
    <tr><td>.223 FMJ</td><td></td><td><nobr>-20</nobr></td><td><nobr>-20</nobr></td><td>.223 Pistol, Sniper Rifle, Bozar</td></tr>
    <tr><td>4.7mm Caseless</td><td>3/2</td><td><nobr>-5</nobr></td><td><nobr>-10</nobr></td><td>H&amp;K G11E, Vindicator Minigun</td></tr>
    <tr><td>2mm EC</td><td>3/2</td><td><nobr>-30</nobr></td><td><nobr>-20</nobr></td><td>PPK12 Gauss Pistol, M72 Gauss Rifle</td></tr>
    <tr><td>Small Energy Cell</td><td></td><td></td><td></td><td>Mega Power Fist, Alien Blaster</td></tr>
    <tr><td>Micro Fusion Cell</td><td></td><td></td><td></td><td>Turbo Plasma Rifle, YK42B Pulse Rifle</td></tr>
    <tr><td>Flamethrower Fuel</td><td></td><td><nobr>-20</nobr></td><td>25</td><td>(Improved) Flamer</td></tr>
    <tr><td>Flamethrower Fuel MKII</td><td></td><td><nobr>-20</nobr></td><td></td><td>(Improved) Flamer</td></tr>
    <tr><td>Rocket AP</td><td></td><td><nobr>-15</nobr></td><td><nobr>-50</nobr></td><td>Rocket Launcher</td></tr>
    <tr><td>Explosive Rocket</td><td></td><td></td><td><nobr>-25</nobr></td><td>Rocket Launcher</td></tr>
    <tr><td>Robo Rocket Ammo</td><td></td><td></td><td><nobr>-25</nobr></td><td>Rocket Launcher</td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    A dash means "don't use this (unless you really, really have to)".</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    Before the patch (and in <i>Fallout</i>) the DR modifier for .44 Magnum JHP was 50.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    With a few exceptions, ammo types are first found in the same locations where you find the weapons that use them. If you want to shop for ammo, NCR and SF have the best shops by far.</blockquote>

    Items which can be consumed for an effect (may also have quest use): 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="80"><b>Duration</b></td>
    <td width="200"><b>Comment</b></td>
    </tr>
    <tr><td>Psycho</td><td>Den</td><td>4+4 hrs</td><td>AG +3, IN <nobr>-3</nobr>, DR +50</td></tr>
    <tr><td>Buffout</td><td>Den (Tubby, grave), Modoc (Balthas')</td><td>6 hrs</td><td>ST +2, AG +2, EN +3</td></tr>
    <tr><td>Mentats</td><td>VC (Lynette), BH (Eric, Professor)</td><td>24 hrs</td><td>IN +2, PE +2, CH +1</td></tr>
    <tr><td>Jet</td><td>Den</td><td>5 mins</td><td>AP +2, ST +1, PE +1</td></tr>
    <tr><td>Antidote</td><td>Temple of Trials</td><td></td><td>Poison Level <nobr>-75</nobr></td></tr>
    <tr><td>RadAway</td><td>Klamath (Sajag), Toxic Caves</td><td></td><td>Radiation Level <nobr>-150</nobr></td></tr>
    <tr><td>Rad-X</td><td>Toxic Caves</td><td>24+24 hrs</td><td>Radiation Resistance +50</td></tr>
    <tr><td>Fruit</td><td>Arroyo</td><td></td><td>CHP +(1-4), RL +2, Myron uses</td></tr>
    <tr><td>Healing Powder</td><td>Temple of Trials</td><td>6 hrs</td><td>Current HP +(8-18), PE <nobr>-1</nobr></td></tr>
    <tr><td>Stimpak</td><td>Klamath</td><td></td><td>Current HP +(10-20), Myron uses</td></tr>
    <tr><td>Super Stimpak</td><td>VC (Lynette, Troy), Gecko (Harold)</td><td></td><td>Current HP +75, then <nobr>-6</nobr>, then <nobr>-3</nobr></td></tr>
    <tr><td>Jet Antidote</td><td>VC (Dr Troy), SF (tanker)</td><td></td><td>Cures Jet addiction</td></tr>
    <tr><td>Hypo</td><td>Federation Shuttle</td><td></td><td>Current HP +(75-100)</td></tr>
    <tr><td>Mutated Toe</td><td>VC (Andrew)</td><td>7 days</td><td>Maximum HP <nobr>-3</nobr>, Poison Level +2</td></tr>
    <tr><td>Monument Chunk</td><td>Talking Head</td><td>1 hr</td><td>ST +3, AG +3, DR +50</td></tr>
    <tr><td>Cookie</td><td>Modoc (Rose, Farrel), SAD</td><td>15 mins</td><td>AP +1</td></tr>
    <tr><td>Guns and Bullets</td><td>Klamath</td><td></td><td>Raises Small Guns</td></tr>
    <tr><td>Scout Handbook</td><td>Klamath (trapper town), VC (vault)</td><td></td><td>Raises Outdoorsman</td></tr>
    <tr><td>Big Book of Science</td><td>VC</td><td></td><td>Raises Science</td></tr>
    <tr><td>First Aid Book</td><td>Modoc (Grisham's), VC (Randal, vault)</td><td></td><td>Raises First Aid</td></tr>
    <tr><td>Deans Electronics</td><td>Ghost Farm, VC</td><td></td><td>Raises Repair</td></tr>
    <tr><td>Cat's Paw Issue #5</td><td>New Reno (Miss Kitty)</td><td></td><td>Energy Weapons +10%</td></tr>
    <tr><td>Pip Boy Medical Enhancer</td><td>New Reno (Renesco)</td><td></td><td>Doctor +10%</td></tr>
    <tr><td>Pip Boy Lingual Enhancer</td><td>New Reno (Mrs Bishop)</td><td></td><td>Speech +10%</td></tr>
    <tr><td>Beer</td><td>Klamath</td><td>30 mins</td><td>PE <nobr>-1</nobr></td></tr>
    <tr><td>Booze</td><td>Klamath</td><td>30 mins</td><td>PE <nobr>-1</nobr></td></tr>
    <tr><td>Gamma Gulp Beer</td><td>Den (Ananias), Gecko</td><td>30 mins</td><td>PE <nobr>-1</nobr></td></tr>
    <tr><td>Rot Gut</td><td>Raiders</td><td>30 mins</td><td>PE <nobr>-2</nobr></td></tr>
    <tr><td>Roentgen Rum</td><td>Den (Ananias), Gecko</td><td>30 mins</td><td>PE <nobr>-2</nobr></td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Effects are permanent unless duration is specified. (Duration given for Healing Powder and Mutated Toe is for the stat penalty only.) The effect of Psycho and Rad-X wears off by one half at a time. You cannot benefit from using more than two doses of a specific chem at the same time, but additional doses can cause addiction. Stats raised by chems will drop below their original values for a period of time after the effect wears off, about as much as the initial bonus. RadAway takes full effect over the course of 4 hours. Antidote takes full effect over the course of 2 minutes.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Books raise a skill by a number depending on your current skill level, ranging from 6-7 at low skill levels (20-30%) to 1-2 (70-90%). You get twice that amount if the skill is tagged. This stops at 91% (or 92% if you raise a tagged skill from 90%). Reading a book takes from 1 to 10 hours depending on your Intelligence (i.e. 11-IN).</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Geoffrey Bateman adds on book reading: "You know you can drop your stats in various ways (booze, drugs)? And of course, the skills associated with those stats drop, too. Well, not only will using manuals while your skills are lowered make them more effective, the game also applies the 91% cap to your artifically lowered skill percentage. Then when your stats go back to normal you keep the extra points." In theory you can raise Small Guns, First Aid and Science to 127%, Repair to 118% and Outdoorsman to 115% using this technique, providing that your PE, IN and AG are at 10, your EN is above 3, and all the relevant skills are at 91%. To lose 9 AG, use 2 Buffout, rest 5 hours, use 2 Monument Chunk, then rest 1 hour. To lose 9 IN, use 2 Mentats, rest 24 hours, then use 2 Psycho. To lose 9 PE, drink lots of alcohol. To lose 3 EN, use 2 Buffout, rest 6 hours, use 1 Buffout, then rest 6 hours. "Also, make sure you use all your books from the inventory screen rather than a weapon slot; time won't pass until you close it, so you don't have to worry about your stats coming back before you're done. I also suspect that this would work when using skill points (once you get to the point where it costs more than one to upgrade, obviously)." Yep, it does.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can play with the difficulty level in a similar manner to get more out of reading books (except Guns and Bullets). Turning the difficulty from easy to normal lowers all non-combat skills by 20%; changing it from normal to hard lowers them by another 10%. You can then read books to get the skills back to 91%, and finally turn difficulty back to normal. Note that if you want to combine this with the drug technique descibed above, you'll have to do them at the same time to maximize your gain.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can use alcoholic drinks on people in case you don't want them to shoot straight once you attack them, or if you want to lower their PE before a Sneak or Steal attempt. I haven't noticed any significant difference in combat when I've tried this, but you can use it to interfere with certain scripts (e.g. people guarding doors like Keith Wright). Beer and Booze also cause cows to fall over, but the usefulness of this is limited.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The Jet Antidote is bugged so that it is not used up if you're addicted to Jet when you use it, but I'm putting it in this category anyway. A method to exploit this is described in the Vault City section.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You can get around the 2-dose limit for chems by saving and loading; the game then won't stop you from taking two more with the usual effects. Among other things it'll help with the book trick described above, but it's obviously a form of bug exploitation.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You cannot kill anyone directly by reducing their Maximum Hit Points to 0 using Mutated Toes. However, if you hit someone who's had Toes used on them, they'll drop to their new maximum at least. If this is 0 they won't die, but if you then look at them, they'll lose their red outline and will be described as dead. You can't talk to them in this state, but you can finish them off.</blockquote>

    Items which have general use (may also have quest use): 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="200"><b>Comment</b></td>
    </tr>
    <tr><td>Bag</td><td>Modoc (rat nest)</td><td>Carry stuff!</td></tr>
    <tr><td>Geiger Counter</td><td>VC (courtyard, vault)</td><td></td></tr>
    <tr><td>Money</td><td>Arroyo</td><td></td></tr>
    <tr><td>Mirrored Shades</td><td>New Reno (Mason), Golgotha</td><td>CH +1</td></tr>
    <tr><td>Shovel</td><td>Arroyo (village)</td><td>Loot graves</td></tr>
    <tr><td>Broc Flower</td><td>Arroyo (wilderness)</td><td>Myron, Hakunin use</td></tr>
    <tr><td>Empty Hypodermic</td><td>VC (Phyllis, Troy, vault), NR</td><td>Myron uses</td></tr>
    <tr><td>Nuka-Cola</td><td>Klamath</td><td>Myron uses</td></tr>
    <tr><td>Scorpion Tail</td><td>Temple of Trials</td><td>Myron uses</td></tr>
    <tr><td>Xander Root</td><td>Arroyo (village, wilderness)</td><td>Myron, Hakunin use</td></tr>
    <tr><td>Dynamite</td><td>Klamath (rat caves), Modoc (Jo)</td><td></td></tr>
    <tr><td>Plastic Explosives</td><td>Temple of Trials</td><td></td></tr>
    <tr><td>First Aid Kit</td><td>Klamath (Ardin)</td><td>First Aid +20%</td></tr>
    <tr><td>Field Medic First Aid Kit</td><td>SF (FD8)</td><td>First Aid +40%</td></tr>
    <tr><td>Doctor's Bag</td><td>BH (Holliday), Redding (Johnson's)</td><td>Doctor +20%</td></tr>
    <tr><td>Paramedics Bag</td><td>Enclave</td><td></td></tr>
    <tr><td>Lockpicks</td><td>Gecko (Skeeter's)</td><td>Lockpick +20%</td></tr>
    <tr><td>Expanded Lockpick Set</td><td>NCR (Buster), SF</td><td>Lockpick +40%</td></tr>
    <tr><td>Electronic Lockpick</td><td>NR (Eldridge's), SF (FD8)</td><td>Lockpick +20%</td></tr>
    <tr><td>Electronic Lockpick MKII</td><td>SF, Navarro</td><td>Lockpick +40%</td></tr>
    <tr><td>Motion Sensor</td><td>VC (Stark, vault)</td><td>Outdoorsman +20%</td></tr>
    <tr><td>Tool</td><td>Klamath (rat caves), Den (Smitty's)</td><td>Repair +20%</td></tr>
    <tr><td>Super Tool Kit</td><td>Den (Smitty), VC (Val)</td><td>Repair +40%</td></tr>
    <tr><td>Fallout 2 Hintbook</td><td>New Reno (Father Tully)</td><td>Experience and stuff</td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The Bag is responsible for an inventory bug which sometimes lets you keep items that are really supposed to disappear from your inventory, depending on which script command is being used to remove them. Items are "protected" if they're below the Bag in your inventory, apparently because the engine can't handle the container item type properly. Ways you can exploit this include giving Cornelius' watch to both him and Farrel and get xp for both those quests, getting upgraded weapons from Algernon or Skeeter while keeping the originals, and having Myron concoct any number of Stimpaks or Super Stimpaks from the same ingredients. If you like to carry the Bag around but don't like to cheat, make sure the Bag is always near the bottom of your inventory, or make sure to relocate ingredients and weapons to the top before making chems, upgrades etc. The bug doesn't affect money or items kept in the Bag. Finally an observation from Sean Meskill regarding Algernon: "When I requested the fuel upgrade, I had a pack of 5 fuel units under my Bag. When I got my upgrade, I had a pack of 10 blue fuel above and a pack of 10 red fuel beneath."</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The four medical supplies items will vanish after use if you fail a separate skill check. Applying them to a healthy subject will cause time to pass and they may be used up. Finally, the Paramedics Bag appears to be bugged; at any rate it doesn't provide a skill bonus to normal healing.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    The bonuses of items such as Lockpicks and Tools vary between scripts. Though they are usually +20% and +40% respectively, they might be +10% and +50% in one script while another treats them alike. All normal doors have the +20%/+40% bonuses anyway. Also not all scripts will allow you to substitute either or both bonus items for using the actual skill. The Super Tool Kit in particular is used in so few scripts that I'd settle for a Tool if anything.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Geiger Counters and Motion Sensors use up "charges" each time you turn them on, but don't seem to care much about how long you leave them on after that (the Geiger Counter will lose a charge if you leave it on and rest for several days). They'll turn off automatically if you move to another map.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    You'll find there's a bartering bug related to Geiger Counters: some of them cannot be bartered away no matter what kind of offer you make although they have a cash value displayed in the bartering interface as usual (kind of like trying to sell armed Dynamite or a lit Flare). It could have to do with the fact that traders will refuse to accept Geiger Counters whose batteries have run out, although this bug affects items with charges as well, and you can always sell Motion Sensors even if they don't have any charges.</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    Although there are two Mirrored Shades in the game, you can only benefit from wearing one pair, which sort of makes sense.</blockquote>

    Items which have one-time or one-place use (unless otherwise noted): 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="200"><b>Comment</b></td>
    </tr>
    <tr><td>Abnormal Brain</td><td>SAD</td><td>Hmm</td></tr>
    <tr><td>Account Book</td><td>Raiders</td><td></td></tr>
    <tr><td>Angel-Eyes's Dog Tags</td><td>Raiders</td><td></td></tr>
    <tr><td>Anna's Bones</td><td>Den</td><td></td></tr>
    <tr><td>Anna's Gold Locket</td><td>Den (Joey)</td><td></td></tr>
    <tr><td>Bio Med Gel</td><td>SAD</td><td></td></tr>
    <tr><td>Bishop's Holodisk</td><td>New Reno (Bishop's)</td><td>Two quests</td></tr>
    <tr><td>Blondie's Dog Tags</td><td>Raiders</td><td></td></tr>
    <tr><td>Blue Memory Module</td><td>Navarro</td><td>Charisma</td></tr>
    <tr><td>Blue Pass Key</td><td>Gecko (plant), Navarro</td><td></td></tr>
    <tr><td>Cat's Paw Magazine</td><td>Klamath (Duntons)</td><td>Two quests, collect 10</td></tr>
    <tr><td>Cell Door Key</td><td>BH (jail)</td><td></td></tr>
    <tr><td>Chimpanzee Brain</td><td>SAD</td><td>Never use this</td></tr>
    <tr><td>Clifton's Eye</td><td>SAD</td><td></td></tr>
    <tr><td>Clipboard</td><td>Gecko (Harold's)</td><td></td></tr>
    <tr><td>Computer Voice Module</td><td>VC (vault), New Reno (Eldridge)</td><td></td></tr>
    <tr><td>Cornelius' Gold Watch</td><td>Modoc (rat nest)</td><td></td></tr>
    <tr><td>Day Pass</td><td>VC (customs)</td><td></td></tr>
    <tr><td>Deck of "Tragic" Cards</td><td>Klamath (Vic's)</td><td>Play in Gecko bar</td></tr>
    <tr><td>Dixon's Eye</td><td>SAD</td><td></td></tr>
    <tr><td>Doctor's Papers</td><td>NCR (Dr Henry's)</td><td></td></tr>
    <tr><td>Empty Jet Canister</td><td>New Reno (Wright's)</td><td></td></tr>
    <tr><td>Enlightened One's Letter</td><td>NCR (Hubologist)</td><td></td></tr>
    <tr><td>Excavator Chip</td><td>Redding (mine)</td><td></td></tr>
    <tr><td>Explosive Switch</td><td>BH (Jacob)</td><td></td></tr>
    <tr><td>False Citizenship Papers</td><td>VC (Skeev)</td><td></td></tr>
    <tr><td>Firewood</td><td>Klamath (trapping grounds)</td><td></td></tr>
    <tr><td>Flint</td><td>Arroyo (Morlis)</td><td></td></tr>
    <tr><td>Fuel Cell Controller</td><td>Gecko (Skeeter)</td><td></td></tr>
    <tr><td>Fuel Cell Regulator</td><td>Klamath (trapper town)</td><td></td></tr>
    <tr><td>Fuzzy Painting</td><td>NCR (doctor)</td><td>Saltbeef's</td></tr>
    <tr><td>G.E.C.K.</td><td>Vault 13, Enclave</td><td></td></tr>
    <tr><td>Gecko Holodisk</td><td>Gecko (Gordon)</td><td></td></tr>
    <tr><td>Gecko Pelt</td><td>Klamath</td><td>Entering VC</td></tr>
    <tr><td>Golden Gecko Pelt</td><td>Klamath</td><td>Entering VC</td></tr>
    <tr><td>Green Memory Module</td><td>Military Base</td><td>Perception</td></tr>
    <tr><td>Howitzer Shell</td><td>SAD</td><td></td></tr>
    <tr><td>Human Brain</td><td>SAD</td><td></td></tr>
    <tr><td>Hydroelectric Part</td><td>VC (Randal)</td><td></td></tr>
    <tr><td>K-9 Motivator</td><td>Navarro</td><td></td></tr>
    <tr><td>Magic 8-Ball</td><td>NR (Bishop's), Enclave (maze)</td><td>Clues</td></tr>
    <tr><td>Meat Jerky</td><td>Klamath</td><td></td></tr>
    <tr><td>Metal Pole</td><td>Military Base</td><td></td></tr>
    <tr><td>Mine Parts</td><td>New Reno (Renesco)</td><td></td></tr>
    <tr><td>Moore's Briefcase</td><td>VC (Moore)</td><td></td></tr>
    <tr><td>Mr. Nixon Doll</td><td>VC (courtyard)</td><td></td></tr>
    <tr><td>Mutagenic Serum</td><td>NCR (Dr Henry)</td><td></td></tr>
    <tr><td>NavCom Parts</td><td>Vault 13</td><td></td></tr>
    <tr><td>NCR Spy Holodisk</td><td>Vault 15</td><td></td></tr>
    <tr><td>Note from Francis</td><td>BH (underground)</td><td></td></tr>
    <tr><td>Oil Can</td><td>Tin woodsman</td><td></td></tr>
    <tr><td>Oxygen Tank</td><td>New Reno (Salvatore)</td><td>Steal only</td></tr>
    <tr><td>Part Requisition Form</td><td>Gecko (Harold's, Festus)</td><td></td></tr>
    <tr><td>Password Paper</td><td>SAD</td><td></td></tr>
    <tr><td>Plasma Transformer</td><td>Gecko (Jeremy)</td><td></td></tr>
    <tr><td>Poison</td><td>NCR (Jubilee's), Enclave (maze)</td><td></td></tr>
    <tr><td>Poison Tank</td><td>New Reno (Mordino basement)</td><td></td></tr>
    <tr><td>Presidential Access Key</td><td>Enclave</td><td></td></tr>
    <tr><td>Presidential Pass</td><td>NCR (Gunther)</td><td></td></tr>
    <tr><td>Raiders Map</td><td>New Reno (Bishop's)</td><td></td></tr>
    <tr><td>Ramirez Box, Closed</td><td>New Reno (Mordino)</td><td></td></tr>
    <tr><td>Ramirez Box, Open</td><td>New Reno (Mordino)</td><td></td></tr>
    <tr><td>Ranger's Map</td><td>NCR (Rangers)</td><td></td></tr>
    <tr><td>Reactor Holodisk</td><td>Gecko (Festus)</td><td></td></tr>
    <tr><td>Red Memory Module</td><td>VC (vault)</td><td>Strength</td></tr>
    <tr><td>Red Pass Key</td><td>Gecko (plant)</td><td></td></tr>
    <tr><td>Robot Motivator</td><td>SAD</td><td></td></tr>
    <tr><td>Rope</td><td>Klamath</td><td></td></tr>
    <tr><td>Rubber Boots</td><td>Klamath, Toxic Caves</td><td></td></tr>
    <tr><td>Rubber Doll</td><td>BH (Marcus')</td><td></td></tr>
    <tr><td>Slag Message</td><td>Ghost Farm (Vegeir)</td><td></td></tr>
    <tr><td>Smitty's Meal</td><td>Den (Mom)</td><td></td></tr>
    <tr><td>Spectacles</td><td>BH (scorpion)</td><td></td></tr>
    <tr><td>Stables ID Badge</td><td>Stables</td><td></td></tr>
    <tr><td>Survey Map</td><td>Military Base</td><td></td></tr>
    <tr><td>Tanker Fob</td><td>Navarro</td><td></td></tr>
    <tr><td>Temple Key</td><td>Temple of Trials (Cameron)</td><td></td></tr>
    <tr><td>"The Lavender Flower"</td><td>Den</td><td></td></tr>
    <tr><td>Trapper Town Key</td><td>Klamath (dog, Slim)</td><td></td></tr>
    <tr><td>Tuco's Dog Tags</td><td>Raiders</td><td></td></tr>
    <tr><td>Vault 15 Computer Parts</td><td>Vault 15</td><td></td></tr>
    <tr><td>Vault 15 Keycard</td><td>Vault 15 (Zeke)</td><td></td></tr>
    <tr><td>Vault 15 Shack Key</td><td>Vault 15 (Phil)</td><td></td></tr>
    <tr><td>Vertibird Plans</td><td>Navarro</td><td>1-3 quests</td></tr>
    <tr><td>Vic's Radio</td><td>Klamath (Vic's)</td><td></td></tr>
    <tr><td>Vic's Water Flask</td><td>Arroyo, Klamath (Vic's)</td><td></td></tr>
    <tr><td>Yellow Memory Module</td><td>SAD</td><td>Intelligence</td></tr>
    <tr><td>Yellow Pass Key</td><td>Gecko (plant, Percy's)</td><td></td></tr>
    <tr><td>Westin Holodisk</td><td>NCR (Westin)</td><td></td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    Saltbeef Bob's painting is actually the same item as the generic Fuzzy Painting but with a script attached to it. Moore's Briefcase, in contrast, will actually be one of two identically named items depending on your conversation with Moore.</blockquote>

    Items which have no (meaningful) use: 

    <table>
    <tbody><tr>
    <td width="200"><b>Name</b></td>
    <td width="200"><b>Location</b></td>
    <td width="200"><b>Comment</b></td>
    </tr>
    <tr><td>Ball Gag</td><td>BH (Francis), Enclave</td><td></td></tr>
    <tr><td>Bottle Caps</td><td>BH (well)</td><td></td></tr>
    <tr><td>Box Of Noodles</td><td>Den (Smitty, Mom's)</td><td></td></tr>
    <tr><td>Broadcast Holodisk</td><td>SAD</td><td>Read only</td></tr>
    <tr><td>Cheezy Poofs</td><td>Den (Smitty's), Gecko</td><td>Rat only</td></tr>
    <tr><td>Chemistry Journals</td><td>SF (FD8, tanker)</td><td></td></tr>
    <tr><td>Condom (Blue Package)</td><td>Raiders, Redding, New Reno</td><td></td></tr>
    <tr><td>Condom (Green Package)</td><td>Gecko, Raiders, New Reno</td><td></td></tr>
    <tr><td>Condom (Red Package)</td><td>NR (chop shop), Stables</td><td></td></tr>
    <tr><td>Cosmetics Case</td><td>VC (vault), New Reno</td><td></td></tr>
    <tr><td>Daisies</td><td>Crashed Whale</td><td></td></tr>
    <tr><td>Damaged Rubber Doll</td><td>BH (Typhon)</td><td></td></tr>
    <tr><td>Deck of Cards</td><td>VC, Raiders</td><td></td></tr>
    <tr><td>Dice</td><td>VC, Raiders</td><td></td></tr>
    <tr><td>Easter Egg</td><td>New Reno (Eldridge's basement)</td><td></td></tr>
    <tr><td>Evacuation Holodisk</td><td>SAD</td><td>Read only</td></tr>
    <tr><td>Experiment Holodisk</td><td>SAD</td><td>Read only</td></tr>
    <tr><td>Flower</td><td>Klamath</td><td></td></tr>
    <tr><td>Fuzzy Painting</td><td>Klamath (Sajag's)</td><td></td></tr>
    <tr><td>Gold Tooth</td><td>New Reno (Jules), Golgotha</td><td></td></tr>
    <tr><td>Heart Pills</td><td>NCR (Jubilee's)</td><td></td></tr>
    <tr><td>Hubologist Holodisk</td><td>SF (Goldmann/Cruz)</td><td>Read only</td></tr>
    <tr><td>Iguana-on-a-stick</td><td>Klamath</td><td></td></tr>
    <tr><td>Iguana-on-a-stick</td><td>Klamath</td><td>Different picture</td></tr>
    <tr><td>Junk</td><td>VC (Val's, vault)</td><td></td></tr>
    <tr><td>Kokoweef Mine Scrip</td><td>Redding</td><td></td></tr>
    <tr><td>Lighter</td><td>Den (Rebecca's), VC (vault)</td><td></td></tr>
    <tr><td>Loaded Dice</td><td>New Reno, Golgotha</td><td></td></tr>
    <tr><td>Masticator's Ear</td><td>New Reno (Jungle Gym)</td><td></td></tr>
    <tr><td>M.B. Holodisk 1</td><td>Military Base</td><td>Read only</td></tr>
    <tr><td>M.B. Holodisk 2</td><td>Military Base</td><td>Read only</td></tr>
    <tr><td>M.B. Holodisk 3</td><td>Military Base</td><td>Read only</td></tr>
    <tr><td>M.B. Holodisk 4</td><td>Military Base</td><td>Read only</td></tr>
    <tr><td>M.B. Holodisk 5</td><td>Military Base</td><td>Read only</td></tr>
    <tr><td>Medical Holodisk</td><td>SAD</td><td>Read only</td></tr>
    <tr><td>Medical Supplies</td><td>Enclave (maze)</td><td></td></tr>
    <tr><td>Morningstar Mine Scrip</td><td>Redding, Golgotha</td><td></td></tr>
    <tr><td>Motor</td><td>Navarro</td><td></td></tr>
    <tr><td>Necklace</td><td>New Reno (Bishop's, Mrs Bishop)</td><td></td></tr>
    <tr><td>NCR History Holodisk</td><td>NR (Eldridge's), NCR (Tandi)</td><td>Read only (only NCR copy works)</td></tr>
    <tr><td>Pack of Marked Cards</td><td>NR (Mordino's), Golgotha</td><td></td></tr>
    <tr><td>Player's Ear</td><td>New Reno (Jungle Gym)</td><td></td></tr>
    <tr><td>Pocket Lint</td><td>VC (Martin), Redding (Josh)</td><td></td></tr>
    <tr><td>Radio</td><td>VC (Val's, vault)</td><td></td></tr>
    <tr><td>Radscorpion Limbs</td><td>Klamath (pastures), NR (CP, GG)</td><td></td></tr>
    <tr><td>Ranger Pin</td><td>NCR (Rangers)</td><td></td></tr>
    <tr><td>Reserved Item</td><td>Redding (Stanwell)</td><td>Bug</td></tr>
    <tr><td>Sheriff's Badge</td><td>Redding (Marion)</td><td></td></tr>
    <tr><td>Shiv</td><td>New Reno, SF</td><td></td></tr>
    <tr><td>Sierra Mission Holodisk</td><td>SAD</td><td>Read only</td></tr>
    <tr><td>Small Dusty Box Of Some Sort</td><td>Ghost Farm, VC (vault)</td><td></td></tr>
    <tr><td>Small Statuette</td><td>New Reno (Wright kids)</td><td></td></tr>
    <tr><td>Talisman</td><td>Gecko</td><td></td></tr>
    <tr><td>Technical Manual</td><td>VC (Val's), NR (Eldridge's)</td><td></td></tr>
    <tr><td>Vault 13 Holodisk</td><td>NCR (Merk)</td><td>Empty location only</td></tr>
    <tr><td>Water Chip</td><td>VC (vault), Vault 13</td><td></td></tr>
    <tr><td>Water Flask</td><td>BH (Liz), Cafe of Broken Dreams</td><td></td></tr>
    <tr><td>Yellow Reactor Keycard</td><td>Klamath (canyon)</td><td></td></tr>
    </tbody></table><br>

    List of upgrade costs: 

    <table>
    <tbody><tr>
    <td width="200"><b>Item</b></td>
    <td width="150"><b>Eldridge/Skeeter</b></td>
    <td width="150"><b>Valerie</b></td>
    <td width="150"><b>Buster</b></td>
    </tr>
    <tr><td>Desert Eagle (Exp. Mag.)</td><td>3000</td><td>1000/850</td><td></td></tr>
    <tr><td>.44 Magnum (Speed Load)</td><td>2000</td><td>800/650</td><td></td></tr>
    <tr><td>Scoped Hunting Rifle</td><td>4000</td><td></td><td>500</td></tr>
    <tr><td>Assault Rifle (Exp. Mag.)</td><td>6000</td><td>1500/1350</td><td></td></tr>
    <tr><td>FN FAL (Night Sight)</td><td>12000</td><td>3500/3100</td><td></td></tr>
    <tr><td>Super Cattle Prod</td><td>3000</td><td>750/650</td><td></td></tr>
    <tr><td>Mega Power Fist</td><td></td><td></td><td></td></tr>
    <tr><td>Magneto-Laser Pistol</td><td></td><td></td><td></td></tr>
    <tr><td>Plasma Pistol (Ext. Cap.)</td><td></td><td></td><td></td></tr>
    <tr><td>Laser Rifle (Ext. Cap.)</td><td></td><td></td><td></td></tr>
    <tr><td>Turbo Plasma Rifle</td><td></td><td></td><td></td></tr>
    <tr><td>Improved Flamer</td><td></td><td></td><td></td></tr>
    <tr><td>Flamethrower Fuel MKII</td><td></td><td></td><td></td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    For Valerie, the first price listed is the "normal" price and the second with a CH- or Barter-based discount (beware the Cattle Prod bug). Buster will only perform one upgrade. As noted in the walkthrough, Skeeter and Eldridge won't charge for upgrades if you have Barter at 91% or more. Algernon in Eldridge's basement will perform all upgrades, and for no charge. That pretty much makes all the others completely pointless, so what were they thinking?</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
    All upgrades will be fully loaded on delivery, so remove any ammo before turning over items to be upgraded. If you hand in an amount of Flamethrower Fuel less than 10, you'll still get 10 Flamethrower Fuel MKII (you can use a Flamethrower to divide the ammo into packs of 5 and thus double the amount, in case you're really that crazy about Flamethrower Fuel).</blockquote>

    List of addiction effects: 

    <table>
    <tbody><tr>
    <td width="200"><b>Item</b></td>
    <td width="100"><b>Risk</b></td>
    <td width="200"><b>Effect</b></td>
    <td width="50"><b>Duration</b></td>
    </tr>
    <tr><td>Buffout</td><td>25% (21%)</td><td>ST <nobr>-2</nobr>, EN <nobr>-2</nobr>, AG <nobr>-3</nobr></td><td>7 days</td></tr>
    <tr><td>Jet</td><td>50% (49%)</td><td>AP <nobr>-2</nobr>, ST <nobr>-1</nobr>, PE <nobr>-1</nobr></td><td>Indefinitely</td></tr>
    <tr><td>Mentats</td><td>15% (18%)</td><td>IN <nobr>-3</nobr>, AG <nobr>-2</nobr></td><td>7 days</td></tr>
    <tr><td>Nuka-Cola</td><td>10% (9%)</td><td>None?</td><td>7 days</td></tr>
    <tr><td>Psycho</td><td>20% (19%)</td><td>IN <nobr>-2</nobr></td><td>7 days</td></tr>
    <tr><td>RadAway</td><td>10% (10%)</td><td>Radiation Resistance <nobr>-20</nobr></td><td>7 days</td></tr>
    </tbody></table>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    The values within parentheses are the ones I arrived at statistically (150 uses) before I knew you can use FIME to find the proper ones. After doing all that work I'm not going to just throw away the results. :P</blockquote>

    <blockquote><img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
    I have seen it stated that you can get addicted to Cheezy Poofs, alcohol and "Tragic" cards, but I've failed to make this happen, myself, and I suspect everyone else has as well. The Cheezy Poofs isn't a drug to begin with. Playing "Tragic" in Gecko doesn't do anything special, and in fact there's no script that touches the "Tragic" addiction variable.</blockquote>
     
