extends ../layout

block content
  h1#prep Preparations

  section
    blockquote "I'll get you during my next save game."
      br
      |--The Chosen One

    p.
      First of all you should find out if you need to patch your game. Originally this game existed in five different versions: the US edition, two UK editions (normal and low violence), and two localized editions in German and French respectively. Before playing you should locate, download and install the </a><a href="http://www.nma-fallout.com/forum/dload.php">patch</a> (v1.02) for your version, since this will <i>drastically</i> improve performance and gameplay from the unpatched version of the game. This is all in the readme file, by the way. Always read those. In the walkthrough, notes that are only relevant to the unpatched game will be marked with red stars, i.e. as being largely uninteresting. If you have any kind of budget re-release or new localized version I don't think there should be any need to patch the game, but for your own sake you should make sure.

    ul
      li 
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | Install the patch before you start playing, since saves made in the unpatched game will be invalidated. There is an unofficial save game converter, but I think it only works on US saves and not on any of the European versions.

      li 
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | You can use the US executable with the UK version if you are bothered by the CD lock of the latter. To my knowledge there are no harmful consequences to this. As an aside, there are a few known purely textual differences between the US and UK versions concerning "sensitive" words: "drug" has become "chem", and "addiction" has become "reliance" (but the "Addict" tab in the main interface is still the same). The reason why is anyone's guess, but if you've been wondering where I got this "chem" word from, that's the explanation.

      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
        | There is no official patch for the English Low Violence edition (marked ELV on the CD), but it's been reported that using either the US or UK patch works fine, even though it says in the readme that "applying a patch from any of the other versions will severely corrupt the game". You might want to go for the US patch, because of the CD lock thing. (Actually what I'd really recommend is not having anything to do with that product in the first place.)

    p.
      I also strongly recommend, if you have any other version than the US one, that you download the so-called children patch. This set of files, which is not technically a patch at all, will add the in-game children which have been removed from these versions (for some obscure reason of law or policy which apparently did not apply at all to <i>Baldur's Gate</i>, where you can roast kids with Fireballs all you want). You don't need any additional code, it's all there already. If you don't have the kid files, you'll miss out on a few quests, be exposed to invisible pilferers and be confounded by bodiless voices, which is all bad. You have been warned.

    ul
      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | The contents of the children patch are simply the kid graphics files which have been copied raw from the US CD, and what's been done to the UK version to remove the kids is simply keeping those same files off the CD. Interestingly enough, Interplay's customer support used to deny all this, but I suppose that would have to be their official line.
      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | A somewhat edited Ashmo: "The German version has no kids and only the 'low violence' deaths. People drop dead. If you set it to normal violence rather than none, they drop dead and bleed. The preferences screen is a bit different as there are only two options on the violence control. You need to get the gore patch (which usually includes the children patch) and then edit the config file to set the violence level higher (setting it to 3 should do the trick). The alternative is to get the executable from the US or UK version and overwrite yours." 

    p.
      Saving and loading times in the unpatched version can be as long as a minute or more. There are at least three ways of improving this to an acceptable 3-10 seconds:

    ol
      li Install the patch!
      li Use the large installation size instead of the humongous. This may seem counter-intuitive, but it works that way on many computers.
      li Shut down or disable programs running in the background, such as virus scanners.

    ul
      li 
        <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
        | I have also found on my own computer that Windows instability has at times caused a significant increase to loading times and that restarting the computer takes care of this. Your system may have its own peculiarities. On fast computers loading times may not be an issue at all, but there are always other problems that crop up to compensate.

      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | One potential problem that relates to processor speed concerns world map travel. On some fast computers, you will zip across the map and have virtually no encounters. Conversely, on computers that can barely run the game you might experience slow travel with numerous interruptions (though this should be a less frequent issue). There are hacks you can use to restore travel speed to a more reasonable level, or you could try running an emulator.

    p.
      Save often! Ideally you should quicksave after every battle and before every conversation. Having to play even a few minutes' worth of shootin' and lootin' all over again because you made the wrong choice in a dialogue can be irksome. (Of course it may also happen that you realize only afterwards that you've done something wrong and wish you had <i>not</i> saved...) I'd also recommend keeping a save game slot for each time you enter a new major location (town etc.). This way if you really screw up somehow and only find out after you save (it can happen), you "only" have to replay that area. These saves can also come in handy later on if you want to see what would have happened if you'd done differently in a particular quest.

    ul
      li 
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | A little word of warning about quicksave: as you probably know the quicksave function is "reset" when you use the regular load or save commands. However, it's not reset if you exit the current game and start a new character.

      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | Once you fill up your quota of slots you can use a file manager of your choice to make room for new ones. Just rename a save game folder (those named "Slot01" through "Slot10") you don't need for the moment to something which gives you a hint of what it contains (like "Slot02-klam"), and that slot will be free for use again. Then whenever you want to bring back an archived save, restore that folder's name to a valid one. You can use a similar trick to swap between whole save catalogues by renaming the "Savegame" folder to "SavegameX" or something else. This way you can juggle different games with different characters.

      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star3.gif" alt="a green star" align="left">
        | A more "realistic" approach to the game involves using a single save slot and reloading only if you die or screw up entirely by mistake (but not, for instance, if you fail some action or have second thoughts about something). Not recommended at all for beginners. Also better use at least one more slot for backup just in case your save files are corrupted. An even more realistic playing style called "iron man" involves never saving the game <i>at all</i> except between playing sessions; if you die, you're dead and have to start all over again! (Though I suspect that very few people have actually stuck with this concept to the bitter end, for instance after dying in NCR because you forgot to holster your weapons or in a freak random encounter with super mutants.)

    p.
      Entering the options screen (which can also be reached from within the game, of course, the difference being that these settings will be used in new games but do not affect existing ones, while changes made in saved games will carry over to this screen), I'd change the following default settings: combat speed to fastest (check the box), target highlight to "on" (helps you see what's happening to critters behind walls), and running to "always". If you've played through the game a few times already you may want to consider raising the difficulty levels to hard/rough.

    ul
      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
        | If you hold down Shift and press the credits button on the starting screen, you'll get to read a quote file from the developers. Good for a laugh!
      li
        <img height="12" src="./Fallout 2 Walkthrough_files/star.gif" alt="a red star" align="left">
        | You can access some sort of recording mode if you press #[span.no-break #[kbd Ctrl] + #[kbd R]] on the starting screen. You get to choose an area and run around it (with Narg), but you can't talk to people (unless you set off some script) or manipulate objects except for opening doors. This also creates a "selfrun" directory in your game folder where the recording is stored. When you're fed up, press #[span.no-break #[kbd Ctrl] + #[kbd R]] again to return to the starting menu. If you now wait for a while, one of your recordings will start playing, more or less accurately. The most interesting thing about this is that it shows a few unimplemented or unreachable areas, namely the Holy Hand Grenade encounter (see the Addenda section for more on this), a third Den area (with Smitty and Anna in it), and the inside of the space shuttle (which doesn't have any proper graphics). See the Area walkthrough section for a way to exploit this in the game.

    p.
      There's a particular bug I want to tell you about right away, the "too many items" bug, because when it strikes you won't necessarily have any clue what causes it (unless you read this, that is). In brief, if you collect too many items (e.g. if you aim at hoarding every quest item in the game in the trunk), this will corrupt save files and make the game crash. Normally you shouldn't need to worry, but if you spot the skilldex button going black while you're playing, you're in the danger zone. See Addenda for more info and a way to counter this bug if the worst comes to the worst.