extends ../layout

block content
  h1 Stupid

  section
    <blockquote>"Ooooh! Butunz!"<br>
    --The Chosen One</blockquote>

    Playing a game with Intelligence lower than 4 will be quite different, so I'm giving it a section of its own. The basic difference is of course that most people won't talk to you, or they won't give you quests, plus there's the fact that you almost never get to use a computer. You'll notice straight away in Arroyo and Klamath that you can't do as many things or gain as many bonuses, and as a result your character will level up much more slowly as you progress through areas. You'll miss out on many juicy enhancements to your character like the free Unarmed training in SF, the combat implants, training in Arroyo and Klamath, and so on. In this way the stupid game is not very balanced: a difference of a single char point to IN and suddenly half of the game is taken from you. But I suppose it would have been difficult to implement in any other way, and we should be glad it's there at all.<br><br>

    If you're going to play a stupid game you should keep your IN at 3 - you're getting few skill points as it is! Using the Skilled trait may seem like a good remedy, but I say it's not worth it. The fact that you get fewer skill points is balanced by the fact that you don't have to invest in Speech, and also of course there aren't many skills you really <i>need</i>. To begin with you should choose one combat skill and stick to that for a while at least, Small Guns being the obvious choice since it will carry you through the entire game, more or less. Devote early skill points to Lockpick for looting and Doctor for convenience, put later points into Big Guns for a secondary weapon skill, and study all those books you find.<br><br>

    You can usually do the stuff or parts of stuff that doesn't require dialogue, e.g. you can fix Bess' leg in Modoc but not sell her to Grisham, and you can help Charlie in Vault City with RadAway. You get xp for finding the Raiders even though you never got that quest, and you get xp for clearing the Redding mine even though you didn't buy the deed. Sometimes you can "simulate" quests if you know what's needed to trigger certain reactions, e.g. you can kill the Dragon or Lo Pan with Super Stimpaks and then collect a reward from the other.<br><br>

    Since you level up so slowly, most big battles will be much too difficult for you when you first come across them. For instance, you won't be able to free Vic without killing Metzger's band of slavers, and you couldn't possibly do that at level 3 without playing dirty. Likewise you'll most likely have to circumvent the raiders and the wanamingos for some time. I was able to take out Darion's gang at level 9 by using Plasma Grenades and saving and loading a lot during combat, but only returned for the raiders and wanamingos after I got a Gauss Rifle in San Francisco.<br><br>

    Area progression will work roughly like this: first you go to Klamath where you can get the location of the Den from Torr. In the Den you can get the location of Vault City from Vic - only you'd have to kill Metzger first! Since you probably can't, let's just head east in a random fashion. Eventually, after stumbling across Modoc, you come to Vault City purely by chance. You don't get Gecko on your map, but the central computer in the vault will give you the four other towns and Vault 15 (which can also be found from NCR). Vault 13 can be found in Vault 15, or by following the deathclaws. Next you'll have to find the Military Base on your own, and use the Survey Map there to find San Francisco. Matthew will put Navarro on your map and that's it.<br><br>

    In a strictly stupid game you normally wouldn't get the car. This sucks, so what can we do about it? First, go to Gecko and kill Skeeter for the car part (you won't have to fight the other ghouls). Steal Lynette's Mentats while passing through Vault City. Return to the Den with $2750 (you should have just enough) and the two car parts, eat the Mentats, talk to Smitty and install the parts. You'll now be able to drive around like in a normal game, at least if you're able to find or trade for enough fuel (I had no problem with that). Note that you need Mentats again to get the upgrades in NCR and New Reno, but you can manage without them.<br><br>

    NPC management could be difficult. You can get a few of them (Sulik, Vic, Goris, K-9, Dogmeat, and you can of course use Mentats to recruit others), but you won't really be able to talk to any of them except Goris and Dogmeat. This means, for instance, that you can't get them to put away their weapons as you enter NCR, and you can't drop them off anywhere. Anyway, since CH is largely wasted on a stupid character as far as dialogue in concerned, maybe you won't be able to have many followers to begin with. It's up to you if you want to go solo or if you need the edge in combat.<br><br>

    As you reach the last few areas on the mainland, prepare for your game to get a little backward. In a normal game I tend to avoid stupid shortcut techniques and instead take on each challenge in the "proper" order armed with whatever NPCs and equipment I have at the time. In a stupid game this may not be feasible, which leads to some weird choices. For instance, should you invest in perks and weaponry so you could take on the mutants at the Military Base and get the Power Armor? Or should you amass weapons and cash so you could buy the Power Armor in SF instead? But if you're going to do that, why not simply drive to Navarro, waltz in and pick up the Advanced Power Armor for free? In short, the temptation to resort to stupid shortcut techniques will increase as the linearity of the game breaks down. I would recommend that you resist for as long as you are able.<br><br>

    For quests and stuff there are always Mentats, which I suppose you could theoretically keep in unlimited or at least generous supply. However, this would seem to defeat the point of playing a stupid game to begin with. Therefore Mentats should only be used when there is something you feel you absolutely need to do like getting the car, getting a certain area like the Sierra Army Depot on your map, or when you need to meet the requirements of a favourite perk like Bonus Rate of Fire.<br><br>

    There are a few ways of increasing your IN permanently during the game: the Gain Intelligence perk, the Yellow Memory Module, and the Hubologist alignment in San Francisco. Naturally you should stay away from these or your stupid game won't be stupid any more, assuming you start out at IN 3. The Smooth Talker perk requires IN 4 to get, but once you have it it'll make you talk unstupidly if it raises your IN above 3 for dialogue purposes.<br><br>

    Here's a brief summary of what can be done at the various locations:<br><br>

    <b>Arroyo:</b> You can kill the plants for Hakunin and let him mix Healing Powder for you.<br><br>

    <b>Klamath:</b> You can kill the rat king and protect the brahmin. You can get Sulik.<br><br>

    <b>Toxic Caves:</b> You need Mentats to put it on on your world map, but you can rescue Smiley once you do and get the Gecko Skinning perk.<br><br>

    <b>The Den:</b> You can lay Anna to rest if you kill Joey for the locket. You can find Vic, but you need to kill the slavers to get him in your party (and Vault City on your map) and you may find it difficult to do that early on. You can become a Slaver. You can collect Rebecca's reward for killing Metzger.<br><br>

    <b>Modoc/Ghost Farm:</b> You can do the first two Slag quests, guard Grisham's brahmin and clean out Farrel's garden.<br><br>

    <b>Vault City:</b> You can get the autodoc perk. You can give the doll to Curtis. You can visit the vault and get the travel log.<br><br>

    <b>Gecko:</b> You can't do anything.<br><br>

    <b>Raiders:</b> As normal.<br><br>

    <b>Broken Hills:</b> You can arm-wrestle Francis, take the scorpion tests, relocate the plant and recover Typhon's treasure.<br><br>

    <b>Redding:</b> You can't do anything.<br><br>

    <b>New Reno:</b> You can recover the car in a violent manner and go with the Wright children to watch the desert transaction. Male characters can box. You can become a Porn Star and paralyze Jimmy.<br><br>

    <b>Golgotha/Stables/Sierra Army Depot:</b> You can't get these on your world map without Mentats. Nothing exciting going on except for calling Marjorie Reed "Delenn".<br><br>

    <b>NCR:</b> You can get the zeta scan, kill Jack for Mira, guard Westin's brahmin and do Duppo's brahmin drive. You can also take the Vault 15 job.<br><br>

    <b>Vault 15:</b> You can do everything except expose the spy.<br><br>

    <b>Vault 13:</b> You can do everything, even get Goris.<br><br>

    <b>Military Base:</b> As normal.<br><br>

    <b>San Francisco:</b> You can get the vertibird plans for the Brotherhood and get the stat improvements afterwards, get the zeta scan, kill Ken Lee for the Hubologists and rescue Suze.<br><br>

    <b>Navarro:</b> Pretty much as normal, oddly enough. You can get K-9.<br><br>

    <b>Enclave:</b> You'll have to destroy the reactor using explosives and fight Horrigan on your own, otherwise nothing special.<br><br>

    <b>Special encounters:</b> You cannot talk to Arthur, otherwise nothing special. You can get Dogmeat.<br><br><hr>
