include fancy-image.pug

mixin adviceList(advices)
  ul.advice-list
    //- for item of advices
    //-   li.advice-list__item
    //-     +fancyImage(item.rank)
    //-     |
    //-     | #{item.advice}
