mixin fancyQuote(authorName, url='', top=false)
  figure.fancy-quote
    if top
      figcaption.fancy-quote__author #{authorName}

    blockquote.fancy-quote__quote(cite=url)
      block
    
    if !top
      figcaption.fancy-quote__author #{authorName}
