include /components/_index

//- saved from url=(0044)http://user.tninet.se/~jyg699a/fallout2.html

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fallout 2 Walkthrough

    block meta
      meta(name="description", content="A comprehensive Fallout 2 walkthrough.")
      meta(name="keywords", content="fallout, fallout 2, walkthrough")

    block openGraph
      meta(property="og:title" content="The Nearly Ultimate Fallout 2 Guide")
      meta(property="og:type" content="article")
      meta(property="og:description" content="A complrehensive Fallout 2 walkthrough.")
      meta(property="og:determiner" content="")
      meta(property="og:locale" content="en_US")
      meta(property="og:locale:alternate" content="en_CA")
      meta(property="og:locale:alternate" content="en_GB")

    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto" )

    block scripts

  body
    header.global-header
      nav.global-nav
        -
          const navList = [
            { link: "/", title: "Home" }
          ];
        ul.nav-list
          for item in navList
            li.nav-list__item
              a.nav-list__link(href=item.link) #{item.title}

      button#themeButton.btn use dark theme

  main#main-content.main-content
    block content

  footer.global-footer
    nav
      ul
        li
          a(href="original_source.html") Original guide