//- saved from url=(0044)http://user.tninet.se/~jyg699a/fallout2.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fallout 2 Walkthrough

    block meta
      meta(name="description", content="A comprehensive Fallout 2 walkthrough.")
      meta(name="keywords", content="fallout, fallout 2, walkthrough")

    block openGraph
      meta(property="og:title" content="The Nearly Ultimate Fallout 2 Guide")
      meta(property="og:type" content="article")
      meta(property="og:description" content="A complrehensive Fallout 2 walkthrough.")
      meta(property="og:determiner" content="")
      meta(property="og:locale" content="en_US")
      meta(property="og:locale:alternate" content="en_CA")
      meta(property="og:locale:alternate" content="en_GB")

    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto" )

    block scripts

  body
    header
      a.btn.btn-to-top(href="#contents") to index

      p The Nearly Ultimate Fallout 2 Guide

      button#themeButton.btn use dark theme #[a(href="original_source.html") view original]

      b Version 1.3.1 
        br
        | Written and coded by Per Jorner

      em Let me enlighten you, grasshopper. Fallout 2 is cool because it's a nonlinear, nonclassbased kickass postnuclear computer roleplaying game with a high replayabillity value. Fallout 2 allows you to play your character the way you want. If you want to play a goodie-two-shoes, you can. If you want to play an evil bastard, you can (Yes, you really can hit children in the groin with a sledgehammer). If you want to play a moron who can hardly talk because of his low intelligence, you can. 
      br
      | --Shadowman
      br
      br
      hr

      nav
        p#contents Table of contents

        ol.index
          li
            a(href="#intro") Introduction
          li
            a(href="#prep") Preparations
          li
            a(href="#char") Character design
          li
            a(href="/areas") Area walkthrough

            ol(type="i")
              li
                a(href="/areas#temple") Temple of Trials
              li
                a(href="/areas#arroyo") Arroyo
              li
                a(href="/areas#klamath") Klamath
              li
                a(href="/areas#toxic") Toxic Caves
              li
                a(href="/areas#den") The Den
              li
                a(href="/areas#modoc") Modoc
              li
                a(href="/areas#farm") Ghost Farm
              li
                a(href="/areas#vc") Vault City
              li
                a(href="/areas#gecko") Gecko
              li
                a(href="/areas#raiders") Raiders
              li
                a(href="/areas#bh") Broken Hills
              li
                a(href="/areas#redding") Redding
              li
                a(href="/areas#reno") New Reno
              li
                a(href="/areas#golg") Golgotha
              li
                a(href="/areas#stables") The Stables
              li
                a(href="/areas#sad") Sierra Army Depot
              li
                a(href="/areas#ncr") New California Republic
              li
                a(href="/areas#v15") Vault 15
              li
                a(href="/areas#v13") Vault 13
              li
                a(href="/areas#base") Military Base
              li
                a(href="/areas#sf") San Francisco
              li
                a(href="/areas#navarro") Navarro
              li
                a(href="/areas#enclave") The Enclave
          li
            a(href="#end") Endings
          li
            a(href="#encounter") Encounters
          li
            a(href="#npc") NPCs
          li
            a(href="#car") Car
          li
            a(href="#stupid") Stupid
          li
            a(href="#combat") Combat
          li
            a(href="#items") Items
          li
            a(href="#addenda") Addenda

  main.container
    block content

  footer